<h1>Últimos cambios de la versión {$fsc->version()}:</h1>
<ul>
   <li>
      06/04/2013:
      <ul>
         <li>
            Ya se puede cambiar el cliente/proveedor de un albarán
            no facturado.
         </li>
         <li>
            Nueva función de redondeo bround(). Al redondear, en caso
            de tener duda entre dos número, elige el par. Esto también
            se puede hacer desde la función round, pero solamente en php 5.3
            o superior.
         </li>
         <li>
            La validez de las líneas de albaranes y facturas se comprueba
            con ambos redondeos.
         </li>
         <li>
            Las funciones de generar líneas de iva para una factura añaden ahora
            una comprobación para evitar descuadres.
         </li>
         <li>
            Pequeñas mejoras en el CSS base. También se ha añadido una nueva
            hoja de estilos (proto) para probar un nuevo diseño. Este diseño
            aún está incompleto.
         </li>
      </ul>
   </li>
   <li>
      02/04/2013:
      <ul>
         <li>
            Las facturas de cliente incluyen dos modelos de impresión: factura simple
            y modelo carta.
         </li>
         <li>Pequeñas correcciones.</li>
         <li>
            Modificadas las funciones de comprobación de albaranes y facturas para
            comprobar los saldos tanto con redondeos como sin.
         </li>
         <li>
            Añadidos banners para aceptar donaciones de bitcoins.
         </li>
      </ul>
   </li>
   <li>
      01/04/2013:
      <ul>
         <li>Rediseñada la página de login para destacar mejor los elementos.</li>
         <li>
            Los popups ahora incluyen un botón para cerrar (también se pueden cerrar
            haciendo clic en el fondo oscuro). También se ha añadido una pequeña animación.
         </li>
         <li>
            Los PDFs de las facturas ya incluyen el nombre de la empresa, cif,
            dirección y teléfono.
         </li>
      </ul>
   </li>
   <li>
      26/03/2013:
      <ul>
         <li>
            Grandes cambios en la clase fs_db. Ya no se usa una conexión persistente (con pg_pconnect),
            no tiene sentido usarla. Al iniciar el controlador se conecta a la base de datos y al terminar
            se desconecta, fin.
            Además he simplificado mucho el código de muchas funciones como lastval() y nextval().
            También he añadido la función sequence_exists($seq) para poder comprobar si
            una secuencia existe en la base de datos.
         </li>
         <li>
            Mejoras en la función fs_model: al comprobar la estructura de una tabla, si
            su campo default apunta a una secuencia, ahora se comprueba que existe esa
            secuencia, y si no, la crea. Con esto se solucionan los problemas derivados
            de instalar Eneboo sobre una base de datos creada por FacturaScripts.
         </li>
         <li>
            Se han actualizado todos los archivos xml con la estrutura de de las tablas
            para hacerlas compatibles con la última versión de los módulo oficial de eneboo.
         </li>
         <li>
            El modelo de artículos ya no borra la lista de búsquedas cuando se hace
            alguna modificación a un artículo.
         </li>
         <li>Ya se puede definir el páis del almacén.</li>
         <li>Los formularios de creación de albaranes ya recuerdan el último almacén seleccionado.</li>
      </ul>
   </li>
   <li>
      21/03/2013:
      <ul>
         <li>Modificado el formulario de nuevo asiento para hacerlo más sencillo.</li>
         <li>
            Añadidos botones de reimprimir ticket y abrir caja al formulario "TPV > Genérico".
            Además, en las búsquedas, ahora incluye el enlace [+] para ver los precios del artículo
            y el enlace de la referencia para añadir el artículo directamente.
         </li>
      </ul>
   </li>
   <li>
      18/03/2013:
      <ul>
         <li>
            Añadido formulario de divisas
            (<a target="_blank" href="https://code.google.com/p/facturascripts/issues/detail?id=16">issue 16</a>).
         </li>
      </ul>
   </li>
   <li>
      16/03/2013:
      <ul>
         <li>Añadido redondeo a la hora de crear/modificar albaranes.</li>
         <li>
            Ya se pueden cerrar correctamente los ejercicios. Desde la página del ejercicio,
            si este está abierto, pulsas el botón "cerrar ejercicio" y se generarán los
            asientos de regularización, cierre y apertura del ejercicio siguiente.
         </li>
         <li>Corregida la forma de actualizar los saldos de las subcuentas.</li>
         <li>Nueva función floatcmp($f1, $f2, precision=10) para comparar números en coma flotante.</li>
      </ul>
   </li>
   <li>
      27/02/2013:
      <ul>
         <li>
            Eliminado el código para corregir asientos y partidas ya que los descuadres detectados
            se debían a que los saldos de las subcuentas estaban desactualizados, problema que ya
            ha sido solucionado.
         </li>
      </ul>
   </li>
   <li>
      26/02/2013:
      <ul>
         <li>Solucionado el bug que permitía crear albaranes en ejercicios ya cerrados.</li>
         <li>
            Mejorado el asistente de creación de albaranes. Ahora cuando se hace una búsqueda
            se muestra para cada artículo un enlace [+] para ver los precios de compra/venta,
            y el enlace para añadir directamente el artículo a la lista.
         </li>
      </ul>
   </li>
   <li>
      25/02/2013:
      <ul>
         <li>
            En el modo demo ahora se crea un usuario para cada visitante, en función de
            su nombre real. Además se han establecido una serie de limitaciones al modo demo
            para evitar malas prácticas (no se pueden eliminar agentes o usuarios,
            no se pueden desactivar páginas).
         </li>
         <li>El menú de usuario ahora añade enlaces a tu usuario y a tu agente.</li>
         <li>
            Nueva clase fs_printer para unificar la gestión de impresión. Ahora se puede
            imprimir tanto por cups como directamente volcando los datos al puerto de
            la impresora. La impresora se define mediante la constante FS_PRINTER. El LCD
            se trata como a una impresora, y se define mediante la constante FS_LCD.
         </li>
         <li>"General > Familias" ya permite buscar.</li>
         <li>
            Generación y asignación de ejercicio automática:
            A la hora de crear albaranes ya no se necesita especificar el ejercicio,
            ahora se selecciona el ejercicio en función de la fecha del albarán. Si no hay
            ningún ejercicio para una fecha e concreto, se crea un ejercicio nuevo automáticamente.
         </li>
         <li>"Admin > agentes > agente" añade ahora un listado de cajas del usuario.</li>
         <li>
            "TPV > TPV_recambios" es ahora "TPV > genérico" y "TPV > TPV_yamyam" es ahora
            "TPV > Restaurante".
         </li>
         <li>Ya se pueden generar asientos desde la página de la factura.</li>
         <li>
            El asistente de creación de albaranes muestra ahora una ventana con todos los
            datos de venta del artículo seleccionado en la ventana de búsqueda.
         </li>
         <li>
            La página de cada ejercicio hace un chequeo completo del ejercicio para informarnos de
            posibles descuadres.
         </li>
         <li>
            "Admin > Información del sistema > errores" ahora inicia un proceso de búsqueda de
            errores en asientos y facturas.
         </li>
         <li>
            El proceso de cron ahora recalcula los saldos de las subcuentas cada hora, y detecta mejor
            los cambios para generar su libro mayor asociado.
         </li>
      </ul>
   </li>
   <li>
      02/02/2013:
      <ul>
         <li>
            La clase fs_cache ahora se guarda el mensaje de error de conexión o clase memcache no encontrada,
            así es mucho más sencillo detectar problemas de instalación.
            También se ha añadido la función version().
         </li>
         <li>La versión de memcache ya se muestra desde "Admin > información del sistema".</li>
         <li>
            La página "Admin > Tabla a XML" ahora detecta columnas de tipo serial (en lugar de detectarlas
            como simples enteros). Las columnas se ordenan alfabéticamente y las restricciones ahora
            incluyen el tipo.
         </li>
         <li>Añadido soporte para el LCD Glancetron 8035 en "TPV > TPV_yamyam".</li>
      </ul>
   </li>
   <li>
      30/01/2013: Agrupar albaranes:
      <ul>
         <li>
            Solucionado el bug que hacía que se marcase la casilla 'generar facturas individuales'
            por error al pulsar el botón marcar todo.
         </li>
         <li>Ahora recuerda el último cliente/proveedor.</li>
      </ul>
   </li>
   <li>
      29/01/2013:
      <ul>
         <li>
            Añadida comprobación para que el fallo en Memcache muestre un error.
            Ahora FacturaScripts puede funcionar sin Memcache, excepto para las operaciones
            donde sea imprescindible.
         </li>
         <li>
            Ahora se muestra un error y finaliza si se comprueba que no se pueda escribir
            en el directorio temporal.
         </li>
         <li>
            Con estos cambios será más sencillo desplegar FacturaScripts sobre entornos
            poco amigables para los desarrolladores web como Windows.
         </li>
         <li>
            Las páginas de agrupar albaranes ahora también permiten generar facturas
            individuales para cada albarán ¿Para qué? Pues para poder facturar un montón
            de albaranes de una sola pasada.
         </li>
      </ul>
   </li>
   <li>
      28/01/2013:
      <ul>
         <li>El menú desplegable de usuarios ya se adapata al ancho de la página.</li>
         <li>
            Mejorados los formulario de admin_paginas, admin_usuario, contibilidad_subcuenta,
            general_agrupar_albaranes_cli y general_agrupar_albaranes_pro. Añadidos botones para marcar
            o desmarcar todas las casillas con un solo clic.
         </li>
         <li>
            Añadidos botones de guardar en la parte inferior de los formularios de albaranes de clientes
            y proveedores.
         </li>
         <li>
            La página Informes > Facturas ahora permite especificar las fecha desde y hasta para
            seleccionar las facturas correspondientes.
         </li>
      </ul>
   </li>
   <li>
      19/01/2013:
      <ul>
         <li>
            Las páginas de albaranes ya permiten modificar el impuesto de cada línea. Además los
            algoritmos para recalcular los totales y totales+iva de las líneas ahora modifican el
            pvp cuando el descuento precalculado es negativo.
         </li>
         <li>
            Se incluye un archivo interno con los datos de balances, grupos, epígrafes, cuentas
            y subcuentas de un ejercicio estándar.
         </li>
         <li>Solucionado el bug que impedía limpiar búsquedas antiguas de artículos.</li>
      </ul>
   </li>
   <li>
      10/01/2013:
      <ul>
         <li>
            La página "contabilidad > ejercicios > ejercicio" ahora permite modificar la
            longitud de las subcuentas. También muestra enlaces a los asientos de apertura,
            cierre y pédidas y ganancias. Y el proceso de importación ahora genera también
            las subcuentas para cada cliente y para proveedores.
         </li>
      </ul>
   </li>
   <li>
      09/01/2013:
      <ul>
         <li>
            Ya se pueden exportar e importar todos los datos de un ejercicio (balances,
            grupos, epígrafes, cuentas, cuentas especiales y subcuentas) desde la página
            del ejercicio. Así como visualizar sus grupos, epígrafes, cuentas y subcuentas.
         </li>
         <li>La página de "contabilidad > cuentas" ahora muestra las cuentas especiales también.</li>
         <li>Nueva página "contabilidad > balances". Y nueva página para cada balance.</li>
         <li>Nuevos modelos: balance_cuentas, balance_cuentas_a y cuentas_especial.</li>
         <li>Nuevas funciones fs_db::nextval() y fs_db::lastval().</li>
         <li>Mejorado el algoritmo de comprobación de las tablas en la clase fs_model.</li>
         <li>
            Nueva clase fs_default_items para asignar los elementos por defecto de la sesión:
            página de inicio, ejercicio, serie, forma de pago, etc...
         </li>
         <li>Mejorada la compatibilidad con los módulo oficiales de eneboo.</li>
      </ul>
   </li>
   <li>
      01/01/2013:
      <ul>
         <li>
            La página por defecto del usuario se guarda ahora en la base de datos,
            al igual que el ejercicio por defecto.
         </li>
         <li>Mejorada la presentación de albaranes y facturas.</li>
         <li>Nuevos modelos: epigrafe y grupo_epigrafes.</li>
         <li>Ahora cada ejercicio tiene su página.</li>
         <li>
            Modificado el script de nuevo asiento para hacerlo más sencillo y
            permitir calcular e introducir el iva y la base imponible de la contrapartida.
         </li>
         <li>
            Solucionado el fallo en la función test() del modelo artículo que devuelve un error
            con las descripciones de más de 100 caracteres en lugar de simplemente acortarlas.
         </li>
         <li>
            Solucionado el fallo del script importar_familia que hacía que el script continuase
            incluso aunque se produjeran errores.
         </li>
      </ul>
   </li>
</ul>