<table>
   <tr>
      <td valign='top'>
         <h1>Últimos cambios de la versión {$fsc->version()}:</h1>
         <ul>
            <li>
               27/05/2013:
               <ul>
                  <li>Ahora se puede cambiar la serie de albaranes no facturados.</li>
                  <li>
                     Los asientos de ejercicios ya cerrados se bloquean automáticamente
                     (se marcan como no editable).
                  </li>
                  <li>A los artículos bloqueados se les elimina el stock automáticamente.</li>
                  <li>
                     TPV genérico permite configurar si quieres que se impriman las
                     referencias o las descripciones en los tickets.
                  </li>
                  <li>Las facturas de clientes incluyen la dirección y teléfonos de los mismos.</li>
                  <li>Mejoradas las hojas de estilo.</li>
               </ul>
            </li>
            <li>
               22/05/2013:
               <ul>
                  <li>
                     Añadido soporte experimental para
                     <a target="_blank" href='http://www.woothemes.com/woocommerce/'>WooCommerce</a>.
                  </li>
                  <li>
                     Añadido control de duplicados. Ahora cuando se envían dos peticiones
                     de un mismo formulario (de nuevo asiento, nuevo albarán o lo que sea)
                     ya sea por fallo del navegador, por mala leche del usuario o por
                     hacer doble clic sobre el botón guardar, se guarda el primero,
                     pero la segunda petición y siguientes no producen elementos duplicados.
                  </li>
                  <li>
                     Los asientos, albaranes y facturas ahora muestran un mensaje de error
                     si encuentran duplicados.
                  </li>
                  <li>
                     El libro mayor de cada subcuenta ahora incluye las sumas del debe y del haber,
                     para facilitar cálculos.
                  </li>
                  <li>
                     El TPV de restaurante permite ahora imprimir un ticket por cada impresora.
                  </li>
                  <li>
                     Pequeñas modificaciones para dar más información al usuario y ofrecer una
                     experiencia más sencilla.
                  </li>
               </ul>
            </li>
            <li>
               29/04/2013:
               <ul>
                  <li>Añadido soporte para <b>MySQL</b>.</li>
                  <li>
                     Esta es la versión 0.10, nombre en clave <b>Oso de agua</b>
                     ¿Por qué? Porque esta versión es la que más quebraderos de
                     cabeza me ha dado. Cada vez que pensaba que ya estaba lista
                     salían más y más problemas. Por eso le he puesto el nombre del
                     <a target="_blank" href="http://www.neorazorx.com/2013/04/facturascripts-010-con-soporte-mysql.html">
                        animal más difícil de matar</a>.
                  </li>
               </ul>
            </li>
            <li>
               22/04/2013:
               <ul>
                  <li>Ya se pueden modificar los asientos.</li>
                  <li>Pequeñas modificaciones en el HTML.</li>
               </ul>
            </li>
            <li>
               15/04/2013:
               <ul>
                  <li>
                     Ya se pueden imprimir albaranes de cliente, en formato a5.
                     Aunque en realidad es un a4 hasta la mitad del folio, para
                     engañar al navegador y que lo imprima bien.
                  </li>
                  <li>
                     Nueva clase fs_pdf para genear PDFs. Proporciona diversas
                     función extra como guardar PDFs, centrar texto o crear
                     tablas de forma más sencilla.
                  </li>
                  <li>
                     El formulario de factura de cliente ya permite modificar
                     el número.
                  </li>
               </ul>
            </li>
            <li>
               12/04/2013:
               <ul>
                  <li>Añadida firma para los emails. Se cambia en admin > empresa.</li>
                  <li>
                     Añadido pie de página para las facturas de cliente. Se cambia
                     en admin > empresa.
                  </li>
                  <li>Corregidas las funciones de comprobación de albaranes y facturas.</li>
                  <li>Actualizada la librería ezpdf a la versión 0.11.</li>
                  <li>
                     La página 'admin > información del sistema > errores' ha sido movida
                     a 'informes > errores'. Ya no necesitas ser administrador para
                     acceder. Además se ha añadido un selector de modelos y dos nuevos
                     modelos a comprobar: alabranes de clientes y de proveedores.
                  </li>
               </ul>
            </li>
         </ul>
      </td>
      <td valign='top'>
         <a name='fb_comments'></a>
         <h1>Preguntas o sugerencias:</h1>
         <div class="fb-comments" data-href="http://www.facturascripts.com" data-width="470" data-num-posts="10"></div>
      </td>
   </tr>
</table>