<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{$fsc->empresa->nombre}</title>
   <meta name="description" content="Facturación y contabilidad fácil, libre y con actualizaciones constantes.
         Es software libre bajo licencia GNU/AGPL." />
   <meta name="keywords" content="facturascripts, facturación, contabilidad, abanq, eneboo, facturalux, facturaplus"/>
   <link rel="shortcut icon" href="../img/favicon.ico" />
   <link rel="stylesheet" type="text/css" href="../css/login.css" />
   <script type="text/javascript" src="../js/jquery.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_login.password.focus();
      });
   </script>
   <script>
      (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s);
         js.id = id;
         js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
   </script>
</head>
<body>
   <div id="fb-root"></div>
   
   {if condition="$fsc->get_errors()"}
      <div class="error">
         <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
      </div>
   {/if}
   {if condition="$fsc->get_messages()"}
      <div class="message">
         <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
      </div>
   {/if}
   
   <div class="header">
      <h1><a href="index.php">{$fsc->empresa->nombre}</a></h1>
      
      {if condition="$nlogin"}
         <h2>¡Hola {$nlogin}!</h2>
         Si no eres {$nlogin} ignora este saludo.
      {else}
         <h2>¡Hola!</h2>
      {/if}
      
      <br/><br/>
      <table>
         <tr>
            <td class="rounded">
               <form name="f_login" action="index.php?nlogin={$nlogin}" method="post">
                  <select name="user" onchange="document.f_login.password.focus()">
                  {loop name="$fsc->user->all()"}
                     {if condition="$value->nick == $nlogin"}
                     <option value="{$value->nick}" selected>{$value->nick}</option>
                     {else}
                     <option value="{$value->nick}">{$value->nick}</option>
                     {/if}
                  {/loop}
                  </select>
                  <input type="password" name="password" size="6" maxlength="20" placeholder="contraseña"/>
                  <br/>
                  <input type="submit" value="entrar"/>
               </form>
            </td>
         </tr>
      </table>
      <br/><br/><br/><br/>
   </div>
   
   <div class="colaborar">
      <table>
         <tr>
            <td><div class="colabora2">Colabora</div></td>
            <td>
               Si tienes cualquier problema o sugerencia no dudes en informar a través de
               <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">Google Code</a>,
               <a href='#fb_comments'>Facebook</a>, <a target="_blank" href="https://twitter.com/neorazorx">Twitter</a>
               o <a target="_blank" href="https://plus.google.com/communities/108290867709111243870">Google+</a>.
               <br/>
               Puedes seguir el desarrollo de FacturaScripts a través de
               <a target="_blank" href="http://www.neorazorx.com">mi blog</a>.
            </td>
            <td><a id="b_github" target="_blank" href="https://github.com/NeoRazorX/facturascripts">github</a></td>
         </tr>
      </table>
   </div>
   
   <div class="changes">
      <a name="changes"></a>
      {include="login/changes"}
   </div>
   
   {if condition="$db_history"}
   <div id="sql_history">
      <h1>Consultas SQL:</h1>
      <ol>{loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}</ol>
   </div>
   {/if}
   
   <div class="footer">
      <table class="links">
         <tr>
            <td>
               Páginas especiales:
               <ul>
                  <li>
                     <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">Informar de un error</a>
                  </li>
                  <li>
                     <a target="_blank" href="https://plus.google.com/communities/108290867709111243870">Comunidad Google+</a>
                  </li>
               </ul>
            </td>
            <td>
               Autor:
               <ul>
                  <li><a target="_blank" href="http://www.neorazorx.com">NeoRazorX.com</a></li>
                  <li><a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a></li>
               </ul>
            </td>
            <td>
               Otros proyectos:
               <ul>
                  <li><a target="_blank" href="http://www.kelinux.net">Kelinux.net</a></li>
                  <li><a target="_blank" href="http://www.locierto.es">LoCierto.es</a></li>
               </ul>
            </td>
         </tr>
      </table>
      <table style="width: 100%;">
         <tr>
            <td>Consultas: {$fsc->selects()}, Transacciones: {$fsc->transactions()}</td>
            <td style="text-align: right;">Procesado en: {$fsc->duration()}</td>
         </tr>
      </table>
   </div>
</body>
</html>