<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>FacturaScripts</title>
   <meta name="description" content="Facturación y contabilidad fácil, libre y con actualizaciones constantes.
         Es software libre bajo licencia GNU/AGPL." />
   <meta name="keywords" content="facturascripts, facturación, contabilidad, abanq, eneboo, facturalux, facturaplus"/>
   <link rel="shortcut icon" href="../img/favicon.ico" />
   <link rel="stylesheet" type="text/css" href="../css/login.css" />
   <script type="text/javascript" src="../js/jquery.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_login.user.focus();
         $("#b_donar").click(function() {
            $("#shadow").show();
            $("#popup_donar").css({
               top: $(window).scrollTop() + 15,
               left: ($(window).width() - $("#popup_donar").outerWidth())/2
            });
            $("#popup_donar").show('fast');
            $("#b_close_donar").css({
               top: $(window).scrollTop() + 5,
               left: $("#popup_donar").position().left - 15,
               display: 'block'
            });
         });
         $("#b_close_donar").click(function() {
            $("#b_close_donar").hide();
            $("#popup_donar").hide();
            $("#shadow").hide();
         });
         $("#shadow").click(function() {
            $("#b_close_donar").hide();
            $("#popup_donar").hide();
            $("#shadow").hide();
         });
      });
   </script>
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-417932-8']);
      _gaq.push(['_setDomainName', 'facturascripts.com']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
</head>
<body>
   
   {if condition="$fsc->get_errors()"}
      <div class="error">
         <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
      </div>
   {/if}
   {if condition="$fsc->get_messages()"}
      <div class="message">
         <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
      </div>
   {/if}
   
   <div class="header">
      <h1><a href="index.php">FacturaScripts</a></h1>
      <h2>
         Facturación y contabilidad fácil, libre y con <a href="#changes">actualizaciones constantes</a>.
      </h2>
      Es compatible con Abanq o Eneboo y es software libre bajo licencia
      <a target="_blank" href='COPYING'>GNU/AGPL</a>.
      
      <table cellspacing="30">
         <tr>
            <td class="rounded">
               <a id="download" target="_blank" href="https://code.google.com/p/facturascripts/downloads/list">DESCARGAR</a>
               <h3>Requisitos:</h3>
               <ul>
                  <li>PHP 5.</li>
                  <li>PostgreSQL.</li>
                  <li>Memcache.</li>
               </ul>
               Tutorial de instalación:
               <a target="_blank" href="http://neorazorx.blogspot.com/2012/03/primeros-pasos-con-facturascripts-09.html">
                  Linux</a> o
               <a target="_blank" href="http://www.neorazorx.com/2013/01/instalar-facturascripts-sobre-windows.html">
                  Windows</a>.
            </td>
            <td class="rounded">
               <form name="f_login" action="index.php?nlogin={$nlogin}" method="post">
                  <input type="hidden" name="password" value="demo"/>
                  <input type="submit" value="entrar en la demo"/>
                  <input type="text" name="user" size="12" maxlength="12" placeholder="Escribe tu nombre" autocomplete="off"/>
               </form>
               <br/><br/>
               Esto es una demo, por eso la seguridad está desactivada.
            </td>
         </tr>
      </table>
      <br/>
   </div>
   
   <div class="colaborar">
      <table width="100%">
         <tr>
            <td><div class="colabora2">Colabora</div></td>
            <td>
               Si tienes cualquier problema o sugerencia no dudes en
               <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">informar</a>.
               <br/>
               Puedes seguir el desarrollo de FacturaScripts a través de
               <a target="_blank" href="http://www.neorazorx.com">mi blog</a>,<br/>
               mi twitter <a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a> o la comunidad de
               <a target="_blank" href="https://plus.google.com/communities/108290867709111243870">Google+</a>.
            </td>
            <td width="100">
               <div id="fb-root"></div>
               <div class="fb-like" data-layout="box_count" data-width="90" data-show-faces="false"></div>
               <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));</script>
            </td>
            <td width="100">
               <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="vertical" data-related="neorazorx">Tweet</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </td>
            <td width="100">
               <div class="g-plusone" data-size="tall"></div>
               <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};
                    (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
               </script>
            </td>
            <td><a id="b_donar" href="#">Donar</a></td>
            <td align="right"><img src="../img/bitcoin_nano.png" alt="acepto bitcoin"/></td>
         </tr>
      </table>
   </div>
   
   <div id="shadow"></div>
   <a id="b_close_donar" href="#"><img src="../img/close.png" alt="close"/></a>
   <div id="popup_donar">
      <h1>Ayuda a mejorar FacturaScripts</h1>
      <table width="100%">
         <tr>
            <td valign="top">
               Necesito:
               <ul>
                  <li>Una impresora de tickets.</li>
                  <li>Un cajón portamonedas.</li>
                  <li>Una tablet.</li>
               </ul>
               <br/><br/>
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                  <input type="hidden" name="cmd" value="_s-xclick"/>
                  <input type="hidden" name="hosted_button_id" value="NXUH3XYDVPQBG"/>
                  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet."/>
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1"/>
               </form>
            </td>
            <td valign="top" align="center">
               <img src="../img/bitcoin_mini.png" alt="acepto bitcoins"/>
               <br/>
               <a href="bitcoin:1NJ7h6h52nVm1bi5VcNMb4v48t89FCQ9wb">
                  <img src="../img/bitcoin.png" alt="bitcoin"/></a>
               <br/>1NJ7h6h52nVm1bi5VcNMb4v48t89FCQ9wb
            </td>
         </tr>
      </table>
   </div>
   
   <div class="changes">
      <a name="changes"></a>
      {include="login/changes"}
   </div>
   
   {if condition="$db_history"}
   <div id="sql_history">
      <h1>Consultas SQL:</h1>
      <ol>{loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}</ol>
   </div>
   {/if}
   
   <div class="footer">
      <table class="links">
         <tr>
            <td valign="top">
               Páginas especiales:
               <ul>
                  <li>
                     <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">Informar de un error</a>
                  </li>
                  <li>
                     <a target="_blank" href="https://plus.google.com/communities/108290867709111243870">Comunidad Google+</a>
                  </li>
               </ul>
            </td>
            <td valign="top">
               Autor:
               <ul>
                  <li><a target="_blank" href="http://www.neorazorx.com">NeoRazorX.com</a></li>
                  <li><a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a></li>
               </ul>
            </td>
            <td valign="top">
               Otros proyectos:
               <ul>
                  <li><a target="_blank" href="http://www.kelinux.net">Kelinux.net</a></li>
                  <li><a target="_blank" href="http://www.locierto.es">LoCierto.es</a></li>
               </ul>
            </td>
         </tr>
      </table>
      <table width="100%">
         <tr>
            <td>Consultas: {$fsc->selects()}, Transacciones: {$fsc->transactions()}</td>
            <td align="right">Tiempo de ejecución: {$fsc->duration()}</td>
         </tr>
      </table>
   </div>
</body>
</html>