@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url('../css/oleo_script.woff') format('woff');
}

body {
   margin: 0px;
   padding: 0px;
   padding-bottom: 20px;
   background-color: #578BB2;
   border-top: 4px solid #325066;
   color: white;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   text-align: center;
}

div.header {
   font-size: 15px;
}

div.header h1 {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   background-color: #315066;
   border-top-left-radius: 8px 8px;
   border-top-right-radius: 8px 8px;
   border-bottom-left-radius: 8px 8px;
   border-bottom-right-radius: 8px 8px;
   box-shadow: inset 0px 2px 2px #333;
   font-weight: normal;
   font-family: 'Oleo Script', cursive;
   font-size: 50px;
   text-decoration: underline;
}

div.header h2 {
   margin: 5px;
   font-family: "Geogrotesque-SemiBold", Helvetica, Arial, sans-serif;
   font-size: 2em;
}

div.header h1 a {
   color: white;
}

div.message, div.error {
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #424242;
   color: #333333;
   font-size: 16px;
   text-align: left;
}

div.message {
   background-color: #FAF1C1;
}

div.error {
   background-color: #F2DEDE;
   color: #B94A65;
}

div.message ul, div.error ul {
   margin-top: 0px;
   margin-bottom: 0px;
}

div.bottom_frame a {
   position: fixed;
   bottom: 0px;
   right: 0px;
   margin-left: 10px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: white;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-top: 1px solid #424242;
   border-left: 1px solid #424242;
   border-right: 1px solid #424242;
   box-shadow: 2px 2px 2px #333;
   color: black;
   text-decoration: none;
   font-size: 15px;
}

div.bottom_frame a:hover {
   padding-bottom: 10px;
}

a#b_feedback {
   right: 240px;
   background-color: #FDDA58;
}

a#b_news {
   right: 120px;
}

a#b_sql {
   right: 50px;
}

div.popup {
   display: inline-block;
   margin: 20px;
   padding: 10px;
   background-color: #f1f1f1;
   color: black;
   border-radius: 5px;
   border: 2px solid silver;
   box-shadow: 10px 10px 10px #333;
   text-align: left;
}

div.popup h1 {
   margin: 0px;
   padding: 5px;
   text-align: center;
   border-bottom: 1px dashed silver;
}

div.etiquetas {
   margin-bottom: 5px;
}

div.etiquetas span {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

div.etiquetas input[type='radio'] {
   display: none;
}

div.etiquetas label {
   display: inline-block;
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;
   background-color: #E4ECF2;
   border: 1px solid #999999;
   border-radius: 3px;
   color: #333333;
   font-size: 15px;
}

div.etiquetas input:checked + label {
   background-color: #C0C7CC;
   box-shadow: inset 1px 1px 1px #999;
   font-weight: bold;
}

textarea, select, input[type='text'].full, input[type='password'], input[type='submit'].full {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   padding: 5px;
   font-size: 16px;
}

input[type='submit'] {
   border: 1px solid #333333;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   font-family: arial, helvetica, sans-serif;
   padding: 7px;
   text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: #66CC66;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#66CC66), to(#008c00));
   background-image: -webkit-linear-gradient(top, #66CC66, #008c00);
   background-image: -moz-linear-gradient(top, #66CC66, #008c00);
   background-image: -ms-linear-gradient(top, #66CC66, #008c00);
   background-image: -o-linear-gradient(top, #66CC66, #008c00);
   background-image: linear-gradient(to bottom, #66CC66, #008c00);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#66CC66, endColorstr=#008c00);
}

input[type='submit']:hover {
   cursor: pointer;
   background-color: #40bf40;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#40bf40), top(#005900));
   background-image: -webkit-linear-gradient(top, #40bf40, #005900);
   background-image: -moz-linear-gradient(top, #40bf40, #005900);
   background-image: -ms-linear-gradient(top, #40bf40, #005900);
   background-image: -o-linear-gradient(top, #40bf40, #005900);
   background-image: linear-gradient(to bottom, #40bf40, #005900);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#40bf40, endColorstr=#005900);
}

.link {
   color: #0062DD;
}