/.idea/
/cache/
/Cache/
/Dinamic/
/doc/
/MyFiles/
/nbproject/
/node_modules/
/Plugins/
/vendor/
.DS_Store
.htaccess
config.php
config-mysql.php
config-postgresql.php
generateDoc.sh
package-lock.json
*.cache
*.lock

# Eclipse config files
.buildpath
.project
.settings

# Vscode config files
.vscode
*.code-workspace