/.idea/
/cache/
/Cache/
/Dinamic/
/doc/
/nbproject/
/node_modules/
/Plugins/
/vendor/
.DS_Store
.htaccess
composer.lock
config.php
config-mysql.php
config-postgresql.php
generateDoc.sh
plugin.list
package-lock.json
*.cache
*.lock
.vscode
