<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        beStrictAboutTestsThatDoNotTestAnything="false"
        bootstrap="Test/bootstrap.php"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <testsuites>
        <testsuite name="Core test suite">
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/App/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/Base/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/Data/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/Lib/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/Model/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="7.2"
                    phpVersionOperator=">=">
                Test/Core/Translation/
            </directory>
        </testsuite>
    </testsuites>
</phpunit>