<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="Test/bootstrap.php"
        colors="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <testsuites>
        <testsuite name="FacturaScripts Test Suite">
            <directory
                    suffix="Test.php"
                    phpVersion="5.6"
                    phpVersionOperator=">=">
                Test/Core/Model/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="5.6"
                    phpVersionOperator=">=">
                Test/Core/App/
            </directory>
            <directory
                    suffix="Test.php"
                    phpVersion="5.6"
                    phpVersionOperator=">=">
                Test/Core/Base/
            </directory>
        </testsuite>
    </testsuites>
</phpunit>
