@import url('tcal.css');

@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url('oleo_script.woff') format('woff');
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #D2D9DF;
   color: #333333;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

div.advice, div.message, div.error {
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
   color: #333333;
   font-size: 16px;
}

div.advice {
   background-color: #ACD6F5;
   border: 1px solid #98BDD9;
}

div.message {
   background-color: #FAF1C1;
   border: 1px solid #CCC49D;
}

div.error {
   background-color: #F2DEDE;
   border: 1px solid #F4BCBC;
   color: #B94A65;
}

div.advice ul, div.message ul, div.error ul {
   margin-top: 0px;
   margin-bottom: 0px;
}

div.header {
   display: table;
   width: 100%;
   margin-bottom: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #578BB2;
   border-top: 2px solid #325066;
   border-bottom: 1px solid #325066;
   box-shadow: 0px 2px 2px #999;
   font-size: 16px;
}

div.header2 {
   display: table;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 5px;
   font-size: 16px;
}

div.header_box {
   display: table-row;
}

div#header_folders, div#header_logo, div#header_user,
div#header_buttons, div#header_search {
   display: table-cell;
   padding: 0px;
}

div#header_folders {
   vertical-align: middle;
   padding-left: 10px;
}

div#header_folders a.selected {
   background-color: #325066;
   box-shadow: inset 0px 2px 2px #333;
}

div#header_user {
   vertical-align: middle;
   padding-right: 5px;
   text-align: right;
}

div#header_folders a, div#header_user a.btn {
   display: inline-block;
   margin-left: 3px;
   margin-right: 3px;
   padding: 7px;
   border-radius: 3px;
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: bold;
}

div#header_folders a:hover, div#header_user a.btn:hover, a#fs_exit:hover {
   background-color: #456E8C;
   box-shadow: inset 0px 2px 2px #444;
}

div#header_buttons {
   text-align: left;
   text-transform: capitalize;
}

div#header_buttons a.btn, div#header_buttons a.btn_img, div#header_buttons a.remove {
   display: inline-block;
   vertical-align: middle;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #aaa;
   text-decoration: none;
}

div#header_buttons a.btn {
   padding: 3px 8px 1px 8px;
   background-color: white;
   border: 1px solid #888888;
   color: #333333;
}

div#header_buttons a.btn_img {
   background-color: white;
   padding-top: 1px;
   padding-bottom: 1px;
   border: 1px solid #888888;
   color: #333333;
}

div#header_buttons a.remove {
   background-color: #E46353;
   padding-top: 1px;
   padding-bottom: 1px;
   border: 1px solid #993427;
   color: white;
}

div#header_buttons a.btn_img img, div#header_buttons a.remove img {
   vertical-align: text-bottom;
   border: 0px solid transparent;
}

div#header_buttons a.btn:hover, div#header_buttons a.btn_img:hover {
   color: black;
   box-shadow: 1px 1px 1px #777;
}

div#header_buttons a.remove:hover {
   background-color: #D84937;
   box-shadow: 1px 1px 1px #777;
}

div#header_location {
   display: inline-block;
   vertical-align: middle;
   padding-left: 15px;
   padding-right: 15px;
}

div#header_location img {
   vertical-align: text-bottom;
   border: 0px solid transparent;
}

div#header_search {
   padding-right: 15px;
   text-align: right;
}

div#header_search input[type='text'] {
   font-size: 14px;
}

div#header_search input[type='image'] {
   display: inline-block;
   vertical-align: middle;
   padding: 2px;
   background-color: #498BF3;
   border-radius: 2px;
   border: 1px solid #2E5899;
   box-shadow: 1px 1px 1px #888;
   color: white;
}

div.pages div {
   display: none;
}

div.pages img {
   vertical-align: bottom;
}

div.pages ul {
   margin: 0px;
   padding: 0px;
   background-color: #333333;
   border: 2px solid #333333;
   box-shadow: 5px 5px 5px #888;
   color: white;
   list-style-type: none;
   text-align: left;
   font-size: 15px;
}

div.pages ul li.selected {
   background-color: #5E95BF;
}

div.pages ul li:hover {
   background-color: #5281A6;
}

div.pages ul li a {
   display: block;
   padding: 5px;
   color: white;
   text-decoration: none;
}

div.pages ul li a:first-letter {
   text-transform: uppercase;
}

div.pages div#user_list ul li a {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

div#shadow {
   display: none;
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.5;
}

div#shadow:hover {
   cursor: pointer;
}

a#b_close_popup {
   display: none;
   z-index: 4;
   position: fixed;
}

a#b_close_popup img {
   border: 0px solid transparent;
}

div.popup {
   display: none;
   z-index: 3;
   position: fixed;
   top: 50px;
   left: 50px;
   padding: 5px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   background-color: white;
   border-radius: 5px;
   border: 3px solid #cccccc;
   box-shadow: 10px 10px 10px #333;
   color: black;
}

div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 2px 10px 2px 10px;
   background-color: #3076AB;
   color: white;
   text-align: center;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
   font-weight: normal;
}

div.popup h2 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
}

div.popup h2 span {
   float: right;
}

div.grupo {
   margin: 5px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #FFFAA6;
   border: 1px dashed #333333;
}

div.grupo h2 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
}

div.rounded {
   margin: 10px;
   padding: 5px;
   background-color: white;
   border: 1px solid #B3B3B3;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #aaa;
   color: black;
}

div.rounded h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 5px;
   min-height: 25px;
   border-bottom: 1px dashed #c1c1c1;
   font-size: 18px;
}

div.rounded h1:first-letter {
   text-transform: uppercase;
}

div.rounded h1 span {
   float: right;
   clear: both;
   font-size: 14px;
   font-weight: normal;
}

div.bloque {
   display: inline-block;
   padding: 5px;
}

table.list {
   width: 100%;
}

table.list th {
   border-bottom: 1px solid #cccccc;
   text-transform: capitalize;
}

table.list tr:hover {
   background-color: #d9edf7;
}

table.list td.locked {
   background-color: #fdcece;
   text-decoration: line-through;
}

div.paginas {
   text-align: center;
}

div.paginas a {
   display: inline-block;
   margin-top: 4px;
   margin-right: 5px;
   margin-bottom: 4px;
   padding: 1px 5px 1px 5px;
   background-color: #bbbbbb;
   border: 1px solid #888888;
   border-radius: 2px;
   color: black;
   font-size: 13px;
   text-transform: capitalize;
   text-decoration: none;
}

div.paginas a.actual {
   background-color: #424242;
   color: white;
}

div.paginas a:hover {
   background-color: #3768B8;
   color: white;
}

div.new_line {
   margin: 2px;
   padding: 0px;
   background-color: #deecfb;
   border: 1px dashed #999999;
}

div.new_line a {
   display: block;
   padding: 5px;
   color: black;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
}

div.select {
   display: inline-block;
   vertical-align: middle;
   background-color: #E4ECF2;
   border: 1px solid #999999;
   border-radius: 3px;
   font-size: 16px;
}

div.select a {
   display: inline-block;
   padding: 3px 6px 3px 6px;
   color: #333333;
   text-decoration: none;
}

div.select a:first-letter {
   text-transform: uppercase;
}

div.select a.selected {
   background-color: #C0C7CC;
   box-shadow: inset 1px 1px 1px #999;
}

ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li {
   display: inline-block;
   padding: 2px;
   min-width: 225px;
}

ul.bloque {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.bloque li {
   display: inline-block;
   margin: 5px;
   background-color: #ACD6F5;
   border: 1px outset #cccccc;
   border-radius: 3px;
   font-size: 18px;
   text-align: center;
}

ul.bloque li.verde {
   background-color: #ADF5AC;
}

ul.bloque li a {
   display: block;
   padding: 20px 8px 20px 8px;
   text-decoration: none;
   color: #333333;
}

ul.bloque li a:first-letter {
   text-transform: uppercase;
}

ul.items {
   list-style: none;
   font-size: 16px;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

ul.items li {
   display: inline-block;
   vertical-align: middle;
   padding: 5px;
   margin: 5px;
   border: 1px dashed #333333;
   border-radius: 5px;
   text-align: center;
}

div.etiquetas {
   
}

div.etiquetas span {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

div.etiquetas input[type='radio'] {
   display: none;
}

div.etiquetas label {
   display: inline-block;
   padding: 5px 10px 5px 10px;
   background-color: #E4ECF2;
   border: 1px solid #999999;
   border-radius: 3px;
   color: #333333;
   font-size: 15px;
}

div.etiquetas input:checked + label {
   background-color: #C0C7CC;
   box-shadow: inset 1px 1px 1px #999;
   font-weight: bold;
}

div.footer {
   margin-top: 20px;
   margin-bottom: 30px;
   padding: 5px;
}

div.footer a {
   display: inline-block;
   padding: 0px 5px 2px 5px;
   border-radius: 3px;
   color: #0062DD;
}

div.footer a.selected {
   background-color: #606366;
   color: white;
   text-decoration: none;
}

div.footer table {
   width: 100%;
}

div.footer table td {
   text-align: center;
}

div.footer table td.right {
   text-align: right;
}

div.footer table td.left {
   text-align: left;
}

.submit, .button, .delete {
   display: inline-block;
   vertical-align: middle;
   padding: 2px 5px 2px 5px;
   border-radius: 2px;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 15px;
   text-decoration: none;
}

.submit {
   background-color: #55BA42;
   border: 1px solid #26641C;
   color: white;
}

.submit:hover {
   background-color: #5DCC48;
   color: black;
   cursor: pointer;
}

.button {
   background-color: #dddddd;
   border: 1px solid #bbbbbb;
   color: #424242;
}

.button:hover {
   background-color: #e1e1e1;
   color: black;
   cursor: pointer;
}

.delete {
   background-color: #E46353;
   border: 1px solid #994238;
   color: white;
}

.delete:hover {
   cursor: pointer;
}

input[type='text'], input[type='password'], input[type='checkbox'], input[type='radio'], select {
   vertical-align: middle;
}

input.full, textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

.button img, .delete img {
   vertical-align: text-bottom;
   border: 0px solid transparent;
}

.link {
   color: #0062DD;
}

a.next {
   display: inline-block;
   padding: 2px 5px 1px 5px;
   background-color: #bbbbbb;
   border: 1px solid #888888;
   border-radius: 2px;
   color: black;
   font-size: 16px;
   text-transform: capitalize;
   text-decoration: none;
}

a.next:hover {
   background-color: #3768B8;
   color: white;
}

.hidden_black {
   display: block;
   background-color: #424242;
   color: #424242;
}

.hidden_black:hover {
   background-color: transparent;
   color: black;
}

.pull_right {
   float: right;
   clear: both;
}

.hidden {
   display: none;
}

.search {
   display: inline-block;
   vertical-align: middle;
   padding: 2px;
   background-color: #498BF3;
   border-radius: 2px;
   border: 1px solid #2E5899;
   color: white;
}

.touch:hover {
   cursor: pointer;
}

.tpv_total {
   padding: 3px 6px 3px 6px;
   background-color: #333333;
   color: white;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
}

#tpv_total2, #tpv_efectivo, #tpv_cambio {
   font-size: 25px;
}

a#fs_logo {
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: normal;
   font-family: 'Oleo Script', cursive;
   font-size: 32px;
}

a#fs_feedback {
   position: fixed;
   right: 100px;
   bottom: 0px;
   padding: 5px 10px 5px 10px;
   background-color: #FDDA58;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-top: 1px solid #B37600;
   border-left: 1px solid #B37600;
   border-right: 1px solid #B37600;
   box-shadow: 2px 2px 2px #444;
   color: black;
   text-decoration: none;
   font-size: 15px;
}

a#fs_feedback:hover {
   padding-bottom: 10px;
}

a#fs_exit {
   display: inline-block;
   margin-left: 15px;
   margin-right: 15px;
   padding: 2px;
   background-color: #325066;
   border-radius: 4px;
}

a#fs_exit img {
   vertical-align: bottom;
   border: 0px solid transparent;
}

div#sql_history {
   margin: 10px;
   margin-top: 20px;
   padding: 5px;
   background-color: #C2D0DE;
   border: 1px solid #A1ADB8;
   border-radius: 5px;
   color: #424242;
}

div#sql_history h1 {
   margin: 5px;
   font-size: 20px;
}