@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

body {
   background-color: #4C769E;
   margin: 0;
   padding: 0;
   font-family: Verdana, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   color: white;
}

a {
   color: #2F33AB;
}

input[type='submit'], input[type='button'] {
   display: inline-block;
   background-color: #55BA42;
   padding-bottom: 0px;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   text-transform: capitalize;
   font-size: 16px;
   font-variant: small-caps;
   font-weight: bold;
   color: white;
}

input[type='submit']:hover, input[type='button']:hover {
   background-color: #333333;
   cursor: pointer;
}

input[type='text'], input[type='password'] {
   border: 1px solid #333333;
}

body.log_in {
   background-color: white;
   background-image: url('../img/bg2.png');
   color: black;
   font-size: 15px;
}

body.log_in div.rounded {
   margin: 5px;
   padding: 5px;
}

div#login_window {
   display: table;
   position: fixed;
   top: 50px;
   left: 50px;
   padding: 5px;
   background-color: white;
   border: 5px solid #666666;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div#login_window h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #3768B8;
   color: white;
   text-align: center;
   text-transform: capitalize;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
}

div#login_window table {
   width: 100%;
}

div.copyright {
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   background-color: #3768B8;
   border-top: 1px solid black;
   color: white;
}

div.copyright a {
   color: white;
}

div.copyright table {
   width: 100%;
}

div.copyright table td.left {
   text-align: left;
   padding-left: 5px;
}

div.copyright table td.right {
   text-align: right;
   padding-right: 5px;
}

div.message {
   text-align: center;
   font-size: 16px;
   background-color: #FFFAA6;
   color: black;
   border: 1px solid #333333;
   padding: 10px;
   margin: 10px;
}

div.error {
   text-align: center;
   font-size: 18px;
   background-color: #E47575;
   color: black;
   border: 1px solid #333333;
   padding: 10px;
   margin: 10px;
}

div.header {
   display: table;
   width: 100%;
   font-size: 16px;
}

div.header_box {
   display: table-row;
}

div#header_logo, div#header_folders, div#header_user,
div#header_buttons, div#header_location, div#header_search {
   display: table-cell;
   vertical-align: top;
   padding: 5px;
}

div#header_logo {
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
   font-weight: bold;
   text-transform: capitalize;
   text-align: center;
}

div#header_folders a.selected {
   text-decoration: underline;
}

div#header_user {
   text-align: right;
}

div#header_folders a, div#header_user a {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   padding: 5px;
   background-color: #333333;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   text-transform: capitalize;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
   color: white;
}

div#header_user img {
   vertical-align: middle;
}

div#header_buttons {
   text-align: center;
}

div#header_buttons a {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #3768B8;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   text-transform: capitalize;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
   color: white;
}

div#header_buttons a.remove {
   background-color: #D74937;
}

div#header_buttons img {
   vertical-align: bottom;
}

div#header_location {
   padding-left: 15px;
   text-transform: capitalize;
   font-variant: small-caps;
}

div#header_location a {
   color: white;
   font-weight: bold;
}

div#header_search {
   text-align: right;
}

div.pages img {
   vertical-align: bottom;
   padding-left: 15px;
}

div.pages div {
   display: none;
}

div.pages ul {
   background-color: #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   margin: 0px;
   padding: 2px;
   list-style-type: none;
   text-align: left;
   font-size: 15px;
}

div.pages ul li.selected {
   border: 1px dotted white;
}

div.pages ul li:hover {
   background-color: #3768B8;
}

div.pages ul li a {
   display: block;
   padding: 5px;
   color: white;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
}

div#shadow {
   display: none;
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.7;
}

div.main_div div.popup {
   display: none;
   z-index: 3;
   position: fixed;
   top: 50px;
   left: 50px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   background-color: white;
   color: black;
   border: 5px solid #666666;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   padding: 5px;
}

div.main_div div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #3768B8;
   color: white;
   text-align: center;
   text-transform: capitalize;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
}

div.main_div div.rounded {
   margin: 5px;
   padding: 5px;
   padding-bottom: 8px;
   background-color: white;
   color: black;
   border: 1px solid #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.main_div div.rounded h1 {
   margin: 0px;
   padding: 5px;
   font-size: 18px;
}

div.main_div div.rounded h1 span {
   float: right;
   font-size: 15px;
}

div.main_div div.bloque {
   display: inline-block;
   padding: 5px;
}

div.main_div div.right {
   text-align: right;
}

div.main_div table.list {
   width: 100%;
}

div.main_div table.list th {
   text-transform: capitalize;
   border-bottom: 1px solid #666666;
}

div.main_div table.list tr:hover {
   background-color: #FFFAA6;
}

div.main_div ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

div.main_div ul.horizontal li {
   display: inline-block;
   min-width: 225px;
}

div.main_div a.next {
   display: inline-block;
   margin-top: 10px;
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #333333;
   color: white;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   font-size: 18px;
   text-transform: capitalize;
   text-decoration: none;
}

div.main_div div.tpv_total {
   float: right;
   min-width: 150px;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
   background-color: #333333;
   color: white;
   padding: 3px;
   padding-left: 6px;
   padding-right: 6px;
}

h1.jqbar {
   margin: 5px;
}

ul.jqbar {
   padding: 5px;
   list-style-type: none;
}

div.footer {
   padding: 5px;
}

div.footer a {
   color: white;
}

div.footer a.selected {
   text-decoration: line-through;
}

div.footer table {
   width: 100%;
}

div.footer table td {
   text-align: center;
}

div.footer table td.right {
   text-align: right;
}

div.footer table td.left {
   text-align: left;
}