@import url('http://fonts.googleapis.com/css?family=Oleo+Script');
@import url('tcal.css');

body {
   margin: 0;
   padding: 0;
   background-color: #4C769E;
   color: white;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

a {
   color: #2F33AB;
}

a.hidden_black {
   display: block;
   background-color: #333333;
   color: #333333;
}

a.hidden_black:hover {
   background-color: transparent;
   color: #2F33AB;
}

div.advice, div.message, div.error {
   margin: 10px;
   padding: 10px;
   border: 1px solid #333333;
   color: black;
   font-size: 16px;
}

div.advice {
   background-color: #ACD6F5;
   text-align: center;
}

div.advice img {
   vertical-align: middle;
}

div.message {
   background-color: #FFFAA6;
}

div.error {
   background-color: #E47575;
}

div.message ul, div.error ul {
   margin-top: 0px;
   margin-bottom: 0px;
}

div.header {
   display: table;
   width: 100%;
   font-size: 16px;
}

div.header_box {
   display: table-row;
}

div#header_folders, div#header_logo, div#header_user,
div#header_buttons, div#header_search {
   display: table-cell;
   padding: 5px;
   vertical-align: top;
}

div#header_folders a.selected {
   text-decoration: underline;
}



div#header_logo {
   text-align: center;
}

div#header_user {
   text-align: right;
}

div#header_folders a, div#header_user a.button {
   display: inline-block;
   margin-left: 3px;
   margin-right: 3px;
   padding-top: 5px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;
   background-color: #333333;
   border: 1px solid #999999;
   border-top-left-radius: 3px 3px;
   border-top-right-radius: 3px 3px;
   border-bottom-left-radius: 3px 3px;
   border-bottom-right-radius: 3px 3px;
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
}

a#fs_exit {
   display: inline-block;
   margin-left: 15px;
   padding: 2px;
   background-color: #333333;
   border: 1px solid #999999;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   vertical-align: top;
}

a#fs_exit img {
   vertical-align: bottom;
}

div#header_folders a:hover, div#header_user a.button:hover, a#fs_exit:hover {
   background-color: #252525;
   border-color: #aaaaaa;
}

div#header_buttons {
   text-align: left;
}

div#header_location {
   display: inline-block;
   padding-left: 15px;
   padding-right: 15px;
   text-transform: capitalize;
   font-variant: small-caps;
}

div#header_location a {
   color: white;
   font-weight: bold;
}

div#header_location img {
   vertical-align: middle;
}

div#header_buttons a.button, div#header_buttons a.remove {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #3768B8;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
}

div#header_buttons a.remove {
   background-color: #D74937;
}

div#header_buttons img {
   vertical-align: bottom;
}

div#header_search {
   text-align: right;
}

div.pages img {
   padding-left: 15px;
   vertical-align: bottom;
}

div.pages div {
   display: none;
}

div.pages ul {
   margin: 0px;
   padding: 2px;
   background-color: #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   list-style-type: none;
   text-align: left;
   font-size: 15px;
}

div.pages ul li.selected {
   border: 1px dotted white;
}

div.pages ul li:hover {
   background-color: #3768B8;
}

div.pages ul li a {
   display: block;
   padding: 5px;
   color: white;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
}

div.pages div#user_list ul li a {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
   text-transform: capitalize;
}

div#shadow {
   display: none;
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.7;
}

div#popup_message {
   display: inline-block;
   position: fixed;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 3;
   padding: 5px;
   opacity: 1;
   color: white;
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

div.main_div div.popup {
   display: none;
   z-index: 3;
   position: fixed;
   top: 50px;
   left: 50px;
   padding: 5px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   background-color: white;
   border: 5px solid #666666;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   color: black;
}

div.main_div div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 2px;
   background-color: #3768B8;
   color: white;
   text-align: center;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
   font-weight: normal;
}

div.main_div div.popup h2 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
}

div.main_div div.popup h2 span {
   float: right;
}

div.main_div div.popup div.grupo {
   margin: 5px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #FFFAA6;
   border: 1px dashed #333333;
}

div.main_div div.rounded {
   margin: 5px;
   padding: 5px;
   padding-bottom: 8px;
   background-color: white;
   border: 1px solid #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   color: black;
}

div.main_div div.rounded h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 5px;
   min-height: 25px;
   background-color: #e1e1e1;
   font-size: 18px;
}

div.main_div div.rounded h1 span {
   float: right;
   clear: both;
   font-size: 14px;
   font-weight: normal;
}

div.main_div div.bloque {
   display: inline-block;
   padding: 5px;
}

div.main_div table.list {
   width: 100%;
}

div.main_div table.list th {
   border-bottom: 1px solid #666666;
   text-transform: capitalize;
}

div.main_div table.list tr:hover {
   background-color: #FFFAA6;
}

div.main_div table.list td.locked {
   background-color: #fdcece;
   text-decoration: line-through;
}

div.main_div ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

div.main_div ul.horizontal li {
   display: inline-block;
   padding: 2px;
   min-width: 225px;
}

div.main_div a.next {
   display: inline-block;
   margin-top: 10px;
   padding-top: 3px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #bbbbbb;
   border: 1px solid #424242;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: black;
   font-size: 16px;
   text-transform: capitalize;
   text-decoration: none;
}

div.main_div div.tpv_total {
   float: right;
   padding: 3px;
   padding-left: 6px;
   padding-right: 6px;
   min-width: 150px;
   background-color: #333333;
   color: white;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
}

div.main_div div.new_line {
   margin: 2px;
   padding: 0px;
   background-color: #deecfb;
   border: 1px dashed #333333;
}

div.main_div div.new_line a {
   display: block;
   padding: 5px;
   color: black;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
}

div.footer {
   padding: 5px;
}

div.footer a {
   color: white;
}

div.footer a.selected {
   text-decoration: line-through;
}

div.footer table {
   width: 100%;
}

div.footer table td {
   text-align: center;
}

div.footer table td.right {
   text-align: right;
}

div.footer table td.left {
   text-align: left;
}

div.footer img {
   vertical-align: middle;
}

div.main_div a.remove, input[type='submit'], input[type='button'] {
   display: inline-block;
   vertical-align: middle;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   text-transform: capitalize;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 16px;
}

div.main_div a.remove {
   background-color: #D74937;
   text-decoration: none;
}

input[type='submit'], input[type='button'] {
   background-color: #55BA42;
}

input[type='submit']:hover, input[type='button']:hover {
   background-color: #333333;
   cursor: pointer;
}

input[type='text'], input[type='password'], input[type='checkbox'], select {
   vertical-align: middle;
}

input.full, textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

div#login_header {
   margin: 5px;
   padding: 0px;
   font-size: 16px;
}

a#fs_logo, a#fs_logo2 {
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: normal;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
}

a#fs_logo2 {
   font-size: 40px;
}

div#login_box {
   display: inline-block;
   padding: 3px;
   padding-left: 8px;
   padding-right: 5px;
   background-color: #424242;
   border: 1px solid #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div#login_box input[type='password'],
div#login_box select {
   vertical-align: baseline;
   padding: 3px;
   background-color: #bbbbbb;
   border: 1px solid black;
   font-weight: bold;
   font-size: 16px;
}

div#login_box select option {
   background-color: #bbbbbb;
}

div#login_box input[type='submit'] {
   vertical-align: baseline;
   padding-top: 4px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 2px;
}

div#sql_history {
   margin: 5px;
   padding: 5px;
   border: 1px dashed silver;
}

div#sql_history h1 {
   margin: 5px;
   font-size: 20px;
}

/* reglas para las gráficas generadas con jquery.charts.js */
h1.jqbar {
   margin: 5px;
}

ul.jqbar {
   padding: 5px;
   list-style-type: none;
}