@import url('tcal.css');

@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url('oleo_script.woff') format('woff');
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #4C769E;
   color: white;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

a {
   color: #2F33AB;
}

a.hidden_black {
   display: block;
   background-color: #333333;
   color: #333333;
}

a.hidden_black:hover {
   background-color: transparent;
   color: #2F33AB;
}

div.advice, div.message, div.error {
   margin: 0px;
   padding: 10px;
   border-top: 1px solid #3D5F80;
   border-bottom: 1px solid #5C8EBF;
   box-shadow: inset 0px 3px 3px #666;
   color: #333333;
   font-size: 16px;
}

div.advice {
   background-color: #ACD6F5;
   text-align: center;
}

div.advice img {
   vertical-align: middle;
}

div.message {
   background-color: #FAF1C1;
}

div.error {
   background-color: #F2DEDE;
   color: #B94A65;
}

div.message ul, div.error ul {
   margin-top: 0px;
   margin-bottom: 0px;
}

div.header {
   display: table;
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 16px;
}

div.header2 {
   display: table;
   width: 100%;
   padding-top: 5px;
   font-size: 16px;
}

div.header_box {
   display: table-row;
}

div#header_folders, div#header_logo, div#header_user,
div#header_buttons, div#header_search {
   display: table-cell;
   padding: 0px;
}

div#header_folders {
   vertical-align: top;
   padding-left: 5px;
}

div#header_folders a.selected {
   text-decoration: underline;
}

div#header_user {
   vertical-align: top;
   padding-right: 5px;
   text-align: right;
}

div#header_folders a, div#header_user a.button {
   display: inline-block;
   margin-left: 3px;
   margin-right: 3px;
   padding-top: 5px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 3px;
   background-color: #333333;
   border: 1px solid #999999;
   border-radius: 3px;
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: bold;
}

div#header_folders a:hover, div#header_user a.button:hover, a#fs_exit:hover {
   background-color: #252525;
   border-color: #aaaaaa;
}

div#header_buttons {
   vertical-align: bottom;
   text-align: left;
   text-transform: capitalize;
}

div#header_buttons img {
   vertical-align: text-bottom;
}

div#header_buttons a.button, div#header_buttons a.remove {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #f1f1f1;
   border: 1px solid #888888;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #444;
   color: #333333;
   text-decoration: none;
}

div#header_buttons a.button:hover {
   background-color: white;
   color: black;
}

div#header_buttons a.remove {
   background-color: #D74937;
   border-color: #984034;
   color: white;
}

div#header_buttons a.remove:hover {
   background-color: #F2523E;
}

div#header_location {
   display: inline-block;
   padding-left: 15px;
   padding-right: 15px;
}

div#header_location a {
   color: white;
   font-weight: bold;
}

div#header_search {
   vertical-align: bottom;
   padding-right: 5px;
   text-align: right;
}

div.pages div {
   display: none;
}

div.pages img {
   vertical-align: bottom;
}

div.pages ul {
   margin: 0px;
   padding: 0px;
   background-color: #333333;
   border: 2px solid #333333;
   box-shadow: 5px 5px rgba(0,0,0,0.5);
   color: white;
   list-style-type: none;
   text-align: left;
   font-size: 15px;
}

div.pages ul li.selected {
   background-color: #30538D;
}

div.pages ul li:hover {
   background-color: #3768B8;
}

div.pages ul li a {
   display: block;
   padding: 5px;
   color: white;
   text-decoration: none;
}

div.pages div#user_list ul li a {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

div#shadow {
   display: none;
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.7;
}

a#b_close_popup {
   display: none;
   z-index: 4;
   position: fixed;
}

div.main_div div.popup {
   display: none;
   z-index: 3;
   position: fixed;
   top: 50px;
   left: 50px;
   padding: 5px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   background-color: white;
   border: 5px solid #666666;
   border-radius: 5px;
   color: black;
}

div.main_div div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 2px;
   background-color: #3768B8;
   color: white;
   text-align: center;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
   font-weight: normal;
}

div.main_div div.popup h2 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
}

div.main_div div.popup h2 span {
   float: right;
}

div.main_div div.popup div.grupo {
   margin: 5px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #FFFAA6;
   border: 1px dashed #333333;
}

div.main_div div.rounded {
   margin: 5px;
   padding: 5px;
   padding-bottom: 8px;
   background-color: white;
   border: 1px solid #cccccc;
   border-radius: 5px;
   color: black;
}

div.main_div div.rounded h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 5px;
   min-height: 25px;
   background-color: #f1f1f1;
   border-bottom: 1px dashed #c1c1c1;
   font-size: 18px;
}

div.main_div div.rounded h1 span {
   float: right;
   clear: both;
   font-size: 14px;
   font-weight: normal;
}

div.main_div div.bloque {
   display: inline-block;
   padding: 5px;
}

div.main_div table.list {
   width: 100%;
}

div.main_div table.list th {
   border-bottom: 1px solid #bbbbbb;
   text-transform: capitalize;
}

div.main_div table.list tr:hover {
   background-color: #FFFAA6;
}

div.main_div table.list td.locked {
   background-color: #fdcece;
   text-decoration: line-through;
}

div.main_div a.next {
   display: inline-block;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #bbbbbb;
   border: 1px solid #999999;
   border-radius: 2px;
   color: black;
   font-size: 16px;
   text-transform: capitalize;
   text-decoration: none;
}

div.main_div a.next:hover {
   background-color: #3768B8;
   color: white;
}

div.main_div div.paginas {
   text-align: center;
}

div.main_div div.paginas a {
   display: inline-block;
   margin-top: 4px;
   margin-right: 5px;
   margin-bottom: 4px;
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #bbbbbb;
   border: 1px solid #888888;
   border-radius: 2px;
   color: black;
   font-size: 13px;
   text-transform: capitalize;
   text-decoration: none;
}

div.main_div div.paginas a.actual {
   background-color: #424242;
   color: white;
}

div.main_div div.paginas a:hover {
   background-color: #3768B8;
   color: white;
}

div.main_div div.tpv_total {
   float: right;
   padding: 3px;
   padding-left: 6px;
   padding-right: 6px;
   min-width: 150px;
   background-color: #333333;
   color: white;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
}

div.main_div div.new_line {
   margin: 2px;
   padding: 0px;
   background-color: #deecfb;
   border: 1px dashed #888888;
}

div.main_div div.new_line a {
   display: block;
   padding: 5px;
   color: black;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
}

div.select {
   display: inline-block;
   margin-bottom: 10px;
   background-color: #D2DFEA;
   border: 1px solid #aaaaaa;
   border-radius: 3px;
   font-size: 15px;
}

div.select a {
   display: inline-block;
   padding-top: 3px;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 3px;
   color: #333333;
   text-decoration: none;
}

div.select a.selected {
   background-color: #B7C2CC;
   box-shadow: inset 1px 1px 1px #999;
   font-weight: bold;
}

ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li {
   display: inline-block;
   padding: 2px;
   min-width: 225px;
}

ul.bloque {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.bloque li {
   display: inline-block;
   background-color: #ACD6F5;
   border: 1px outset #cccccc;
   border-radius: 3px;
   font-size: 16px;
   text-align: center;
}

ul.bloque li a {
   display: block;
   padding: 5px;
   padding-top: 30px;
   padding-bottom: 30px;
   text-decoration: none;
}

div.footer {
   margin-top: 20px;
   padding: 5px;
}

div.footer a {
   display: inline-block;
   padding: 0px 5px 2px 5px;
   border-radius: 3px;
   color: white;
}

div.footer a.selected {
   background-color: #25394D;
   color: #4C769E;
   text-decoration: none;
}

div.footer table {
   width: 100%;
}

div.footer table td {
   text-align: center;
}

div.footer table td.right {
   text-align: right;
}

div.footer table td.left {
   text-align: left;
}

div.footer img {
   vertical-align: middle;
}

div.main_div a.remove, input[type='submit'], input[type='button'] {
   display: inline-block;
   vertical-align: middle;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 2px;
   border: 1px solid #999999;
   border-radius: 2px;
   box-shadow: 1px 1px 1px #777;
   color: #333333;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 15px;
}

div.main_div a.remove {
   background-color: #D74937;
   color: white;
   text-decoration: none;
}

div.hidden {
   display: none;
}

input[type='submit'] {
   background-color: #55BA42;
   border-color: #26641C;
   color: white;
}

input[type='button'] {
   background-color: #dddddd;
}

input[type='submit']:hover {
   background-color: #5DCC48;
   color: black;
   cursor: pointer;
}

input[type='button']:hover {
   background-color: #e1e1e1;
   color: black;
   cursor: pointer;
}

input[type='text'], input[type='password'], input[type='checkbox'], select {
   vertical-align: middle;
}

input.full, textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

a#fs_logo {
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: normal;
   font-family: 'Oleo Script', cursive;
   text-shadow: #333 2px 2px 2px;
   font-size: 32px;
}

a#fs_encuesta {
   display: inline-block;
   margin-right: 15px;
   padding-top: 2px;
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 1px;
   background-color: #7BBEFF;
   border: 1px solid #424242;
   border-radius: 4px;
   color: #424242;
   text-decoration: none;
   font-weight: bold;
}

a#fs_exit {
   display: inline-block;
   margin-left: 15px;
   padding: 2px;
   background-color: #333333;
   border: 1px solid #999999;
   border-radius: 4px;
}

a#fs_exit img {
   vertical-align: bottom;
}

div#sql_history {
   margin: 5px;
   margin-top: 20px;
   padding: 5px;
   background-color: #C2D0DE;
   border: 1px solid #A1ADB8;
   border-radius: 5px;
   color: #424242;
}

div#sql_history h1 {
   margin: 5px;
   font-size: 20px;
}