@import url('http://fonts.googleapis.com/css?family=Oleo+Script');
@import url('tcal.css');

body {
   margin: 0px;
   padding: 0px;
   background-color: #E5F2FF;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

a {
   color: #2F33AB;
}

div.advice, div.message, div.error {
   margin: 5px;
   padding: 10px;
   border: 1px solid #999999;
   border-radius: 5px;
   color: #333333;
   font-size: 16px;
}

div.advice {
   background-color: #ACD6F5;
   text-align: center;
}

div.advice img {
   vertical-align: middle;
}

div.message {
   background-color: #FAF1C1;
}

div.error {
   background-color: #F2DEDE;
   color: #B94A65;
}

div.message ul, div.error ul {
   margin-top: 0px;
   margin-bottom: 0px;
}

div#header_folders {
   background-color: #314F71;
   color: white;
}

div#header_folders a {
   display: inline-block;
   margin-left: 5px;
   padding: 5px;
   color: white;
   text-decoration: none;
   text-transform: capitalize;
   font-weight: bold;
}

div#header_folders a:hover {
   background-color: #21354D;
}

div#header_folders a.selected {
   text-decoration: underline;
}

div#header_logo {
   padding: 10px;
   background: #5381b5 url('../img/fondo2.png') repeat top left;
   border-bottom: 1px solid #406895;
}

div#header_buttons {
   display: inline-block;
   padding-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 2px;
}

div#header_buttons img {
   vertical-align: text-bottom;
}

div#header_buttons a.button, div#header_buttons a.remove {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: white;
   border: 1px solid #424242;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #666;
   color: #333333;
   text-decoration: none;
}

div#header_buttons a.button:hover {
   background-color: #A7D0FF;
}

div#header_buttons a.remove {
   background-color: #D74937;
   color: white;
}

div#header_location {
   display: inline-block;
}

div#header_search {
   vertical-align: top;
   display: inline-block;
   padding-top: 17px;
   padding-left: 10px;
}

div.pages div {
   display: none;
}

div.pages img {
   vertical-align: bottom;
}

div.pages ul {
   margin: 0px;
   padding: 0px;
   background-color: #314F71;
   border: 2px solid #333333;
   box-shadow: 5px 5px rgba(0,0,0,0.5);
   color: white;
   list-style-type: none;
   text-align: left;
   font-size: 15px;
}

div.pages ul li.selected {
   background-color: #3D628C;
}

div.pages ul li:hover {
   background-color: #5B87B8;
}

div.pages ul li a {
   display: block;
   padding: 5px;
   color: white;
   text-decoration: none;
}

div.pages div#user_list ul li a {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 16px;
}

div#shadow {
   display: none;
   z-index: 2;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.7;
}

a#b_close_popup {
   display: none;
   z-index: 4;
   position: fixed;
}

div.popup {
   display: none;
   z-index: 3;
   position: fixed;
   top: 50px;
   left: 50px;
   padding: 5px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   background-color: white;
   border: 5px solid #666666;
   border-radius: 5px;
   color: black;
}

div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 2px;
   background: #5381b5 url('../img/fondo2.png') repeat top left;
   border-bottom: 1px solid #406895;
   color: white;
   text-align: center;
   font-family: 'Oleo Script', cursive;
   font-size: 30px;
   font-weight: normal;
   text-shadow: #333 2px 2px 2px;
}

div.popup h2 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
}

div.popup h2 span {
   float: right;
}

div.popup div.grupo {
   margin: 5px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #FFFAA6;
   border: 1px dashed #333333;
}

div.main_div {
   margin-top: 5px;
}

div.rounded {
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   padding: 5px;
   background-color: white;
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   box-shadow: 2px 2px #999;
}

div.bloque {
   display: inline-block;
   padding: 2px;
}

table.list {
   width: 100%;
}

table.list tr:hover {
   background-color: #CEE5FF;
}

table.list th {
   background-color: #A7D0FF;
   color: #424242;
   text-transform: capitalize;
}

div.main_div div.paginas {
   text-align: center;
}

div.main_div div.paginas a {
   display: inline-block;
   margin-top: 4px;
   margin-right: 5px;
   margin-bottom: 4px;
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #bbbbbb;
   border: 1px solid #424242;
   border-radius: 2px;
   color: black;
   font-size: 13px;
   text-transform: capitalize;
   text-decoration: none;
}

div.main_div div.paginas a.actual {
   background-color: #424242;
   color: white;
}

div.main_div div.paginas a:hover {
   background-color: #3768B8;
   color: white;
}

div.main_div div.tpv_total {
   float: right;
   padding: 3px;
   padding-left: 6px;
   padding-right: 6px;
   min-width: 150px;
   background-color: #333333;
   color: white;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
}

div.main_div div.new_line {
   margin: 2px;
   padding: 0px;
   background-color: #deecfb;
   border: 1px dashed #333333;
}

div.main_div div.new_line a {
   display: block;
   padding: 5px;
   color: black;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
}

div.select {
   display: inline-block;
   margin-bottom: 10px;
   background-color: #dddddd;
   border: 1px solid #999999;
   border-radius: 3px;
   font-size: 15px;
}

div.select a {
   display: inline-block;
   padding-top: 3px;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 2px;
   color: #333333;
   text-decoration: none;
}

div.select a.selected {
   background-color: #6B9FD9;
   color: white;
}

ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li {
   display: inline-block;
   padding: 2px;
   min-width: 225px;
}

ul.bloque {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.bloque li {
   display: inline-block;
   background-color: #ACD6F5;
   border: 1px outset #cccccc;
   border-radius: 3px;
   font-size: 16px;
   text-align: center;
}

ul.bloque li a {
   display: block;
   padding: 5px;
   padding-top: 30px;
   padding-bottom: 30px;
   text-decoration: none;
}

div.footer {
   margin-top: 20px;
   padding: 5px;
}

div.footer a {
   display: inline-block;
   padding: 0px 5px 2px 5px;
   border-radius: 3px;
}

div.footer a.selected {
   background-color: #959DA6;
   color: #E5F2FF;
   text-decoration: none;
}

div.footer table {
   width: 100%;
}

div.footer table td {
   text-align: center;
}

div.footer table td.right {
   text-align: right;
}

div.footer table td.left {
   text-align: left;
}

div.footer img {
   vertical-align: middle;
}

div.main_div a.remove, input[type='submit'], input[type='button'] {
   display: inline-block;
   vertical-align: middle;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   border: 1px solid #333333;
   border-radius: 2px;
   box-shadow: 1px 1px 1px #666;
   color: #333333;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 16px;
}

div.main_div a.remove {
   background-color: #D74937;
   color: white;
   text-decoration: none;
}

div.hidden {
   display: none;
}

input[type='submit'] {
   background-color: #55BA42;
   color: white;
}

input[type='button'] {
   background-color: #eeeeee;
}

input[type='submit']:hover, input[type='button']:hover {
   background-color: #5E91CC;
   color: white;
   cursor: pointer;
}

input[type='text'], input[type='password'], input[type='checkbox'], select {
   vertical-align: middle;
}

input.full, textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

a#fs_logo {
   color: white;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: normal;
   font-family: 'Oleo Script', cursive;
   text-shadow: #333 2px 2px 2px;
   font-size: 35px;
}

a#b_user_list {
   position: absolute;
   top: 50px;
   right: 90px;
   color: white;
   font-weight: bold;
   text-transform: capitalize;
}

a#fs_exit {
   position: absolute;
   top: 46px;
   right: 10px;
   padding: 2px;
   background-color: #333333;
   border-radius: 4px
}

a#fs_exit img {
   vertical-align: bottom;
}

div#sql_history {
   margin: 5px;
   margin-top: 20px;
   padding: 5px;
   border: 1px dashed #424242;
   font-size: 12px;
}

div#sql_history h1 {
   margin: 0px;
   padding: 0px;
   font-size: 16px;
}