@import url("base.css");

input, textarea {
   padding: 5px;
   font-size: 16px;
}

select {
   font-size: 20px;
}

input.cancel,
input.comfirm {
   padding: 10px;
   border: 1px outset #333333;
   color: white;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}

input.cancel {
   background-color: #B14E4E;
}

input.comfirm {
   background-color: green;
}

ul.tpv_familias {
   list-style: none;
   font-size: 20px;
   text-align: center;
   margin: 5px;
   padding: 2px;
   color: black;
}

ul.tpv_familias li {
   padding: 8px;
   margin-bottom: 15px;
   background-color: #FFFAA6;
   border: 1px solid #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

ul.tpv_familias li#paquetes {
   border: 3px double #333333;
}

ul.tpv_familias li:hover {
   cursor: pointer;
}

table#tpv_albaran {
   margin-top: 20px;
   margin-bottom: 30px;
}

table#tpv_albaran td {
   height: 40px;
   vertical-align: middle;
}

div.popup div.grupo label {
   display: inline-block;
   padding: 10px;
   margin: 5px;
   background-color: #f1f1f1;
   border: 1px outset #333333;
   font-size: 25px;
}

input:checked + label {
    color: green;
    font-weight: bold;
}

div.popup ul {
   list-style: none;
   font-size: 16px;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

div.popup ul li {
   display: inline-block;
   vertical-align: middle;
   padding: 5px;
   margin: 5px;
   border: 1px dashed #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   text-align: center;
}

div.popup ul li.cancel {
   background-color: #B14E4E;
   color: white;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}

div.popup ul li:hover {
   cursor: pointer;
}

div.popup ul li img {
   margin-top: 4px;
   height: 80px;
}

input#tpv_total2,
input#tpv_efectivo,
input#tpv_cambio {
   background-color: #333333;
   color: white;
   text-align: right;
   font-size: 28px;
   font-weight: bold;
}