@import url("base.css");

body {
   font-size: 14px;
}

input[type='text'], input[type='password'], textarea, select {
   padding: 5px;
   font-size: 16px;
}

div#header_folders a, div#header_user a.btn {
   padding: 8px 10px 8px 10px;
}

div#header_buttons a.btn {
   padding: 6px 10px 6px 10px;
}

div#header_buttons a.btn_img, div#header_buttons a.remove {
   padding: 5px 8px 5px 8px;
}

div.pages ul li a {
   padding: 8px;
}

.button, .submit, .delete {
   padding: 5px 8px 5px 8px;
}

.link {
   padding: 2px;
}

div.rounded h1 {
   padding-bottom: 8px;
}

ul.tpv_familias {
   list-style: none;
   font-size: 20px;
   text-align: center;
   margin: 5px;
   padding: 2px;
   color: black;
}

ul.tpv_familias li {
   padding: 8px;
   margin-bottom: 15px;
   background-color: #FFFAA6;
   border: 1px solid #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

ul.tpv_familias li#paquetes {
   border: 3px double #333333;
}

ul.tpv_familias li:hover {
   cursor: pointer;
}

div.grupo_paquete label {
   display: inline-block;
   padding: 10px;
   margin: 5px;
   background-color: #f1f1f1;
   border: 1px outset #333333;
   font-size: 25px;
}

div.grupo_paquete input:checked + label {
    color: green;
    font-weight: bold;
}

div.grupo_paquete ul {
   list-style: none;
   font-size: 16px;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

div.grupo_paquete ul li {
   display: inline-block;
   vertical-align: middle;
   padding: 5px;
   margin: 5px;
   border: 1px dashed #333333;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   text-align: center;
}