{% extends "Master/MenuTemplate.html" %}

{% block css %}
{{ parent() }}

<link rel="stylesheet" href="Core/Assets/CSS/extendedcontroller.css" />
<link rel="stylesheet" href="node_modules/handsontable/dist/handsontable.full.min.css" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="node_modules/handsontable/dist/handsontable.full.min.js"></script>
<script src="Core/Assets/JS/documentController.js"></script>

<script type="text/javascript">
    documentLineData = {{ fsc.getLineData()|raw }};
    documentUrl = '{{ fsc.document.url()|raw }}';
    msgConfirmDelete = "{{ i18n.trans('confirm-delete')|raw }}";
    msgAreYouSure = "{{ i18n.trans('are-you-sure') }}";
    msgCancel = "{{ i18n.trans('cancel') }}";
    msgConfirm = "{{ i18n.trans('confirm') }}";
    tabActive = '{{ fsc.active }}';
</script>
{% endblock %}

{% block messages %}
<div class="container-fluid">
    <div id="messages" class="row">
        <div class="col-12">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
{# -- Calculate texts according to language -- #}
{% set go_back = i18n.trans('back') %}
{% set refresh_title = i18n.trans('refresh') %}
{% set remove = i18n.trans('delete') %}
{% set save = i18n.trans('save') %}

{% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}

{# -- Calculate common values -- #}
{% set list_url = fsc.getURL('list') %}
{% set edit_url = fsc.getURL('edit') %}

{# -- Visual macros -- #}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
{% from 'Macro/Utils.html' import exportData as exportData %}
{% import 'Macro/BaseController.html' as BaseController %}

<div class="container-fluid">
    {{ parent() }}
    <div class="row">
        <div class="col-12 d-print-none">
            <div class="btn-group" aria-label="Button group with navigation actions">
                <a href="{{ list_url }}" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{ go_back }} </span>
                </a>
                <a href="{{ edit_url }}" class="btn btn-sm btn-outline-secondary" {{ popoverTitle(refresh_title, 'bottom') }}>
                   <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>
            {# -- Adds print and export options -- #}
            {{ exportData(fsc, i18n, 'edit') }}
        </div>
    </div>
    {# -- Tabs -- #}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <div class="nav nav-tabs" id="optionsindex" role="tablist">
                {# -- Primary tab -- #}
                <a class="nav-link active" id="document-primary-tab" data-toggle="pill" href="#document-primary" role="tab" aria-controls="document-primary" aria-expanded="true">
                    <i class="fa fa-file fa-fw" aria-hidden="true"></i>
                </a>
                {% for indexView, view in fsc.views %}
                    <a class="nav-link" id="{{ indexView }}-tab" data-toggle="pill" href="#{{ indexView }}" role="tab" aria-controls="{{ indexView }}" aria-expanded="true">
                        <i class="fa {{ fsc.getSettings(indexView, 'icon') }} fa-fw" aria-hidden="true"></i>
                        &nbsp;{{ view.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="optionsindex-tabContent">
    <div class="tab-pane fade show active" id="document-primary" role="tabpanel" aria-labelledby="document-primary-tab">
        <form name="f_document_primary" action="{{ edit_url }}" method="post">
            <input type="hidden" name="action"/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p class="alert alert-success">
                            {% for item in fsc.getBreadcrumb() %}
                            <a href="{{ item['url'] }}">{{ item['title'] }}</a>
                            <span>&nbsp;/&nbsp;</span>
                            {% endfor %}
                            <span>{{ title }} {{ fsc.document.codigo }}</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="Buscar..." autocomplete="off" autofocus=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Subtotal</span>
                                <input type="text" value="{{ fsc.document.neto }}" class="form-control text-right" readonly=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Dto.</span>
                                <input type="text" value="0.00" class="form-control text-right" autocomplete="off"/>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Total</span>
                                <input type="text" value="{{ fsc.document.total }}" class="form-control text-right" readonly=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-danger" onclick="deleteRecord('f_document_primary')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline-block">&nbsp;{{ remove }}</span>
                            </a>
                            <button type="button" id="btn-document-save" class="btn btn-sm btn-primary" onclick="documentSave()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; {{ save }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="document-lines"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% for indexView, view in fsc.views %}
        <div class="tab-pane fade" id="{{ indexView }}" role="tabpanel" aria-labelledby="{{ indexView }}-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        {% set viewType = fsc.viewClass(view) %}
                        {% if viewType == 'ListView' %}
                            {{ BaseController.columnsForListView(_context, view) }}
                        {% else %}
                            <br/>
                        {% endif %}

                        {% if viewType == 'EditView' %}
                            <!-- Statistical buttons bar -->
                            {{ BaseController.rowStatisticsForEditView(_context, view) }}
                            <!-- Main Form -->
                            {% set model = view.getModel() %}
                            {{ BaseController.columnsForEditView(_context, view, model, TRUE) }}
                        {% endif %}

                        {% if viewType == 'EditListView' %}
                            {{ BaseController.columnsForEditListView(_context, view) }}
                        {% endif %}

                        {% if viewType == 'HtmlView' %}
                            <div>{% include view.fileName ignore missing %}</div>
                        {% else %}
                            {{ BaseController.rowCardsForEditView(_context, view, 'footer') }}
                            {{ BaseController.modalFormFromColumns(_context, view) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br/>
{% endblock %}
