{% extends "Master/MenuTemplate.html" %}

{% block css %}
{{ parent() }}

<link rel="stylesheet" href="Core/Assets/CSS/extendedcontroller.css" />
{% endblock %}


{% block javascript %}
{{ parent() }}

<script type="text/javascript">
    function insertRecord() {
        document.insert_form.submit();
    }

    function deleteRecord() {
        bootbox.confirm({
            title: "{{ i18n.trans('confirm-delete')|raw }}",
            message: "{{ i18n.trans('are-you-sure') }}",
            closeButton: false,
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> {{ i18n.trans("cancel") }}'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> {{ i18n.trans("confirm") }}',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    document.delete_form.submit();
                }
            }
        });
    }

    function execActionForm(formName, actionValue) {
        var form = document.forms[formName];
        form.action.value = actionValue;
        form.submit();
    }

    $(document).ready(function () {
        $('#main_row :text:first').focus();
    });
</script>
{% endblock %}

{% block messages %}
<div class="container-fluid">
    <div id="messages" class="row">
        <div class="col-12">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<!-- Calculate texts according to language -->
{% set go_back = i18n.trans('back') %}
{% set save, save_title = i18n.trans('save'), i18n.trans('save-data') %}
{% set undo, undo_title = i18n.trans('undo'), i18n.trans('restore-data') %}
{% set refresh_title = i18n.trans('refresh') %}
{% set remove, remove_title = i18n.trans('delete'), i18n.trans('delete-record') %}
{% set insert_title = i18n.trans('new') %}
{% set options, options_title = i18n.trans('options'), i18n.trans('setup-options') %}

{% set panel_header = fsc.getPanelHeader() %}
{% set panel_footer = fsc.getPanelFooter() %}

{% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}

<!-- Visual macros -->
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
{% from 'Macro/Utils.html' import exportData as exportData %}
{% from 'Macro/BaseController.html' import columnsForEditView as columnsForEditView %}
{% from 'Macro/BaseController.html' import rowHeaderForEditView as rowHeaderForEditView %}
{% from 'Macro/BaseController.html' import rowFooterForEditView as rowFooterForEditView %}
{% from 'Macro/BaseController.html' import modalFormFromColumns as modalFormFromColumns %}

<!-- Aux Objects -->
{% set model = fsc.view.getModel() %}

<!-- Main Body -->
<div class="container-fluid">
    {{ parent() }}

    <!-- Header Row -->
    <div id="header" class="row">
        <div class="col-3 d-print-none">
            <div class="btn-group">
                <a href="{{ model.url('list') }}" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{ go_back }} </span>
                </a>
                <a href="{{ model.url('edit') }}" class="btn btn-sm btn-outline-secondary" {{ popoverTitle(refresh_title, 'bottom') }}>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>
            <div class="btn-group">
                <a href="index.php?page=EditPageOption&code={{ fsc.view.getViewName() }}" class="btn btn-sm btn-secondary" {{ popoverTitle(options_title, 'bottom') }}>
                   <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">&nbsp;{{ options }}</span>
                </a>
                <!-- Adds print and export options -->
                {{ exportData(fsc, i18n, 'edit') }}
            </div>
        </div>

        <div class="col-6 text-center">
            <h2>
                <i class="fa {{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ title }}
            </h2>
        </div>

        <div class="col-3 text-right d-print-none">
            <form action="{{ model.url('new') }}" method="post" name="insert_form">
                <input type="hidden" name="action" value="insert">
            </form>

            <form action="{{ model.url('list') }}" method="post" name="delete_form">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="code" value="{{ model.primaryColumnValue() }}">
            </form>

            <a id="b_new" class="btn btn-sm btn-success" onclick="insertRecord();" href="#" {{ popoverTitle((insert_title ~ ' ' ~ title), 'bottom') }}>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>

            <a id="b_remove" class="btn btn-sm btn-danger" onclick="deleteRecord();" href="#" {{ popoverTitle(remove_title, 'bottom') }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">&nbsp;{{ remove }}</span>
            </a>
        </div>
    </div>

    <!-- Data Row -->
    <div id="data" class="row">
        <div class="col-12">
            <form action="#" method="post" class="form" role="form" name="main_form">
                <input type="hidden" name="action" value="save">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">{{ panel_header|raw }}</span>
                    </div>

                    <div class="card-body">
                        <!-- Statistical buttons bar -->
                        {{ rowHeaderForEditView(_context, fsc.view) }}

                        <!-- Main Form -->
                        <div id="main_row" class="row">
                            {{ columnsForEditView(_context, fsc.view, model, FALSE) }}
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <small class="pull-left text-left">{{ panel_footer|raw }}</small>
                        <button class="btn btn-sm btn btn-secondary" type="reset" {{ popoverTitle(undo_title, 'bottom') }}>
                            <i class="fa fa-undo" aria-hidden="true"></i>&nbsp; {{ undo }}
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" {{ popoverTitle(save_title, 'bottom') }}>
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; {{ save }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer Row -->
    {{ rowFooterForEditView(_context, fsc.view) }}

    <!-- Modals Forms -->
    {{ modalFormFromColumns(_context, fsc.view) }}
</div>
{% endblock %}
