{% extends "Master/MenuTemplate.html" %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#b_new_record").click(function (event) {
            event.preventDefault();
        });

        document.f_custom_search.query.focus();
        document.f_custom_search.query.select();
    });
</script>
{% endblock %}

{% block body %}
{{ parent() }}

<!-- Calculate texts according to language -->
{% set refresh = i18n.trans('Refrescar la página') %}
{% set defaultT, defaultF = i18n.trans('marcar como página de inicio'), i18n.trans('Marcada como página de inicio (pulsa de nuevo para desmarcar)') %}
{% set options, options_title = i18n.trans('Opciones'), i18n.trans('Opciones de configuración') %}
{% set print, print_title = i18n.trans('Imprimir'), i18n.trans('Imprimir lista de registros') %}
{% set new_record, new_record_title = i18n.trans('Nuevo'), i18n.trans('Crear un nuevo registro') %}
{% set search, search_title = i18n.trans('Buscar'), i18n.trans('Filtra los registros que contienen el valor indicado') %}
{% set any = i18n.trans('Cualquier') %}
{% set panel_header = i18n.trans('Datos generales') %}
{% set title = fsc.getPageData()['title'] %}
{% set title = i18n.trans(title) %}
{% set no_data = i18n.trans('No hay registros con esas condiciones. Pulse el botón Nuevo para dar de alta.') %}

<!-- Page Header -->
<div class="container-fluid d-print-none">
    <div class="row">
        <div class="col-sm-7 col-6">
            <div class="btn-group hidden-xs">
                <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ refresh }}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
                {% if fsc.getPageData()['isDefault'] %}
                <a class="btn btn-sm btn-secondary active" href="{{ fsc.url() }}&amp;default_page=FALSE" title="{{ defaultF }}">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                {% else %}
                <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}&amp;default_page=TRUE" title="{{ defaultT }}">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
            <div class="btn-group">
                <a href="#" id="b_new_record" class="btn btn-sm btn-success" title="{{ new_record_title }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="hidden-xs">&nbsp;{{ new_record }}</span>
                </a>
                <a href="#" id="b_options" class="btn btn-sm btn-secondary" title="{{ options_title }}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span class="hidden-xs">&nbsp;{{ options }}</span>
                </a>
                <a href="#" id="b_print" class="btn btn-sm btn-secondary" onclick="window.print();" title="{{ print_title }}">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span class="hidden-xs">&nbsp;{{ print }}</span>
                </a>
                {#    TODO: Aplicar extensiones
                {% for value in fsc.extensions %}
                {% if value.type == 'button' %}
                <a href="index.php?page={{ value.from }}{{ value.params }}" class="btn btn-sm btn-secondary">{{ value.text }}</a>
                {% endif %}
                {% endfor %}
                #}
            </div>
        </div>
        <div class="col-sm-5 col-6 text-right">
            <h2 style="margin-top: 0px;">
                <i class="fa {{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ title }}
            </h2>
        </div>
    </div>
</div>

<!-- Main Data -->
<div id="tab_options" role="tabpanel">
    <!-- Tabs declaration -->
    <ul class="nav nav-tabs d-print-none">
        <li class="nav-item">
            <a href="#search" class="nav-link active" title="{{ search_title }}">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="hidden-xs">&nbsp;{{ search }}</span>
                <span class="badge badge-secondary">{{ fsc.count }}</span>
            </a>
        </li>
        {#    TODO: Aplicar extensiones
        {% for value in fsc.extensions %}
        {% if value.type == 'tab' %}
        <li class="nav-item">
            <a href="#ext_{{ value.name }}" aria-controls="ext_{{ value.name }}" role="tab" data-toggle="tab">{{ value.text }}</a>
        </li>
        {% endif %}
        {% endfor %}
        #}
    </ul>

    <!-- Main Tab -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="search">
            <!-- Filters Row -->
            <form name="f_custom_search" action="{{ fsc.url() }}" method="post" class="form">
                <div class="container-fluid d-print-none" style="margin-top: 15px; margin-bottom: 10px;">
                    <div class="row">
                        <!-- Main filter -->
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control" type="text" name="query" value="{{ fsc.query }}" autocomplete="off" placeholder="Buscar">
                                <span class="input-group-btn hidden-sm">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!-- Aditionals filters -->
                        {% for key1, filter in fsc.filters %}
                        {% if filter.type == 'select' %}
                        <div class="col-sm-2">
                            <select name="{{ key1 }}" class="form-control" onchange="this.form.submit()">
                                <option value="">{{ any }} {{ key1 }}</option>
                                <option value="">------</option>
                                {% for key2, data in fsc.optionlist(filter.options.field, filter.options.table, filter.options.where) %}
                                {% if data == filter.value %}
                                <option value="{{ data }}" selected="">{{ data }}</option>
                                {% else %}
                                <option value="{{ data }}">{{ data }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                        {% if filter.type == 'checkbox' %}
                        <div class="col-sm-1">
                            <div class="checkbox-inline">
                                <label>
                                    {% if filter.value %}
                                    <input type="checkbox" name="{{ key1 }}" value="TRUE" checked="" onchange="this.form.submit()"/>
                                    {% else %}
                                    <input type="checkbox" name="{{ key1 }}" value="TRUE" onchange="this.form.submit()"/>
                                    {% endif %}
                                    {{ filter.options.label }}
                                </label>
                            </div>
                        </div>
                        {% endif %}

                        {% if filter.type == 'datepicker' %}
                        <div class="col-sm-2">
                            <input type="text" name="{{ key1 }}" value="{{ filter.value }}" class="form-control datepicker"
                                   placeholder="{{ filter.options.label }}" autocomplete="off" onchange="this.form.submit()"/>                            
                        </div>
                        {% endif %}                        
                        {% endfor %}

                        <!-- Order by selector -->
                        <div class="col-sm-2">
                            <div class="btn-group">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa {{ fsc.orderby[fsc.selectedOrderBy]['icon'] }}" aria-hidden="true"></i>
                                    &nbsp; {{ i18n.trans(fsc.orderby[fsc.selectedOrderBy]['label']) }}
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOrder">
                                    {% for key, orderby in fsc.orderby %}
                                    <a class="dropdown-item" href="{{ fsc.url() }}&order={{ key }}">
                                        <i class="fa {{ orderby['icon'] }}" aria-hidden="true"></i>&nbsp; {{ i18n.trans(orderby['label']) }} &nbsp;
                                        {% if fsc.selectedOrderBy == key %}
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Data Row -->
            <div class="table-responsive">
                <!-- Data Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            {% for column in fsc.getColumns() %}
                            {% if column.display != 'none' %}
                            <th class="text-{{ column.display }}">{{ column.getHeaderHTML(column.title)|raw }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    {% for data in fsc.cursor %}
                    {% set row = fsc.getRow('status') %}
                    {% if row is empty %}
                    <tr>
                        {% else %}
                        {% set status = attribute(data, row.fieldName) %}
                    <tr class="{{ row.getStatus(status) }}">
                        {% endif %}
                        {% for column in fsc.getColumns() %}
                        {% if column.display != 'none' %}
                        {% set value = attribute(data, column.widget.fieldName) %}
                        <td class="text-{{ column.display }}">{{ column.getListHTML(value)|raw }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="warning">
                        <td colspan="6"><b>{{ no_data }}</b></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Footer Navigation -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="pagination">
                            {% for item in fsc.pagination() %}
                            {% if item.active %}
                            <li class="active">
                                {% else %}
                            <li>
                                {% endif %}
                                <a href="{{ item.url }}">
                                    {% if item.icon %}
                                    <i class="fa {{ item.icon }}" aria-hidden="true"></i>
                                    {% else %}
                                    <span>{{ item.page }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Aditionals Tabs -->
        {#  TODO: Aplicar extensiones
        {% for extension in fsc.extensions %}
        {% if extension.type == 'tab' %}
        <div role="tabpanel" class="tab-pane" id="ext_{{ extension.name }}">
            <iframe src="index.php?page={{ extension.from }}{{ extension.params }}"
                    width="100%" height="2000" frameborder="0"></iframe>
        </div>
        {% endif %}
        {% endfor %}
        #}
    </div>
</div>
{% endblock %}