{% extends "Master/MenuTemplate.html" %}

{% block css %}
{{ parent() }}

<link rel="stylesheet" href="Core/Assets/CSS/extendedcontroller.css" />
{% endblock %}

{% block javascript %}
{{ parent() }}

<script type="text/javascript">
    var tabActive = '{{ fsc.active }}';
    $(document).ready(function () {
        $('#mainTabs').on('shown.bs.tab', function (e) {
            tabActive = e.target.hash.substring(1);
        });
    });

    function deleteRecord(formName) {
        bootbox.confirm({
            title: "{{ i18n.trans('confirm-delete')|raw }}",
            message: "{{ i18n.trans('are-you-sure') }}",
            closeButton: false,
            buttons: {
                cancel: {
                    label: "<i class='fa fa-times'></i> {{ i18n.trans('cancel') }}"
                },
                confirm: {
                    label: "<i class='fa fa-check'></i> {{ i18n.trans('confirm') }}",
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var form = document.forms[formName];
                    form.action.value = 'delete';
                    form.submit();
                }
            }
        });
    }
</script>
{% endblock %}

{% block messages %}
<div class="container-fluid">
    <div id="messages" class="row">
        <div class="col-12">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
{# -- Calculate texts according to language -- #}
{% set go_back = i18n.trans('back') %}
{% set refresh_title = i18n.trans('refresh') %}

{% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}

{# -- Calculate common values -- #}
{% set list_url = fsc.getURL('list') %}
{% set edit_url = fsc.getURL('edit') %}

{# -- Visual macros -- #}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
{% from 'Macro/Utils.html' import exportData as exportData %}
{% from 'Macro/BaseController.html' import columnsForListView as columnsForListView %}
{% from 'Macro/BaseController.html' import columnsForEditListView as columnsForEditListView %}
{% from 'Macro/BaseController.html' import columnsForEditView as columnsForEditView %}
{% from 'Macro/BaseController.html' import rowHeaderForEditView as rowHeaderForEditView %}
{% from 'Macro/BaseController.html' import rowFooterForEditView as rowFooterForEditView %}
{% from 'Macro/BaseController.html' import modalFormFromColumns as modalFormFromColumns %}

{# -- Main Body -- #}
<div class="container-fluid">
    {{ parent() }}

    {# -- Header Row -- #}
    <div id="header" class="row">
        <div class="col-6 d-print-none">
            <div class="btn-group" aria-label="Button group with navigation actions">
                <a href="{{ list_url }}" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{ go_back }} </span>
                </a>
                <a href="{{ edit_url }}" class="btn btn-sm btn-outline-secondary" {{ popoverTitle(refresh_title, 'bottom') }}>
                   <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>

            {# -- Adds print and export options  -- #}
            {{ exportData(fsc, i18n, 'edit') }}
        </div>
        <div class="col-6 text-right">
            <h2>
                <i class="fa {{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ title }}
            </h2>
        </div>
    </div>

    <br/>

    {# -- Data Row -- #}
    <div id="data" class="row">
        <div class="col-sm-12">
            <div class="nav nav-tabs" id="optionsindex" role="tablist">
                {% for indexView, view in fsc.views %}
                    {% set active = (indexView == fsc.active) ? ' active' : '' %}
                    <a class="nav-link{{ active }}" id="{{ indexView }}-tab" data-toggle="pill" href="#{{ indexView }}" role="tab" aria-controls="{{ indexView }}" aria-expanded="true">
                        <i class="fa {{ fsc.icons[indexView] }} fa-fw" aria-hidden="true"></i>
                        &nbsp;{{ view.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="tab-content" id="optionsindex-tabContent">
                {% for indexView, view in fsc.views %}
                    {% set active = (indexView == fsc.active) ? ' show active' : '' %}
                    <div class="tab-pane fade{{ active }}" id="{{ indexView }}" role="tabpanel" aria-labelledby="{{ indexView }}-tab">
                        {% set viewType = fsc.viewClass(view) %}
                        {% if viewType == 'ListView' %}
                            {{ columnsForListView(_context, view) }}
                        {% else %}
                            <br/>
                        {% endif %}

                        {% if viewType == 'EditView' %}
                            <!-- Statistical buttons bar -->
                            {{ rowHeaderForEditView(_context, view) }}
                            <!-- Main Form -->
                            {% set model = view.getModel() %}
                            {{ columnsForEditView(_context, view, model, TRUE) }}
                        {% endif %}

                        {% if viewType == 'EditListView' %}
                            {{ columnsForEditListView(_context, view) }}
                        {% endif %}

                        {% if viewType == 'HtmlView' %}
                            <div>{% include view.fileName ignore missing %}</div>
                        {% else %}
                            {{ rowFooterForEditView(_context, view) }}
                            {{ modalFormFromColumns(_context, view) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}
