{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    {{ parent() }}

    <form id="f_ui_event" method="post">
        {{ formToken() }}
        <input type="hidden" name="_event">
    </form>

    {% for section in fsc.sections() %}
        {{ section.render() | raw }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function send_ui_event(value) {
            let form = document.getElementById("f_ui_event");
            form._event.value = value;
            form.submit();
        }
    </script>
{% endblock %}