{% extends "Master/MicroTemplate.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br/><br/>
            <div class="jumbotron">
                <h1>
                    <i class="fa fa-lock" aria-hidden="true"></i> {{ i18n.trans('access-denied') }}:
                </h1>
                <hr class="my-4">
                <b>{{ controllerName }}</b>
                <ul class="nav navbar-nav mr-auto">
                    {% for menuItem in menuManager.getMenu() %}
                    {{ menuItem.getHTML()|raw }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}