{% extends "Master/MicroTemplate.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br/><br/>
                <div class="jumbotron">
                    <h1>
                        <i class="fa-solid fa-bug fa-fw" aria-hidden="true"></i>
                        {{ trans('controller-not-found') }}:
                    </h1>
                    <hr class="my-4">
                    <b>{{ controllerName }}</b>
                    <br/><br/>
                    <a href="{{ asset('Wizard') }}" class="btn btn-warning">
                        <i class="fa-solid fa-wrench fa-fw" aria-hidden="true"></i> {{ trans('wizard') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}