{% extends "Master/MicroTemplate.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br/><br/>
                <div class="jumbotron">
                    <h1>
                        <i class="fas fa-bug fa-fw" aria-hidden="true"></i>
                        {{ i18n.trans('controller-error') }}:
                    </h1>
                    <hr class="my-4">
                    <b>{{ controllerName }}</b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}