{include="header"}

<script type="text/javascript">
   function buscar_lineas()
   {
      if(document.f_buscar_lineas.buscar_lineas.value == '')
      {
         $("#search_results").html('');
      }
      else
      {
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: $("form[name=f_buscar_lineas]").serialize(),
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_lineas.buscar_lineas.value )
               {
                  $("#search_results").html(datos);
               }
            }
         });
      }
   }
   $(document).ready(function() {
      $("#b_buscar_lineas").click(function(event) {
         event.preventDefault();
         $("#modal_buscar_lineas").modal('show');
         document.f_buscar_lineas.buscar_lineas.focus();
      });
      $("#f_buscar_lineas").keyup(function() {
         buscar_lineas();
      });
      $("#f_buscar_lineas").submit(function(event) {
         event.preventDefault();
         buscar_lineas();
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-lg-10">
         <h2 style="margin-top: 0px;">
            <span class="text-capitalize">{#FS_ALBARANES#}</span> de <a href="{$fsc->proveedor->url()}">{$fsc->proveedor->nombre}</a>
         </h2>
      </div>
      <div class="col-lg-2 text-right">
         <a id="b_buscar_lineas" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp; líneas
         </a>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Código + Núm. Proveedor</th>
            <th class="text-left">Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->total<=0"} bg-warning{/if}" href="{$value->url()}">
         <td class="text-center">
            {if condition="!$value->ptefactura"}
            <span class="glyphicon glyphicon-paperclip" title="facturado"></span>
            {/if}
         </td>
         <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right"><span title="{$value->hora}">{$value->fecha}</span></td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td></td>
         <td colspan="4">Ningún {#FS_ALBARAN#} encontrado.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if condition="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if condition="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

<form class="form" role="form" id="f_buscar_lineas" name="f_buscar_lineas" action="{$fsc->url()}" method="post">
   <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
   <div class="modal" id="modal_buscar_lineas">
      <div class="modal-dialog" style="width: 99%; max-width: 950px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Buscar en las líneas de los {#FS_ALBARANES#} de {$fsc->proveedor->nombre}</h4>
            </div>
            <div class="modal-body">
               <div class="input-group">
                  <input class="form-control" type="text" name="buscar_lineas" placeholder="Referencia" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                     </button>
                  </span>
               </div>
            </div>
            <div id="search_results" class="table-responsive"></div>
         </div>
      </div>
   </div>
</form>

{include="footer"}