{% extends "Master/MenuTemplate.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                <i class="fa fa-tachometer" aria-hidden="true"></i> {{ i18n.trans('dashboard') }}
                <span class="btn-group d-xs-none">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    {% if fsc.getPageData()['name'] == fsc.user.homepage %}
                    <a class="btn btn-sm btn-outline-secondary active" href="{{ fsc.url() }}&amp;defaultPage=FALSE">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}&amp;defaultPage=TRUE">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </span>
            </h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="card-columns" style="padding-left: 10px; padding-right: 10px;">
        {% for card in fsc.cursor %}
            <div class="card {{ card.cardClass() }}">
                <div class="card-body">
                    <p class="card-text">{{ card.descripcion }}</p>
                </div>
                <div class="card-footer">
                    {% if card.link %}
                    <a href="{{ card.link }}" class="btn btn-{{ card.color }} btn-sm float-right">link</a>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{{ card.url() }}" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a href="{{ card.url() }}" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                    </div>
                    &nbsp;
                    <small>{{ card.fecha }}</small>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}