{% extends "Master/MenuTemplate.html" %}

{% block body %}
<!-- Macros Template Imports -->
{% import 'Macro/Forms.html' as forms %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>
                <i class="fa {{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ i18n.trans('document-reports') }}
                <span class="btn-group d-xs-none">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    {% if fsc.getPageData()['name'] == fsc.user.homepage %}
                    <a class="btn btn-sm btn-outline-secondary active" href="{{ fsc.url() }}&amp;defaultPage=FALSE">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}&amp;defaultPage=TRUE">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </span>
            </h1>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <form name="f_search" id="formSearch" action="{{ fsc.url() }}" method="post" class="form">
        <input name="action" id="action" type="hidden" value="reload"/>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleSelect('source1', 'source1', fsc.source1, fsc.getDocumentTypes(), 'choose-source-1', i18n, 'fa-files-o', {onchange: 'this.form.submit()'}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleInput('date1-from', 'date1-form', fsc.date1From.format('d-m-Y'), 'text', i18n.trans('start-date'), 'fa-calendar', {class: 'datepicker'}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleInput('date1-to', 'date1-to', fsc.date1To.format('d-m-Y'), 'text', i18n.trans('end-date'), 'fa-calendar', {class: 'datepicker'}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleSelect('source2', 'source2', fsc.source2, fsc.getDocumentTypes(), 'choose-source-2', i18n, 'fa-files-o',{'onchange': 'this.form.submit()'}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleInput('date2-from', 'date2-form', fsc.date2From.format('d-m-Y'), 'text', i18n.trans('start-date'), 'fa-calendar', {class: 'datepicker'}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ forms.simpleInput('date2-to', 'date2-to', fsc.date2To.format('d-m-Y'), 'text', i18n.trans('end-date'), 'fa-calendar', {class: 'datepicker'}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="employee">{{ i18n.trans('employee') }}</label>
                    <select id="employee" name="employee" class="form-control" onchange="this.form.submit()">
                        <option value="">{{ i18n.trans('choose-employee') }}</option>
                        {% for emp in fsc.employeeList %}
                        {% if emp.codagente == fsc.employee %}
                        <option value="{{ emp.codagente }}" selected="selected">{{ emp.fullName() }}</option>
                        {% else %}
                        <option value="{{ emp.codagente }}" >{{ emp.fullName() }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="serie">{{ i18n.trans('serie') }}</label>
                    <select id="serie" name="serie" class="form-control" onchange="this.form.submit()">
                        <option value="">{{ i18n.trans('choose-serie') }}</option>
                        {% for ser in fsc.serieList %}
                        {% if ser.codserie == fsc.serie %}
                        <option value="{{ ser.codserie }}" selected="selected">{{ ser.descripcion }}</option>
                        {% else %}
                        <option value="{{ ser.codserie }}" >{{ ser.descripcion }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="currency">{{ i18n.trans('currency') }}</label>
                    <select id="currency" name="currency" class="form-control" onchange="this.form.submit()">
                        <option value="">{{ i18n.trans('choose-currency') }}</option>
                        {% for cur in fsc.currencyList %}
                        {% if cur.coddivisa == fsc.currency %}
                        <option value="{{ cur.coddivisa }}" selected="selected">{{ cur.descripcion }}</option>
                        {% else %}
                        <option value="{{ cur.coddivisa }}" >{{ cur.descripcion }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="payment-method">{{ i18n.trans('payment-method') }}</label>
                    <select id="payment-method" name="payment-method" class="form-control" onchange="this.form.submit()">
                        <option value="">{{ i18n.trans('choose-payment-method') }}</option>
                        {% for payM in fsc.paymentMethodList %}
                        {% if payM.codpago == fsc.paymentMethod %}
                        <option value="{{ payM.codpago }}" selected="selected">{{ payM.descripcion }}</option>
                        {% else %}
                        <option value="{{ payM.codpago }}" >{{ payM.descripcion }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>{{ i18n.trans(fsc.grouped) }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                {% for key1,table in fsc.dataTable[0] %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-left" colspan="3">{{ i18n.trans(fsc.source1) }}</th>
                    </tr>
                    <tr>
                        <th class="text-left">{{fsc.date1From.format('d-m-Y') }} - {{ fsc.date1To.format('d-m-Y') }}</th>
                        <th class="text-left">Dia</th>
                        <th class="text-left">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key3,item in table %}
                    <tr class="table-light">
                        <td class="text-left">{{ key3 }}</td>
                        <td class="text-left">{{ item.date }}</td>
                        <td class="text-left">{{ item.total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="table-responsive">
                {% for key1,table in fsc.dataTable[1] %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-left" colspan="3">{{ i18n.trans(fsc.source2) }}</th>
                    </tr>
                    <tr>
                        <th class="text-left">{{fsc.date2From.format('d-m-Y') }} - {{ fsc.date2To.format('d-m-Y') }}</th>
                        <th class="text-left">Dia</th>
                        <th class="text-left">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key3,item in table %}
                    <tr class="table-light">
                        <td class="text-left">{{ key3 }}</td>
                        <td class="text-left">{{ item.date }}</td>
                        <td class="text-left">{{ item.total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}