{% extends "Master/GridView.html.twig" %}

{% block gridcard %}
    {# Grid data panel #}
    <div class="col-9 mr-2">
        <div class="card">
            <div class="card-header">
                <span><small id="account-description"></small></span>
                <span class="float-right"><small><strong>{{ i18n.trans('unbalance') }}:&nbsp;<span id="unbalance">0.00</span></strong></small></span>
            </div>
            <div class="card-body p-0">
                <div id="document-lines"></div>
            </div>
        </div>
    </div>
    {# Graphic panel #}
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <small><strong>{{ i18n.trans('account-balance') }}:&nbsp;<span id="account-balance">0.00</span></strong></small>
            </div>
            {# Graphic Subaccount Balance panel #}
            <div class="card-body p-0">
                <canvas id="detail-balance" class="w-100"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
