{#
   /**
     * Accounting Entry View
     *
     * Allows the visualization and editing of accounting entries
     * Inherit from GridController Template.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2013-2018  Carlos Garcia Gomez  <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see http://www.gnu.org/licenses/.
     *
    */
#}

{% extends "Master/GridController.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% set masterView = fsc.views|first %}
    {% if masterView.count > 0 %}
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    {% endif %}
{% endblock %}

{% block parentview %}
    <div class="row">
        <div class="col-12">
            {# Main Data #}
            {% set nobuttons = true %}
            {% do fsc.setCurrentView(parentViewName) %}
            {{ include(parentView.template) }}
        </div>
    </div>
{% endblock %}
