{% extends "Master/MenuTemplate.html" %}

{% block body %}
<script type="text/javascript">
    function reloadClickableRow() {
        $(".clickableRow").mousedown(function (event) {
            if (event.which === 1) {
                var href = $(this).attr("data-href");
                var target = $(this).attr("data-target");
                if (typeof href !== typeof undefined && href !== false) {
                    if (typeof target !== typeof undefined && target === "_blank") {
                        window.open($(this).attr("data-href"));
                    } else {
                        parent.document.location = $(this).attr("data-href");
                    }
                }
            }
        });
    }
    function json2tr(json) {
        var items = [];
        $.each(json, function (key, val) {
            var tableTR = '';
            if (key == 0) {
                $.each(this, function (key2, val2) {
                    tableTR += '<th class="text-capitalize">' + val2 + '</th>';
                });
                items.push("<tr>" + tableTR + "</tr>");
            } else {
                $.each(this, function (key2, val2) {
                    if (val2 == null) {
                        tableTR += '<td class="table-secondary">-</td>';
                    } else if (key2 != 'url') {
                        tableTR += '<td>' + val2 + '</td>';
                    }
                });
                items.push("<tr class='clickableRow' data-href='" + val.url + "'>" + tableTR + "</tr>");
            }
        });

        return items;
    }
</script>
{% for key, section in fsc.sections %}
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON('{{ section.search|raw }}', function (json) {
            var items = json2tr(json);

            if (items.length > 0) {
                $("#v-pills-tab").append("<a class='nav-link' id='v-pills-{{ key }}-tab' data-toggle='pill' href='#v-pills-{{ key }}' role='tab' aria-controls='v-pills-{{ key }}' aria-expanded='true'>\n\
                    <i class='fa {{ section.icon }} fa-fw'></i>&nbsp; {{ i18n.trans(section.title) | capitalize }}&nbsp;\n\
                    <span class='badge badge-secondary'>" + (items.length - 1) + "</span>\n\
                </a>");
                var tableHTML = '';
                $.each(items, function (key3, val3) {
                    tableHTML += val3;
                });
                $("#v-pills-tabContent").append("<div class='tab-pane fade' id='v-pills-{{ key }}' role='tabpanel' aria-labelledby='v-pills-{{ key }}-tab'>\n\
                    <div class='table-responsive'>\n\
                    <table class='table table-hover'>" + tableHTML + "</table>\n\
                    </div>\n\
                    </div>");
                $('#v-pills-tab a:first').tab('show');
                reloadClickableRow();

                $("#no-data-msg").hide();
            }
        });
    });
</script>
{% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <form action="{{ fsc.url() }}" method="post" class="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="query" value="{{ fsc.query }}" class="form-control" autocomplete="off" autofocus=""/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            {% if fsc.results['pages'] is empty  %}
            <div id="no-data-msg" class="alert alert-warning">{{ i18n.trans('no-data') }}</div>
            {% endif %}
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                {% if fsc.results['pages'] is not empty  %}
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-paginas" role="tab" aria-controls="v-pills-paginas" aria-expanded="true">
                    <i class="fa fa-mouse-pointer fa-fw"></i>&nbsp; {{ i18n.trans('pages') | capitalize }}&nbsp;
                    <span class='badge badge-secondary'>{{ fsc.results['pages']|length }}</span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                {% if fsc.results['pages'] is not empty  %}
                <div class="tab-pane fade show active" id="v-pills-paginas" role="tabpanel" aria-labelledby="v-pills-paginas-tab">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ i18n.trans('menu') | capitalize }}</th>
                                    <th></th>
                                    <th>{{ i18n.trans('page') | capitalize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for page in fsc.results['pages'] %}
                                <tr class="clickableRow" data-href='{{ page.url() }}'>
                                    <td>
                                        {{ i18n.trans(page.menu) | capitalize }}{% if page.submenu %} - {{ i18n.trans(page.submenu) | capitalize }}{% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if page.icon %}
                                        <i class="fa {{ page.icon }}"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ i18n.trans(page.title) | capitalize }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}