{% extends "Master/MenuTemplate.html" %}

{% block body %}
<!-- Macros Template Imports -->
{% import 'Macro/Forms.html' as forms %}

{% set codpais = appSettings.get('default','codpais','ESP') %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                <i class="fa fa-magic" aria-hidden="true"></i> {{ i18n.trans('assistant') }}
                <a href="{{ fsc.url() }}" class="btn btn-sm btn-secondary">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </h1>
            <hr/>
        </div>
    </div>
    <form action="#" method="post" class="form">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ forms.simpleSelect('codpais', 'codpais', codpais, fsc.getpaises(), i18n.trans('country'), 'fa-globe') }}
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    {{ i18n.trans('save') }}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}