<table>
   <tr>
      <td align="right">Epígrafe:</td>
      <td>
         <select name="idepigrafe">
         {loop="$fsc->epigrafes"}
            <option value="{$value->idepigrafe}">{$value->codepigrafe} - {$value->descripcion}</option>
         {else}
            <option value="">-- Sin resultados --</option>
         {/loop}
         </select>
      </td>
   </tr>
   <tr>
      <td align="right">Código:</td>
      <td>
         <input class="full" type="text" name="codcuenta" maxlength="6" autocomplete="off"/>
      </td>
   </tr>
   <tr>
      <td align="right">Descripción:</td>
      <td>
         <input class="full" type="text" name="descripcion" autocomplete="off"/>
      </td>
   </tr>
   <tr>
      <td colspan="2" align="right">
         <input class="submit" type="submit" value="guardar"/>
      </td>
   </tr>
</table>