{if condition="$fsc->get_errors()"}
<div class="alert alert-danger">
   <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}

{if condition="$fsc->get_messages()"}
<div class="alert alert-success">
   <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Subcuenta</th>
            <th class="text-right">Debe</th>
            <th class="text-right">Haber</th>
         </tr>
      </thead>
      {loop="$fsc->aux_regiva"}
      <tr>
         <td>{$value['subcuenta']}</td>
         <td class="text-right">{$fsc->show_precio($value['debe'])}</td>
         <td class="text-right">{$fsc->show_precio($value['haber'])}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="3" class="text-center">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="modal-footer">
   <button class="btn btn-sm btn-primary" type="submit" onclick="guardar_regiva();return false;">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      &nbsp; Guardar
   </button>
</div>
