<!--{$fsc->query}-->
<table class="list">
   <tr>
      <th>Referencia</th>
      <th>Cod. equivalencia</th>
      <th>Descripción</th>
      <th align="right">PVP+IVA</th>
      <th align="right">Stock</th>
   </tr>
   {loop="$fsc->results"}
   <tr>
      {if condition="$value->bloqueado"}<td class="locked">{else}<td>{/if}
         <a href="#new_line" onclick="add_articulo('{$value->referencia}','{$value->get_descripcion_esc()}','{$value->pvp}','0','{$value->get_iva()}')">
            {$value->referencia}
         </a>
      </td>
      <td>{$value->equivalencia}</td>
      <td>{$value->descripcion}</td>
      <td align="right">
         <span title="actualizado el {$value->factualizado}">{$value->show_pvp_iva()} €</span>
      </td>
      <td align="right">{$value->stockfis}</td>
   </tr>
   {/loop}
</table>