<!--{$fsc->query}-->

{if condition="$fsc->get_errors()"}
   <div class="error">
      {loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}
   </div>
{/if}
{if condition="$fsc->get_messages()"}
   <div class="message">
      {loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}
   </div>
{/if}

{if condition="$fsc->results"}
<table class="list">
   <tr>
      <th>Referencia + descripción</th>
      <th>Cod. equivalencia</th>
      <th align="right">PVP</th>
      <th align="right">PVP+IVA</th>
      <th align="right">Stock</th>
   </tr>
   {loop="$fsc->results"}
   <tr>
      {if condition="$value->bloqueado"}<td class="locked">{else}<td>{/if}
         <a class="link" href="#new_line" onclick="get_precios('{$value->referencia}')">[+]</a>
         <a class="link" href="#new_line" onclick="add_articulo('{$value->referencia}','{$value->get_descripcion_64()}','{$value->pvp}','0','{$value->get_iva()}')">
            {$value->referencia}</a> {$value->descripcion}
      </td>
      <td>{$value->equivalencia}</td>
      <td align="right">
         <span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp)}</span>
      </td>
      <td align="right">
         <span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp_iva())}</span>
      </td>
      <td align="right">{$value->stockfis}</td>
   </tr>
   {/loop}
</table>
{else}
<div class="message">
   No se han encontrado resultados para la búsqueda <b>{$fsc->query}</b>.
   <br/><br/>
   Si lo desea puede crear el artículo <b>{$fsc->query}</b> desde el siguiente formulario:
   <br/>
   {if condition="$fsc->familia->all()"}
   <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post">
      <b>Referencia</b>: <input type="text" name="referencia" value="{$fsc->query}" size="20" maxlength="18" autocomplete="off"/>
      <a class="link" href="{$fsc->familia->url()}">Familia</a>:
      <select name="codfamilia">
         {loop="$fsc->familia->all()"}
            <option value="{$value->codfamilia}">{$value->descripcion}</option>
         {/loop}
      </select>
      <a class="link" href="{$fsc->impuesto->url()}">IVA</a>:
      <select name="codimpuesto">
         {loop="$fsc->impuesto->all()"}
            {if condition="$value->is_default()"}
               <option value="{$value->codimpuesto}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->codimpuesto}">{$value->descripcion}</option>
            {/if}
         {/loop}
      </select>
      <input class="submit" type="submit" value="nuevo" onclick="this.disabled=true;new_articulo();return false;"/>
   </form>
   {else}
   No hay <a target="_blank" href="{$fsc->familia->url()}">familias</a> creadas. Debes crear al menos una.
   {/if}
</div>
{/if}