<!--{$fsc->query}-->

{if condition="$fsc->get_errors()"}
<div class="alert alert-danger">
   <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}
{if condition="$fsc->get_messages()"}
<div class="alert alert-info">
   <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
</div>
{/if}

{if condition="$fsc->results"}
<div class="table-responsive">
   <table class="table table-responsive">
      <thead>
         <tr>
            <th class="text-left">Referencia + Descripción</th>
            <th class="text-right">PVP</th>
            <th class="text-right">PVP+IVA</th>
            <th class="text-right">Stock</th>
         </tr>
      </thead>
      {loop="$fsc->results"}
         {if="$value->sevende"}
         <tr{if condition="$value->bloqueado"} class="bg-danger"{elseif condition="$value->stockfis<=0"} class="bg-warning"{else} class="bg-success"{/if}>
            <td>
               <a href="#" onclick="get_precios('{$value->referencia}')" title="más detalles"><span class="glyphicon glyphicon-eye-open"></span></a> &nbsp;
               <a href="#" onclick="add_articulo('{$value->referencia}','{$value->get_descripcion_64()}','{$value->pvp}','0','{$value->get_iva()}')">
                  {$value->referencia}</a> {$value->descripcion}
            </td>
            <td class="text-right">
               <span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp)}</span>
            </td>
            <td class="text-right">
               <span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp_iva())}</span>
            </td>
            <td class="text-right">{$value->stockfis}</td>
         </tr>
         {/if}
      {/loop}
   </table>
</div>
{else}
<div class="alert alert-info">Sin resultados</div>
{/if}