{if condition="$fsc->get_errors()"}
   <div class="alert alert-danger">
      <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
   </div>
{/if}
{if condition="$fsc->get_messages()"}
   <div class="alert alert-info">
      <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
   </div>
{/if}

{if condition="$fsc->articulo"}
   {if condition="$fsc->buscar_tipo=='albcli'"}
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><span class="text-capitalize">{#FS_ALBARANES#}</span> de cliente</h4>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left text-capitalize">{#FS_ALBARAN#}</th>
               <th class="text-left">Descripción</th>
               <th class="text-right">Cantidad</th>
               <th class="text-right">Total+IVA</th>
               <th class="text-right">Fecha</th>
            </tr>
         </thead>
         {loop="$fsc->buscar_resultados"}
         <tr>
            <td><a target="_blank" href="{$value->url()}">{$value->show_codigo()}</a></td>
            <td>{$value->descripcion}</td>
            <td class="text-right">{$value->cantidad}</td>
            <td class="text-right">{$fsc->show_precio($value->total_iva())}</td>
            <td class="text-right">{$value->show_fecha()}</td>
         </tr>
         {else}
         <tr class="bg-warning"><td colspan="5" class="text-center">Sin resultados.</td></tr>
         {/loop}
      </table>
      <ul class="pager">
         {if condition="$fsc->buscar_offset > 0"}
         <li>
            <a class="previous" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset-$fsc->buscar_limit}');">
               <span class="glyphicon glyphicon-chevron-left"></span>
               &nbsp; anterior
            </a>
         </li>
         {/if}
         
         {if condition="count($fsc->buscar_resultados) == $fsc->buscar_limit"}
         <li>
            <a class="next" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset+$fsc->buscar_limit}');">
               siguiente &nbsp;
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
         </li>
         {/if}
      </ul>
   </div>
   {elseif condition="$fsc->buscar_tipo=='albpro'"}
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><span class="text-capitalize">{#FS_ALBARANES#}</span> de proveedor</h4>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left text-capitalize">{#FS_ALBARAN#}</th>
               <th class="text-left">Descripción</th>
               <th class="text-right">Cantidad</th>
               <th class="text-right">Total+IVA</th>
               <th class="text-right">Fecha</th>
            </tr>
         </thead>
         {loop="$fsc->buscar_resultados"}
         <tr>
            <td><a target="_blank" href="{$value->url()}">{$value->show_codigo()}</a></td>
            <td>{$value->descripcion}</td>
            <td class="text-right">{$value->cantidad}</td>
            <td class="text-right">{$fsc->show_precio($value->total_iva())}</td>
            <td class="text-right">{$value->show_fecha()}</td>
         </tr>
         {else}
         <tr class="bg-warning"><td colspan="5" class="text-center">Sin resultados.</td></tr>
         {/loop}
      </table>
      <ul class="pager">
         {if condition="$fsc->buscar_offset > 0"}
         <li>
            <a class="previous" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset-$fsc->buscar_limit}');">
               <span class="glyphicon glyphicon-chevron-left"></span>
               &nbsp; anterior
            </a>
         </li>
         {/if}
         
         {if condition="count($fsc->buscar_resultados) == $fsc->buscar_limit"}
         <li>
            <a class="next" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset+$fsc->buscar_limit}');">
               siguiente &nbsp;
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
         </li>
         {/if}
      </ul>
   </div>
   {elseif condition="$fsc->buscar_tipo=='faccli'"}
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Facturas de cliente</h4>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Factura</th>
               <th class="text-left">Descripción</th>
               <th class="text-right">Cantidad</th>
               <th class="text-right">Total+IVA</th>
               <th class="text-right">Fecha</th>
            </tr>
         </thead>
         {loop="$fsc->buscar_resultados"}
         <tr>
            <td><a target="_blank" href="{$value->url()}">{$value->show_codigo()}</a></td>
            <td>{$value->descripcion}</td>
            <td class="text-right">{$value->cantidad}</td>
            <td class="text-right">{$fsc->show_precio($value->total_iva())}</td>
            <td class="text-right">{$value->show_fecha()}</td>
         </tr>
         {else}
         <tr class="bg-warning"><td colspan="5" class="text-center">Sin resultados.</td></tr>
         {/loop}
      </table>
      <ul class="pager">
         {if condition="$fsc->buscar_offset > 0"}
         <li>
            <a class="previous" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset-$fsc->buscar_limit}');">
               <span class="glyphicon glyphicon-chevron-left"></span>
               &nbsp; anterior
            </a>
         </li>
         {/if}
         
         {if condition="count($fsc->buscar_resultados) == $fsc->buscar_limit"}
         <li>
            <a class="next" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset+$fsc->buscar_limit}');">
               siguiente &nbsp;
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
         </li>
         {/if}
      </ul>
   </div>
   {elseif condition="$fsc->buscar_tipo=='facpro'"}
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Factuas de proveedor</h4>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Factura</th>
               <th class="text-left">Descripción</th>
               <th class="text-right">Cantidad</th>
               <th class="text-right">Total+IVA</th>
               <th class="text-right">Fecha</th>
            </tr>
         </thead>
         {loop="$fsc->buscar_resultados"}
         <tr>
            <td><a target="_blank" href="{$value->url()}">{$value->show_codigo()}</a></td>
            <td>{$value->descripcion}</td>
            <td class="text-right">{$value->cantidad}</td>
            <td class="text-right">{$fsc->show_precio($value->total_iva())}</td>
            <td class="text-right">{$value->show_fecha()}</td>
         </tr>
         {else}
         <tr class="bg-warning"><td colspan="5" class="text-center">Sin resultados.</td></tr>
         {/loop}
      </table>
      <ul class="pager">
         {if condition="$fsc->buscar_offset > 0"}
         <li>
            <a class="previous" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset-$fsc->buscar_limit}');">
               <span class="glyphicon glyphicon-chevron-left"></span>
               &nbsp; anterior
            </a>
         </li>
         {/if}
         
         {if condition="count($fsc->buscar_resultados) == $fsc->buscar_limit"}
         <li>
            <a class="next" href="#" onclick="buscar_articulo_en('{$fsc->buscar_tipo}', '{$fsc->buscar_offset+$fsc->buscar_limit}');">
               siguiente &nbsp;
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
         </li>
         {/if}
      </ul>
   {else}
      ¡Tipo desconocido!
   {/if}
{else}
   <div class="error">Artículo no encontrado</div>
{/if}
