{if condition="$fsc->familia"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th>Artículos</th>
            <th>En stock</th>
            <th>Públicos</th>
            <th>Bloqueados</th>
            <th>Último artículo modificado</th>
         </tr>
      </thead>
      <tr>
         <td class="text-center">{$fsc->familia->stats['articulos']}</td>
         <td class="text-center">{$fsc->familia->stats['con_stock']}</td>
         <td class="text-center">{$fsc->familia->stats['publicos']}</td>
         <td class="text-center">{$fsc->familia->stats['bloqueados']}</td>
         <td class="text-center">{$fsc->familia->stats['factualizado']}</td>
      </tr>
   </table>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <caption>Proveedores:</caption>
      <thead>
         <tr>
            <th class="text-left">Código</th>
            <th class="text-left">Proveedor</th>
            <th>Teléfono 1</th>
            <th>Teléfono 2</th>
         </tr>
      </thead>
      {loop="$fsc->familia->proveedores()"}
      <tr>
         <td><a href="{$value->url()}">{$value->codproveedor}</a></td>
         <td>{$value->nombre}</td>
         <td>{$value->telefono1}</td>
         <td>{$value->telefono2}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="4" class="text-center">Sin proveedores.</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}
