<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : settings.xml
    Created on : 12 de septiembre de 2017
    Author     : jcuello@artextrading.com
    Description:
        Structure for the settings table.
-->


<table>
    <column>
        <name>name</name>
        <type>character varying(50)</type>
        <null>NO</null>
    </column>
    <column>
        <name>properties</name>
        <type>text</type>
    </column>
    <constraint>
        <name>settings_pkey</name>
        <type>PRIMARY KEY (name)</type>
    </constraint>
</table>