<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="1">
        <title>{{ i18n.trans('installer') }}</title>
        <meta name="description" content="{{ i18n.trans('meta-description') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="{{ i18n.trans('facturascripts') }}" />
    </head>
    <body>
        <h1>{{ i18n.trans('reloading') }}</h1>
    </body>
</html>
