<!DOCTYPE html>
<html>
    <head>
        <title>[[title]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #body {
                background-color: whitesmoke;
            }
            .container {
                padding: 20px 10px 30px 10px;
                background-color: white;
                border: 1px solid silver;
            }
            .text-center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="body">
            <table width="100%">
                <tr>
                    <td width="50"></td>
                    <td>
                        <h3 class="text-center">[[company]]</h3>
                        <div class="container">[[body]]</div>
                        <p class="text-center">[[footer]]</p>
                    </td>
                    <td width="50"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
