{include="header"}

<div class='well well-sm'>
   <h1>Acceso denegado</h1>
   <table width='100%'>
      <tr>
         <td valign='top'>
            <ul>
               <li>No tienes permiso para acceder a esta página.</li>
               <li>Consulta con el administrador <u>para que te dé acceso</u> a esta página.</li>
               <li>Si crees que es un error de FacturaScripts, no dudes en notificármelo.
                  <b>Haz clic en el botón de ayuda</b>, abajo a la derecha y <b>notifícame el error</b>.
               </li>
            </ul>
         </td>
         <td class="text-right" valign='top'>
            <img src='view/img/big_lock.png' alt="Acceso denegado"/>
         </td>
      </tr>
   </table>
</div>

{include="footer"}