{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      var i = 0;
      while( $("#delete_"+i).length > 0 )
      {
         $("#delete_"+i).attr('checked', true);
         i++;
      }
   }
   function fs_marcar_nada()
   {
      var i = 0;
      while( $("#delete_"+i).length > 0 )
      {
         $("#delete_"+i).attr('checked', false);
         i++;
      }
   }
   $(document).ready(function() {
      $("#b_nueva_divisa").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nueva_divisa');
         document.f_nueva_divisa.coddivisa.focus();
      });
   });
</script>

<div class="popup" id="popup_nueva_divisa">
   <h1>Nueva divisa</h1>
   <form name="f_nueva_divisa" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td><input type="text" name="coddivisa" size="3" maxlength="3" autocomplete="off"/></td>
            <td align="right">Símbolo:</td>
            <td><input type="text" name="simbolo" value="?" size="5" maxlength="10" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Descripción:</td>
            <td colspan="3"><input class="full" type="text" name="descripcion" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Código ISO:</td>
            <td><input type="text" name="codiso" size="3" maxlength="3" autocomplete="off"/></td>
            <td align="right">&nbsp; Tasa de conversión:</td>
            <td><input type="text" name="tasaconv" value="1" size="5" autocomplete="off"/></td>
         </tr>
         <tr>
            <td colspan="4" align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="rounded">
   <form action="{$fsc->url()}" method="POST">
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
      
      <br/>
      
      <table class="list">
         <tr>
            <th>Eliminar</th>
            <th align="left">Código</th>
            <th align="left">Símbolo</th>
            <th align="left">Descripción</th>
            <th align="left">Código ISO</th>
            <th align="left">Tasa de conversión</th>
         </tr>
         {loop="$fsc->divisa->all()"}
         <tr>
            <td align="center">
               <input type="checkbox" id="delete_{$counter}" name="delete_{$counter}" value="TRUE"/>
            </td>
            <td>
               {$value->coddivisa}
               <input type="hidden" name="coddivisa_{$counter}" value="{$value->coddivisa}"/>
            </td>
            <td>
               <input class="full" type="text" name="simbolo_{$counter}" value="{$value->simbolo}" size="5" maxlength="10" autocomplete="off"/>
            </td>
            <td>
               <input class="full" type="text" name="descripcion_{$counter}" value="{$value->descripcion}" size="60" autocomplete="off"/>
            </td>
            <td>
               <input class="full" type="text" name="codiso_{$counter}" value="{$value->codiso}" size="3" maxlength="3" autocomplete="off"/>
            </td>
            <td>
               <input class="full" type="text" name="tasaconv_{$counter}" value="{$value->tasaconv}" size="5" autocomplete="off"/>
            </td>
         </tr>
         {/loop}
         <tr>
            <td colspan="6">
               <div class="new_line">
                  <a id="b_nueva_divisa" href="#">Nueva divisa</a>
               </div>
            </td>
         </tr>
      </table>
      
      <br/>
      
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
   </form>
</div>

{include="footer"}