{include="header"}

<div class="rounded">
   <table class="list">
      <tr>
         <td align="right"><b>FacturaScripts:</b></td>
         <td>{$fsc->version()}</td>
      </tr>
      <tr>
         <td align="right"><b>PHP:</b></td>
         <td>{$fsc->php_version()}</td>
      </tr>
      <tr>
         <td align="right"><b>PostgreSQL:</b></td>
         <td>{$fsc->pg_version()}</td>
      </tr>
      <tr>
         <td align="right"><b>Sistema Operativo:</b></td>
         <td>{$fsc->uname()}</td>
      </tr>
      <tr>
         <td align="right"><b>Uptime:</b></td>
         <td>{$fsc->sys_uptime()}</td>
      </tr>
      <tr>
         <td align="right"><b>Memoria:</b></td>
         <td><pre>{$fsc->sys_free()}</pre></td>
      </tr>
      <tr>
         <td align="right"><b>Disco duro:</b></td>
         <td><pre>{$fsc->sys_df()}</pre></td>
      </tr>
   </table>
</div>

{include="footer"}