{% extends "fs_template.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    {{ i18n.trans('hello-world') }}
                    <a href="{{ fsc.url() }}" class="btn btn-xs btn-default">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </h1>
                <p class="help-block">{{ i18n.trans('hello-world-text') }}</p>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ylji2qliU44" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i> plugins
            </h2>
            <a href="{{ fsc.url() }}&enable=test" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i> {{ i18n.trans('enable-plugin') }}: test
            </a>
        </div>
        <div class="col-sm-6">
            <h3>
                <i class="fa fa-check-square-o" aria-hidden="true"></i> TO-DO
            </h3>
            <p class="help-block">{{ i18n.trans('to-do-list') }}</p>
        </div>
    </div>
</div>
{% endblock %}