{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_usuario, #b_nuevo_usuario2").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_usuario").modal('show');
         document.f_nuevo_usuario.nnick.focus();
      });
   });
</script>

<div class="modal" id="modal_nuevo_usuario">
   <div class="modal-dialog">
      <div class="modal-content">
         <form name="f_nuevo_usuario" class="form" role="form" action="{$fsc->page->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo usuario</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Nick:
                  <input class="form-control" type="text" name="nnick" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Contraseña:
                  <input class="form-control" type="password" name="npassword"/>
               </div>
               <div class="form-group">
                  <label>
                     <input type="checkbox" name="nadmin" value="TRUE"/>
                     Administrador
                  </label>
               </div>
               <div class="form-group">
                  <a target="_blank" href="{$fsc->agente->url()}">Agente</a>:
                  <select name="ncodagente" class="form-control">
                     <option value="">Ninguno</option>
                     {loop="$fsc->agente->all()"}
                     <option value="{$value->codagente}">{$value->get_fullname()}</option>
                     {/loop}
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="table-responsive" style="margin: 5px;">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Nick</th>
            <th class="text-left">Agente</th>
            <th>Administrador</th>
            <th>IP</th>
            <th class="text-left">Página de inicio</th>
            <th>Ejercicio</th>
            <th class="text-right">Último login</th>
         </tr>
      </thead>
      {loop="$fsc->user->all()"}
      <tr>
         <td><a href="{$value->url()}">{$value->nick}</a></td>
         <td>{$value->get_agente_fullname()}</td>
         <td align="center">{if condition="$value->admin"}Si{else}-{/if}</td>
         <td align="center">{$value->last_ip}</td>
         <td>{$value->fs_page}</td>
         <td align="center">{$value->codejercicio}</td>
         <td class="text-right">{$value->show_last_login()}</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}
