{include="header"}

<div class="rounded">
   <h1>Errores en los asientos:</h1>
   <table class="list">
      <tr>
         <th align="left">Ejercicio</th>
         <th align="left">Número</th>
         <th align="left">Concepto</th>
         <th align="right">Importe</th>
         <th align="right">Fecha</th>
      </tr>
      {loop="$fsc->asiento->descuadrados()"}
      <tr>
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->numero}</a></td>
         <td><a href="{$value->url()}">{$value->concepto}</a></td>
         <td align="right">{$value->show_importe()} €</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {else}
      <tr>
         <td colspan="5">No hay asientos descuadrados.</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="rounded">
   <h1>Errores en las partidas:</h1>
   <table class="list">
      <tr>
         <th align="left">Asiento</th>
         <th>Concepto</th>
         <th>Subcuenta</th>
      </tr>
      {loop="$fsc->partida->erroneas()"}
      <tr>
         <td><a href="{$value->url()}">{$value->idasiento}</a></td>
         <td>{$value->concepto}</td>
         <td align="center"><a href="{$value->subcuenta_url()}">{$value->codsubcuenta}</a></td>
      </tr>
      {else}
      <tr>
         <td colspan="3">Ningún error detectado.</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}