{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_enable_pages input:checkbox').attr('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_enable_pages input:checkbox').attr('checked', false);
   }
</script>

<div class="rounded">
   <form id="f_enable_pages" action="{$fsc->url()}" method="post">
      <input type="hidden" name="modpages" value="TRUE"/>
      <div>
         <input class="button" type="button" value="Todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="Nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
      <br/>
      
      <table class="list">
         <tr>
            <th align="left">página</th>
            <th align="left">menú</th>
            <th align="left">versión</th>
            <th>en menú</th>
            <th>importante</th>
            <th>existe</th>
         </tr>
         {loop="$fsc->paginas"}
         <tr>
            <td{if condition="!$value->exists"} class="locked"{/if}>
               {if condition="$value->enabled"}
               <input type="checkbox" name="enabled[]" value="{$value->name}" checked="checked"/>
               {else}
               <input type="checkbox" name="enabled[]" value="{$value->name}"/>
               {/if}
               <a class="link" target="_blank" href="{$value->url()}">{$value->name}</a>
            </td>
            <td>{$value->folder} » {$value->title}</td>
            <td>{$value->version}</td>
            <td align="center">{if condition="$value->show_on_menu"}Si{else}-{/if}</td>
            <td align="center">{if condition="$value->important"}Si{else}-{/if}</td>
            <td align="center">{if condition="$value->exists"}Si{else}-{/if}</td>
         </tr>
         {/loop}
      </table>
      
      <br/>
      <div>
         <input class="button" type="button" value="Todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="Nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
   </form>
</div>

{if condition="!$demo"}
<div class="rounded">
   <table>
      <tr>
         <td>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
               <input type="hidden" name="cmd" value="_s-xclick"/>
               <input type="hidden" name="hosted_button_id" value="NXUH3XYDVPQBG"/>
               <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet."/>
               <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1"/>
            </form>
         </td>
         <td>
            <h1>¿Necesitas un plugin?</h1>
            Pues mándame un email a <b>neorazorx@gmail.com</b> y no te olvides de hacer una donación ;-)
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}