{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_usuario").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nuevo_usuario');
         document.f_nuevo_usuario.nnick.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_usuario">
   <h1>Nuevo usuario</h1>
   <form name="f_nuevo_usuario" action="{$fsc->page->url()}" method="POST">
      <table>
         <tr>
            <td align="right">Nick:</td>
            <td><input type="text" name="nnick"  size="12" maxlength="12" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="npassword"  size="12" maxlength="12"/></td>
         </tr>
         <tr>
            <td align="right"><a href="{$fsc->agente->url()}">Agentes</a>:</td>
            <td>
               <select name="ncodagente">
               {loop="$fsc->agente->all()"}
                  <option value="{$value->codagente}">{$value->get_fullname()}</option>
               {/loop}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right"><input type="checkbox" name="nadmin" value="TRUE" id="usuario_admin"/></td>
            <td><label for="usuario_admin">Administrador</label></td>
         </tr>
         <tr>
            <td colspan="2" align="right"><input type="submit" value="nuevo"/></td>
         </tr>
      </table>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>nick</th>
         <th>agente</th>
         <th>administrador</th>
         <th>IP</th>
         <th>Navegador</th>
         <th align="right">último login</th>
      </tr>
      {loop="$fsc->user->all()"}
      <tr>
         <td><a href="{$value->url()}">{$value->nick}</a></td>
         <td><a href="{$value->get_agente_url()}">{$value->get_agente_fullname()}</a></td>
         {if condition="$value->admin"}
            <td align="center">Si</td>
         {else}
            <td align="center">-</td>
         {/if}
         <td align="center">{$value->last_ip}</td>
         <td align="center">{$value->last_browser}</td>
         <td align="right">{$value->show_last_login()}</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}