{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_enable_pages input:checkbox').attr('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_enable_pages input:checkbox').attr('checked', false);
   }
</script>

<div class="rounded">
   <form id="f_enable_pages" action="{$fsc->url()}" method="post">
      <input type="hidden" name="modpages" value="TRUE"/>
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
      <br/>
      
      <table class="list">
         <tr>
            <th align="left">página</th>
            <th align="left">carpeta</th>
            <th align="left">titulo</th>
            <th align="left">versión</th>
            <th>en menú</th>
            <th>importante</th>
            <th>existe</th>
         </tr>
         {loop="$fsc->paginas"}
         <tr>
            {if condition="$value->exists"}
            <td>
            {else}
            <td class="locked">
            {/if}
               {if condition="$value->enabled"}
               <input type="checkbox" name="enabled[]" value="{$value->name}" checked="checked"/>
               {else}
               <input type="checkbox" name="enabled[]" value="{$value->name}"/>
               {/if}
               <a class="link" target="_blank" href="{$value->url()}">{$value->name}</a>
            </td>
            <td>{$value->folder}</td>
            <td>{$value->title}</td>
            <td>{$value->version}</td>
            <td align="center">{if condition="$value->show_on_menu"}Si{else}-{/if}</td>
            <td align="center">{if condition="$value->important"}Si{else}-{/if}</td>
            <td align="center">{if condition="$value->exists"}Si{else}-{/if}</td>
         </tr>
         {/loop}
      </table>
      
      <br/>
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
   </form>
</div>

{include="footer"}