{include="header"}

<div class="rounded">
   <table class="list">
      <tr>
         <th><b>FacturaScripts</b></th>
         <th><b>PHP</b></th>
         <th><b>Base de datos</b></th>
         <th><b>Motor de base de datos</b></th>
         <th><b>Memcache</b></th>
      </tr>
      <tr>
         <td align="center">{$fsc->version()}</td>
         <td align="center">{$fsc->php_version()}</td>
         <td align="center">{$fsc->fs_db_name()}</td>
         <td align="center">{$fsc->fs_db_version()}</td>
         <td align="center">{$fsc->cache_version()}</td>
      </tr>
   </table>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <td align="right"><b>Sistema Operativo:</b></td>
         <td>{$fsc->uname()}</td>
      </tr>
      {if condition="$fsc->linux()"}
      <tr>
         <td align="right"><b>Uptime:</b></td>
         <td>{$fsc->sys_uptime()}</td>
      </tr>
      <tr>
         <td align="right"><b>Memoria:</b></td>
         <td><pre>{$fsc->sys_free()}</pre></td>
      </tr>
      <tr>
         <td align="right"><b>Disco duro:</b></td>
         <td><pre>{$fsc->sys_df()}</pre></td>
      </tr>
      {/if}
   </table>
</div>

<div class="rounded">
   <h1>Bloqueos en la base de datos:</h1>
   <table class="list">
      <tr>
         <th align="left">Base de datos</th>
         <th align="left">relname</th>
         <th align="left">relation</th>
         <th align="left">transaction ID</th>
         <th align="left">PID</th>
         <th align="left">modo</th>
         <th align="left">granted</th>
      </tr>
      {loop="$fsc->get_locks()"}
      <tr>
         <td>{$value.database}</td>
         <td>{$value.relname}</td>
         <td>{$value.relation}</td>
         <td>{$value.transactionid}</td>
         <td>{$value.pid}</td>
         <td>{$value.mode}</td>
         <td>{$value.granted}</td>
      </tr>
      {else}
      <tr>
         <td colspan="7">Ningún bloqueo detectado.</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}