{include="header"}

{if condition="$fsc->suser"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_eliminar_usuario").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar el usuario?") )
            window.location.href = '{$fsc->ppage->url()}&delete={$fsc->suser->nick}';
      });
   });
</script>

<div class="rounded">
   <form action="{$fsc->url()}" method="POST">
   <h1>
      Datos de usuario:
      <span><input type="submit" value="guardar"/></span>
   </h1>
   <div class="bloque">Nick: <input type="text" value="{$fsc->suser->nick}" size="12" maxlength="12" disabled="disabled"/></div>
   <div class="bloque">Contraseña: <input type="password" name="spassword" size="12" maxlength="12"/></div>
   <div class="bloque">
      <a href="{$fsc->agente->url()}">Agente</a>:
      <select name="scodagente">
      {loop="$fsc->agente->all()"}
         {if condition="$fsc->suser->codagente == $value->codagente"}
         <option value="{$value->codagente}" selected="selected">{$value->get_fullname()}</option>
         {else}
         <option value="{$value->codagente}">{$value->get_fullname()}</option>
         {/if}
      {/loop}
      </select>
   </div>
   <div class="bloque">
      {if condition="$fsc->suser->admin"}
         <input type="checkbox" name="sadmin" value="TRUE" checked="checked" id="usuario_admin"/>
      {else}
         <input type="checkbox" name="sadmin" value="TRUE" id="usuario_admin"/>
      {/if}
      <label for="usuario_admin">Administrador</label>
   </div>
   </form>
</div>
{if condition="!$fsc->suser->admin"}
<div class="rounded">
   <h1>Acceso:</h1>
   <table class="list">
      <tr>
         <th>Página</th>
         <th>Denegado</th>
         <th>Permitido</th>
      </tr>
      {loop="$fsc->all()"}
      <tr>
         <td>{$value->name}</td>
         {if condition="$value->enabled"}
            <td>-</td>
            <td><a href="{$fsc->url()}&amp;disable={$value->name}">denegar</a></td>
         {else}
            <td><a href="{$fsc->url()}&amp;enable={$value->name}">permitir</a></td>
            <td>-</td>
         {/if}
      </tr>
      {/loop}
   </table>
</div>
{else}
   <div class="message">Los administradores tienen acceso a cualquier página.</div>
{/if}
{/if}

{include="footer"}