{include="header"}

{if condition="FS_DEMO"}
<div class="text-center">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{else}
<div class="container-fluid" style="margin-top: 15px;">
   <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
         <div class="list-group">
            <a href="{$fsc->url()}" class="list-group-item{if condition="!$fsc->unstables"} active{/if}">Estables</a>
            <a href="{$fsc->url()}&unstable=TRUE" class="list-group-item{if condition="$fsc->unstables"} active{/if}">
               <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> &nbsp; Inestables
            </a>
         </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10">
         <div class="panel-group" id="accordion">
            {loop="$fsc->plugins()"}
            <div class="panel{if condition="$value['enabled']"} panel-success{else} panel-default{/if}">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     {if condition="$fsc->unstables"}
                     <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="Esta plugin está en desarrollo y puede dar probemas"></span> &nbsp;
                     {/if}
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{$counter}">{$value['name']}</a>
                  </h3>
               </div>
               <div id="collapse_{$counter}" class="panel-collapse collapse{if condition="$counter==0"} in{/if}">
                  <div class="panel-body">
                     {$value['description']}
                  </div>
                  <div class="panel-footer">
                     {if condition="$fsc->unstables"}
                        {if condition="$value['enabled']"}
                        <a class="btn btn-sm btn-danger" type="button" value="Desactivar" title="Desactivar" href="{$fsc->url()}&unstable=TRUE&disable={$value['name']}">
                            <span class="glyphicon glyphicon-remove"></span>
                            &nbsp; Desactivar
                        </a>
                        {else}
                        <a class="btn btn-sm btn-success" type="button" value="Activar" title="Activar" href="{$fsc->url()}&unstable=TRUE&enable={$value['name']}">
                            <span class="glyphicon glyphicon-ok"></span>
                            &nbsp; Activar
                        </a>
                        {/if}
                     {else}
                        {if condition="$value['enabled']"}
                        <a class="btn btn-sm btn-danger" type="button" value="Desactivar" title="Desactivar" href="{$fsc->url()}&disable={$value['name']}">
                            <span class="glyphicon glyphicon-remove"></span>
                            &nbsp; Desactivar
                        </a>
                        {else}
                        <a class="btn btn-sm btn-success" type="button" value="Activar" title="Activar" href="{$fsc->url()}&enable={$value['name']}">
                            <span class="glyphicon glyphicon-ok"></span>
                            &nbsp; Activar
                        </a>
                        {/if}
                     {/if}
                  </div>
               </div>
            </div>
            {/loop}
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}