{include="header"}

<div class="rounded">
   <form action="{$fsc->page->url()}" method="POST">
      <h1>
         Datos de la empresa:
         <span><input type="submit" value="guardar"/></span>
      </h1>
      <div class="bloque">
         Nombre:
         <input type="text" name="nombre" size="60" value="{$fsc->empresa->nombre}" autocomplete="off"/>
      </div>
      <div class="bloque">
         cif/nif:
         <input type="text" name="cifnif" size="12" value="{$fsc->empresa->cifnif}" autocomplete="off"/>
      </div>
      <div class="bloque">
         administrador:
         <input type="text" name="administrador" size="60" value="{$fsc->empresa->administrador}" autocomplete="off"/>
      </div>
      <br/>
      <div class="bloque">
         <a href="{$fsc->pais->url()}">País</a>:
         <select name="codpais">
         {loop="$fsc->pais->all()"}
            {if condition="$fsc->empresa->codpais == $value->codpais"}
               <option value="{$value->codpais}" selected="selected">{$value->nombre}</option>
            {else}
               <option value="{$value->codpais}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         provincia:
         <input type="text" name="provincia" size="20" value="{$fsc->empresa->provincia}" autocomplete="off"/>
      </div>
      <div class="bloque">
         ciudad:
         <input type="text" name="ciudad" size="20" value="{$fsc->empresa->ciudad}" autocomplete="off"/>
      </div>
      <div class="bloque">
         dirección:
         <input type="text" name="direccion" size="60" value="{$fsc->empresa->direccion}" autocomplete="off"/>
      </div>
      <div class="bloque">
         código postal:
         <input type="text" name="codpostal" size="6" value="{$fsc->empresa->codpostal}" autocomplete="off"/>
      </div>
      <br/>
      <div class="bloque">
         Teléfono:
         <input type="text" name="telefono" size="12" value="{$fsc->empresa->telefono}" autocomplete="off"/>
      </div>
      <div class="bloque">
         fax:
         <input type="text" name="fax" size="12" value="{$fsc->empresa->fax}" autocomplete="off"/>
      </div>
      <br/>
      <div class="bloque">
         Web:
         <input type="text" name="web" size="50" value="{$fsc->empresa->web}" autocomplete="off"/>
      </div>
      <div class="bloque">
         email:
         <input type="text" name="email" size="30" value="{$fsc->empresa->email}" autocomplete="off"/>
      </div>
      <div>
         <div class="bloque">
            Lema:
            <input type="text" name="lema" size="30" maxlength="50" value="{$fsc->empresa->lema}" autocomplete="off"/>
         </div>
         <div class="bloque">
            Horario:
            <input type="text" name="horario" size="50" maxlength="100" value="{$fsc->empresa->horario}" autocomplete="off"/>
         </div>
         Lema y horario aparecen en el ticket.
      </div>
      <br/>
      <div class="bloque">
         {if condition="$fsc->empresa->contintegrada"}
            <input type="checkbox" name="contintegrada" id="contintegrada" value="TRUE" checked="checked"/>
         {else}
            <input type="checkbox" name="contintegrada" id="contintegrada" value="TRUE"/>
         {/if}
         <label for="contintegrada">Contabilidad integrada</label>
      </div>
      <div class="bloque">
         <a href="{$fsc->ejercicio->url()}">Ejercicio</a>:
         <select name="codejercicio">
         {loop="$fsc->ejercicio->all()"}
            {if condition="$fsc->empresa->codejercicio == $value->codejercicio"}
               <option value="{$value->codejercicio}" selected="selected">{$value->nombre}</option>
            {else}
               <option value="{$value->codejercicio}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         <a href="{$fsc->serie->url()}">Serie</a>:
         <select name="codserie">
         {loop="$fsc->serie->all()"}
            {if condition="$fsc->empresa->codserie == $value->codserie"}
               <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->codserie}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         Forma de pago:
         <select name="codpago">
         {loop="$fsc->forma_pago->all()"}
            {if condition="$fsc->empresa->codpago == $value->codpago"}
               <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->codpago}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         Divisa:
         <select name="coddivisa">
         {loop="$fsc->divisa->all()"}
            {if condition="$fsc->empresa->coddivisa == $value->coddivisa"}
               <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->coddivisa}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         <a href="{$fsc->almacen->url()}">Almacén</a>:
         <select name="codalmacen">
         {loop="$fsc->almacen->all()"}
            {if condition="$fsc->empresa->codalmacen == $value->codalmacen"}
               <option value="{$value->codalmacen}" selected="selected">{$value->nombre}</option>
            {else}
               <option value="{$value->codalmacen}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
   </form>
</div>

{include="footer"}