{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_almacen").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nuevo_almacen');
         document.f_nuevo_almacen.scodalmacen.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_almacen">
   <h1>Nuevo almacén</h1>
   <form name="f_nuevo_almacen" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td><input type="text" name="scodalmacen" size="4" maxlength="4" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Nombre:</td>
            <td><input type="text" name="snombre" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Dirección:</td>
            <td><input type="text" name="sdireccion" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Código postal:</td>
            <td><input type="text" name="scodpostal" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Localidad:</td>
            <td><input type="text" name="spoblacion" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Teléfono:</td>
            <td><input type="text" name="stelefono" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Fax:</td>
            <td><input type="text" name="sfax" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Contacto:</td>
            <td><input type="text" name="scontacto" autocomplete="off"/></td>
         </tr>
         <tr>
            <td colspan="2" align="right"><input type="submit" value="guardar"/></td>
         </tr>
      </table>
   </form>
</div>

{loop="$fsc->almacen->all()"}
<div class="rounded">
   <form action="{$fsc->url()}" method="POST">
      <h1>
         Código: {$value->codalmacen}
         <span>
            <a class="remove" href="{$fsc->url()}&amp;delete={$value->codalmacen}">eliminar</a>
            &nbsp;
            <input type="submit" value="guardar"/>
         </span>
      </h1>
      <input type="hidden" name="scodalmacen" value="{$value->codalmacen}"/>
      <div class="bloque">
         Nombre: <input type="text" name="snombre" value="{$value->nombre}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Dirección: <input type="text" name="sdireccion" value="{$value->direccion}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Código postal: <input type="text" name="scodpostal" value="{$value->codpostal}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Población: <input type="text" name="spoblacion" value="{$value->poblacion}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Teléfono: <input type="text" name="stelefono" value="{$value->telefono}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Fax: <input type="text" name="sfax" value="{$value->fax}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Contacto: <input type="text" name="scontacto" value="{$value->contacto}" autocomplete="off"/>
      </div>
   </form>
</div>
{else}
<div class="message">No hay almacenes creados. Puedes crear uno pulsando el botón <b>Nuevo</b>.</div>
{/loop}

{include="footer"}