{include="header"}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th>FacturaScripts</th>
            <th>PHP</th>
            <th>Base de datos</th>
            <th>Motor de base de datos</th>
            <th>Memcache</th>
         </tr>
      </thead>
      <tr>
         <td align="center">{$fsc->version()}</td>
         <td align="center">{$fsc->php_version()}</td>
         <td align="center">{$fsc->fs_db_name()}</td>
         <td align="center">{$fsc->fs_db_version()}</td>
         <td align="center">{$fsc->cache_version()}</td>
      </tr>
   </table>
</div>

<div class="panel-group" id="accordion" style="margin: 10px;">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_so">Sistema operativo</a>
         </h3>
      </div>
      <div id="collapse_so" class="panel-collapse collapse in">
         <div class="panel-body">{$fsc->uname()}</div>
         {if condition="$fsc->linux()"}
         <div class="panel-footer">
            <b>Uptime:</b> {$fsc->sys_uptime()}
         </div>
         {/if}
      </div>
   </div>
   
   {if condition="$fsc->linux()"}
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_mem">Memoria</a>
         </h3>
      </div>
      <div id="collapse_mem" class="panel-collapse collapse">
         <div class="panel-body"><pre>{$fsc->sys_free()}</pre></div>
      </div>
   </div>
   
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_dd">Disco duro</a>
         </h3>
      </div>
      <div id="collapse_dd" class="panel-collapse collapse">
         <div class="panel-body"><pre>{$fsc->sys_df()}</pre></div>
      </div>
   </div>
   {/if}
   
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_bloq">Bloqueos en la base de datos</a>
         </h3>
      </div>
      <div id="collapse_bloq" class="panel-collapse collapse">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Base de datos</th>
                     <th class="text-left">relname</th>
                     <th class="text-left">relation</th>
                     <th class="text-left">transaction ID</th>
                     <th class="text-left">PID</th>
                     <th class="text-left">modo</th>
                     <th class="text-left">granted</th>
                  </tr>
               </thead>
               {loop="$fsc->get_locks()"}
               <tr>
                  <td>{$value.database}</td>
                  <td>{$value.relname}</td>
                  <td>{$value.relation}</td>
                  <td>{$value.transactionid}</td>
                  <td>{$value.pid}</td>
                  <td>{$value.mode}</td>
                  <td>{$value.granted}</td>
               </tr>
               {else}
               <tr><td colspan="7" align="center">Ningún bloqueo detectado</td></tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}