{include="header"}

<div class="rounded">
   <h1>Nuevo agente:</h1>
   <form action ="{$fsc->url()}" method="POST">
      <div class="bloque">
         Código:
         <input type="text" name="scodagente" value="{$fsc->agente->get_new_codigo()}" size="8" maxlength="10"/>
      </div>
      <div class="bloque">Nombre: <input type="text" name="snombre" maxlength="50"/></div>
      <div class="bloque">Apellidos: <input type="text" name="sapellidos" maxlength="100"/></div>
      <div class="bloque">DNI/CIF: <input type="text" name="sdnicif"/></div>
      <div class="bloque">Teléfono: <input type="text" name="stelefono"/></div>
      <div class="bloque">Email: <input type="text" name="semail"/></div>
      <div class="right"><input type="submit" value="nuevo agente"/></div>
   </form>
</div>

{loop="$fsc->agente->all()"}
<div class="rounded">
   <h1>
      Código: <a name="{$value->codagente}">{$value->codagente}</a>
      <span><a href="{$fsc->url()}&amp;delete={$value->codagente}">eliminar</a></span>
   </h1>
   <form action ="{$fsc->url()}" method="POST">
      <input type="hidden" name="scodagente" value="{$value->codagente}"/>
      <div class="bloque">
         Nombre: <input type="text" name="snombre" value="{$value->nombre}" maxlength="50"/>
      </div>
      <div class="bloque">
         Apellidos: <input type="text" name="sapellidos" value="{$value->apellidos}" maxlength="100"/>
      </div>
      <div class="bloque">
         DNI/CIF: <input type="text" name="sdnicif" value="{$value->dnicif}"/>
      </div>
      <div class="bloque">
         Teléfono: <input type="text" name="stelefono" value="{$value->telefono}"/>
      </div>
      <div class="bloque">
         Email: <input type="text" name="semail" value="{$value->email}"/>
      </div>
      <div class="right"><input type="submit" value="modificar"/></div>
   </form>
</div>
{/loop}

{include="footer"}