{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_enable_pages input:checkbox').prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_enable_pages input:checkbox').prop('checked', false);
   }
</script>

<form id="f_enable_pages" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="modpages" value="TRUE"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="btn-group">
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                  <span class="glyphicon glyphicon-check"></span>
               </button>
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                  <span class="glyphicon glyphicon-unchecked"></span>
               </button>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               &nbsp; Guardar
            </button>
         </div>
      </div>
   </div>
   
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Página</th>
               <th class="text-left">Menú</th>
               <th class="text-left">Versión</th>
               <th>Importante</th>
               <th>Existe</th>
            </tr>
         </thead>
         {loop="$fsc->paginas"}
         <tr>
            <td{if condition="!$value->exists"} class="bg-danger"{/if}>
               <input class="checkbox-inline" type="checkbox" name="enabled[]" value="{$value->name}"{if condition="$value->enabled"} checked="checked"{/if}/>
               &nbsp; <a target="_blank" href="{$value->url()}">{$value->name}</a>
            </td>
            <td>
               {if condition="$value->show_on_menu"}
                  {$value->folder} » {$value->title}
               {else}
                  -
               {/if}
            </td>
            <td>{$value->version}</td>
            <td align="center">{if condition="$value->important"}Si{else}-{/if}</td>
            <td align="center">{if condition="$value->exists"}Si{else}-{/if}</td>
         </tr>
         {/loop}
      </table>
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="btn-group">
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                  <span class="glyphicon glyphicon-check"></span>
               </button>
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                  <span class="glyphicon glyphicon-unchecked"></span>
               </button>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               &nbsp; Guardar
            </button>
         </div>
      </div>
   </div>
</form>

{include="footer"}
