{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_agente").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_nuevo_agente").css({
            left: ($(window).width() - $("#popup_nuevo_agente").outerWidth())/2,
            top: ($(window).height() - $("#popup_nuevo_agente").outerHeight())/2
         });
         $("#popup_nuevo_agente").show();
         $("#popup_message").show();
         document.f_nuevo_agente.snombre.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_agente">
   <h1>Nuevo agente:</h1>
   <form name="f_nuevo_agente" action ="{$fsc->url()}" method="POST">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td>
               <input type="text" name="scodagente" value="{$fsc->agente->get_new_codigo()}" size="8" maxlength="10" autocomplete="off"/>
            </td>
         </tr>
         <tr>
            <td align="right">Nombre:</td>
            <td><input type="text" name="snombre" maxlength="50" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Apellidos:</td>
            <td><input type="text" name="sapellidos" maxlength="100" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">CIF/NIF:</td>
            <td><input type="text" name="sdnicif" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Teléfono:</td>
            <td><input type="text" name="stelefono" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Email:</td>
            <td><input type="text" name="semail" autocomplete="off"/></td>
         </tr>
      </table>
      <div class="right"><input type="submit" value="nuevo"/></div>
   </form>
</div>

{loop="$fsc->agente->all()"}
<div class="rounded">
   <form action ="{$fsc->url()}" method="POST">
      <h1>
         Código: <a name="{$value->codagente}">{$value->codagente}</a>
         <span>
            <a class="remove" href="{$fsc->url()}&amp;delete={$value->codagente}">eliminar</a>
            &nbsp;
            <input type="submit" value="modificar"/>
         </span>
      </h1>
      <input type="hidden" name="scodagente" value="{$value->codagente}"/>
      <div class="bloque">
         Nombre: <input type="text" name="snombre" value="{$value->nombre}" maxlength="50" autocomplete="off"/>
      </div>
      <div class="bloque">
         Apellidos: <input type="text" name="sapellidos" value="{$value->apellidos}" maxlength="100" autocomplete="off"/>
      </div>
      <div class="bloque">
         DNI/CIF: <input type="text" name="sdnicif" value="{$value->dnicif}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Teléfono: <input type="text" name="stelefono" value="{$value->telefono}" autocomplete="off"/>
      </div>
      <div class="bloque">
         Email: <input type="text" name="semail" value="{$value->email}" autocomplete="off"/>
      </div>
      <div class="right"></div>
   </form>
</div>
{else}
<div class="message">No hay ningún agente creado. Pulsa el botón <b>Nuevo</b> para crear uno.</div>
{/loop}

{include="footer"}