{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      if(window.location.hash.substring(1) == 'nuevo')
      {
         $("#modal_nuevo_proveedor").modal('show');
         document.f_nuevo_proveedor.nombre.focus();
      }
      $("#b_nuevo_proveedor").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_proveedor").modal('show');
         document.f_nuevo_proveedor.nombre.focus();
      });
   });
</script>

{if condition="$fsc->query!=''"}
<h3 class="text-center">Resultados de la búsqueda "{$fsc->query}":</h3>
{/if}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Nombre</th>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">Observaciones</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codproveedor}</a> {$value->nombre}</td>
         <td>{$value->cifnif}</td>
         <td>{$value->observaciones_resume()}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="3">Ningún proveedor encontrado. Pulsa el botón <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if condition="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if condition="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

<div class="modal" id="modal_nuevo_proveedor">
   <div class="modal-dialog">
      <div class="modal-content">
		 <form name="f_nuevo_proveedor" action="{$fsc->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo proveedor</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Nombre:
                  <input class="form-control" type="text" name="nombre" autocomplete="off"/>
               </div>
               <div class="form-group">
                  {#FS_CIFNIF#}:
                  <input class="form-control" type="text" name="cifnif" autocomplete="off"/>
               </div>
               <div class="form-group">
                  <a href="{$fsc->pais->url()}">País</a>:
                  <select class="form-control" name="pais" class="form-control">
                     {loop="$fsc->pais->all()"}
                     <option value="{$value->codpais}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->nombre}</option>
                     {/loop}
                  </select>
               </div>
               <div class="form-group">
                  <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                  <input class="form-control" type="text" name="provincia" autocomplete="off" value="{$fsc->empresa->provincia}"/>
               </div>
               <div class="form-group">
                  Ciudad:
                  <input class="form-control" type="text" name="ciudad" autocomplete="off" value="{$fsc->empresa->ciudad}"/>
               </div>
               <div class="form-group">
                  Código Postal:
                  <input class="form-control" type="text" name="codpostal" autocomplete="off" value="{$fsc->empresa->codpostal}"/>
               </div>
               <div class="form-group">
                  Dirección:
                  <input class="form-control" type="text" name="direccion" value="C/ " autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                   <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                </button>
            </div>
         </form>
      </div>
   </div>
</div>

{include="footer"}