{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
   });
</script>

{if condition="$fsc->query!=''"}
<h3 class="text-center">Resultados de "{$fsc->query}":</h1>
{/if}

<ul class="nav nav-tabs" role="tablist">
   <li{if condition="!isset($_GET['sinpagar'])"} class="active"{/if}><a href="{$fsc->url()}">Todas</a></li>
   <li{if condition="isset($_GET['sinpagar'])"} class="active"{/if}><a href="{$fsc->url()}&sinpagar=TRUE">Sin pagar</a></li>
</ul>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th></th>
            <th class="text-left">Código + Num. Proveedor</th>
            <th class="text-left">Proveedor</th>
            <th class="text-left">Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr{if condition="$value->total<=0"} class="bg-warning"{/if}>
         <td class="text-center">
            {if condition="$value->pagada"}
            <span class="glyphicon glyphicon-ok" title="La factura está pagada"></span>
            {/if}
         </td>
         <td class="text-center">
            {if condition="$value->idasiento"}
            <span class="glyphicon glyphicon-paperclip" title="La factura tiene vinculado un asiento contable"></span>
            {/if}
         </td>
         <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
         <td>{$value->nombre}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right">{$value->fecha}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td></td>
         <td></td>
         <td colspan="5">Ninguna factura encontrada. Pulsa el botón <b>Nueva</b> para crear una.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if condition="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span>
         &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if condition="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp;
         <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

{include="footer"}