{include="header"}

{if condition="$fsc->albaran"}
{if condition="$fsc->albaran->ptefactura"}
<script type="text/javascript" src="view/js/nueva_compra.js"></script>
<script type="text/javascript">
   numlineas = {function="count($fsc->albaran->get_lineas())"};
   fs_nf0 = {#FS_NF0#};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   all_series = {function="json_encode($fsc->serie->all())"};
   proveedor = {function="json_encode($fsc->proveedor_s)"};
   nueva_compra_url = '{$fsc->nuevo_albaran_url}';
   fs_community_url = '{#FS_COMMUNITY_URL#}';
   
   {if condition="$fsc->empresa->recequivalencia"}
   tiene_recargo = true;
   {/if}
   
   $(document).ready(function() {
      $("#numlineas").val(numlineas);
      usar_serie();
      recalcular();
      $("#ac_proveedor").autocomplete({
         serviceUrl: nueva_compra_url,
         paramName: 'buscar_proveedor',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_albaran.proveedor.value != suggestion.data && suggestion.data != '')
               {
                  document.f_albaran.proveedor.value = suggestion.data;
                  usar_proveedor(suggestion.data);
               }
            }
         }
      });
   });
</script>
{/if}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_precios input.cb_update').prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_precios input.cb_update').prop('checked', false);
   }
   $(document).ready(function() {
      $("#b_precios").click(function(event) {
         event.preventDefault();
         $("#modal_precios").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#modal_eliminar").modal('show');
      });
      $("#b_imprimir").click(function(event) {
         event.preventDefault();
         $("#modal_imprimir_albaran").modal('show');
      });
   });
</script>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 1000px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Buscar artículos</h3>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codproveedor" value="{$fsc->albaran->codproveedor}"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Todas las familias</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <ul class="nav nav-tabs" id="nav_articulos" style="display: none;">
            <li id="li_mis_articulos"><a href="#" id="b_mis_articulos">Mi catálogo</a></li>
            <li id="li_kiwimaru"><a href="#" id="b_kiwimaru">Internet</a></li>
            <li id="li_nuevo_articulo"><a href="#" id="b_nuevo_articulo">Nuevo...</a></li>
         </ul>
         <div id="search_results"></div>
         <div id="kiwimaru_results"></div>
         <div id="nuevo_articulo" class="modal-body" style="display: none;">
            <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post" class="form">
               <div class="form-group">
                  Referencia:
                  <input class="form-control" type="text" name="referencia" maxlength="18" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="descripcion" autocomplete="off"/>
               </div>
               <div class="form-group col-lg-6 col-md-6 col-sm-6">
                  <a href="{$fsc->familia->url()}">Familia</a>:
                  <select name="codfamilia" class="form-control">
                  {loop="$fsc->familia->all()"}
                     <option value="{$value->codfamilia}">{$value->descripcion}</option>
                  {/loop}
                  </select>
               </div>
               <div class="form-group col-lg-6 col-md-6 col-sm-6">
                  <a href="{$fsc->impuesto->url()}">IVA</a>:
                  <select name="codimpuesto" class="form-control">
                     {loop="$fsc->impuesto->all()"}
                     <option value="{$value->codimpuesto}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                     {/loop}
                  </select>
               </div>
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="new_articulo();return false;">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                     &nbsp; Guardar y seleccionar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_imprimir_albaran">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Imprimir {#FS_ALBARAN#}</h3>
         </div>
         <div class="modal-body">
            <a class="btn btn-block btn-primary" target="_blank" href="{$fsc->url()}&imprimir=simple">
               <span class="glyphicon glyphicon-print"></span>
               &nbsp; <span class="text-capitalize">{#FS_ALBARAN#}</span> simple
            </a>
            
            <a class="btn btn-block btn-default" target="_blank" href="{$fsc->url()}&imprimir=carta">
               <span class="glyphicon glyphicon-print"></span>
               &nbsp; Cuartilla sin logotipo
            </a>
         </div>
      </div>
   </div>
</div>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->albaran->idalbaran}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3 class="modal-title">¿Realmente desea eliminar este {#FS_ALBARAN#}?</h3>
            </div>
            <div class="modal-footer">
               <div class="pull-left">
                  <label>
                     <input type="checkbox" name="stock" value="TRUE" checked="checked"/>
                     Actualizar el stock
                  </label>
               </div>
               <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span>
                  &nbsp; Eliminar
               </button>
            </div>
            {if condition="$fsc->albaran->idfactura"}
            <div class="alert alert-info">
               Hay una factura asociada que será eliminada junto con este {#FS_ALBARAN#}.
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>

<form id="f_precios" class="form" name="f_precios" action="{$fsc->url()}" method="post">
   <input type="hidden" name="actualizar_precios" value="TRUE"/>
   <div class="modal fade" id="modal_precios">
      <div class="modal-dialog" style="width: 99%; max-width: 950px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3 class="modal-title">Actualizar precios de los artículos</h3>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th width="100">Actualizar</th>
                        <th class="text-left">Artículo</th>
                        <th>Código de barras</th>
                        <th class="text-right">PVP</th>
                        <th width="100" class="text-right">PVP+IVA</th>
                     </tr>
                  </thead>
                  {loop="$fsc->albaran->get_lineas()"}
                  <tr>
                     <td class="text-center">
                        <input class="cb_update" type="checkbox" name="referencia_{$counter}" value="{$value->referencia}" checked="checked"/>
                     </td>
                     <td>
                        <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                        {$value->descripcion}
                     </td>
                     <td>
                        <input class="form-control" type="text" name="codbar_{$counter}" autocomplete="off"/>
                     </td>
                     <td>
                        <div class="form-control">
                           {$fsc->show_numero($value->pvpunitario)}
                        </div>
                     </td>
                     <td>
                        <input class="form-control text-right" type="text" name="pvpiva_{$counter}" value="{$value->pvp_iva()}" autocomplete="off"/>
                     </td>
                  </tr>
                  {/loop}
               </table>
            </div>
            <div class="modal-footer">
               <div class="btn-group pull-left">
                  <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                     <span class="glyphicon glyphicon-check"></span>
                  </button>
                  <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                     <span class="glyphicon glyphicon-unchecked"></span>
                  </button>
               </div>
               
               <label>
                  <input type="checkbox" name="update_all" value="TRUE"/>
                  Actualizar descripción y código de barras
               </label>
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

<form name="f_albaran" action="{$fsc->albaran->url()}" method="post" class="form">
   <input type="hidden" name="idalbaran" value="{$fsc->albaran->idalbaran}"/>
   <input type="hidden" name="proveedor" value="{$fsc->albaran->codproveedor}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            
            <div class="btn-group">
               <a id="b_imprimir" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-print"></span> &nbsp; Imprimir
               </a>
               {if condition="$fsc->albaran->ptefactura"}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&facturar=TRUE&petid={$fsc->random_string()}">
                  <span class="glyphicon glyphicon-paperclip"></span> &nbsp; Aprobar
               </a>
               {else}
               <a class="btn btn-sm btn-default text-capitalize" href="{$fsc->albaran->factura_url()}">
                  <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Ver Factura
               </a>
               {/if}
               <a id="b_precios" class="btn btn-sm btn-default" href="#">
                  &nbsp; Precios
               </a>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
            <div class="btn-group">
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
               </a>
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3 class="text-capitalize">
               <a href="{$fsc->ppage->url()}">{#FS_ALBARANES#}</a> /
               <a href="{$fsc->albaran->proveedor_url()}">{$fsc->albaran->nombre}</a> /
               {$fsc->albaran->codigo}
            </h3>
         </div>
      </div>
      {if condition="$fsc->albaran->ptefactura"}
      <div class="row">
         <div class="col-lg-12">
            <div class="form-group">
               Cliente actual:
               <input class="form-control" type="text" name="ac_proveedor" id="ac_proveedor" value="{$fsc->albaran->nombre}"
                      placeholder="Buscar..." autocomplete="off"/>
            </div>
         </div>
      </div>
      {/if}
      <div class="row">
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Número 2:
               <input class="form-control" type="text" name="numproveedor" value="{$fsc->albaran->numero2}"/>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}">Serie</a>:
               {if condition="$fsc->albaran->ptefactura"}
               <select class="form-control" name="serie" id="codserie" onchange="usar_serie();recalcular();">
               {loop="$fsc->serie->all()"}
                  {if condition="$value->codserie==$fsc->albaran->codserie"}
                  <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
                  {else}
                  <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
               {else}
               <div class="form-control">{$fsc->albaran->codserie}</div>
               {/if}
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->albaran->fecha}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
               Hora:
               <input class="form-control" type="text" name="hora" value="{$fsc->albaran->hora}" autocomplete="off"/>
            </div>
         </div>
         {if condition="$fsc->agente"}
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
               Empleado:
               <div class="form-control">
                  <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
               </div>
            </div>
         </div>
         {/if}
      </div>
   </div>
   
   <div class="table-responsive">
      {if condition="$fsc->albaran->ptefactura"}
      <table class="table table-condensed">
         <thead>
            <tr>
               <th class="text-left">Referencia</th>
               <th class="text-left">Descripción</th>
               <th class="text-right" width="90">Cantidad</th>
               <th></th>
               <th class="text-right">PVP</th>
               <th class="text-right" width="90">Dto. %</th>
               <th class="text-right">Neto</th>
               <th class="text-right" width="115">IVA</th>
               <th class="text-right">RE %</th>
               <th class="text-right">IRPF %</th>
               <th class="text-right">Total</th>
            </tr>
         </thead>
         <tbody id="lineas_albaran">
            {loop="$fsc->albaran->get_lineas()"}
            <tr id="linea_{$counter}">
               <td>
                  <input type="hidden" name="idlinea_{$counter}" value="{$value->idlinea}"/>
                  <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}"/>
                  <div class="form-control">
                     <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                  </div>
               </td>
               <td><input type="text" class="form-control" name="desc_{$counter}" value="{$value->descripcion}" onclick="this.select()"/></td>
               <td>
                  <input type="number" step="any" id="cantidad_{$counter}" class="form-control text-right" name="cantidad_{$counter}"
                         value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
               </td>
               <td>
                  <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter}').remove();recalcular();">
                     <span class="glyphicon glyphicon-trash"></span>
                  </button>
               </td>
               <td>
                  <input type="text" class="form-control text-right" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvpunitario}"
                         onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
               </td>
               <td>
                  <input type="text" id="dto_{$counter}" name="dto_{$counter}" value="{$value->dtopor}" class="form-control text-right"
                         onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
               </td>
               <td>
                  <input type="text" class="form-control text-right" id="neto_{$counter}" name="neto_{$counter}"
                         onchange="ajustar_neto()" onclick="this.select()" autocomplete="off"/>
               </td>
               <td>
                  <select class="form-control" id="iva_{$counter}" name="iva_{$counter}" onchange="ajustar_iva('{$counter}')">
                  {loop="$fsc->impuesto->all()"}
                     {if condition="$value1->codimpuesto==$value2->codimpuesto"}
                     <option value="{$value2->iva}" selected="selected">{$value2->descripcion}</option>
                     {else}
                     <option value="{$value2->iva}">{$value2->descripcion}</option>
                     {/if}
                  {/loop}
                  </select>
               </td>
               <td>
                  <input type="text" class="form-control text-right recargo" id="recargo_{$counter}" name="recargo_{$counter}" value="{$value->recargo}"
                         onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
               </td>
               <td>
                  <div id="irpf_{$counter}" class="form-control text-right irpf">{$fsc->show_numero($value->irpf)}</div>
               </td>
               <td>
                  <input type="text" class="form-control text-right" id="total_{$counter}" name="total_{$counter}"
                         onchange="ajustar_total()" onclick="this.select()" autocomplete="off"/>
               </td>
            </tr>
            {/loop}
         </tbody>
         <tbody>
            <tr class="bg-info">
               <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar..." autocomplete="off"/></td>
               <td colspan="5"></td>
               <td>
                  <div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                  <p class="help-block text-right">{$fsc->show_precio($fsc->albaran->neto)}</p>
               </td>
               <td>
                  <div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                  <p class="help-block text-right">{$fsc->show_precio($fsc->albaran->totaliva)}</p>
               </td>
               <td>
                  <div id="are" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                  <p class="help-block text-right">{$fsc->show_precio($fsc->albaran->totalrecargo)}</p>
               </td>
               <td>
                  <div id="airpf" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                  <p class="help-block text-right">{$fsc->show_precio($fsc->albaran->totalirpf)}</p>
               </td>
               <td>
                  <input type="text" name="atotal" id="atotal" class="form-control text-right" style="font-weight: bold;"
                         value="0" onchange="recalcular()" autocomplete="off"/>
                  <p class="help-block text-right">{$fsc->show_precio($fsc->albaran->total)}</p>
               </td>
            </tr>
         </tbody>
      </table>
      {else}
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Artículo</th>
               <th class="text-right">Cantidad</th>
               <th class="text-right">PVP</th>
               <th class="text-right">Dto</th>
               <th class="text-right">Neto</th>
               <th class="text-right">IVA</th>
               <th class="text-right">RE</th>
               <th class="text-right">IRPF</th>
               <th class="text-right">Total</th>
            </tr>
         </thead>
         {loop="$fsc->albaran->get_lineas()"}
         <tr{if condition="$value->cantidad<1"} class="bg-warning"{/if}>
            <td><a href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}</td>
            <td class="text-right">{$value->cantidad}</td>
            <td class="text-right">{$fsc->show_precio($value->pvpunitario, $fsc->albaran->coddivisa)}</td>
            <td class="text-right">{$fsc->show_numero($value->dtopor, 2)} %</td>
            <td class="text-right">{$fsc->show_precio($value->pvptotal, $fsc->albaran->coddivisa)}</td>
            <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
            <td class="text-right">{$fsc->show_numero($value->recargo, 2)} %</td>
            <td class="text-right">{$fsc->show_numero($value->irpf, 2)} %</td>
            <td class="text-right">{$fsc->show_precio($value->total_iva(), $fsc->albaran->coddivisa)}</td>
         </tr>
         {/loop}
         <tr>
            <td colspan="4"></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}</b></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)}</b></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->totalrecargo, $fsc->albaran->coddivisa)}</b></td>
            <td class="text-right"><b>-{$fsc->show_precio($fsc->albaran->totalirpf, $fsc->albaran->coddivisa)}</b></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}</b></td>
         </tr>
      </table>
      {/if}
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="2">{$fsc->albaran->observaciones}</textarea>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="text-center">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}
