{include="header"}

{if condition="$fsc->factura"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_eliminar', 60);
      });
   });
</script>

<div class="popup" id="popup_eliminar">
   <h1>Eliminar factura</h1>
   {if condition="$fsc->factura->idasiento"}
      <ul>
         <li>Hay un asiento asociado que será eliminado junto con la factura.</li>
      </ul>
   {/if}
   <table width="100%">
      <tr>
         <td>¿Realmente desea eliminar esta factura?</td>
         <td align="right">
            <a class="delete" href="{$fsc->ppage->url()}&delete={$fsc->factura->idfactura}">
               eliminar
            </a>
         </td>
      </tr>
   </table>
</div>

<div class="rounded">
   <form action="{$fsc->factura->url()}" method="post">
      <input type="hidden" name="idfactura" value="{$fsc->factura->idfactura}"/>
      <h1>
         <a class="link" href="{$fsc->factura->proveedor_url()}">{$fsc->factura->nombre}</a>
         <span>
            <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
         </span>
      </h1>
      <div class="bloque">
         Ejercicio: {$fsc->factura->codejercicio}
      </div>
      <div class="bloque">
         Serie: {$fsc->factura->codserie}
      </div>
      <div class="bloque">
         Número: {$fsc->factura->numero}
      </div>
      <div class="bloque">
         Num. Proveedor: <input type="text" name="numproveedor" value="{$fsc->factura->numproveedor}"/>
      </div>
      <div class="bloque">
         Fecha: <input class="tcal" type="text" name="fecha" value="{$fsc->factura->fecha}" size="12"/>
      </div>
      <div>
         Observaciones:<br/>
         <textarea name="observaciones" cols="60">{$fsc->factura->observaciones}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">{$albaran}</th>
         <th align="left">Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">Total</th>
         <th align="right">IVA</th>
         <th align="right">Total+IVA</th>
      </tr>
      {loop="$fsc->factura->get_lineas()"}
      <tr>
         <td>
            <a class="link" href="{$value->albaran_url()}">{$value->albaran_codigo()}</a>
            {$value->albaran_numero()}
         </td>
         <td>
            <a class="link" href="{$value->articulo_url()}">{$value->referencia}</a>
            {$value->descripcion}
         </td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$fsc->show_precio($value->pvpunitario, $fsc->factura->coddivisa)}</td>
         <td align="right">{$fsc->show_numero($value->dtopor, 2)} %</td>
         <td align="right">{$fsc->show_precio($value->pvptotal, $fsc->factura->coddivisa)}</td>
         <td align="right">{$fsc->show_numero($value->iva, 2)} %</td>
         <td align="right">{$fsc->show_precio($value->total_iva(), $fsc->factura->coddivisa)}</td>
      </tr>
      {/loop}
   </table>
</div>

<table width="100%">
   <tr>
      <td valign="top">
         <div class="rounded">
         <table class="list">
            <tr>
               <th align="left">Impuesto</th>
               <th align="right">Neto</th>
               <th align="right">IVA</th>
               <th align="right">Total IVA</th>
               <th align="right">Total</th>
            </tr>
            {loop="$fsc->factura->get_lineas_iva()"}
            <tr>
               <td>{$value->codimpuesto}</td>
               <td align="right">{$fsc->show_precio($value->neto, $fsc->factura->coddivisa)}</td>
               <td align="right">{$fsc->show_numero($value->iva, 2)} %</td>
               <td align="right">{$fsc->show_precio($value->totaliva, $fsc->factura->coddivisa)}</td>
               <td align="right">{$fsc->show_precio($value->totallinea, $fsc->factura->coddivisa)}</td>
            </tr>
            {/loop}
         </table>
         </div>
      </td>
      <td valign="top">
         <div class="rounded">
         <table class="list">
            <tr>
               <th>Neto:</th>
               <th>IVA:</th>
               <th>Total:</th>
            </tr>
            <tr>
               <td align="center">{$fsc->show_precio($fsc->factura->neto, $fsc->factura->coddivisa)}</td>
               <td align="center">{$fsc->show_precio($fsc->factura->totaliva, $fsc->factura->coddivisa)}</td>
               <td align="center">{$fsc->show_precio($fsc->factura->total, $fsc->factura->coddivisa)}</td>
            </tr>
         </table>
         </div>
      </td>
   </tr>
</table>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}