{include="header"}

<div class="rounded">
   {if condition="$fsc->query!=''"}
      <h1>Resultados de la búsqueda '{$fsc->query}':</h1>
   {/if}
   <table class="list">
      <tr>
         <th>Ejercicio</th>
         <th>Número</th>
         <th>Concepto</th>
         <th>Importe</th>
         <th>Fecha</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->numero}</a></td>
         <td><a href="{$value->url()}">{$value->concepto}</a></td>
         <td align="right">{$value->show_importe()} €</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {else}
      <tr>
         <td colspan="5">No hay asientos creados.</td>
      </tr>
      {/loop}
      <tr>
         <td>
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

{include="footer"}