{include="header"}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código</th>
            <th>Naturalez</th>
            <th>Nivel 1</th>
            <th class="text-left">Descripción 1</th>
         </tr>
      </thead>
      {loop="$fsc->balance->all()"}
      <tr>
         <td><a href="{$value->url()}">{$value->codbalance}</a></td>
         <td class="text-center">{$value->naturaleza}</td>
         <td class="text-center">{$value->nivel1}</td>
         <td>{$value->descripcion1}</td>
      </tr>
      {else}
      <tr class="bg-warning"><td colspan="4" class="text-center">No hay datos.</td></tr>
      {/loop}
   </table>
</div>

{include="footer"}