{include="header"}

<div class="rounded">
   <form>
      <h1>Nuevo:</h1>
      <div class="bloque">
         Código: <input type="text" name="codimpueto" value=""/>
      </div>
      <div class="bloque">
         Descripción: <input type="text" name="descripcion" value=""/>
      </div>
      <div class="bloque">
         %IVA: <input type="text" name="iva" value=""/>
      </div>
      <div class="right"><input type="submit" value="nuevo impuesto"/></div>
   </form>
</div>

{loop="$fsc->all()"}
<div class="rounded">
   <form>
      <h1>{$value->codimpuesto}</h1>
      <div class="bloque">
         Descripción: <input type="text" name="descripcion" value="{$value->descripcion}"/>
      </div>
      <div class="bloque">
         %IVA: <input type="text" name="iva" value="{$value->iva}"/>
      </div>
      <div class="right"><input type="submit" value="modificar"/></div>
   </form>
</div>
{/loop}

{include="footer"}