{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_grupo").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_grupo").modal('show');
         document.f_nuevo_grupo.ngrupo.focus();
      });
      $("#b_nuevo_epigrafe").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_epigrafe").modal('show');
         document.f_nuevo_epigrafe.nepigrafe.focus();
      });
      $("#b_nueva_cuenta").click(function(event) {
         event.preventDefault();
         $("#modal_nueva_cuenta").modal('show');
         document.f_nueva_cuenta.ncuenta.focus();
      });
      {if condition="$fsc->grupo"}
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar este grupo?") )
            window.location.href = '{$fsc->page->url()}&deleteg={$fsc->grupo->idgrupo}';
      });
      {/if}
      {if condition="$fsc->epigrafe"}
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar este epígrafe?") )
            window.location.href = '{$fsc->page->url()}&deletee={$fsc->epigrafe->idepigrafe}';
      });
      {/if}
   });
</script>

{if condition="$fsc->grupo"}
<form action="{$fsc->grupo->url()}" method="post" class="form" role="form">
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Descripción</th>
               <th class="text-left">Ejercicio</th>
               <th></th>
            </tr>
         </thead>
         <tr>
            <td>
               <div class="form-group">
                  <input class="form-control" type="text" name="descripcion" value="{$fsc->grupo->descripcion}" autocomplete="off"/>
               </div>
            </td>
            <td>
               <div class="form-control">
                  <a href="index.php?page=contabilidad_ejercicio&cod={$fsc->grupo->codejercicio}">{$fsc->grupo->codejercicio}</a>
               </div>
            </td>
            <td class="text-right">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
               </button>
            </td>
         </tr>
      </table>
   </div>
</form>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código</td>
            <th class="text-left">Descripción</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr>
         <td><a href="{$value->url()}">{$value->codepigrafe}</a></td>
         <td>{$value->descripcion}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2" class="text-center">
            <a id="b_nuevo_epigrafe" class="btn btn-sm btn-block btn-success" href="#nuevo_epigrafe">Nuevo epigrafe...</a>
         </td>
      </tr>
   </table>
</div>
{elseif condition="$fsc->epigrafe"}
<form action="{$fsc->epigrafe->url()}" method="post" class="form">
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Descripción</th>
               <th class="text-left">Ejercicio</th>
               <th></th>
            </tr>
         </thead>
         <tr>
            <td>
               <div class="form-group">
                  <input class="form-control" type="text" name="descripcion" value="{$fsc->epigrafe->descripcion}" autocomplete="off"/>
               </div>
            </td>
            <td>
               <div class="form-control">
                  <a href="index.php?page=contabilidad_ejercicio&cod={$fsc->epigrafe->codejercicio}">{$fsc->epigrafe->codejercicio}</a>
               </div>
            </td>
            <td class="text-right">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
               </button>
            </td>
         </tr>
      </table>
   </div>
</form>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código</th>
            <th class="text-left">Descripción</th>
            <th class="text-right">Cuenta especial</th>
         </tr>
      </thead>
      {loop="$fsc->epigrafe->hijos()"}
      <tr>
         <td><a href="{$value->url()}">{$value->codepigrafe}</a></td>
         <td>{$value->descripcion}</td>
         <td class="text-right">-</td>
      </tr>
      {/loop}
      {loop="$fsc->resultados"}
      <tr>
         <td><a href="{$value->url()}">{$value->codcuenta}</a></td>
         <td>{$value->descripcion}</td>
         <td class="text-right">{$value->idcuentaesp}</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="container">
   <div class="row">
      <div class="col-lg-6">
         <a id="b_nuevo_epigrafe" class="btn btn-sm btn-block btn-success" href="#">Nuevo Epígrafe...</a>
      </div>
      <div class="col-lg-6">
         <a id="b_nueva_cuenta" class="btn btn-sm btn-block btn-success" href="#">Nueva Cuenta...</a>
      </div>
   </div>
</div>
{else}
<div class="container-fluid" style="margin-bottom: 10px;">
   <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
         <form name="f_filtro_cuentas" action="{$fsc->url()}" method="post" class="post">
            <select name="ejercicio" class="form-control" onchange="document.f_filtro_cuentas.submit()">
            {loop="$fsc->ejercicio->all()"}
               {if condition="$value->codejercicio==$fsc->codejercicio"}
               <option value="{$value->codejercicio}" selected="selected">{$value->nombre} ({$value->codejercicio})</option>
               {else}
               <option value="{$value->codejercicio}">{$value->nombre} ({$value->codejercicio})</option>
               {/if}
            {/loop}
            </select>
         </form>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 text-right">
         <a class="btn btn-sm btn-default" href="index.php?page=contabilidad_cuentas">
            Cuentas &nbsp;
            <span class="glyphicon glyphicon-chevron-right"></span>
         </a>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código</td>
            <th class="text-left">Descripción</th>
         </tr>
      </thead>
      {loop="$fsc->super_epigrafes"}
      <tr>
         <td><a href="{$value->url()}">{$value->codepigrafe}</a></td>
         <td>{$value->descripcion}</td>
      </tr>
      {/loop}
      {loop="$fsc->resultados"}
      <tr>
         <td><a href="{$value->url()}">{$value->codgrupo}</a></td>
         <td>{$value->descripcion}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2" class="text-center">
            <a id="b_nuevo_grupo" class="btn btn-sm btn-block btn-success" href="#nuevo_grupo">Nuevo grupo...</a>
         </td>
      </tr>
   </table>
</div>
{/if}

<div class="modal" id="modal_nuevo_grupo">
   <div class="modal-dialog">
      <div class="modal-content">
         <form class="form" role="form" name="f_nuevo_grupo" action="{$fsc->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo grupo</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Ejercicio:
                  <select name="ejercicio" class="form-control">
                     {loop="$fsc->ejercicio->all()"}
                        {if condition="$value->codejercicio==$fsc->codejercicio"}
                        <option value="{$value->codejercicio}" selected="selected">{$value->nombre} ({$value->codejercicio})</option>
                        {else}
                        <option value="{$value->codejercicio}">{$value->nombre} ({$value->codejercicio})</option>
                        {/if}
                     {/loop}
                  </select>
               </div>
               <div class="form-group">
                  Código:
                  <input class="form-control" type="text" name="ngrupo" autocomplete="off" maxlength="6"/>
               </div>
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="descripcion" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
              </button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal" id="modal_nuevo_epigrafe">
   <div class="modal-dialog">
      <div class="modal-content">
         <form class="form" role="form" name="f_nuevo_epigrafe" action="{$fsc->url()}" method="post">
            <input type="hidden" name="ejercicio" value="{$fsc->grupo->codejercicio}"/>
            {if condition="$fsc->epigrafe"}
            <input type="hidden" name="ejercicio" value="{$fsc->epigrafe->codejercicio}"/>
            <input type="hidden" name="idpadre" value="{$fsc->epigrafe->idepigrafe}"/>
            {else}
            <input type="hidden" name="ejercicio" value="{$fsc->grupo->codejercicio}"/>
            <input type="hidden" name="idgrupo" value="{$fsc->grupo->idgrupo}"/>
            <input type="hidden" name="codgrupo" value="{$fsc->grupo->codgrupo}"/>
            {/if}
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo epigrafe</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Código:
                  {if condition="$fsc->epigrafe"}
                  <input class="form-control" type="text" name="nepigrafe" autocomplete="off" maxlength="6"/>
                  {else}
                  <input class="form-control" type="text" name="nepigrafe" value="{$fsc->grupo->codgrupo}0" autocomplete="off" maxlength="6"/>
                  {/if}
               </div>
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="descripcion" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
              </button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal" id="modal_nueva_cuenta">
   <div class="modal-dialog">
      <div class="modal-content">
         <form class="form" role="form" name="f_nueva_cuenta" action="{$fsc->url()}" method="post">
            <input type="hidden" name="ejercicio" value="{$fsc->epigrafe->codejercicio}"/>
            <input type="hidden" name="idepigrafe" value="{$fsc->epigrafe->idepigrafe}"/>
            <input type="hidden" name="codepigrafe" value="{$fsc->epigrafe->codepigrafe}"/>
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nueva cuenta</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Código:<input class="form-control" type="text" name="ncuenta" value="{$fsc->epigrafe->codepigrafe}0" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="descripcion" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
              </button>
            </div>
         </form>
      </div>
   </div>
</div>

{include="footer"}