{include="header"}

{if condition="$fsc->asiento"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_eliminar_asiento").click(function(event) {
         event.preventDefault();
         if( confirm("¿Estas seguro de que deseas eliminar este asiento?") )
            window.location.href = "{$fsc->ppage->url()}&delete={$fsc->asiento->idasiento}";
      });
   });
</script>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">Ejercicio</th>
         <th>Fecha</th>
         <th>Concepto</th>
         <th>Documento</th>
         <th align="right">Importe</th>
      </tr>
      <tr>
         <td>{$fsc->asiento->codejercicio}</td>
         <td align="center">{$fsc->asiento->fecha}</td>
         <td align="center">{$fsc->asiento->concepto}</td>
         <td align="center">
            {if condition="$fsc->asiento->tipodocumento"}
               {$fsc->asiento->tipodocumento}:
            {/if}
            {if condition="$fsc->asiento->documento"}
               <a href='{$fsc->asiento->factura_url()}'>{$fsc->asiento->documento}</a>
            {else}
               -
            {/if}
         </td>
         <td align="right">{$fsc->asiento->show_importe()} €</td>
      </tr>
   </table>
</div>
<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">Concepto</th>
         <th>Subcuenta</th>
         <th align="right">Debe</th>
         <th align="right">Haber</th>
         <th align="right">IVA</th>
         <th align="right">Base imponible</th>
         <th>Contrapartida</th>
         <th>CIF/NIF</th>
      </tr>
      {loop="$fsc->asiento->get_partidas()"}
      <tr>
         <td>{$value->concepto}</td>
         <td align="center"><a href="{$value->subcuenta_url()}">{$value->codsubcuenta}</a></td>
         <td align="right">{$value->show_debe()} €</td>
         <td align="right">{$value->show_haber()} €</td>
         <td align="right">{$value->iva} %</td>
         <td align="right">{$value->show_baseimponible()} €</td>
         <td align="center"><a href="{$value->contrapartida_url()}">{$value->codcontrapartida}</a></td>
         <td align="center">{$value->cifnif}</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

{include="footer"}