{include="header"}

{if condition="$fsc->balance"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Naturaleza</th>
            <th class="text-left">Nivel 1</th>
            <th class="text-left">Descripción 1</th>
            <th class="text-left">Nivel 2</th>
            <th class="text-left">Descripción 2</th>
            <th class="text-left">Nivel 3</th>
            <th class="text-left">Descripción 3</th>
            <th class="text-left">Orden 3</th>
            <th class="text-left">Nivel 4</th>
            <th class="text-left">Descripción 4</th>
            <th class="text-left">Descripción 4 a</th>
         </tr>
      </thead>
      <tr>
         <td>{$fsc->balance->naturaleza}</td>
         <td>{$fsc->balance->nivel1}</td>
         <td>{$fsc->balance->descripcion1}</td>
         <td>{$fsc->balance->nivel2}</td>
         <td>{$fsc->balance->descripcion2}</td>
         <td>{$fsc->balance->nivel3}</td>
         <td>{$fsc->balance->descripcion3}</td>
         <td>{$fsc->balance->orden3}</td>
         <td>{$fsc->balance->nivel4}</td>
         <td>{$fsc->balance->descripcion4}</td>
         <td>{$fsc->balance->descripcion4ba}</td>
      </tr>
   </table>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
         <h3>Cuentas normales</h3>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Cuenta</th>
                     <th class="text-left">Descripción</th>
                  </tr>
               </thead>
               {loop="$fsc->balances_cuenta"}
               <tr>
                  <td>{$value->codcuenta}</td>
                  <td>{$value->desccuenta}</td>
               </tr>
               {else}
               <tr class="bg-warning"><td colspan="2" class="text-center">Sin resultados.</td></tr>
               {/loop}
            </table>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
         <h3>Cuentas de balance abreviado</h3>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Cuenta</th>
                     <th class="text-left">Descripción</th>
                  </tr>
               </thead>
               {loop="$fsc->balances_cuenta_a"}
               <tr>
                  <td>{$value->codcuenta}</td>
                  <td>{$value->desccuenta}</td>
               </tr>
               {else}
               <tr class="bg-warning"><td colspan="2" class="text-center">Sin resultados.</td></tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>
{else}
<div class="text-center">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}
