{include="header"}

<script type="text/javascript">
   function delete_serie(url)
   {
      if( confirm("¿Realmente desea eliminar esta serie?") )
         window.location.href = url;
   }
   $(document).ready(function() {
      
   });
</script>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th align="left">Código</th>
            <th align="left">Descripción</th>
            <th align="left">Sin IVA</th>
            <th align="right">Acciones</th>
         </tr>
      </thead>
      {loop="$fsc->serie->all()"}
      <form action ="{$fsc->url()}" method="post">
         <input type="hidden" name="codserie" value="{$value->codserie}"/>
         <tr>
            <td><div class="form-control">{$value->codserie}</div></td>
            <td><input class="form-control" type="text" name="descripcion" value="{$value->descripcion}" autocomplete="off"/></td>
            <td><input type="checkbox" name="siniva" value="TRUE"{if condition="$value->siniva"} checked="checked"{/if} id="sin_iva_{$value->codserie}"/></td>
            <td align="right">
               <div class="btn-group">
                  <a class="btn btn-sm btn-danger" title="Eliminar" onclick="delete_serie('{$fsc->url()}&delete={$value->codserie}')">
                     <span class="glyphicon glyphicon-trash"></span>
                  </a>
                  <button class="btn btn-sm btn-primary pull-right" type="submit" title="Guardar" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
               </div>
            </td>
         </tr>
      </form>
      {/loop}
      <form class="form" name="f_nueva_serie" action ="{$fsc->url()}" method="post">
         <tr class="bg-info">
            <td><input class="form-control" type="text" name="codserie" placeholder="Nuevo código..." autocomplete="off"/></td>
            <td><input class="form-control" type="text" name="descripcion" autocomplete="off"/></td>
            <td><input type="checkbox" name="siniva" value="TRUE" id="serie_sin_iva"/></td>
            <td align="right">
               <button class="btn btn-sm btn-primary pull-right" type="submit" title="Guardar" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
               </button>
            </td>
         </tr>
      </form>
   </table>
</div>

{include="footer"}