{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nueva_subcuenta, #b_nueva_subcuenta2").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nueva_subcuenta');
         document.f_nueva_subcuenta.nsubcuenta.focus();
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar esta cuenta?") )
            window.location.href = 'index.php?page=contabilidad_epigrafes&deletec={$fsc->cuenta->idcuenta}';
      });
   });
</script>

{if condition="$fsc->cuenta"}
<div class="popup" id="popup_nueva_subcuenta">
   <h1>Nueva subcuenta</h1>
   <form name="f_nueva_subcuenta" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right"><b>Cuenta:</b></td>
            <td>
               {$fsc->cuenta->codcuenta}
               <input type="hidden" name="ejercicio" value="{$fsc->cuenta->codejercicio}"/>
               <input type="hidden" name="idcuenta" value="{$fsc->cuenta->idcuenta}"/>
               <input type="hidden" name="codcuenta" value="{$fsc->cuenta->codcuenta}"/>
            </td>
            <td align="right"><b>Código:</b></td>
            <td>
               <input type="text" name="nsubcuenta" value="{$fsc->cuenta->codcuenta}0000000" size="10" maxlength="10" autocomplete="off"/>
            </td>
         </tr>
         <tr>
            <td align="right"><b>Descripción:</b></td>
            <td colspan="3">
               <input class="full" type="text" name="descripcion" size="30" autocomplete="off"/>
            </td>
         </tr>
         <tr>
            <td colspan="4" align="right">
               <input class="submit" type="submit" value="Guardar"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">Descripción</th>
         <th>Ejercicio</th>
         <th align="right">Cuenta especial</th>
      </tr>
      <tr>
         <td>{$fsc->cuenta->descripcion}</td>
         <td align="center"><a class="link" href="{$fsc->ejercicio->url()}">{$fsc->ejercicio->nombre}</a></td>
         <td align="right">{$fsc->cuenta->idcuentaesp}</td>
      </tr>
   </table>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">Código</th>
         <th align="left">Descripción</th>
         <th align="right">Debe</th>
         <th align="right">Haber</th>
         <th align="right">Saldo</th>
      </tr>
      {loop="$fsc->cuenta->get_subcuentas()"}
      <tr>
         <td><a class="link" href="{$value->url()}">{$value->codsubcuenta}</a></td>
         <td><a class="link" href="{$value->url()}">{$value->descripcion}</a></td>
         <td align="right">{$fsc->show_precio($value->debe, $value->coddivisa)}</td>
         <td align="right">{$fsc->show_precio($value->haber, $value->coddivisa)}</td>
         <td align="right">{$fsc->show_precio($value->saldo, $value->coddivisa)}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="5">
            <div class="new_line">
               <a id="b_nueva_subcuenta2" href="#">Nueva subcuenta</a>
            </div>
         </td>
      </tr>
   </table>
</div>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}