{include="header"}

{if condition="$fsc->factura"}
<div class="rounded">
   <form>
      <h1>
         <a href="{$fsc->factura->cliente_url()}">{$fsc->factura->nombrecliente}</a>
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <div class="bloque">
         Número: <input type="text" name="numero" value="{$fsc->factura->numero}"/>
      </div>
      <div class="bloque">
         Ejercicio: {$fsc->factura->codejercicio}
      </div>
      <div class="bloque">
         Serie: {$fsc->factura->codserie}
      </div>
      <div class="bloque">
         Fecha: <input type="text" name="fecha" value="{$fsc->factura->fecha}"/>
      </div>
      {if condition="$fsc->agente"}
      <div class="bloque">
         Agente: <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
      </div>
      {/if}
      <div>
         Observaciones:<br/>
         <textarea name="observaciones" cols="60">{$fsc->factura->observaciones}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>Albarán</th>
         <th>Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">Total</th>
      </tr>
      {loop="$fsc->factura->get_lineas()"}
      <tr>
         <td><a href="{$value->albaran_url()}">{$value->idalbaran}</a></td>
         <td>
            <a href="{$value->articulo_url()}">{$value->referencia}</a>
            {$value->descripcion}
         </td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$value->show_pvp()} €</td>
         <td align="right">{$value->dtopor} %</td>
         <td align="right">{$value->show_total()} €</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="3"></td>
         <td colspan="3">
            <table class="list">
               <tr>
                  <th>Neto:</th>
                  <th>IVA:</th>
                  <th>Total:</th>
               </tr>
               <tr>
                  <td align="center">{$fsc->factura->show_neto()} €</td>
                  <td align="center">{$fsc->factura->show_iva()} €</td>
                  <td align="center">{$fsc->factura->show_total()} €</td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}