{include="header"}

{if condition="$fsc->factura"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_imprimir").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_imprimir');
      });
      $("#b_enviar").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_enviar');
         document.enviar_email.email.focus();
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_eliminar', 60);
      });
   });
</script>

<div class="popup" id="popup_imprimir">
   <h1>Imprimir factura</h1>
   <center>
      <ul class="bloque">
         <li><a target="_blank" href="{$fsc->url()}&imprimir=simple">Factura<br/>simple</a></li>
         <li class="verde"><a target="_blank" href="{$fsc->url()}&imprimir=carta">Modelo<br/>carta</a></li>
         <li><a target="_blank" href="{$fsc->url()}&imprimir=firma">Factura<br/>con firma</a></li>
      </ul>
      <br/>
      <a class="link" href="{$fsc->url()}&updatedir=TRUE">Actualizar la dirección de la factura.</a>
   </center>
</div>

<div class="popup" id="popup_enviar">
   <h1>Enviar factura</h1>
   <form name="enviar_email" action="{$fsc->url()}" method="post">
      <table class="list">
         <tr>
            <td>Email del cliente:</td>
            <td><input class="full" type="text" name="email" value="{$fsc->cliente->email}" autocomplete="off"/></td>
         </tr>
         <tr>
            <td valign="top" align="right">Mensaje:</td>
            <td>
               <textarea name="mensaje" rows="6" cols="50">Buenos días, le adjunto su factura {$fsc->factura->codigo}.
{$fsc->empresa->email_firma}</textarea>
            </td>
         </tr>
         <tr>
            <td colspan="2" align="right">
               <input class="submit" type="submit" value="enviar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="popup" id="popup_eliminar">
   <h1>Eliminar factura</h1>
   {if condition="$fsc->factura->idasiento"}
      <ul>
         <li>Hay un asiento asociado que será eliminado junto con la factura.</li>
      </ul>
   {/if}
   <table width="100%">
      <tr>
         <td>¿Realmente desea eliminar esta factura?</td>
         <td align="right">
            <a class="delete" href="{$fsc->ppage->url()}&delete={$fsc->factura->idfactura}">
               eliminar
            </a>
         </td>
      </tr>
   </table>
</div>

<div class="rounded">
   <form action="{$fsc->factura->url()}" method="post">
      <input type="hidden" name="idfactura" value="{$fsc->factura->idfactura}"/>
      <h1>
         <a class="link" href="{$fsc->factura->cliente_url()}">{$fsc->factura->nombrecliente}</a>
         <span>
            <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
         </span>
      </h1>
      <div class="bloque">
         Ejercicio: {$fsc->factura->codejercicio}
      </div>
      <div class="bloque">
         Serie: {$fsc->factura->codserie}
      </div>
      <div class="bloque">
         Número:
         <input type="text" name="numero" value="{$fsc->factura->numero}" size="6" autocomplete="off"/>
      </div>
      <div class="bloque">
         Fecha: <input class="tcal" type="text" name="fecha" value="{$fsc->factura->fecha}" size="12"/>
      </div>
      {if condition="$fsc->agente"}
      <div class="bloque">
         Agente: <a class="link" href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
      </div>
      {/if}
      <div>
         Observaciones:<br/>
         <textarea name="observaciones" cols="60">{$fsc->factura->observaciones}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">{$albaran}</th>
         <th align="left">Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">Total</th>
         <th align="right">IVA</th>
         <th align="right">Total+IVA</th>
      </tr>
      {loop="$fsc->factura->get_lineas()"}
      <tr>
         <td>
            <a class="link" href="{$value->albaran_url()}">{$value->albaran_codigo()}</a>
            {$value->albaran_numero()}
         </td>
         <td>
            <a class="link" href="{$value->articulo_url()}">{$value->referencia}</a>
            {$value->descripcion}
         </td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$fsc->show_precio($value->pvpunitario, $fsc->factura->coddivisa)}</td>
         <td align="right">{$fsc->show_numero($value->dtopor, 2)} %</td>
         <td align="right">{$fsc->show_precio($value->pvptotal, $fsc->factura->coddivisa)}</td>
         <td align="right">{$value->iva} %</td>
         <td align="right">{$fsc->show_precio($value->total_iva(), $fsc->factura->coddivisa)}</td>
      </tr>
      {/loop}
   </table>
</div>

<table width="100%">
   <tr>
      <td valign="top">
         <div class="rounded">
         <table class="list">
            <tr>
               <th align="left">Impuesto</th>
               <th align="right">Neto</th>
               <th align="right">IVA</th>
               <th align="right">Total IVA</th>
               <th align="right">Total</th>
            </tr>
            {loop="$fsc->factura->get_lineas_iva()"}
            <tr>
               <td>{$value->codimpuesto}</td>
               <td align="right">{$fsc->show_precio($value->neto, $fsc->factura->coddivisa)}</td>
               <td align="right">{$fsc->show_numero($value->iva, 2)} %</td>
               <td align="right">{$fsc->show_precio($value->totaliva, $fsc->factura->coddivisa)}</td>
               <td align="right">{$fsc->show_precio($value->totallinea, $fsc->factura->coddivisa)}</td>
            </tr>
            {/loop}
         </table>
      </div>
      </td>
      <td valign="top">
         <div class="rounded">
         <table class="list">
            <tr>
               <th>Neto:</th>
               <th>IVA:</th>
               <th>Total:</th>
            </tr>
            <tr>
               <td align="center">{$fsc->show_precio($fsc->factura->neto, $fsc->factura->coddivisa)}</td>
               <td align="center">{$fsc->show_precio($fsc->factura->totaliva, $fsc->factura->coddivisa)}</td>
               <td align="center">{$fsc->show_precio($fsc->factura->total, $fsc->factura->coddivisa)}</td>
            </tr>
         </table>
      </div>
      </td>
   </tr>
</table>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}