{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
   });
</script>

{if condition="$fsc->query!=''"}
<h3 class="text-center">Resultados de la búsqueda '{$fsc->query}':</h3>
{/if}

<ul class="nav nav-tabs" role="tablist">
   <li{if condition="!isset($_GET['descuadrados'])"} class="active"{/if}><a href="{$fsc->url()}">Todos</a></li>
   <li{if condition="isset($_GET['descuadrados'])"} class="active"{/if}><a href="{$fsc->url()}&descuadrados=TRUE">Descuadrados</a></li>
</ul>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Ejercicio + Número</th>
            <th class="text-left">Concepto</th>
            <th class="text-right">Importe</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->importe<=0"} bg-warning{/if}" href="{$value->url()}">
         <td class="text-center">
            {if condition="$value->editable"}
            <span class="glyphicon glyphicon-pencil" title="editable"></span>
            {/if}
         </td>
         <td>{$value->codejercicio} <a href="{$value->url()}">{$value->numero}</a></td>
         <td>{$value->concepto}</td>
         <td class="text-right">{$fsc->show_precio($value->importe)}</td>
         <td class="text-right">{$value->fecha}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td></td>
         <td colspan="5">Ningún asiento encontrado. Pulsa <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if condition="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if condition="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

{include="footer"}