{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      var i = 0;
      while( $("#delete_"+i).length > 0 )
      {
         $("#delete_"+i).attr('checked', true);
         i++;
      }
   }
   function fs_marcar_nada()
   {
      var i = 0;
      while( $("#delete_"+i).length > 0 )
      {
         $("#delete_"+i).attr('checked', false);
         i++;
      }
   }
   $(document).ready(function() {
      $("#b_nueva_forma_pago").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nueva_forma_pago');
         document.f_nueva_forma_pago.codpago.focus();
      });
   });
</script>

<div class="popup" id="popup_nueva_forma_pago">
   <h1>Nueva divisa</h1>
   <form name="f_nueva_forma_pago" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td><input type="text" name="codpago" size="4" maxlength="10" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Descripción:</td>
            <td><input type="text" name="descripcion" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">Generar Recibos:</td>
            <td>
               <select name="genrecibos">
                  <option value="Emitidos">Emitidos</option>
                  <option value="Pagados">Pagados</option>
               </select>
            </td>
         </tr>
         <tr>
            <td></td>
            <td>
               <label>
                  <input type="checkbox" name="domiciliado" value="TRUE"/>
                  Domiciliado
               </label>
            </td>
         </tr>
         <tr>
            <td colspan="2" align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="rounded">
   <form action="{$fsc->url()}" method="POST">
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
      
      <br/>
      
      <table class="list">
         <tr>
            <th>Eliminar</th>
            <th align="left">Código</th>
            <th align="left">Descripción</th>
            <th>Generar Recibos</th>
            <th>Domiciliado</th>
         </tr>
         {loop="$fsc->forma_pago->all()"}
         <tr>
            <td align="center">
               <input type="checkbox" id="delete_{$counter}" name="delete_{$counter}" value="TRUE"/>
            </td>
            <td>
               {$value->codpago}
               <input type="hidden" name="codpago_{$counter}" value="{$value->codpago}"/>
            </td>
            <td>
               <input class="full" type="text" name="descripcion_{$counter}" value="{$value->descripcion}" size="60" autocomplete="off"/>
            </td>
            <td align="center">
               <select name="genrecibos_{$counter}">
                  <option value="Emitidos"{if condition="$value->genrecibos=='Emitidos'"} selected="selected"{/if}>Emitidos</option>
                  <option value="Pagados"{if condition="$value->genrecibos=='Pagados'"} selected="selected"{/if}>Pagados</option>
               </select>
            </td>
            <td align="center">
               <input type="checkbox" name="domiciliado_{$counter}" value="TRUE"{if condition="$value->domiciliado"} checked="TRUE"{/if}/>
            </td>
         </tr>
         {/loop}
         <tr>
            <td colspan="6">
               <div class="new_line">
                  <a id="b_nueva_forma_pago" href="#">Nueva forma de pago</a>
               </div>
            </td>
         </tr>
      </table>
      
      <br/>
      
      <div>
         <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
         <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
         <input class="submit pull_right" type="submit" value="Guardar" onclick="this.disabled=true;this.form.submit();"/>
      </div>
   </form>
</div>

{include="footer"}