{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_ejercicio").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_nuevo_ejercicio").css({
            left: ($(window).width() - $("#popup_nuevo_ejercicio").outerWidth())/2,
            top: ($(window).height() - $("#popup_nuevo_ejercicio").outerHeight())/2
         });
         $("#popup_nuevo_ejercicio").show();
         document.f_nuevo_ejercicio.nombre.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_ejercicio">
   <form name="f_nuevo_ejercicio" action="{$fsc->url()}" method="post">
      <h1>Nuevo ejercicio:</h1>
      <table>
         <tr>
            <td align="right">Código:</td>
            <td><input type="text" name="codejercicio" value="{$fsc->ejercicio->get_new_codigo()}" size="4" maxlength="4"/></td>
         </tr>
         <tr>
            <td align="right">Nombre:</td>
            <td><input type="text" name="nombre"/></td>
         </tr>
         <tr>
            <td align="right">Fecha de inicio:</td>
            <td><input class="tcal" type="text" name="fechainicio" value="{$fsc->ejercicio->fechainicio}" size="12"/></td>
         </tr>
         <tr>
            <td align="right">Fecha fin:</td>
            <td><input class="tcal" type="text" name="fechafin" value="{$fsc->ejercicio->fechafin}" size="12"/></td>
         </tr>
         <tr>
            <td align="right">Estado:</td>
            <td>
               <select name="estado">
                  <option value="ABIERTO">ABIERTO</option>
                  <option value="CERRADO">CERRADO</option>
               </select>
            </td>
         </tr>
      </table>
      <div class="right"><input type="submit" value="nuevo ejercicio"/></div>
   </form>
</div>

{loop="$fsc->ejercicio->all()"}
<div class="rounded">
   <form>
      <h1>
         {$value->codejercicio}
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <div class="bloque">
         Nombre: <input type="text" name="nombre" value="{$value->nombre}"/>
      </div>
      <div class="bloque">
         Fecha de inicio: <input class="tcal" type="text" name="fechaini" value="{$value->fechainicio}" size="12"/>
      </div>
      <div class="bloque">
         Fecha fin: <input class="tcal" type="text" name="fechafin" value="{$value->fechafin}" size="12"/>
      </div>
      <div class="bloque">
         Estado:
         <select name="estado">
            {if condition="$value->estado == 'ABIERTO'"}
               <option value="ABIERTO" selected="selected">ABIERTO</option>
               <option value="CERRADO">CERRADO</option>
            {else}
               <option value="ABIERTO">ABIERTO</option>
               <option value="CERRADO" selected="selected">CERRADO</option>
            {/if}
         </select>
      </div>
   </form>
</div>
{/loop}

{include="footer"}