{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_ejercicio").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_ejercicio").modal('show');
         document.f_nuevo_ejercicio.nombre.focus();
      });
   });
</script>

<form class="form-horizontal" role="form" name="f_nuevo_ejercicio" action="{$fsc->url()}" method="POST">
   <div class="modal" id="modal_nuevo_ejercicio">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo ejercicio</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="codejercicio" class="col-lg-2 col-md-2 col-sm-2 control-label">Código</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="codejercicio" value="{$fsc->ejercicio->get_new_codigo()}" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="nombre" class="col-lg-2 col-md-2 col-sm-2 control-label">Nombre</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="nombre" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="fechainicio" class="col-lg-2 col-md-2 col-sm-2 control-label">Fecha de inicio</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control datepicker" type="text" name="fechainicio" value="{$fsc->ejercicio->fechainicio}" />
                  </div>
               </div>
               <div class="form-group">
                  <label for="fechafin" class="col-lg-2 col-md-2 col-sm-2 control-label">Fecha fin</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control datepicker" type="text" name="fechafin" value="{$fsc->ejercicio->fechafin}" />
                  </div>
               </div>
               <div class="form-group">
                  <label for="estado" class="col-lg-2 col-md-2 col-sm-2 control-label">Estado</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <select name="estado" class="form-control">
                        <option value="ABIERTO">ABIERTO</option>
                        <option value="CERRADO">CERRADO</option>
                     </select>
                   </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                   <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                </button>
            </div>         
         </div>
      </div>
   </div>
</form>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Nombre</th>
            <th class="text-center">Fecha de inicio</th>
            <th class="text-center">Fecha fin</th>
            <th class="text-right">Estado</th>
         </tr>
      </thead>
      {loop="$fsc->ejercicio->all()"}
      <tr class="clickableRow{if="!$value->abierto()"} bg-warning{/if}" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codejercicio}</a> {$value->nombre}</td>
         <td class="text-center">{$value->fechainicio}</td>
         <td class="text-center">{$value->fechafin}</td>
         <td class="text-right">{$value->estado}</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}