{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      $("#b_nueva").click(function() {
         fs_show_popup('popup_nueva', 50);
      });
      $("#b_huecos").click(function() {
         fs_show_popup('popup_huecos');
      });
   });
</script>

<div class="popup" id="popup_nueva">
   <h1>Nueva factura:</h1>
   En lugar de crear una factura directamente, es mejor que<br/>
   crees un {$albaran} de cliente (que es un "borrador" de factura)<br/>
   y después pulses el botón <b>generar factura</b>.
   <br/><br/>
   Trabajar con {$albaranes} es más cómodo porque puedes modificarlos<br/>
   e incluso agruparlos en una sola factura.
   <div>
      <a class="submit pull_right" href="index.php?page=general_nuevo_albaran">crear un {$albaran}</a>
   </div>
</div>

<div class="popup" id="popup_huecos" style="min-width: 500px;">
   <h1>Huecos</h1>
   <table class="list">
      <tr>
         <th>Código</th>
         <th>Fecha</th>
      </tr>
      {loop="$fsc->factura->huecos()"}
      <tr>
         <td align="center">{$value.codigo}</td>
         <td align="center">{$value.fecha}</td>
      </tr>
      {else}
      <tr>
         <td colspan="2">No hay huecos.</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="rounded">
   {if condition="$fsc->query!=''"}<h1>Resultados de "{$fsc->query}":</h1>{/if}
   <table class="list">
      <tr>
         <th></th>
         <th align="left">código</th>
         <th align="left">cliente</th>
         <th align="left">Observaciones</th>
         <th align="right">total</th>
         <th align="right">fecha</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td align="center">{if condition="$value->idasiento"}A{/if}</td>
         <td><a class="link" href="{$value->url()}">{$value->codigo}</a></td>
         <td>{$value->nombrecliente}</td>
         <td>{$value->observaciones_resume()}</td>
         <td align="right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {else}
      <tr><td colspan="6">Ninguna factura encontrada.</td></tr>
      {/loop}
      <tr><td colspan="6">&nbsp;</td></tr>
      <tr>
         <td colspan="2">
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

<div class="advice"><b>A</b> significa que la factura tiene vinculado un asiento contable.</div>

{include="footer"}