{include="header"}

{if condition="$fsc->subcuenta"}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_subcuenta input:checkbox').attr('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_subcuenta input:checkbox').attr('checked', false);
   }
</script>

<form id="f_subcuenta" action="{$fsc->url()}&offset={$fsc->offset}" method="post">
   <input type="hidden" name="puntear" value="TRUE"/>
   
   <div class="rounded">
      <table class="list">
         <tr>
            <th align="left">Descripción</th>
            <th>Ejercicio</th>
            <th>Pertenece a la cuenta</th>
            <th align="right">Debe</th>
            <th align="right">Haber</th>
            <th align="right">Saldo</th>
         </tr>
         <tr>
            <td>{$fsc->subcuenta->descripcion}</td>
            <td align="center">
               <a class="link" href="{$fsc->ejercicio->url()}">{$fsc->ejercicio->nombre} ({$fsc->ejercicio->codejercicio})</a>
            </td>
            <td align="center"><a class="link" href="{$fsc->cuenta->url()}">{$fsc->cuenta->codcuenta}</a></td>
            <td align="right">{$fsc->subcuenta->show_debe()} €</td>
            <td align="right">{$fsc->subcuenta->show_haber()} €</td>
            <td align="right">{$fsc->subcuenta->show_saldo()} €</td>
         </tr>
      </table>
   </div>
   
   <div class="rounded">
      <table width="100%">
         <tr>
            <td>
               <input type="button" value="marcar todo" onclick="fs_marcar_todo()"/>
               <input type="button" value="desmarcar todo" onclick="fs_marcar_nada()"/>
            </td>
            <td>
               <div class="paginas">
               {loop="$fsc->paginas()"}
                  {if condition="$value.actual"}
                     <a class="actual" href="{$value.url}">{$value.num}</a>
                  {else}
                     <a href="{$value.url}">{$value.num}</a>
                  {/if}
               {/loop}
               </div>
            </td>
            <td align="right">
               <input type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
      
      <br/>
      
      <table class="list">
         <tr>
            <th title="puntear">P</th>
            <th align="left">Asiento</th>
            <th>Fecha</th>
            <th align="left">Concepto</th>
            <th align="right">Debe</th>
            <th align="right">Haber</th>
            <th align="right">Saldo</th>
            <th align="right">IVA</th>
            <th align="right">Base imponible</th>
            <th>Contrapartida</th>
            <th>CIF/NIF</th>
         </tr>
         {$total=-1+count($fsc->resultados)}
         {loop="$fsc->resultados"}
         <tr>
            <td align="center">
               {if condition="$value->punteada"}
               <input type="checkbox" name="punteada[]" value="{$value->idpartida}" checked="checked"/>
               {else}
               <input type="checkbox" name="punteada[]" value="{$value->idpartida}"/>
               {/if}
            </td>
            <td><a class="link" href="{$value->url()}">{$value->numero}</a></td>
            <td align="center">{$value->fecha}</td>
            <td><a class="link" href="{$value->url()}">{$value->concepto}</a></td>
            <td align="right">{$value->show_debe()} €</td>
            <td align="right">{$value->show_haber()} €</td>
            <td align="right">{$value->show_saldo()} €</td>
            <td align="right">
               {if condition="$value->iva!=0"}{$value->iva} %{else}-{/if}
            </td>
            <td align="right">
               {if condition="$value->baseimponible!=0"}{$value->show_baseimponible()} €{else}-{/if}
            </td>
            <td align="center">
               {if condition="$value->codcontrapartida"}
               <a class="link" href="{$value->contrapartida_url()}">{$value->codcontrapartida}</a>
               {else}
               -
               {/if}
            </td>
            <td align="center">
               {if condition="$value->cifnif"}{$value->cifnif}{else}-{/if}
            </td>
         </tr>
         {if condition="$counter==$total"}
         <tr>
            <td colspan="4" align="right"><b>Sumas</b>:</td>
            <td align="right"><b>{$value->show_sumdebe()} €</b></td>
            <td align="right"><b>{$value->show_sumhaber()} €</b></td>
            <td colspan="5"></td>
         </tr>
         {/if}
         {/loop}
      </table>
      
      <br/>
      
      <table width="100%">
         <tr>
            <td>
               <input type="button" value="marcar todo" onclick="fs_marcar_todo()"/>
               <input type="button" value="desmarcar todo" onclick="fs_marcar_nada()"/>
            </td>
            <td>
               <div class="paginas">
               {loop="$fsc->paginas()"}
                  {if condition="$value.actual"}
                     <a class="actual" href="{$value.url}">{$value.num}</a>
                  {else}
                     <a href="{$value.url}">{$value.num}</a>
                  {/if}
               {/loop}
               </div>
            </td>
            <td align="right">
               <input type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </div>
</form>
{/if}

{include="footer"}