{include="header"}

{if condition="$fsc->subcuenta"}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_subcuenta input:checkbox').attr('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_subcuenta input:checkbox').attr('checked', false);
   }
   $("#b_eliminar").click(function(event) {
      event.preventDefault();
      if( confirm("¿Realmente desea eliminar esta subcuenta?") )
         window.location.href = '{$fsc->ppage->url()}&deletes={$fsc->subcuenta->idsubcuenta}';
   });
</script>

<form id="f_subcuenta" action="{$fsc->url()}&offset={$fsc->offset}" method="post">
   <input type="hidden" name="puntear" value="TRUE"/>
   
   <div class="rounded">
      <table class="list">
         <tr>
            <th align="left">Descripción</th>
            <th>Ejercicio</th>
            <th align="right">Debe</th>
            <th align="right">Haber</th>
            <th align="right">Saldo</th>
         </tr>
         <tr>
            <td>{$fsc->subcuenta->descripcion}</td>
            <td align="center">
               <a class="link" href="{$fsc->ejercicio->url()}">{$fsc->ejercicio->nombre} ({$fsc->ejercicio->codejercicio})</a>
            </td>
            <td align="right">{$fsc->show_precio($fsc->subcuenta->debe, $fsc->subcuenta->coddivisa)}</td>
            <td align="right">{$fsc->show_precio($fsc->subcuenta->haber, $fsc->subcuenta->coddivisa)}</td>
            <td align="right">{$fsc->show_precio($fsc->subcuenta->saldo, $fsc->subcuenta->coddivisa)}</td>
         </tr>
      </table>
   </div>
   
   <div class="rounded">
      <table width="100%">
         <tr>
            <td>
               <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
               <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
            </td>
            <td>
               <div class="paginas">
               {loop="$fsc->paginas()"}
                  {if condition="$value.actual"}
                     <a class="actual" href="{$value.url}">{$value.num}</a>
                  {else}
                     <a href="{$value.url}">{$value.num}</a>
                  {/if}
               {/loop}
               </div>
            </td>
            <td align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
      <br/>
      
      <table class="list">
         <tr>
            <th title="puntear">P</th>
            <th align="left">Asiento</th>
            <th>Fecha</th>
            <th align="left">Concepto</th>
            <th align="right">Debe</th>
            <th align="right">Haber</th>
            <th align="right">Saldo</th>
            <th align="right">IVA</th>
            <th align="right">Base imponible</th>
            <th>Contrapartida</th>
            <th>CIF/NIF</th>
         </tr>
         {$total=-1+count($fsc->resultados)}
         {loop="$fsc->resultados"}
         <tr>
            <td align="center">
               {if condition="$value->punteada"}
               <input type="checkbox" name="punteada[]" value="{$value->idpartida}" checked="checked"/>
               {else}
               <input type="checkbox" name="punteada[]" value="{$value->idpartida}"/>
               {/if}
            </td>
            <td><a class="link" href="{$value->url()}">{$value->numero}</a></td>
            <td align="center">{$value->fecha}</td>
            <td><a class="link" href="{$value->url()}">{$value->concepto}</a></td>
            <td align="right">{$fsc->show_precio($value->debe, $fsc->subcuenta->coddivisa)}</td>
            <td align="right">{$fsc->show_precio($value->haber, $fsc->subcuenta->coddivisa)}</td>
            <td align="right">{$fsc->show_precio($value->saldo, $fsc->subcuenta->coddivisa)}</td>
            <td align="right">
               {if condition="$value->iva!=0"}{$value->iva} %{else}-{/if}
            </td>
            <td align="right">
               {if condition="$value->baseimponible!=0"}{$fsc->show_precio($value->baseimponible, $fsc->subcuenta->coddivisa)}{else}-{/if}
            </td>
            <td align="center">
               {if condition="$value->codcontrapartida"}
               <a class="link" href="{$value->contrapartida_url()}">{$value->codcontrapartida}</a>
               {else}
               -
               {/if}
            </td>
            <td align="center">
               {if condition="$value->cifnif"}{$value->cifnif}{else}-{/if}
            </td>
         </tr>
         {if condition="$counter==$total"}
         <tr>
            <td colspan="4" align="right"><b>Sumas</b>:</td>
            <td align="right"><b>{$fsc->show_precio($value->sum_debe, $fsc->subcuenta->coddivisa)}</b></td>
            <td align="right"><b>{$fsc->show_precio($value->sum_haber, $fsc->subcuenta->coddivisa)}</b></td>
            <td colspan="5"></td>
         </tr>
         {/if}
         {/loop}
         <tr>
            <td colspan="11">
               <div class="new_line">
                  <a href="index.php?page=contabilidad_nuevo_asiento">Nuevo asiento</a>
               </div>
            </td>
         </tr>
      </table>
      
      <br/>
      <table width="100%">
         <tr>
            <td>
               <input class="button" type="button" value="todo" onclick="fs_marcar_todo()"/>
               <input class="button" type="button" value="nada" onclick="fs_marcar_nada()"/>
            </td>
            <td>
               <div class="paginas">
               {loop="$fsc->paginas()"}
                  {if condition="$value.actual"}
                     <a class="actual" href="{$value.url}">{$value.num}</a>
                  {else}
                     <a href="{$value.url}">{$value.num}</a>
                  {/if}
               {/loop}
               </div>
            </td>
            <td align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </div>
</form>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}