{include="header"}

<script type="text/javascript">
   var numlineas = 0;
   function add_partida()
   {
      numlineas++;
      $("#partidas").append("<div class='rounded' id='partida_"+numlineas+"'>\n\
         <table width='100%'>\n\
            <tr>\n\
               <td>\n\
               <table>\n\
                  <tr>\n\
                     <th align='left'>Subcuenta+saldo</th>\n\
                     <th align='left'>Debe</th>\n\
                     <th align='left'>Haber</th>\n\
                  </tr>\n\
                  <tr>\n\
                     <td>\n\
                        <input id='codsubcuenta_"+numlineas+"' name='codsubcuenta_"+numlineas+"' type='text' size='10'\n\
                           onclick=\"show_buscar_subcuentas('"+numlineas+"','subcuenta')\" autocomplete='off' placeholder='Seleccionar'/>\n\
                        <input type='text' id='saldo_"+numlineas+"' name='saldo_"+numlineas+"' value='0' size='8' disabled='disabled'/>\n\
                     </td>\n\
                     <td>\n\
                        <input class='full' type='text' id='debe_"+numlineas+"' name='debe_"+numlineas+"' value='0' size='5'\n\
                           onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>\n\
                     </td>\n\
                     <td>\n\
                        <input class='full' type='text' id='haber_"+numlineas+"' name='haber_"+numlineas+"' value='0' size='5'\n\
                           onclick='this-select()' onkeyup='recalcular()' autocomplete='off'/>\n\
                     </td>\n\
                  </tr>\n\
               </table>\n\
               </td>\n\
               <td id='contrapartida_"+numlineas+"'>\n\
                  <a class='link' href='#' onclick=\"add_contrapartida('"+numlineas+"')\">Añadir contrapartida</a>\n\
               </td>\n\
               <td align='right'><a class='delete'onclick=\"clean_partida('"+numlineas+"')\">x</a></td>\n\
            </tr>\n\
         </table>\n\
         </div>");
   }
   function add_contrapartida(num)
   {
      $("#contrapartida_"+num).html("<table width='100%'>\n\
         <tr>\n\
            <th align='left'>Contrapartida+saldo</th>\n\
            <th align='left'>IVA</th>\n\
            <th align='left'>Base Imp.</th>\n\
            <th align='left'>CIF/NIF</th>\n\
         </tr>\n\
         <tr>\n\
            <td>\n\
               <input id='codcontrapartida_"+num+"' name='codcontrapartida_"+num+"' type='text' size='10'\n\
                  onclick=\"show_buscar_subcuentas('"+num+"','contrapartida')\" autocomplete='off' placeholder='Seleccionar'/>\n\
               <input type='text' id='saldoc_"+num+"' name='saldoc_"+num+"' value='0' size='8' disabled='disabled'/>\n\
            </td>\n\
            <td>\n\
               <select id='iva_"+num+"' name='iva_"+num+"' onchange='recalcular()'>\n\
                  <option value='0'>---</option>\n\
                  {loop="$fsc->impuesto->all()"}<option value='{$value->iva}'>{$value->descripcion}</option>{/loop}\n\
               </select>\n\
            </td>\n\
            <td>\n\
               <input class='full' type='text' id='baseimp_"+num+"' name='baseimp_"+num+"' value='0' size='5' autocomplete='off'/>\n\
            </td>\n\
            <td>\n\
               <input class='full' type='text' id='cifnif_"+num+"' name='cifnif_"+num+"' size='10'/>\n\
            </td>\n\
         </tr>\n\
         </table>");
   }
   function show_buscar_subcuentas(num, tipo)
   {
      $("#subcuentas").html('');
      document.f_buscar_subcuentas.fecha.value = document.f_asiento.fecha.value;
      document.f_buscar_subcuentas.tipo.value = tipo;
      document.f_buscar_subcuentas.numlinea.value = num;
      document.f_buscar_subcuentas.query.value = '';
      fs_show_popup('popup_subcuentas', 40);
      document.f_buscar_subcuentas.query.focus();
   }
   function buscar_subcuentas()
   {
      if(document.f_buscar_subcuentas.query.value == '')
      {
         $("#subcuentas").html('');
         fs_resize_popup("popup_subcuentas", 40);
      }
      else
      {
         var datos = 'query='+document.f_buscar_subcuentas.query.value;
         datos += "&fecha="+document.f_buscar_subcuentas.fecha.value;
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: datos,
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_subcuentas.query.value )
               {
                  $("#subcuentas").html(datos);
                  fs_resize_popup("popup_subcuentas", 40);
               }
            }
         });
      }
   }
   function select_subcuenta(codsubcuenta, descripcion, saldo)
   {
      var num = document.f_buscar_subcuentas.numlinea.value;
      if(document.f_buscar_subcuentas.tipo.value == 'subcuenta')
      {
         $("#codsubcuenta_"+num).val(codsubcuenta);
         $("#saldo_"+num).val(saldo);
      }
      else
      {
         $("#codcontrapartida_"+num).val(codsubcuenta);
         $("#saldoc_"+num).val(saldo);
      }
      fs_hide_popups();
   }
   function clean_partida(num)
   {
      $("#partida_"+num).remove();
      recalcular();
   }
   function recalcular()
   {
      var debe = 0;
      var haber = 0;
      var iva = 0;
      var t_debe = 0;
      var t_haber = 0;
      
      for(var i=1; i<=numlineas; i++)
      {
         if( $("#partida_"+i).length > 0 )
         {
            debe = parseFloat( $("#debe_"+i).val() );
            haber = parseFloat( $("#haber_"+i).val() );
            
            if( $("#codcontrapartida_"+i).val() != '' )
            {
               iva = parseFloat( $("#iva_"+i).val() );
               if(iva == 0)
                  $("#baseimp_"+i).val('0');
               else
               {
                  if(haber == 0)
                     $("#baseimp_"+i).val( debe*100/iva );
                  else if(debe == 0)
                     $("#baseimp_"+i).val( haber*100/iva );
                  else
                     $("#baseimp_"+i).val(0);
               }
            }
            
            t_debe += debe;
            t_haber += haber;
         }
      }
      document.f_asiento.importe.value = Math.max(t_debe, t_haber);
      document.f_asiento.descuadre.value = fs_round(t_debe - t_haber, 2);
   }
   function asigna_concepto()
   {
      document.f_asiento.concepto.value = $("#s_idconceptopar option:selected").text();
      document.f_asiento.concepto.focus();
   }
   $(document).ready(function() {
      $("#f_buscar_subcuentas").keyup(function() {
         buscar_subcuentas();
      });
      $("#f_buscar_subcuentas").submit(function(event) {
         event.preventDefault();
         buscar_subcuentas();
      });
      $("#f_asiento").submit(function(event) {
         event.preventDefault();
         if(document.f_asiento.descuadre.value == 0)
         {
            $(this).disabled = true;
            document.f_asiento.numlineas.value = numlineas;
            document.f_asiento.importe.disabled = false;
            document.f_asiento.submit();
         }
         else
            alert('¡Asiento descuadrado!');
      });
   });
</script>

<div class="popup" id="popup_subcuentas" style="min-width: 80%">
   <form id="f_buscar_subcuentas" name="f_buscar_subcuentas">
      <input type="hidden" name="fecha"/>
      <input type="hidden" name="tipo"/>
      <input type="hidden" name="numlinea"/>
      <h1>Buscar subcuentas</h1>
      <div style="text-align: center;">
         <input type="text" name="query" size="40"/>
         <input class="search" type="image" src="view/img/zoom2.png" alt="buscar"/>
      </div>
   </form>
   <div id="subcuentas"></div>
</div>

<form id="f_asiento" name="f_asiento" action="{$fsc->url()}" method="post">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" name="numlineas" value="0"/>
   <div class="rounded">
      <table class="list">
         <tr>
            <td>
               Fecha:
               <input class="tcal" name="fecha" type="text" value="{$fsc->asiento->fecha}" size="10"/>
            </td>
            <td colspan="2" align="center">
               Concepto:
               <select id="s_idconceptopar" name="idconceptopar" onchange="asigna_concepto()">
                  <option value="">---</option>
                  {loop="$fsc->concepto->all()"}<option value="{$value->idconceptopar}">{$value->concepto}</option>{/loop}
               </select>
               <input name="concepto" type="text" size="40" maxlength="250" autocomplete="off"/>
            </td>
            <td align="right">
               <input class="submit" type="submit" value="guardar"/>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               Divisa:
               <select name='divisa'>
                  {loop="$fsc->divisa->all()"}
                     <option value='{$value->coddivisa}'{if condition="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                  {/loop}
               </select>
            </td>
            <td colspan="2" align="right">
               Importe:
               <input type="text" name="importe" value="0" size="6" disabled="disabled"/>
               Descuadre:
               <input type="text" name="descuadre" value="0" size="6" disabled="disabled"/>
            </td>
         </tr>
      </table>
   </div>
   <div id="partidas"></div>
   <div class="rounded">
      <div class="new_line"><a href="#" onclick="add_partida(); return false;">Añadir línea...</a></div>
   </div>
</form>

{include="footer"}