<div id="popup_feedback" class="popup" style="display: none;">
   <h1>¿Necesitas ayuda?</h1>
   <p>
      La <a class="link" href="{$community_url}" target="_blank">comunidad FacturaScripts</a>
      está para ayudarte. Escribe tus preguntas o sugerencias y te contestaremos
      lo antes posible.
   </p>
   <br/>
   <form name="feedback" action="{$community_url}/feedback.php" method="post" target="_blank">
      <input type="hidden" name="feedback_info" value="{$fsc->system_info()}"/>
      <div class="etiquetas">
         <span>Elige una opción:</span>
         <input id="feedback_question" type="radio" name="feedback_type" value="question" checked="checked">
         <label for="feedback_question">Preguntar</label>
         <input id="feedback_problem" type="radio" name="feedback_type" value="error">
         <label for="feedback_problem">Informar de un error</label>
         <input id="feedback_idea" type="radio" name="feedback_type" value="idea">
         <label for="feedback_idea">Aportar una idea</label>
         <label onclick="window.open('{$community_url}','_blank')">Buscar en la ayuda</label>
      </div>
      <br/>
      {if condition="$fsc->empresa"}
      <textarea name="feedback_text" rows="12">{$fsc->empresa->email_firma}</textarea>
      <input type="text" name="feedback_email" size="30" placeholder="introduce tu email" value="{$fsc->empresa->email}"/>
      {else}
      <textarea name="feedback_text" rows="12"></textarea>
      <input type="text" name="feedback_email" size="30" placeholder="introduce tu email"/>
      {/if}
      <input class="submit" type="submit" value="enviar"/>
   </form>
   {if condition="!$demo AND mt_rand(0,99)==0"}
   <div style="display: none;">
      <iframe src="{$community_url}/stats.php?add=TRUE&version={$fsc->version()}&corp={function="urlencode($fsc->empresa->nombre)"}" height="0"></iframe>
   </div>
   {/if}
</div>