<form name="f_feedback" action="{#FS_COMMUNITY_URL#}/feedback.php" method="post" target="_blank" class="form" role="form">
   <input type="hidden" name="feedback_info" value="{$fsc->system_info()}"/>
   <input type="hidden" name="feedback_type" value="error"/>
   <div class="modal" id="modal_feedback">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Necesitas ayuda?</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="feedback_textarea">Detalla tu duda o problema:</label>
                  <textarea id="feedback_textarea" class="form-control" name="feedback_text" rows="6">{if condition="$fsc->empresa"}{$fsc->empresa->email_firma}{/if}</textarea>
               </div>
               <div class="form-group">
                  <label for="exampleInputEmail1">Tu email</label>
                  {if condition="$fsc->empresa"}
                  <input type="email" class="form-control" id="exampleInputEmail1" name="feedback_email" placeholder="Introduce tu email" value="{$fsc->empresa->email}"/>
                  {else}
                  <input type="email" class="form-control" id="exampleInputEmail1" name="feedback_email" placeholder="Introduce tu email"/>
                  {/if}
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

{if condition="$fsc->empresa AND !FS_DEMO AND mt_rand(0,9)==0"}
<div style="display: none;">
   <iframe src="{#FS_COMMUNITY_URL#}/stats.php?add=TRUE&version={$fsc->version()}" height="0"></iframe>
</div>
{/if}
