   {if condition="$db_history"}
   <div class="panel panel-warning" style="margin: 5px;">
      <div class="panel-heading">
         <h3 class="panel-title">Consultas SQL:</h3>
      </div>
      <div class="panel-body">
         <ol style="font-size: 11px; margin: 0px; padding: 0px 0px 0px 20px;">
            {loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}
         </ol>
      </div>
   </div>
   {/if}
   <div class="container-fluid" style="margin-top: 20px;">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-6">
            <span class="label label-default">Consultas: {$fsc->selects()}</span>
            <span class="label label-default">Transacciones: {$fsc->transactions()}</span>
         </div>
         <div class="col-lg-6 col-md-6 col-xs-6" style="text-align: right;">
            <span class="label label-default">Procesado en: {$fsc->duration()}</span>
         </div>
      </div>
   </div>
</body>
</html>
