   {if condition="$db_history"}
      <div id="sql_history">
         <h1>Consultas SQL:</h1>
         <ol>
         {loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}
         </ol>
      </div>
   {/if}
   </div>
   <a id="fs_feedback" href="#">Ayuda</a>
   <div class="footer">
      <table>
         <tr>
            <td class="left">
               CSS:
               {if condition="$fsc->css_file=='base.css'"}
                  <a class="selected" href="{$fsc->url()}&css_file=base.css">normal</a>
                  <a href="{$fsc->url()}&css_file=touch.css">touch</a>
               {else}
                  <a href="{$fsc->url()}&css_file=base.css">normal</a>
                  <a class="selected" href="{$fsc->url()}&css_file=touch.css">touch</a>
               {/if}
            </td>
            <td class="right">
               Consultas: {$fsc->selects()} |
               Transacciones: {$fsc->transactions()} |
               Procesado en: {$fsc->duration()}
            </td>
         </tr>
      </table>
   </div>
</body>
</html>
