   {if condition="$db_history"}
      <div id="sql_history">
         <h1>Consultas SQL:</h1>
         <ol>
         {loop="$fsc->get_db_history()"}<li>{$value}</li>{/loop}
         </ol>
      </div>
   {/if}
   </div>
   <div class="footer">
      <table>
         <tr>
            <td class="left">
               CSS:
               {if condition="$fsc->css_file=='base.css'"}
                  <a class="selected" href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a href="{$fsc->url()}&css_file=touch.css">touch</a> |
                  <a href="{$fsc->url()}&css_file=proto.css">proto</a>
               {elseif condition="$fsc->css_file=='touch.css'"}
                  <a href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a class="selected" href="{$fsc->url()}&css_file=touch.css">touch</a> |
                  <a href="{$fsc->url()}&css_file=proto.css">proto</a>
               {else}
                  <a href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a href="{$fsc->url()}&css_file=touch.css">touch</a> |
                  <a class="selected" href="{$fsc->url()}&css_file=proto.css">proto</a>
               {/if}
            </td>
            <td>
               Consultas: {$fsc->selects()} |
               Transacciones: {$fsc->transactions()} |
               Tiempo de ejecución: {$fsc->duration()}
            </td>
            <td class="right">
               <img src="img/bug.png" alt="bug"/>
               <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">Reportar un error</a>
            </td>
         </tr>
      </table>
   </div>
</body>
</html>
