{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_cliente").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_nuevo_cliente").css({
            left: ($(window).width() - $("#popup_nuevo_cliente").outerWidth())/2,
            top: ($(window).height() - $("#popup_nuevo_cliente").outerHeight())/2
         });
         $("#popup_nuevo_cliente").show();
         document.f_nuevo_cliente.nombre.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_cliente">
   <h1>Nuevo cliente:</h1>
   <form name="f_nuevo_cliente" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td><input type="text" name="codcliente" value="{$fsc->cliente->get_new_codigo()}" size="6" maxlegth="6"/></td>
         </tr>
         <tr>
            <td align="right">Nombre:</td>
            <td><input type="text" name="nombre" value="" size="30"/></td>
         </tr>
         <tr>
            <td align="right">CIF/NIF:</td>
            <td><input type="text" name="cifnif" value=""/></td>
         </tr>
         <tr>
            <td align="right">Serie:</td>
            <td>
               <select name="codserie">
               {loop="$fsc->serie->all()"}
                  <option value="{$value->codserie}">{$value->descripcion}</option>
               {/loop}
               </select>
            </td>
         </tr>
      </table>
      <div class="right"><input type="submit" value="nuevo cliente"/></div>
   </form>
</div>

<div class="rounded">
   {if condition="$fsc->query!=''"}
   <h1>Resultados de la búsqueda "{$fsc->query}":</h1>
   {/if}
   <table class="list">
      <tr>
         <th>código</th>
         <th>nombre</th>
         <th>nomre comercial</th>
         <th>cifnif</th>
         <th>teléfono</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td><a href="{$value->url()}">{$value->codcliente}</a></td>
         <td>{$value->nombre}</td>
         <td>{$value->nombrecomercial}</td>
         <td>{$value->cifnif}</td>
         <td>{$value->telefono1}</td>
      </tr>
      {/loop}
      <tr>
         <td>
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

{include="footer"}