{include="header"}

{if condition="$fsc->cliente"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_direcciones").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_direcciones").css({
            left: ($(window).width() - $("#popup_direcciones").outerWidth())/2,
            top: ($(window).height() - $("#popup_direcciones").outerHeight())/2
         });
         $("#popup_direcciones").show();
      });
      $("#b_subcuentas").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_subcuentas").css({
            left: ($(window).width() - $("#popup_subcuentas").outerWidth())/2,
            top: ($(window).height() - $("#popup_subcuentas").outerHeight())/2
         });
         $("#popup_subcuentas").show();
      });
   });
</script>

<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <h1>
         {$fsc->cliente->nombre}
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
      <div class="bloque">
         Nombre: <input type="text" name="nombre" value="{$fsc->cliente->nombre}"/>
      </div>
      <div class="bloque">
         Nombre comercial: <input type="text" name="nombrecomercial" value="{$fsc->cliente->nombrecomercial}"/>
      </div>
      <div class="bloque">
         cif/nif: <input type="text" name="cifnif" value="{$fsc->cliente->cifnif}"/>
      </div>
      <div class="bloque">
         Telefono1: <input type="text" name="telefono1" value="{$fsc->cliente->telefono1}"/>
      </div>
      <div class="bloque">
         Telefono2: <input type="text" name="telefono2" value="{$fsc->cliente->telefono2}"/>
      </div>
      <div class="bloque">
         Fax: <input type="text" name="fax" value="{$fsc->cliente->fax}"/>
      </div>
      <div class="bloque">
         email: <input type="text" name="email" value="{$fsc->cliente->email}"/>
      </div>
      <div class="bloque">
         web: <input type="text" name="web" value="{$fsc->cliente->web}"/>
      </div>
   </form>
</div>

<div class="popup" id="popup_direcciones" style="min-width: 700px">
   <h1>Direcciones:</h1>
   <table class="list">
      <tr>
         <th>Envío</th>
         <th>Facturación</th>
         <th>Pais</th>
         <th>Provincia</th>
         <th>Ciudad</th>
         <th>Cod. Postal</th>
         <th>Dirección</th>
         <th>Apartado</th>
      </tr>
      {loop="$fsc->cliente->get_direcciones()"}
      <tr>
         {if condition="$value->domenvio"}
         <td>Si</td>
         {else}
         <td>-</td>
         {/if}
         {if condition="$value->domfacturacion"}
         <td>Si</td>
         {else}
         <td>-</td>
         {/if}
         <td>{$value->codpais}</td>
         <td>{$value->provincia}</td>
         <td>{$value->ciudad}</td>
         <td>{$value->codpostal}</td>
         <td>{$value->direccion}</td>
         <td>{$value->apartado}</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="popup" id="popup_subcuentas" style="min-width: 700px">
   <h1>Subcuentas:</h1>
   <table class="list">
      <tr>
         <th>Ejercicio</th>
         <th>Subcuenta</th>
         <th>Descripción</th>
         <th>Debe</th>
         <th>Haber</th>
         <th>Saldo</th>
      </tr>
      {loop="$fsc->cliente->get_subcuentas()"}
      <tr>
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->codsubcuenta}</a></td>
         <td>{$value->descripcion}</td>
         <td align="right">{$value->show_debe()} €</td>
         <td align="right">{$value->show_haber()} €</td>
         <td align="right">{$value->show_saldo()} €</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="rounded">
   <h1>Albaranes:</h1>
   <table class="list">
      <tr>
         <th></th>
         <th>código</th>
         <th>número 2</th>
         <th>observaciones</th>
         <th align="right">total</th>
         <th align="right">fecha</th>
      </tr>
      {loop="$fsc->albaranes"}
      <tr>
         <td>{if condition="!$value->ptefactura"}F{/if}</td>
         <td><a href="{$value->url()}">{$value->codigo}</a></td>
         <td>{$value->numero2}</td>
         <td>{$value->observaciones_resume()}</td>
         <td align="right">{$value->show_total()} €</td>
         <td align="right">{$value->show_fecha()}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2">
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}