{include="header"}

{if condition="$fsc->albaran"}
<div class="rounded">
   <h1>
      <a href="{$fsc->albaran->proveedor_url()}">{$fsc->albaran->nombre}</a>
      <span><input type="submit" value="modificar"/></span>
   </h1>
   <form>
      <div class="bloque">
         Número: {$fsc->albaran->numero}
      </div>
      <div class="bloque">
         Num proveedor: <input type="text" name="numproveedor" value="{$fsc->albaran->numproveedor}"/>
      </div>
      <div class="bloque">
         Serie: {$fsc->albaran->codserie}
      </div>
      <div class="bloque">
         Ejercicio: {$fsc->albaran->codejercicio}
      </div>
      <div class="bloque">
         Fecha: <input class="tcal" type="text" name="fecha" value="{$fsc->albaran->fecha}" size="10"/>
      </div>
      {if condition="$fsc->agente"}
      <div class="bloque">
         Agente: <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
      </div>
      {/if}
      <div>
         Observaciones:<br/>
         <textarea name="observaciones" cols="60">{$fsc->albaran->observaciones}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">Total</th>
      </tr>
      {loop="$fsc->albaran->get_lineas()"}
      <tr>
         <td>
            <a href="{$value->articulo_url()}">{$value->referencia}</a>
            {$value->descripcion}
         </td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$value->show_pvp()} €</td>
         <td align="right">{$value->dtopor} %</td>
         <td align="right">{$value->show_total()} €</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2"></td>
         <td colspan="3">
            <table class="list">
               <tr>
                  <th>Neto:</th>
                  <th>IVA:</th>
                  <th>Total:</th>
               </tr>
               <tr>
                  <td align="center">{$fsc->albaran->show_neto()} €</td>
                  <td align="center">{$fsc->albaran->show_iva()} €</td>
                  <td align="center">{$fsc->albaran->show_total()} €</td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}