{include="header"}

{if condition="$fsc->albaran"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_eliminar").css({
            left: ($(window).width() - $("#popup_eliminar").outerWidth())/2,
            top: ($(window).height() - $("#popup_eliminar").outerHeight())/2
         });
         $("#popup_eliminar").show();
      });
   });
</script>

<div class="popup" id="popup_eliminar">
   <h1>Eliminar albarán</h1>
   {if condition="$fsc->albaran->idfactura"}
      <ul>
         <li>Hay una factura asociada que será eliminada junto con este albarán.</li>
      </ul>
   {/if}
   <table width="100%">
      <tr>
         <td>¿Realmente desea eliminar este albarán?</td>
         <td align="right">
            <a class="remove" href="{$fsc->ppage->url()}&delete={$fsc->albaran->idalbaran}">eliminar</a>
         </td>
      </tr>
   </table>
</div>

<div class="rounded">
   <form action="{$fsc->albaran->url()}" method="post">
      <input type="hidden" name="idalbaran" value="{$fsc->albaran->idalbaran}"/>
      <h1>
         <a href="{$fsc->albaran->proveedor_url()}">{$fsc->albaran->nombre}</a>
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <div class="bloque">
         Número: {$fsc->albaran->numero}
      </div>
      <div class="bloque">
         Num proveedor: <input type="text" name="numproveedor" value="{$fsc->albaran->numproveedor}"/>
      </div>
      <div class="bloque">
         Serie: {$fsc->albaran->codserie}
      </div>
      <div class="bloque">
         Ejercicio: {$fsc->albaran->codejercicio}
      </div>
      <div class="bloque">
         Fecha: <input class="tcal" type="text" name="fecha" value="{$fsc->albaran->fecha}" size="10"/>
      </div>
      {if condition="$fsc->agente"}
      <div class="bloque">
         Agente: <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
      </div>
      {/if}
      <div>
         Observaciones:<br/>
         <textarea name="observaciones" cols="60">{$fsc->albaran->observaciones}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">IVA</th>
         <th align="right">Total+IVA</th>
      </tr>
      {loop="$fsc->albaran->get_lineas()"}
      <tr>
         <td>
            <a href="{$value->articulo_url()}">{$value->referencia}</a>
            {$value->descripcion}
         </td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$value->show_pvp()} €</td>
         <td align="right">{$value->dtopor} %</td>
         <td align="right">{$value->iva} %</td>
         <td align="right">{$value->show_total_iva()} €</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>Neto:</th>
         <th>IVA:</th>
         <th>Total:</th>
      </tr>
      <tr>
         <td align="center">{$fsc->albaran->show_neto()} €</td>
         <td align="center">{$fsc->albaran->show_iva()} €</td>
         <td align="center">{$fsc->albaran->show_total()} €</td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}