{include="header"}

<div class="rounded">
   <h1>Nueva familia:</h1>
   <form action="{$fsc->url()}" method="post">
      <div class="bloque">Código: <input type="text" name="ncodfamilia" size="4" maxlength="4"/></div>
      <div class="bloque">Descripción: <input type="text" name="ndescripcion" size="60"/></div>
      <div class="right"><input type="submit" value="nueva familia"/></div>
   </form>
</div>

<div class="rounded">
   <ul class="horizontal">
   {loop="$fsc->all()"}
      <li><a href="{$value->url()}">{$value->codfamilia}</a> {$value->descripcion}</li>
   {/loop}
   </ul>
</div>

{include="footer"}