{include="header"}

<script type="text/javascript">
   function buscar_articulos()
   {
      if(document.f_buscar_articulos.query.value == '')
      {
         $("#search_results").html('');
         fs_resize_popup("popup_buscar_articulos", 40);
      }
      else
      {
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: $("form[name=f_buscar_articulos]").serialize(),
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_articulos.query.value )
               {
                  $("#search_results").html(datos);
                  fs_resize_popup("popup_buscar_articulos", 40);
               }
            }
         });
      }
   }
   $(document).ready(function() {
      $("#b_nuevo_paquete").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nuevo_paquete');
      });
      $("#b_buscar_articulos").click(function(event) {
         event.preventDefault();
         $("#search_results").html('');
         document.f_buscar_articulos.query.value = '';
         fs_show_popup('popup_buscar_articulos', 40);
         document.f_buscar_articulos.query.focus();
      });
      $("#f_buscar_articulos").keyup(function() {
         buscar_articulos();
      });
      $("#f_buscar_articulos").submit(function(event) {
         event.preventDefault();
         buscar_articulos();
      });
   });
</script>

<div class="popup" id="popup_nuevo_paquete">
   <h1>Nuevo paquete</h1>
   {if condition="$fsc->cache_paquete->articulos"}
   <form action="index.php?page=general_paquete" method="post">
      <div class="bloque">
         Este paquete equivale al artículo:
         <select name="referenciapaq">
         {loop="$fsc->cache_paquete->articulos"}
            {if condition="$fsc->paquete->referencia==$value->referencia"}
            <option value="{$value->referencia}" selected="selected">{$value->referencia}</option>
            {else}
            <option value="{$value->referencia}">{$value->referencia}</option>
            {/if}
         {/loop}
         </select>
         <br/>
         Es el artículo que le da el precio al paquete.
      </div>
      <br/>
      <div>
         ¿Cuantos grupos de artículos quieres que tenga esta paquete?
         <input type="text" name="grupos" value="{$fsc->paquete->grupos}" size="2" maxlength="2"/>
         <br/>
         Si intentas crear un menú de un restaurante lo normal sería tener 4 grupos:
         <ul>
            <li>El grupo 1 es para el plato principal.</li>
            <li>El grupo 2 para el segundo plato.</li>
            <li>El grupo 3 para la bebida.</li>
            <li>El grupo 4 para el postre.</li>
         </ul>
      </div>
      <table width="100%">
         <tr>
            <td colspan="2" align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
   {else}
      No hay ningún artículo en la cesta. Los paquetes se crean con los artículos que hay en la cesta.
   {/if}
</div>

<div class="popup" id="popup_buscar_articulos" style="min-width: 60%">
   <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post">
      <h1>Buscar artículos</h1>
      <div style="text-align: center;">
         <input type="text" name="query" size="40" autocomplete="off"/>
         <input class="search" type="image" src="view/img/zoom2.png" alt="buscar"/>
      </div>
      <div id="search_results"></div>
   </form>
</div>

<div class="rounded">
   <h1>Paquetes:</h1>
   <ul class="horizontal">
      {loop="$fsc->paquete->all()"}
      <li><a class="link" href="{$value->url()}">{$value->referencia}</a></li>
      {else}
      <li>No hay paquetes creados. Pulsa el botón <b>Nuevo</b> para crear uno.</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>
      Cesta:
      <span>
         <a class="button" id="b_buscar_articulos" href="#">añadir...</a>
         <a class="button" href="{$fsc->url()}&fillcache=TRUE">añadir los primeros artículos</a>
         <a class="delete" href="{$fsc->url()}&cleancache=TRUE">vaciar</a>
      </span>
   </h1>
   <ul class="horizontal">
      {loop="$fsc->cache_paquete->articulos"}
      <li><a class="link" href="{$value->url()}">{$value->referencia}</a></li>
      {else}
      <li>No hay artículos en la cesta. Los paquetes se crean a partir de los artículos que hay en la cesta.</li>
      {/loop}
   </ul>
</div>

{include="footer"}