{include="header"}

{if condition="$fsc->proveedor"}
<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
      <h1>
         {$fsc->proveedor->nombre}
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <div class="bloque">
         Nombre: <input type="text" name="nombre" value="{$fsc->proveedor->nombre}"/>
      </div>
      <div class="bloque">
         Nombre comercial: <input type="text" name="nombrecomercial" value="{$fsc->proveedor->nombrecomercial}"/>
      </div>
      <div class="bloque">
         cif/nif: <input type="text" name="cifnif" value="{$fsc->proveedor->cifnif}"/>
      </div>
      <div class="bloque">
         Telefono1: <input type="text" name="telefono1" value="{$fsc->proveedor->telefono1}"/>
      </div>
      <div class="bloque">
         Telefono2: <input type="text" name="telefono2" value="{$fsc->proveedor->telefono2}"/>
      </div>
      <div class="bloque">
         Fax: <input type="text" name="fax" value="{$fsc->proveedor->fax}"/>
      </div>
      <div class="bloque">
         email: <input type="text" name="email" value="{$fsc->proveedor->email}"/>
      </div>
      <div class="bloque">
         web: <input type="text" name="web" value="{$fsc->proveedor->web}"/>
      </div>
   </form>
</div>

<div class="rounded">
   <h1>Albaranes:</h1>
   <table class="list">
      <tr>
         <th></th>
         <th>código</th>
         <th>num. proveedor</th>
         <th>observaciones</th>
         <th align="right">total</th>
         <th align="right">fecha</th>
      </tr>
      {loop="$fsc->albaranes"}
      <tr>
         <td>{if condition="!$value->ptefactura"}F{/if}</td>
         <td><a href="{$value->url()}">{$value->codigo}</a></td>
         <td>{$value->numproveedor}</td>
         <td>{$value->observaciones_resume()}</td>
         <td align="right">{$value->show_total()} €</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2">
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}