{include="header"}

<script type="text/javascript">
   function change_tipo_albaran()
   {
      if( $("#tipo_albaran").val() == 'cliente' )
      {
         $("#proveedores").hide();
         $("#clientes").show();
      }
      else
      {
         $("#clientes").hide();
         $("#proveedores").show();
      }
   }
   $(document).ready(function() {
      change_tipo_albaran();
   });
</script>

<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
      <h1>
         Copiar a un nuevo...
         <span>
            <input class="submit" type="submit" value="copiar"/>
         </span>
      </h1>
      <select name="tipo" id="tipo_albaran" onchange="change_tipo_albaran()">
         <option value="cliente"{if condition="$fsc->tipo_albaran=='cliente'"} selected="selected"{/if}>{$albaran} de cliente</option>
         <option value="proveedor"{if condition="$fsc->tipo_albaran=='proveedor'"} selected="selected"{/if}>{$albaran} de proveedor</option>
      </select>
      <div class="bloque" id="clientes">
         de
         <select name="cliente">
         {loop="$fsc->cliente->all_full()"}
            {if condition="$fsc->tipo_albaran=='cliente'"}
               {if condition="$value->codcliente==$fsc->albaran->codcliente"}
               <option value="{$value->codcliente}" selected="selected">{$value->nombre}</option>
               {else}
               <option value="{$value->codcliente}">{$value->nombre}</option>
               {/if}
            {else}
            <option value="{$value->codcliente}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque" id="proveedores">
         de
         <select name="proveedor">
         {loop="$fsc->proveedor->all_full()"}
            {if condition="$fsc->tipo_albaran=='proveedor'"}
               {if condition="$value->codproveedor==$fsc->albaran->codproveedor"}
               <option value="{$value->codproveedor}" selected="selected">{$value->nombre}</option>
               {else}
               <option value="{$value->codproveedor}">{$value->nombre}</option>
               {/if}
            {else}
            <option value="{$value->codproveedor}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         con fecha
         <input class="tcal" type="text" name="fecha" value="{$fsc->today()}" size="10" autocomplete="off"/>
         y hora
         <input type="text" name="hora" value="{$fsc->hour()}" size="8" autocomplete="off"/>
      </div>
      <div class="bloque">
         desde el almacén
         <select name="almacen">
         {loop="$fsc->almacen->all()"}
            {if condition="$value->codalmacen==$fsc->albaran->codalmacen"}
               <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
            {else}
               <option value="{$value->codalmacen}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         pertenece a la serie
         <select name="serie">
         {loop="$fsc->serie->all()"}
            {if condition="$value->codserie==$fsc->albaran->codserie"}
               <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
            {else}
               <option value="{$value->codserie}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         forma de pago
         <select name="forma_pago">
         {loop="$fsc->forma_pago->all()"}
            {if condition="$value->codpago==$fsc->albaran->codpago"}
               <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->codpago}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         divisa
         <select name="divisa">
         {loop="$fsc->divisa->all()"}
            {if condition="$value->coddivisa==$fsc->albaran->coddivisa"}
               <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
            {else}
               <option value="{$value->coddivisa}">{$value->descripcion}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div>
         observaciones:
         <textarea name="observaciones" cols="50">Copia del {$albaran} de {$fsc->tipo_albaran} {$fsc->albaran->codigo}</textarea>
      </div>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th align="left">Artículo</th>
         <th align="right">Cantidad</th>
         <th align="right">PVP</th>
         <th align="right">dto</th>
         <th align="right">Total</th>
         <th align="right">IVA</th>
         <th align="right">Total+IVA</th>
      </tr>
      {loop="$fsc->albaran->get_lineas()"}
      <tr>
         <td><a class="link" href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}</td>
         <td align="right">{$value->cantidad}</td>
         <td align="right">{$fsc->show_precio($value->pvpunitario, $fsc->albaran->coddivisa)}</td>
         <td align="right">{$fsc->show_numero($value->dtopor, 2)} %</td>
         <td align="right">{$fsc->show_precio($value->pvptotal, $fsc->albaran->coddivisa)}</td>
         <td align="right">{$fsc->show_numero($value->iva, 2)} %</td>
         <td align="right">{$fsc->show_precio($value->total_iva(), $fsc->albaran->coddivisa)}</td>
      </tr>
      {/loop}
   </table>
   <br/><br/>
   <table class="list">
      <tr>
         <td><b>Neto:</b> {$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}</td>
         <td align="center"><b>IVA:</b> {$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)}</td>
         <td align="right"><b>Total:</b> {$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}</td>
      </tr>
   </table>
</div>

{include="footer"}