{include="header"}

<div class="rounded">
   {if condition="$fsc->query!=''"}
      <h1>Resultados de "{$fsc->query}":</h1>
   {/if}
   <table class="list">
      <tr>
         <th></th>
         <th>código</th>
         <th>num. proveedor</th>
         <th>proveedor</th>
         <th>observaciones</th>
         <th align="right">total</th>
         <th align="right">fecha</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td>{if condition="!$value->ptefactura"}F{/if}</td>
         <td><a href="{$value->url()}">{$value->codigo}</a></td>
         <td>{$value->numproveedor}</td>
         <td>{$value->nombre}</td>
         <td>{$value->observaciones_resume()}</td>
         <td align="right">{$value->show_total()} €</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {else}
      <tr>
         <td colspan="7">Ningún albarán encontrado. Pulsa el botón <b>Nuevo albarán</b> para crear uno.</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2">
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="4"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

{include="footer"}