{include="header"}

<script type="text/javascript">
   function buscar_lineas()
   {
      if(document.f_buscar_lineas.buscar_lineas.value == '')
      {
         $("#search_results").html('');
         $("#popup_buscar_lineas").css({
            left: ($(window).width() - $("#popup_buscar_lineas").outerWidth())/2,
            top: 40
         });
      }
      else
      {
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: $("form[name=f_buscar_lineas]").serialize(),
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_lineas.buscar_lineas.value )
               {
                  $("#search_results").html(datos);
                  $("#popup_buscar_lineas").css({
                     left: ($(window).width() - $("#popup_buscar_lineas").outerWidth())/2,
                     top: 40
                  });
               }
            }
         });
      }
   }
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      $("#b_buscar_lineas").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_buscar_lineas', 40);
         document.f_buscar_lineas.buscar_lineas.focus();
      });
      $("#f_buscar_lineas").keyup(function() {
         buscar_lineas();
      });
      $("#f_buscar_lineas").submit(function(event) {
         event.preventDefault();
         buscar_lineas();
      });
   });
</script>

<div class="popup" id="popup_buscar_lineas" style="min-width: 60%">
   <form id="f_buscar_lineas" name="f_buscar_lineas" action="{$fsc->url()}" method="post">
      <h1>Buscar en las líneas</h1>
      <div style="text-align: center;">
         <input type="text" name="buscar_lineas" size="40" autocomplete="off"/>
         <input type="submit" value="buscar"/>
      </div>
   </form>
   <div id="search_results"></div>
</div>

<div class="rounded">
   {if condition="$fsc->query!=''"}<h1>Resultados de "{$fsc->query}":</h1>{/if}
   <table class="list">
      <tr>
         <th></th>
         <th align="left">código + num. proveedor</th>
         <th align="left">proveedor</th>
         <th align="left">observaciones</th>
         <th align="right">total</th>
         <th align="right">fecha</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td align="center">{if condition="!$value->ptefactura"}F{/if}</td>
         <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
         <td>{$value->nombre}</td>
         <td>{$value->observaciones_resume()}</td>
         <td align="right">{$value->show_total()} €</td>
         <td align="right">{$value->fecha}</td>
      </tr>
      {else}
      <tr>
         <td colspan="6">Ningún albarán encontrado. Pulsa el botón <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="2">
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

<div class="advice"><b>F</b> significa que el albarán ha sido facturado.</div>

{include="footer"}