{include="header"}

{if condition="$fsc->articulo"}
<script type="text/javascript">
   function recalcular()
   {
      var iva = parseFloat( $("#iva").val() );
      var pvp = parseFloat( $("#pvp").val() );
      var dto = 0;
      for(var i=0; i<100; i++)
      {
         if( $("#dto_"+i) )
         {
            dto = parseFloat( $("#dto_"+i).val() );
            if( isNaN(dto) )
               dto = 0;
            
            $("#pvp_"+i).val( pvp * (100 - dto)/100 );
            $("#pvpi_"+i).val( pvp * (100 - dto)/100 * (100 + iva)/100 );
         }
      }
   }
   function cambiar_pvp()
   {
      var iva = parseFloat( $("#iva").val() );
      var pvp = parseFloat( $("#pvp").val() );
      $("#pvpi").val( pvp * (100 + iva)/100 );
      recalcular();
   }
   function cambiar_pvpi()
   {
      var iva = parseFloat( $("#iva").val() );
      var pvpi = parseFloat( $("#pvpi").val() );
      $("#pvp").val( (100 * pvpi) / (100 + iva) );
      recalcular();
   }
   function ajustar_dto()
   {
      var pvp = parseFloat( $("#pvp").val() );
      var iva = parseFloat( $("#iva").val() );
      var dto = 0;
      for(var i=0; i<100; i++)
      {
         if( $("#dto_"+i) )
         {
            dto = parseFloat( $("#dto_"+i).val() );
            $("#pvp_"+i).val( pvp * (100 - dto)/100 );
            $("#pvpi_"+i).val( pvp * (100 - dto)/100 * (100 + iva)/100 );
         }
      }
   }
   function ajustar_pvp()
   {
      var pvp = parseFloat( $("#pvp").val() );
      var iva = parseFloat( $("#iva").val() );
      var npvp = 0;
      for(var i=0; i<100; i++)
      {
         if( $("#pvp_"+i) )
         {
            npvp = parseFloat( $("#pvp_"+i).val() );
            
            if(pvp == 0)
            {
               $("#pvp").val(npvp);
               cambiar_pvp();
               pvp = parseFloat( $("#pvp").val() );
               iva = parseFloat( $("#iva").val() );
            }
            
            $("#dto_"+i).val( 100 - (100*npvp)/pvp );
            $("#pvpi_"+i).val( npvp * (100 + iva)/100 );
         }
      }
   }
   function ajustar_pvpi()
   {
      var pvp = parseFloat( $("#pvp").val() );
      var iva = parseFloat( $("#iva").val() );
      var npvp = 0;
      var npvpi = 0;
      for(var i=0; i<100; i++)
      {
         if( $("#pvp_"+i) )
         {
            npvpi = parseFloat( $("#pvpi_"+i).val() );
            
            if(parseFloat($("#pvpi").val()) == 0)
            {
               $("#pvpi").val(npvpi);
               cambiar_pvpi();
               pvp = parseFloat( $("#pvp").val() );
               iva = parseFloat( $("#iva").val() );
            }
            
            npvp = (100*npvpi)/(100+iva);
            $("#pvp_"+i).val( npvp );
            $("#dto_"+i).val( 100 - (100*npvp)/pvp );
         }
      }
   }
   function sum_stock(id, value)
   {
      var uds = parseFloat($("#stock_cantidad_"+id).val()) + value;
      if(uds < 0)
         uds = 0;
      $("#stock_cantidad_"+id).val(uds);
   }
   function buscar_articulo_en(donde, offset)
   {
      $.ajax({
         type: 'POST',
         url: '{$fsc->url()}',
         dataType: 'html',
         data: 'buscar='+donde+'&offset='+offset,
         success: function(datos) {
            $("#popup_buscar").html(datos);
         }
      });
   }
   $(document).ready(function() {
      $("#b_eliminar_articulo").click(function(event) {
         event.preventDefault();
         if( confirm("¿Estas seguro de que deseas eliminar este articulo?") )
            window.location.href = "{$fsc->ppage->url()}&delete={function="urlencode($fsc->articulo->referencia)"}";
      });
      $("#b_imagen").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_articulo_imagen');
      });
      $("#b_buscar_albcli").click(function(event) {
         event.preventDefault();
         $("#popup_buscar").html('Cargando...');
         fs_show_popup('popup_buscar', 40);
         buscar_articulo_en('albcli', 0);
      });
      $("#b_buscar_albpro").click(function(event) {
         event.preventDefault();
         $("#popup_buscar").html('Cargando...');
         fs_show_popup('popup_buscar', 40);
         buscar_articulo_en('albpro', 0);
      });
      $("#b_buscar_faccli").click(function(event) {
         event.preventDefault();
         $("#popup_buscar").html('Cargando...');
         fs_show_popup('popup_buscar', 40);
         buscar_articulo_en('faccli', 0);
      });
      $("#b_buscar_facpro").click(function(event) {
         event.preventDefault();
         $("#popup_buscar").html('Cargando...');
         fs_show_popup('popup_buscar', 40);
         buscar_articulo_en('facpro', 0);
      });
   });
</script>

<div class="popup" id="popup_articulo_imagen">
   <h1>Imagen</h1>
   Selecciona una imagen en formato PNG de tamaño inferior a 1MB.<br/>
   {if condition="$fsc->articulo->imagen_url()"}
      <center>
         <img src="{$fsc->articulo->imagen_url()}" alt="{$fsc->articulo->referencia}"/>
         <br/>
         <a class="link" href="{$fsc->url()}&delete_img=TRUE">eliminar imagen</a>
      </center>
   {/if}
   <form action="{$fsc->url()}" enctype="multipart/form-data" method="post">
      <input type="hidden" name="referencia" value="{$fsc->articulo->referencia}"/>
      <input type="hidden" name="imagen" value="TRUE"/>
      <table width="100%">
         <tr>
            <td><input type="file" name="fimagen" accept="image/png"/></td>
            <td align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="popup" id="popup_buscar" style="min-width: 75%">
   cargando...
</div>

<table width="100%">
<tr>
   <td valign="top">
      <div class="rounded">
         <form action="{$fsc->url()}" method="post">
         <h1>
            {if condition="$fsc->articulo->descripcion"}
               {$fsc->articulo->descripcion}
            {else}
               Sin descripción
            {/if}
            <span>
               {if condition="$fsc->articulo->bloqueado"}
               <input type="checkbox" name="bloqueado" value="TRUE" checked="checked" id="articulo_bloqueado"/>
               {else}
               <input type="checkbox" name="bloqueado" value="TRUE" id="articulo_bloqueado"/>
               {/if}
               <label for="articulo_bloqueado">bloqueado</label>
               &nbsp;
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </span>
         </h1>
         <input type="hidden" name="referencia" value="{$fsc->articulo->referencia}"/>
         <div class="bloque">
            Descripción:
            <input type="text" name="descripcion" value="{$fsc->articulo->descripcion}" size="60" autocomplete="off"/>
         </div>
         <div class="bloque">
            <a class="link" href="{$fsc->familia->url()}">Familia</a>:
            <select name="codfamilia">
            {loop="$fsc->familia->all()"}
               {if condition="$value->codfamilia===$fsc->articulo->codfamilia"}
                  <option value="{$value->codfamilia}" selected="selected">{$value->descripcion}</option>
               {else}
                  <option value="{$value->codfamilia}">{$value->descripcion}</option>
               {/if}
            {/loop}
            </select>
         </div>
         <div class="bloque">
            Código de barras:
            <input type="text" name="codbarras" value="{$fsc->articulo->codbarras}" autocomplete="off"/>
         </div>
         <div>
            Código de equivalencia:
            <input type="text" name="equivalencia" value="{$fsc->articulo->equivalencia}" autocomplete="off"/>
            Dos o más artículos son equivalentes si tienen el mismo código de equivalencia.
            <div class="bloque">
            {if condition="$fsc->articulo->destacado"}
               <input type="checkbox" name="destacado" value="TRUE" checked="checked" id="articulo_destacado"/>
            {else}
               <input type="checkbox" name="destacado" value="TRUE" id="articulo_destacado"/>
            {/if}
            <label for="articulo_destacado">Destacar frente a productos equivalentes</label>
            </div>
         </div>
         <div>
            <div class="bloque">
               {if condition="$fsc->articulo->secompra"}
               <input type="checkbox" name="secompra" value="TRUE" checked="checked" id="articulo_secompra"/>
               {else}
               <input type="checkbox" name="secompra" value="TRUE" id="articulo_secompra"/>
               {/if}
               <label for="articulo_secompra">Se compra</label>
            </div>
            <div class="bloque">
               {if condition="$fsc->articulo->sevende"}
               <input type="checkbox" name="sevende" value="TRUE" checked="checked" id="articulo_sevende"/>
               {else}
               <input type="checkbox" name="sevende" value="TRUE" id="articulo_sevende"/>
               {/if}
               <label for="articulo_sevende">Se vende</label>
            </div>
            <div class="bloque">
               {if condition="$fsc->articulo->publico"}
               <input type="checkbox" name="publico" value="TRUE" checked="checked" id="articulo_publico"/>
               {else}
               <input type="checkbox" name="publico" value="TRUE" id="articulo_publico"/>
               {/if}
               <label for="articulo_publico">Público</label>
            </div>
         </div>
         <div>
            Observaciones:
            <br/>
            <textarea name="observaciones" cols="60" rows="3">{$fsc->articulo->observaciones}</textarea>
         </div>
         <div>
            <div class="bloque">
               Stock:
               <input type="text" name="stockfis" value="{$fsc->articulo->stockfis}" size="5" disabled="disabled"/>
            </div>
            <div class="bloque">
               Stock mínimo:
               <input type="text" name="stockmin" value="{$fsc->articulo->stockmin}" size="5" autocomplete="off"/>
            </div>
            <div class="bloque">
               Stock máximo:
               <input type="text" name="stockmax" value="{$fsc->articulo->stockmax}" size="5" autocomplete="off"/>
            </div>
            <div class="bloque">
               {if condition="$fsc->articulo->controlstock"}
               <input type="checkbox" name="controlstock" value="TRUE" checked="checked" id="articulo_controlstock"/>
               {else}
               <input type="checkbox" name="controlstock" value="TRUE" id="articulo_controlstock"/>
               {/if}
               <label for="articulo_controlstock">Permitir ventas sin stock</label>
            </div>
         </div>
         </form>
      </div>
      <div class="rounded">
         <table class="list">
         <tr>
            <th align="left">Almacén</th>
            <th>Cantidad</th>
            <th>Reservada</th>
            <th>Disponible</th>
            <th>Pendiente de recibir</th>
         </tr>
         {loop="$fsc->stocks"}
         <tr>
            <form action="{$fsc->url()}" method="post">
               <input type="hidden" name="idstock" value="{$value->idstock}"/>
               <input type="hidden" name="almacen" value="{$value->codalmacen}"/>
               <input type="hidden" name="referencia" value="{$fsc->articulo->referencia}"/>
               <td>{$value->codalmacen} {$value->nombre}</td>
               <td align="center">
                  <input class="button" type="button" value="-" onclick="sum_stock('{$counter}', -1)"/>
                  <input type="text" id="stock_cantidad_{$counter}" name="cantidad" value="{$value->cantidad}" size="3" autocomplete="off"/>
                  <input class="button" type="button" value="+" onclick="sum_stock('{$counter}', 1)"/>
               </td>
               <td align="center">{$value->reservada}</td>
               <td align="center">{$value->disponible}</td>
               <td align="center">{$value->pterecibir}</td>
               <td align="right">
                  <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
               </td>
            </form>
         </tr>
         {/loop}
         {if condition="$fsc->nuevos_almacenes"}
         <tr>
            <form action="{$fsc->url()}" method="post">
               <input type="hidden" name="referencia" value="{$fsc->articulo->referencia}"/>
               <td>
                  <select name="almacen">
                     {loop="$fsc->nuevos_almacenes"}
                     <option value="{$value->codalmacen}">{$value->nombre}</option>
                     {/loop}
                  </select>
               </td>
               <td align="center"><input type="text" name="cantidad" value="0" size="3" autocomplete="off"/></td>
               <td align="center"></td>
               <td align="center"></td>
               <td align="center"></td>
               <td align="right">
                  <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
               </td>
            </form>
         </tr>
         {/if}
         </table>
      </div>
      
      <div class="rounded">
         <h1>Buscar en...</h1>
         <ul class="bloque">
            <li><a id="b_buscar_albcli" href="#">{$albaranes}<br/>de<br/>cliente</a></li>
            <li><a id="b_buscar_albpro" href="#">{$albaranes}<br/>de<br/>proveedor</a></li>
            <li class="verde"><a id="b_buscar_faccli" href="#">Facturas<br/>de<br/>cliente</a></li>
            <li class="verde"><a id="b_buscar_facpro" href="#">Facturas<br/>de<br/>proveedor</a></li>
         </ul>
      </div>
   </td>
   <td valign="top" width="350">
      <div class="rounded">
         <form action="{$fsc->url()}" method="post">
            <input type="hidden" name="referencia" value="{$fsc->articulo->referencia}"/>
            <h1>
               Precios:
               <span>
                  <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
               </span>
            </h1>
            <table class="list">
               <tr>
                  <th align="left">IVA</th>
                  <th align="right">Último cambio de precio</th>
               </tr>
               <tr>
                  <td>
                     <select name="codimpuesto">
                     {loop="$fsc->impuesto->all()"}
                        {if condition="$value->codimpuesto==$fsc->articulo->codimpuesto"}
                        <option value="{$value->codimpuesto}" selected="selected">{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codimpuesto}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                     </select>
                  </td>
                  <td align="right">{$fsc->articulo->factualizado}</td>
               </tr>
            </table>
            <br/>
            <table class="list">
               <tr>
                  <th align="left">Tarifa</th>
                  <th>Dto.</th>
                  <th>PVP</th>
                  <th>PVP+IVA</th>
               </tr>
               <tr>
                  <td>Coste</td>
                  <td align="center">0.00</td>
                  <td align="center">{$fsc->show_precio($fsc->articulo->costemedio)}</td>
                  <td align="center">{$fsc->show_precio($fsc->articulo->costemedio_iva())}</td>
               </tr>
               <tr>
                  <td>General</td>
                  <td align="center">0.00</td>
                  <td>
                     <input type="hidden" id="iva" name="iva" value="{$fsc->articulo->get_iva()}"/>
                     <input type="text" class="full" id="pvp" name="pvp" value="{$fsc->articulo->pvp}" size="5" autocomplete="off" onkeyup="cambiar_pvp()" onclick="this.select()"/>
                  </td>
                  <td>
                     <input type="text" class="full" id="pvpi" name="pvpiva" value="{$fsc->articulo->pvp_iva()}" size="5" autocomplete="off" onkeyup="cambiar_pvpi()" onclick="this.select()"/>
                  </td>
               </tr>
               {loop="$fsc->articulo->get_tarifas(TRUE)"}
               <tr>
                  <td>{$value->nombre}</td>
                  <td>
                     <input type="hidden" name="id_{$counter}" value="{$value->id}"/>
                     <input type="hidden" name="codtarifa_{$counter}" value="{$value->codtarifa}"/>
                     <input type="text" class="full" id="dto_{$counter}" name="dto_{$counter}" value="{$value->descuento}" size="5" autocomplete="off" onkeyup="ajustar_dto()" onclick="this.select()"/>
                  </td>
                  <td>
                     <input type="text" class="full" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvp()}" size="5" autocomplete="off" onkeyup="ajustar_pvp()" onclick="this.select()"/>
                  </td>
                  <td>
                     <input type="text" class="full" id="pvpi_{$counter}" name="pvpiva_{$counter}" value="{$value->pvp_iva()}" size="5" autocomplete="off" onkeyup="ajustar_pvpi()" onclick="this.select()"/>
                  </td>
               </tr>
               {/loop}
            </table>
         </form>
      </div>
      
      <div class="rounded">
         <h1>Artículos equivalentes:</h1>
         {if condition="$fsc->equivalentes"}
         <table class="list">
            <tr>
               <th align="left">artículo</th>
               <th align="right">PVP+IVA</th>
               <th align="right">stock</th>
            </tr>
            {loop="$fsc->equivalentes"}
            <tr>
               <td><a class="link" href="{$value->url()}">{$value->referencia}</a></td>
               <td align="right">{$fsc->show_precio($value->pvp_iva())}</td>
               <td align="right">{$value->stockfis}</td>
            </tr>
            {/loop}
         </table>
         {else}
            No hay artículos equivalentes.
         {/if}
      </div>
   </td>
</tr>
</table>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}