{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_articulo").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_nuevo_articulo").css({
            left: ($(window).width() - $("#popup_nuevo_articulo").outerWidth())/2,
            top: ($(window).height() - $("#popup_nuevo_articulo").outerHeight())/2
         });
         $("#popup_nuevo_articulo").show();
         document.f_nuevo_articulo.referencia.focus();
      });
      $("#b_modo_rajoy").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_modo_rajoy").css({
            left: ($(window).width() - $("#popup_modo_rajoy").outerWidth())/2,
            top: ($(window).height() - $("#popup_modo_rajoy").outerHeight())/2
         });
         $("#popup_modo_rajoy").show();
      });
   });
</script>

<div class="popup" id="popup_nuevo_articulo">
   <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post">
      <h1>Nuevo artículo:</h1>
      <table>
         <tr>
            <td align="right">Referencia:</td>
            <td><input type="text" name="referencia" size="20" maxlength="18"/></td>
         </tr>
         <tr>
            <td align="right"><a href="{$fsc->familia->url()}">Familia</a>:</td>
            <td>
               <select name="codfamilia">
               {loop="$fsc->familia->all()"}
                  <option value="{$value->codfamilia}">{$value->descripcion}</option>
               {else}
                  <option value="">No hay familias creadas. Debes crear almenos una.</option>
               {/loop}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right"><a href="{$fsc->impuesto->url()}">IVA</a>:</td>
            <td>
               <select name="codimpuesto">
               {loop="$fsc->impuesto->all()"}
                  {if condition="$value->is_default()"}
                  <option value="{$value->codimpuesto}" selected="selected">{$value->descripcion}</option>
                  {else}
                  <option value="{$value->codimpuesto}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
            </td>
         </tr>
      </table>
      <br/>
      <div class="right"><input type="submit" value="nuevo artículo"/></div>
   </form>
</div>

<div class="popup" id="popup_modo_rajoy">
   <form action="{$fsc->url()}" method="post">
      <input type="hidden" name="modo_rajoy" value="TRUE"/>
      <center>
         <img src="http://i.imgur.com/2vvx8.png" alt="mariano"/>
      </center>
      Mover los artículos con
      <select name="codimpuesto">
         {loop="$fsc->impuesto->all()"}
            <option value="{$value->codimpuesto}">{$value->descripcion}</option>
         {/loop}
      </select>
      a
      <select name="codimpuesto2">
         {loop="$fsc->impuesto->all()"}
            <option value="{$value->codimpuesto}">{$value->descripcion}</option>
         {/loop}
      </select>
      Y ...
      <input type="submit" value="¡Que nos jodan!"/>
   </form>
</div>

<div class="rounded">
   {if condition="$fsc->query!=''"}
   <h1>Resultados de la búsqueda "{$fsc->query}":</h1>
   {/if}
   <table class="list">
      <tr>
         <th>referencia</th>
         <th>familia</th>
         <th>descripción</th>
         <th align="right">PVP+IVA</th>
         <th align="right">stock</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         {if condition="$value->bloqueado"}
            <td><s><a href="{$value->url()}">{$value->referencia}</a></s></td>
         {else}
            <td><a href="{$value->url()}">{$value->referencia}</a></td>
         {/if}
         <td>{$value->codfamilia}</td>
         <td>{$value->descripcion}</td>
         <td align="right"><span title="actualizado el {$value->factualizado}">{$value->show_pvp_iva()} &euro;</span></td>
         <td align="right">{$value->stockfis}</td>
      </tr>
      {else}
      <tr>
         <td colspan="5">Ningun artículo encontrado. Pulsa el botón <b>Nuevo artículo</b> para crear uno.</td>
      </tr>
      {/loop}
      <tr>
         <td>
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="3"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

{include="footer"}