{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      $("#b_nuevo_cliente").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_nuevo_cliente');
         document.f_nuevo_cliente.nombre.focus();
      });
   });
</script>

<div class="popup" id="popup_nuevo_cliente">
   <h1>Nuevo cliente</h1>
   <form name="f_nuevo_cliente" action="{$fsc->url()}" method="post">
      <table>
         <tr>
            <td align="right">Código:</td>
            <td>
               <input type="text" name="codcliente" value="{$fsc->cliente->get_new_codigo()}" size="6" maxlegth="6" autocomplete="off"/>
            </td>
         </tr>
         <tr>
            <td align="right"><a class="link" href="{$fsc->serie->url()}">Serie</a>:</td>
            <td>
               <select name="codserie">
               {loop="$fsc->serie->all()"}
                  <option value="{$value->codserie}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
               {/loop}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right">Nombre:</td>
            <td><input type="text" name="nombre" value="" size="30" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right">CIF/NIF:</td>
            <td><input type="text" name="cifnif" value="" autocomplete="off"/></td>
         </tr>
         <tr>
            <td align="right"><a class="link" href="{$fsc->pais->url()}">País</a>:</td>
            <td>
               <select name="pais">
                  {loop="$fsc->pais->all()"}
                     <option value="{$value->codpais}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->nombre}</option>
                  {/loop}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right">Provincia:</td>
            <td><input type="text" name="provincia" size="12" autocomplete="off" value="{$fsc->empresa->provincia}"/></td>
         </tr>
         <tr>
            <td align="right">Ciudad:</td>
            <td><input type="text" name="ciudad" size="12" autocomplete="off" value="{$fsc->empresa->ciudad}"/></td>
         </tr>
         <tr>
            <td align="right">Código postal:</td>
            <td><input type="text" name="codpostal" size="6" autocomplete="off" value="{$fsc->empresa->codpostal}"/></td>
         </tr>
         <tr>
            <td align="right">Dirección:</td>
            <td><input type="text" name="direccion" size="30" value="C/ " autocomplete="off"/></td>
         </tr>
         <tr>
            <td colspan="2" align="right">
               <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
            </td>
         </tr>
      </table>
   </form>
</div>

<div class="rounded">
   {if condition="$fsc->query!=''"}<h1>Resultados de la búsqueda "{$fsc->query}":</h1>{/if}
   <table class="list">
      <tr>
         <th align="left">código</th>
         <th align="left">nombre</th>
         <th align="left">cifnif</th>
         <th align="left">observaciones</th>
      </tr>
      {loop="$fsc->resultados"}
      <tr>
         <td><a class="link" href="{$value->url()}">{$value->codcliente}</a></td>
         <td>{$value->nombre}</td>
         <td>{$value->cifnif}</td>
         <td>{$value->observaciones_resume()}</td>
      </tr>
      {else}
      <tr>
         <td colspan="4">Ningún cliente encontrado. Pulse el botón <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
      <tr><td colspan="4">&nbsp;</td></tr>
      <tr>
         <td>
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="2"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>

{include="footer"}