{include="header"}

{if condition="$fsc->proveedor"}
<script type="text/javascript">
   function buscar_lineas()
   {
      if(document.f_buscar_lineas.buscar_lineas.value == '')
      {
         $("#search_results").html('');
         fs_resize_popup('popup_buscar_lineas', 40);
      }
      else
      {
         $.ajax({
            type: 'POST',
            url: '{$fsc->url()}',
            dataType: 'html',
            data: $("form[name=f_buscar_lineas]").serialize(),
            success: function(datos) {
               var re = /<!--(.*?)-->/g;
               var m = re.exec( datos );
               if( m[1] == document.f_buscar_lineas.buscar_lineas.value )
               {
                  $("#search_results").html(datos);
                  fs_resize_popup('popup_buscar_lineas', 40);
               }
            }
         });
      }
   }
   $(document).ready(function() {
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar este proveedor?") )
            window.location.href = '{$fsc->ppage->url()}&delete={$fsc->proveedor->codproveedor}';
      });
      $("#b_datos_generales, #b_datos_generales2").click(function(event) {
         event.preventDefault();
         $("#div_datos_generales").show();
         $("#div_direcciones").hide();
         $("#div_subcuentas").hide();
      });
      $("#b_direcciones, #b_direcciones2").click(function(event) {
         event.preventDefault();
         $("#div_datos_generales").hide();
         $("#div_direcciones").show();
         $("#div_subcuentas").hide();
      });
      $("#b_subcuentas, #b_subcuentas2").click(function(event) {
         event.preventDefault();
         $("#div_datos_generales").hide();
         $("#div_direcciones").hide();
         $("#div_subcuentas").show();
      });
      $("#b_buscar_lineas").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_buscar_lineas', 40);
         document.f_buscar_lineas.buscar_lineas.focus();
      });
      $("#f_buscar_lineas").keyup(function() {
         buscar_lineas();
      });
      $("#f_buscar_lineas").submit(function(event) {
         event.preventDefault();
         buscar_lineas();
      });
   });
</script>

{if condition="$fsc->listar=='stats'"}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   // Load the Visualization API and the piechart package.
   google.load('visualization', '1.0', {'packages':['corechart']});
   
   // Set a callback to run when the Google Visualization API is loaded.
   google.setOnLoadCallback(drawChart);
   
   // Callback that creates and populates a data table,
   // instantiates the pie chart, passes in the data and
   // draws it.
   function drawChart()
   {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'mes');
      data.addColumn('number', 'compras');
      data.addRows([
      {loop="$fsc->stats_last_months()"}
         ['{$value['mes']}', {$value['compras']}],
      {/loop}
      ]);
      
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.AreaChart(document.getElementById('chart_albaranes_month'));
      chart.draw(data);
   }
</script>
{/if}

<div class="rounded" id="div_datos_generales">
   <div class="select">
      <a href="#" class="selected">Datos generales</a>
      <a id="b_direcciones" href="#">Direcciones</a>
      <a id="b_subcuentas" href="#">Subcuentas</a>
   </div>
   <br/><br/>
   <form action="{$fsc->url()}" method="post">
      <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
      <div class="bloque">
         Nombre: <input type="text" name="nombre" value="{$fsc->proveedor->nombre}" size="25"/>
      </div>
      <div class="bloque">
         Nombre comercial: <input type="text" name="nombrecomercial" value="{$fsc->proveedor->nombrecomercial}" size="35"/>
      </div>
      <div class="bloque">
         cif/nif: <input type="text" name="cifnif" value="{$fsc->proveedor->cifnif}" size="10"/>
      </div>
      <div class="bloque">
         Telefono1: <input type="text" name="telefono1" value="{$fsc->proveedor->telefono1}" size="9"/>
      </div>
      <div class="bloque">
         Telefono2: <input type="text" name="telefono2" value="{$fsc->proveedor->telefono2}" size="9"/>
      </div>
      <div class="bloque">
         Fax: <input type="text" name="fax" value="{$fsc->proveedor->fax}" size="9"/>
      </div>
      <div class="bloque">
         Email: <input type="text" name="email" value="{$fsc->proveedor->email}" size="30"/>
      </div>
      <div class="bloque">
         Web: <input type="text" name="web" value="{$fsc->proveedor->web}" size="50"/>
      </div>
      <div>
         Observaciones:
         <textarea name="observaciones" rows="3" cols="60">{$fsc->proveedor->observaciones}</textarea>
      </div>
      <input class="submit pull_right" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
      <div>
         <div class="bloque">
            <a class="link" href="{$fsc->serie->url()}">Serie</a>:
            <select name="codserie">
               {loop="$fsc->serie->all()"}
                  {if condition="$value->codserie==$fsc->proveedor->codserie"}
                     <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Forma de pago:
            <select name="codpago">
               {loop="$fsc->forma_pago->all()"}
                  {if condition="$value->codpago==$fsc->proveedor->codpago"}
                     <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Divisa:
            <select name="coddivisa">
               {loop="$fsc->divisa->all()"}
                  {if condition="$value->coddivisa==$fsc->proveedor->coddivisa"}
                     <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->coddivisa}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
      </div>
   </form>
</div>

<div class="rounded hidden" id="div_direcciones">
   <div class="select">
      <a id="b_datos_generales" href="#">Datos generales</a>
      <a href="#" class="selected">Direcciones</a>
      <a id="b_subcuentas2" href="#">Subcuentas</a>
   </div>
   <br/><br/>
   {loop="$fsc->proveedor->get_direcciones()"}
      <div class="grupo">
         <form action="{$fsc->url()}" method="post"/>
            <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
            <input type="hidden" name="coddir" value="{$value->id}"/>
            <h2>Dirección {$value->id}:</h2>
            <div class="bloque">
               <a class="link" href="">País</a>:
               <select name="pais">
                  {loop="$fsc->pais->all()"}
                     {if condition="$value1->codpais==$value2->codpais"}
                        <option value="{$value2->codpais}" selected="selected">{$value2->nombre}</option>
                     {else}
                        <option value="{$value2->codpais}">{$value2->nombre}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
            <div class="bloque">
               Provincia:
               <input type="text" name="provincia" value="{$value->provincia}" size="12"/>
            </div>
            <div class="bloque">
               Ciudad:
               <input type="text" name="ciudad" value="{$value->ciudad}" size="12"/>
            </div>
            <div class="bloque">
               Código postal:
               <input type="text" name="codpostal" value="{$value->codpostal}" size="6"/>
            </div>
            <div class="bloque">
               Dirección:
               <input type="text" name="direccion" value="{$value->direccion}" size="25"/>
            </div>
            <div class="bloque">
               Apartado:
               <input type="text" name="apartado" value="{$value->apartado}" size="6"/>
            </div>
            <div class="bloque">
               {if condition="$value->direccionppal"}
                  <input type="checkbox" name="direccionppal" id="direccionppal_{$value->id}" value="TRUE" checked="checked"/>
               {else}
                  <input type="checkbox" name="direccionppal" id="direccionppal_{$value->id}" value="TRUE"/>
               {/if}
               <label for="direccionppal_{$value->id}">Dirección principal</label>
            </div>
            <div class="bloque">
               Descripción:
               <input type="text" name="descripcion" value="{$value->descripcion}" size="60"/>
            </div>
            <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
         </form>
      </div>
   {/loop}
   <div class="grupo">
      <form action="{$fsc->url()}" method="post">
         <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
         <input type="hidden" name="coddir" value=""/>
         <h2>Nueva dirección:</h2>
         <div class="bloque">
            <a class="link" href="">País</a>:
            <select name="pais">
               {loop="$fsc->pais->all()"}
                  <option value="{$value->codpais}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->nombre}</option>
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Provincia:
            <input type="text" name="provincia" size="12"/>
         </div>
         <div class="bloque">
            Ciudad:
            <input type="text" name="ciudad" size="12"/>
         </div>
         <div class="bloque">
            Código postal:
            <input type="text" name="codpostal" size="6"/>
         </div>
         <div class="bloque">
            Dirección:
            <input type="text" name="direccion" size="25"/>
         </div>
         <div class="bloque">
            Apartado:
            <input type="text" name="apartado" size="6"/>
         </div>
         <div class="bloque">
            <input type="checkbox" name="direccionppal" id="ndireccionppal" value="TRUE" checked="checked"/>
            <label for="ndireccionppal">Dirección principal</label>
         </div>
         <div class="bloque">
            Descripción:
            <input type="text" name="descripcion" size="60"/>
         </div>
         <input class="submit" type="submit" value="guardar" onclick="this.disabled=true;this.form.submit();"/>
      </form>
   </div>
</div>

<div class="rounded hidden" id="div_subcuentas">
   <div class="select">
      <a id="b_datos_generales2" href="#">Datos generales</a>
      <a id="b_direcciones2" href="#">Direcciones</a>
      <a href="#" class="selected">Subcuentas</a>
   </div>
   <br/><br/>
   <table class="list">
      <tr>
         <th align="left">Ejercicio</th>
         <th align="left">Subcuenta</th>
         <th align="left">Descripción</th>
         <th align="right">Debe</th>
         <th align="right">Haber</th>
         <th align="right">Saldo</th>
      </tr>
      {loop="$fsc->proveedor->get_subcuentas()"}
      <tr>
         <td>{$value->codejercicio}</td>
         <td><a class="link" href="{$value->url()}">{$value->codsubcuenta}</a></td>
         <td>{$value->descripcion}</td>
         <td align="right">{$fsc->show_precio($value->debe, $value->coddivisa)}</td>
         <td align="right">{$fsc->show_precio($value->haber, $value->coddivisa)}</td>
         <td align="right">{$fsc->show_precio($value->saldo, $value->coddivisa)}</td>
      </tr>
      {else}
      <tr>
         <td colspan="6">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="popup" id="popup_buscar_lineas" style="min-width: 75%">
   <form id="f_buscar_lineas" name="f_buscar_lineas" action="{$fsc->url()}" method="post">
      <h1>Buscar en las líneas de los {$albaranes}</h1>
      <div style="text-align: center;">
         <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
         <input type="text" name="buscar_lineas" size="40" autocomplete="off"/>
         <input class="search" type="image" src="view/img/zoom2.png" alt="buscar"/>
      </div>
   </form>
   <div id="search_results"></div>
</div>

<div class="rounded">
   <a name="listado"></a>
   <div class="select">
      {if condition="$fsc->listar=='albaranes'"}
         <a href="{$fsc->url()}&listar=albaranes#listado" class="selected">{$albaranes}</a>
         <a href="{$fsc->url()}&listar=facturas#listado">Facturas</a>
         <a href="{$fsc->url()}&listar=stats#listado">Estadísticas</a>
      {elseif condition="$fsc->listar=='facturas'"}
         <a href="{$fsc->url()}&listar=albaranes#listado">{$albaranes}</a>
         <a href="{$fsc->url()}&listar=facturas#listado" class="selected">Facturas</a>
         <a href="{$fsc->url()}&listar=stats#listado">Estadísticas</a>
      {else}
         <a href="{$fsc->url()}&listar=albaranes#listado">{$albaranes}</a>
         <a href="{$fsc->url()}&listar=facturas#listado">Facturas</a>
         <a href="{$fsc->url()}&listar=stats#listado" class="selected">Estadísticas</a>
      {/if}
   </div>
   &nbsp; <img id="b_buscar_lineas" class="search touch" src="view/img/zoom2.png" alt="buscar"/>
   <br/><br/>
   <table class="list">
      {if condition="$fsc->listar=='albaranes'"}
         <tr>
            <th></th>
            <th align="left">código + num. proveedor</th>
            <th align="left">observaciones</th>
            <th align="right">total</th>
            <th align="right">fecha</th>
         </tr>
         {loop="$fsc->listado"}
         <tr>
            <td align="center">{if condition="!$value->ptefactura"}F{/if}</td>
            <td><a class="link" href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
            <td>{$value->observaciones_resume()}</td>
            <td align="right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
            <td align="right">{$value->fecha}</td>
         </tr>
         {else}
         <tr><td colspan="5">Sin resultados.</td></tr>
         {/loop}
         <tr><td colspan="5">&nbsp;</td></tr>
         <tr>
            <td colspan="2">
            {if condition="$fsc->anterior_url()!=''"}
            <a class="next" href="{$fsc->anterior_url()}#listado">anterior</a>
            {/if}
            </td>
            <td colspan="2"></td>
            <td align="right">
            {if condition="$fsc->siguiente_url()!=''"}
            <a class="next" href="{$fsc->siguiente_url()}#listado">siguiente</a>
            {/if}
            </td>
         </tr>
      {elseif condition="$fsc->listar=='facturas'"}
         <tr>
            <th></th>
            <th align="left">código + num. proveedor</th>
            <th align="left">Observaciones</th>
            <th align="right">total</th>
            <th align="right">fecha</th>
         </tr>
         {loop="$fsc->listado"}
         <tr>
            <td align="center">{if condition="$value->idasiento"}A{/if}</td>
            <td><a class="link" href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
            <td>{$value->observaciones_resume()}</td>
            <td align="right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
            <td align="right">{$value->fecha}</td>
         </tr>
         {else}
         <tr><td colspan="5">Sin resultados.</td></tr>
         {/loop}
         <tr><td colspan="5">&nbsp;</td></tr>
         <tr>
            <td colspan="2">
            {if condition="$fsc->anterior_url()!=''"}
               <a class="next" href="{$fsc->anterior_url()}#listado">anterior</a>
            {/if}
            </td>
            <td colspan="2"></td>
            <td align="right">
            {if condition="$fsc->siguiente_url()!=''"}
               <a class="next" href="{$fsc->siguiente_url()}#listado">siguiente</a>
            {/if}
            </td>
         </tr>
      {else}
         <div id="chart_albaranes_month" style="width: 95%; margin-left: auto; margin-right: auto; height: 400px;"></div>
      {/if}
   </table>
</div>
{else}
<div class="rounded" style="text-align: center;">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}