{include="header"}

{if condition="$fsc->proveedor"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_direcciones").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_direcciones');
      });
      $("#b_subcuentas").click(function(event) {
         event.preventDefault();
         fs_show_popup('popup_subcuentas');
      });
   });
</script>

<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
      <h1>
         {$fsc->proveedor->nombre}
         <span><input type="submit" value="guardar"/></span>
      </h1>
      <div class="bloque">
         Nombre: <input type="text" name="nombre" value="{$fsc->proveedor->nombre}" size="25"/>
      </div>
      <div class="bloque">
         Nombre comercial: <input type="text" name="nombrecomercial" value="{$fsc->proveedor->nombrecomercial}" size="35"/>
      </div>
      <div class="bloque">
         cif/nif: <input type="text" name="cifnif" value="{$fsc->proveedor->cifnif}" size="10"/>
      </div>
      <div class="bloque">
         Telefono1: <input type="text" name="telefono1" value="{$fsc->proveedor->telefono1}" size="9"/>
      </div>
      <div class="bloque">
         Telefono2: <input type="text" name="telefono2" value="{$fsc->proveedor->telefono2}" size="9"/>
      </div>
      <div class="bloque">
         Fax: <input type="text" name="fax" value="{$fsc->proveedor->fax}" size="9"/>
      </div>
      <div class="bloque">
         Email: <input type="text" name="email" value="{$fsc->proveedor->email}" size="30"/>
      </div>
      <div class="bloque">
         Web: <input type="text" name="web" value="{$fsc->proveedor->web}" size="50"/>
      </div>
      <div>
         Observaciones:
         <textarea name="observaciones" rows="3" cols="60">{$fsc->proveedor->observaciones}</textarea>
      </div>
      <div>
         <div class="bloque">
            <a href="{$fsc->serie->url()}">Serie</a>:
            <select name="codserie">
               {loop="$fsc->serie->all()"}
                  {if condition="$value->codserie==$fsc->proveedor->codserie"}
                     <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Forma de pago:
            <select name="codpago">
               {loop="$fsc->forma_pago->all()"}
                  {if condition="$value->codpago==$fsc->proveedor->codpago"}
                     <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Divisa:
            <select name="coddivisa">
               {loop="$fsc->divisa->all()"}
                  {if condition="$value->coddivisa==$fsc->proveedor->coddivisa"}
                     <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                  {else}
                     <option value="{$value->coddivisa}">{$value->descripcion}</option>
                  {/if}
               {/loop}
            </select>
         </div>
      </div>
   </form>
</div>

<div class="popup" id="popup_direcciones">
   <h1>Direcciones</h1>
   {loop="$fsc->proveedor->get_direcciones()"}
      <div class="grupo">
         <form action="{$fsc->url()}" method="post"/>
            <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
            <input type="hidden" name="coddir" value="{$value->id}"/>
            <h2>
               Dirección {$value->id}:
               <span><input type="submit" value="guardar"/></span>
            </h2>
            <div class="bloque">
               <a href="">País</a>:
               <select name="pais">
                  {loop="$fsc->pais->all()"}
                     {if condition="$value1->codpais==$value2->codpais"}
                        <option value="{$value2->codpais}" selected="selected">{$value2->nombre}</option>
                     {else}
                        <option value="{$value2->codpais}">{$value2->nombre}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
            <div class="bloque">
               Provincia:
               <input type="text" name="provincia" value="{$value->provincia}" size="12"/>
            </div>
            <div class="bloque">
               Ciudad:
               <input type="text" name="ciudad" value="{$value->ciudad}" size="12"/>
            </div>
            <div class="bloque">
               Código postal:
               <input type="text" name="codpostal" value="{$value->codpostal}" size="6"/>
            </div>
            <div class="bloque">
               Dirección:
               <input type="text" name="direccion" value="{$value->direccion}" size="25"/>
            </div>
            <div class="bloque">
               Apartado:
               <input type="text" name="apartado" value="{$value->apartado}" size="6"/>
            </div>
            <div class="bloque">
               {if condition="$value->direccionppal"}
                  <input type="checkbox" name="direccionppal" id="direccionppal_{$value->id}" value="TRUE" checked="checked"/>
               {else}
                  <input type="checkbox" name="direccionppal" id="direccionppal_{$value->id}" value="TRUE"/>
               {/if}
               <label for="direccionppal_{$value->id}">Dirección principal</label>
            </div>
            <div class="bloque">
               Descripción:
               <input type="text" name="descripcion" value="{$value->descripcion}" size="60"/>
            </div>
         </form>
      </div>
   {/loop}
   <div class="grupo">
      <form action="{$fsc->url()}" method="post">
         <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
         <input type="hidden" name="coddir" value=""/>
         <h2>
            Nueva dirección:
            <span><input type="submit" value="guardar"/></span>
         </h2>
         <div class="bloque">
            <a href="">País</a>:
            <select name="pais">
               {loop="$fsc->pais->all()"}
                  <option value="{$value->codpais}">{$value->nombre}</option>
               {/loop}
            </select>
         </div>
         <div class="bloque">
            Provincia:
            <input type="text" name="provincia" size="12"/>
         </div>
         <div class="bloque">
            Ciudad:
            <input type="text" name="ciudad" size="12"/>
         </div>
         <div class="bloque">
            Código postal:
            <input type="text" name="codpostal" size="6"/>
         </div>
         <div class="bloque">
            Dirección:
            <input type="text" name="direccion" size="25"/>
         </div>
         <div class="bloque">
            Apartado:
            <input type="text" name="apartado" size="6"/>
         </div>
         <div class="bloque">
            <input type="checkbox" name="direccionppal" id="ndireccionppal" value="TRUE" checked="checked"/>
            <label for="ndireccionppal">Dirección principal</label>
         </div>
         <div class="bloque">
            Descripción:
            <input type="text" name="descripcion" size="60"/>
         </div>
      </form>
   </div>
</div>

<div class="popup" id="popup_subcuentas" style="min-width: 700px">
   <h1>Subcuentas</h1>
   <table class="list">
      <tr>
         <th>Ejercicio</th>
         <th>Subcuenta</th>
         <th>Descripción</th>
         <th>Debe</th>
         <th>Haber</th>
         <th>Saldo</th>
      </tr>
      {loop="$fsc->proveedor->get_subcuentas()"}
      <tr>
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->codsubcuenta}</a></td>
         <td>{$value->descripcion}</td>
         <td align="right">{$value->show_debe()} €</td>
         <td align="right">{$value->show_haber()} €</td>
         <td align="right">{$value->show_saldo()} €</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="rounded">
   <div class="select">
      {if condition="$fsc->listar=='albaranes'"}
         <a href="{$fsc->url()}&listar=albaranes" class="selected">Albaranes</a>
         <a href="{$fsc->url()}&listar=facturas">Facturas</a>
      {else}
         <a href="{$fsc->url()}&listar=albaranes">Albaranes</a>
         <a href="{$fsc->url()}&listar=facturas" class="selected">Facturas</a>
      {/if}
   </div>
   <table class="list">
      {if condition="$fsc->listar=='albaranes'"}
         <tr>
            <th></th>
            <th align="left">código + num. proveedor</th>
            <th align="left">observaciones</th>
            <th align="right">total</th>
            <th align="right">fecha</th>
         </tr>
         {loop="$fsc->listado"}
         <tr>
            <td>{if condition="!$value->ptefactura"}F{/if}</td>
            <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
            <td>{$value->observaciones_resume()}</td>
            <td align="right">{$value->show_total()} €</td>
            <td align="right">{$value->fecha}</td>
         </tr>
         {/loop}
         <tr>
            <td colspan="2">
            {if condition="$fsc->anterior_url()!=''"}
            <a class="next" href="{$fsc->anterior_url()}">anterior</a>
            {/if}
            </td>
            <td colspan="2"></td>
            <td align="right">
            {if condition="$fsc->siguiente_url()!=''"}
            <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
            {/if}
            </td>
         </tr>
      {else}
         <tr>
            <th align="left">código + num. proveedor</th>
            <th align="left">Observaciones</th>
            <th align="right">total</th>
            <th align="right">fecha</th>
         </tr>
         {loop="$fsc->listado"}
         <tr>
            <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}</td>
            <td>{$value->observaciones_resume()}</td>
            <td align="right">{$value->show_total()} €</td>
            <td align="right">{$value->fecha}</td>
         </tr>
         {/loop}
         <tr>
            <td>
            {if condition="$fsc->anterior_url()!=''"}
               <a class="next" href="{$fsc->anterior_url()}">anterior</a>
            {/if}
            </td>
            <td colspan="2"></td>
            <td align="right">
            {if condition="$fsc->siguiente_url()!=''"}
               <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
            {/if}
            </td>
         </tr>
      {/if}
   </table>
</div>
{/if}

{include="footer"}