{include="header"}

{if condition="$fsc->familia"}
   {if condition="!$fsc->ready"}
   <script type="text/javascript">
      $(document).ready(function() {
         setTimeout("location.href = '{$fsc->url()}&action={$fsc->family_data->action}';", 1000);
      });
   </script>
   {/if}

<div class="rounded">
   <h1>
      <a href="{$fsc->familia->url()}">{$fsc->familia->codfamilia}</a>
      <span>{$fsc->family_data->lineas_procesadas} / {$fsc->family_data->lineas}</span>
   </h1>
   <ul class="horizontal">
      <li>
         Nuevos:
         {$fsc->family_data->articulos_nuevos}
      </li>
      <li>
         Actualizados:
         {$fsc->family_data->articulos_actualizados}
      </li>
      <li>
         Sin modificar:
         {$fsc->family_data->articulos_sin_modificar}
      </li>
      <li>
         Suben de precio:
         {$fsc->family_data->pvp_suben}
      </li>
      <li>
         Bajan de precio:
         {$fsc->family_data->pvp_bajan}
      </li>
      <li>
         Mismo precio:
         {$fsc->family_data->pvp_igual}
      </li>
      <li>
         Diferencia de precio (%):
         {$fsc->family_data->pvp_diferencia}
      </li>
   </ul>
</div>
{/if}

{include="footer"}