{include="header"}

<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <div class="bloque">
         Cliente:
         <select name="cliente">
         {loop="$fsc->cliente->all_full()"}
            {if condition="$value->codcliente==$_POST.cliente"}
               <option value="{$value->codcliente}" selected="selected">{$value->nombre}</option>
            {else}
               <option value="{$value->codcliente}">{$value->nombre}</option>
            {/if}
         {/loop}
         </select>
      </div>
      <div class="bloque">
         Desde: <input type="text" name="desde" class="tcal" value="{$fsc->desde}" size="10" maxlength="10"/>
      </div>
      <div class="bloque">
         Hasta: <input type="text" name="hasta" class="tcal" value="{$fsc->hasta}" size="10" maxlength="10"/>
      </div>
      <input type="submit" value="buscar"/>
   </form>
</div>

{if condition="$fsc->resultados"}
<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <h1>
         Albaranes:
         <span><input type="submit" value="agrupar"/></span>
      </h1>
      <table class="list">
         <tr>
            <th width="95">seleccionar</th>
            <th>código</th>
            <th>número 2</th>
            <th>observaciones</th>
            <th align="right">total</th>
            <th align="right">fecha</th>
         </tr>
         {loop="$fsc->resultados"}
         <tr>
            <td align="center"><input type="checkbox" name="idalbaran[]" value="{$value->idalbaran}"/></td>
            <td><a href="{$value->url()}">{$value->codigo}</a></td>
            <td>{$value->numero2}</td>
            <td>{$value->observaciones_resume()}</td>
            <td align="right">{$value->show_total()} €</td>
            <td align="right">{$value->fecha}</td>
         </tr>
         {/loop}
      </table>
   </form>
</div>
{/if}

{include="footer"}