{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_paquete").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_nuevo_paquete").css({
            left: ($(window).width() - $("#popup_nuevo_paquete").outerWidth())/2,
            top: ($(window).height() - $("#popup_nuevo_paquete").outerHeight())/2
         });
         $("#popup_nuevo_paquete").show();
      });
   });
</script>

<div class="popup" id="popup_nuevo_paquete">
   <h1>Nuevo paquete:</h1>
   <form action="index.php?page=general_paquete" method="post">
      <div class="bloque">
         Este paquete equivale al artículo:
         <select name="referenciapaq">
         {loop="$fsc->cache_paquete->articulos"}
            {if condition="$fsc->paquete->referencia==$value->referencia"}
            <option value="{$value->referencia}" selected="selected">{$value->referencia}</option>
            {else}
            <option value="{$value->referencia}">{$value->referencia}</option>
            {/if}
         {/loop}
         </select>
         <br/>
         Es el artículo que le da el precio al paquete.
      </div>
      <br/>
      <div>
         ¿Cuantos grupos de artículos quieres que tenga esta paquete?
         <input type="text" name="grupos" value="{$fsc->paquete->grupos}" size="2" maxlength="2"/>
         <br/>
         Si intentas crear un menú de un restaurante lo normal sería tener 4 grupos:
         <ul>
            <li>El grupo 1 es para el plato principal.</li>
            <li>El grupo 2 para el segundo plato.</li>
            <li>El grupo 3 para la bebida.</li>
            <li>El grupo 4 para el postre.</li>
         </ul>
      </div>
      <div class="right"><input type="submit" value="nuevo paquete"/></div>
   </form>
</div>

<div class="rounded">
   <h1>Paquetes:</h1>
   <ul class="horizontal">
      {loop="$fsc->paquete->all()"}
      <li><a href="{$value->url()}">{$value->referencia}</a></li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>
      Cesta:
      <span>
         <a href="{$fsc->url()}&fillcache=TRUE">añadir los primeros artículos</a> |
         <a href="{$fsc->url()}&cleancache=TRUE">vaciar</a>
      </span>
   </h1>
   <ul class="horizontal">
      {loop="$fsc->cache_paquete->articulos"}
      <li><a href="{$value->url()}">{$value->referencia}</a></li>
      {/loop}
   </ul>
</div>

{include="footer"}