{include="header"}

{if condition="$fsc->familia"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_herramientas_familia").click(function(event) {
         event.preventDefault();
         $("#shadow").show();
         $("#popup_herramientas_familia").css({
            left: ($(window).width() - $("#popup_herramientas_familia").outerWidth())/2,
            top: ($(window).height() - $("#popup_herramientas_familia").outerHeight())/2
         });
         $("#popup_herramientas_familia").show();
      });
   });
   $(document).ready(function() {
      $("#b_eliminar_familia").click(function(event) {
         event.preventDefault();
         if( confirm("¿Estas seguro de que deseas eliminar esta familia?") )
            window.location.href = "{$fsc->ppage->url()}&delete={$fsc->familia->codfamilia}";
      });
   });
</script>

<div class="popup" id="popup_herramientas_familia">
   <h1>Herramientas:</h1>
   <form action="{$fsc->url()}" method="post">
      Multiplicar precios por:
      <input type="text" name="multiplicar" value="1" size="3"/>
      <div class="right"><input type="submit" value="aplicar"/></div>
   </form>
</div>

<div class="rounded">
   <form action="{$fsc->url()}" method="post">
      <h1>
         {$fsc->familia->descripcion}
         <span><input type="submit" value="modificar"/></span>
      </h1>
      <input type="hidden" name="cod" value="{$fsc->familia->codfamilia}"/>
      Descripción:
      <input type="text" name="descripcion" value="{$fsc->familia->descripcion}" size="60"/>
   </form>
</div>

<div class="rounded">
   <table class="list">
      <tr>
         <th>referencia</th>
         <th>descripción</th>
         <th align="right">PVP+IVA</th>
         <th align="right">stock</th>
      </tr>
      {loop="$fsc->articulos"}
      <tr>
         <td><a href="{$value->url()}">{$value->referencia}</a></td>
         <td>{$value->descripcion}</td>
         <td align="right"><span title="actualizado el {$value->factualizado}">{$value->show_pvp_iva()} &euro;</span></td>
         <td align="right">{$value->stockfis}</td>
      </tr>
      {/loop}
      <tr>
         <td>
         {if condition="$fsc->anterior_url()!=''"}
         <a class="next" href="{$fsc->anterior_url()}">anterior</a>
         {/if}
         </td>
         <td colspan="2"></td>
         <td align="right">
         {if condition="$fsc->siguiente_url()!=''"}
         <a class="next" href="{$fsc->siguiente_url()}">siguiente</a>
         {/if}
         </td>
      </tr>
   </table>
</div>
{/if}

{include="footer"}