<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{$fsc->page->title} &lsaquo; {$fsc->empresa->nombre}</title>
   <meta name="description" content="FacturaScripts es un software de facturación
         y contabilidad para pymes. Es software libre bajo licencia GNU/AGPL." />
   <link rel="shortcut icon" href="img/favicon.ico" />
   <link rel="stylesheet" type="text/css" href="css/{$fsc->css_file}" />
   <script type="text/javascript" src="js/jquery.js"></script>
   <script type="text/javascript" src="js/tcal.js"></script>
   <script type="text/javascript" src="js/base.js"></script>
   {if condition="$demo"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-417932-8']);
      _gaq.push(['_setDomainName', 'facturascripts.com']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
   {/if}
</head>
<body>
   <div class="header">
      <div class="header_box">
         <div id="header_folders">
         {loop="$fsc->folders()"}
            {if condition="$value==$fsc->page->folder"}
               <a href="#" id="b_folder_{$value}" class="selected" onclick="fs_select_folder('{$value}')">{$value}</a>
            {else}
               <a href="#" id="b_folder_{$value}" onclick="fs_select_folder('{$value}')">{$value}</a>
            {/if}
         {/loop}
         </div>
         <div id="header_logo">
            <a id="fs_logo" href="index.php">{if condition="$demo"}FacturaScripts{else}{$fsc->empresa->nombre}{/if}</a>
         </div>
         <div id="header_user">
            <a class="button" href="#" id="b_user_list">{$fsc->user->nick}</a>
            <a id="fs_exit" href="{$fsc->url()}&logout=TRUE"><img src="img/logout.png" alt="salir" title="cerrar sesión"/></a>
         </div>
      </div>
   </div>
   
   {if condition="$fsc->show_default_page_advice()"}
   <div class="advice">
      Se ha seleccionado la primera página de tu lista. Si queres que sea otra tu
      página de inicio, tan solo tienes que hacer clic sobre el icono
      <img src="img/star_off.png" alt="página de inicio" /> en la página que quieras.
   </div>
   {/if}
   {if condition="$fsc->get_errors()"}
   <div class="error">
      <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}
   {if condition="$fsc->get_messages()"}
   <div class="message">
      <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}
   
   {if condition="$fsc->page->name"}
   <div class="header">
      <div class="header_box">
         <div id="header_buttons">
            <div id="header_location">
               {if condition="$fsc->is_admin_page()"}
               <img src="img/lock.png" alt="*" title="necesitas ser administrador para ver esta página"/>
               {/if}
               <a href="{$fsc->url()}"><img src="img/reload.png" alt="r" title="recargar la página"/></a>
               {if condition="$fsc->page->show_on_menu"}
                  {if condition="$fsc->page->is_default()"}
                  <a href="{$fsc->url()}&amp;default_page=FALSE"><img src="img/star_on.png" alt="P" title="página predeterminada"/></a>
                  {else}
                  <a href="{$fsc->url()}&amp;default_page=TRUE"><img src="img/star_off.png" alt="p" title="marcar como página predeterminada"/></a>
                  {/if}
               {/if}
               {$fsc->page->folder} »
               {if condition="$fsc->ppage"}<a href="{$fsc->ppage->url()}">{$fsc->ppage->title}</a> »{/if}
               {$fsc->page->title}
            </div>
            {loop="$fsc->buttons"}{$value->HTML()}{/loop}
         </div>
         <div id="header_search">
            {if condition="$fsc->custom_search"}
            <form name="f_custom_search" action="{$fsc->url()}" method="post">
               <input type="text" name="query" value="{$fsc->query}" size="20" autocomplete="off"/>
               <input type="submit" value="buscar"/>
            </form>
            {/if}
         </div>
      </div>
   </div>
   {/if}
   <div class="pages">
      {loop="$fsc->folders()"}
         <div id="folder_{$value}">
            <img id="folder_{$value}_img" src="img/flecha_submenu.png" alt="*"/>
            <ul>
            {loop="$fsc->pages($value)"}
               {if condition="$value->showing()"}
                  <li class="selected"><a href="{$value->url()}">{$value->title}</a></li>
               {else}
                  <li><a href="{$value->url()}">{$value->title}</a></li>
               {/if}
            {/loop}
            </ul>
         </div>
      {/loop}
      <div id="user_list">
         <img id="user_list_img" src="img/flecha_submenu.png" alt="*"/>
         <ul>
            <li><a href="{$fsc->user->url()}">Tus datos de usuario</a></li>
            <li><a href="{$fsc->user->get_agente_url()}">Tus datos de agente</a></li>
            {if condition="!$demo"}
               <li><hr/></li>
               {loop name="$fsc->user->all()"}
                  {if condition="$value->nick != $fsc->user->nick"}
                     <li><a href="index.php?logout=TRUE&amp;nlogin={$value->nick}">{$value->nick}</a></li>
                  {/if}
               {/loop}
            {/if}
            <li><hr/></li>
            <li><a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">Reportar un error</a></li>
            <li><a target="_blank" href="http://code.google.com/p/facturascripts/">Web oficial</a></li>
         </ul>
      </div>
   </div>
   <div id="shadow"></div>
   <a id="b_close_popup" href="#" onclick="fs_hide_popups(); return false;">
      <img src="img/close.png" alt="close"/>
   </a>
   
   <div class="main_div">