{include="header"}

{if condition="$fsc->familia"}
   {if condition="!$fsc->ready"}
   <script type="text/javascript">
      var procesar = true;
      var timeout = setTimeout("location.href = '{$fsc->url()}&action={$fsc->family_data->action}';", 1500);
      $(document).ready(function() {
         $("#b_pause_import").click(function(event) {
            event.preventDefault();
            if(procesar)
            {
               clearTimeout(timeout);
               procesar = false;
            }
            else
            {
               timeout = setTimeout("location.href = '{$fsc->url()}&action={$fsc->family_data->action}';", 1500);
               procesar = true;
            }
         });
      });
   </script>
   {/if}

   {if condition="$fsc->family_data"}
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>
               <a href="{$fsc->familia->url()}">{$fsc->familia->codfamilia}</a>
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <ul class="list-group">
               <li class="list-group-item">Impuesto: {$fsc->family_data->codimpuesto}</li>
               <li class="list-group-item">Sufijo: {$fsc->family_data->sufijo}</li>
               {if condition="$fsc->family_data->no_nuevos"}
               <li class="list-group-item">NO añadir artículos nuevos.</li>
               {/if}
               {if condition="$fsc->family_data->con_iva"}
               <li class="list-group-item">precios con IVA incluido.</li>
               {/if}
               {if condition="$fsc->family_data->pvp_max"}
               <li class="list-group-item">Asignar el precio máximo.</li>
               {/if}
               {if condition="$fsc->family_data->bloquear"}
               <li class="list-group-item">Bloquear artículos no actualizados.</li>
               {/if}
               <li class="list-group-item">Líneas: {$fsc->family_data->lineas}</li>
            </ul>
         </div>
         <div class="col-md-4">
            <ul class="list-group">
               <li class="list-group-item">Nuevos: {$fsc->family_data->articulos_nuevos}</li>
               <li class="list-group-item">Actualizados: {$fsc->family_data->articulos_actualizados}</li>
               <li class="list-group-item">Sin modificar: {$fsc->family_data->articulos_sin_modificar}</li>
            </ul>
         </div>
         <div class="col-md-4">
            <ul class="list-group">
               <li class="list-group-item">Suben de precio: {$fsc->family_data->pvp_suben}</li>
               <li class="list-group-item">Bajan de precio: {$fsc->family_data->pvp_bajan}</li>
               <li class="list-group-item">Mismo precio: {$fsc->family_data->pvp_igual}</li>
               <li class="list-group-item">Diferencia de precio (%): {$fsc->family_data->pvp_diferencia}</li>
            </ul>
         </div>
      </div>
   </div>
   {else}
   <div class="text-center">
      <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
   </div>
   {/if}
{else}
<div class="text-center">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}