{include="header"}

<div class="panel panel-default" style="margin: 5px;">
   <div class="panel-heading">
      <h3 class="panel-title">Estadísticas</h3>
   </div>
   <div class="panel-body">
      Hay un total de <b>{$fsc->stats['total']}</b> artículos,
      <b>{$fsc->stats['con_stock']}</b> de ellos tienen stock,
      <b>{$fsc->stats['publicos']}</b> son públicos
      y <b>{$fsc->stats['bloqueados']}</b> están bloqueados.
      La última actualización de los artículos es del <b>{$fsc->stats['factualizado']}</b>.
   </div>
</div>

<div class="panel panel-default" style="margin: 5px;">
   <div class="panel-heading">
      <h3 class="panel-title">Top ventas (unidades)</h3>
   </div>
   <div class="panel-body">
      <div class="container-fluid">
         <div class="row">
            {loop="$fsc->top_ventas"}
            <div class="col-lg-3 col-md-3 col-sm-3"><a href="{$value.0->url()}">{$value.0->referencia}</a> ({$value.1})</div>
            {else}
            <div class="col-lg-12 col-md-12 col-sm-12">Sin resultados.</div>
            {/loop}
         </div>
      </div>
   </div>
</div>

<div class="panel panel-default" style="margin: 5px;">
   <div class="panel-heading">
      <h3 class="panel-title">Top compras (Unidades)</h3>
   </div>
   <div class="panel-body">
      <div class="container-fluid">
         <div class="row">
            {loop="$fsc->top_compras"}
            <div class="col-lg-3 col-md-3 col-sm-3"><a href="{$value.0->url()}">{$value.0->referencia}</a> ({$value.1})</div>
            {else}
            <div class="col-lg-12 col-md-12 col-sm-12">Sin resultados.</div>
            {/loop}
         </div>
      </div>
   </div>
</div>

<div class="panel panel-default" style="margin: 5px;">
   <div class="panel-heading">
      <h3 class="panel-title">Búsquedas de artículos</h3>
   </div>
   <div class="panel-body">
      <div class="container-fluid">
         <div class="row">
            {loop="$fsc->articulo->get_search_tags()"}
            <div class="col-lg-3 col-md-3 col-sm-3">{$value.tag} ({$value.count})</div>
            {else}
            <div class="col-lg-12 col-md-12 col-sm-12">Ninguna búsqueda realizada.</div>
            {/loop}
         </div>
      </div>
   </div>
</div>

{include="footer"}