{include="header"}

<table width="100%">
   <tr>
      <td>
         <div class="rounded">
            <h1>Facturas emitidas de cliente:</h1>
            <form action="{$fsc->url()}" method="post">
               <input type="hidden" name="listado" value="facturascli"/>
               Desde:
               <input class="tcal" type="text" name="dfecha" value="{$fsc->desde}" size="12"/>
               Hasta:
               <input class="tcal" type="text" name="hfecha" value="{$fsc->hasta}" size="12"/>
               <input type="submit" value="mostrar"/>
            </form>
         </div>
      </td>
      <td>
         <div class="rounded">
            <h1>Facturas recibidad de proveedor:</h1>
            <form action="{$fsc->url()}" method="post">
               <input type="hidden" name="listado" value="facturasprov"/>
               Desde:
               <input class="tcal" type="text" name="dfecha" value="{$fsc->desde}" size="12"/>
               Hasta:
               <input class="tcal" type="text" name="hfecha" value="{$fsc->hasta}" size="12"/>
               <input type="submit" value="mostrar"/>
            </form>
         </div>
      </td>
   </tr>
</table>

{include="footer"}