{include="header"}

<div class="panel-group" id="accordion" style="margin: 5px;">
   {loop="$fsc->ejercicio->all()"}
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{$counter}">Ejercicio {$value->nombre}</a>
         </h3>
      </div>
      <div id="collapse_{$counter}" class="panel-collapse collapse{if condition="$counter==0"} in{/if}">
         <div class="panel-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3">
                     {if condition="$fsc->existe_libro_diario($value->codejercicio)"}
                     <a href="tmp/{#FS_TMP_NAME#}libro_diario/{$value->codejercicio}.pdf" target="_blank">Libro diario</a>
                     {else}
                     <a href="#"><s>Libro diario</s></a>
                     {/if}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                     {if condition="$fsc->existe_libro_inventarios($value->codejercicio)"}
                     <a href="tmp/{#FS_TMP_NAME#}inventarios_balances/{$value->codejercicio}.pdf" target="_blank">Libro de inventarios y balances</a>
                     {else}
                     <a href="#"><s>Libro de inventarios y balances</s></a>
                     {/if}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                     <a href="{$fsc->url()}&balance=pyg&eje={$value->codejercicio}" target="_blank">Balance de pérdidas y ganancias</a>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                     <a href="{$fsc->url()}&balance=sit&eje={$value->codejercicio}" target="_blank">Balance de situación</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {/loop}
</div>

{include="footer"}