{include="header"}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   // Load the Visualization API and the piechart package.
   google.load('visualization', '1.0', {'packages':['corechart']});
   
   // Set a callback to run when the Google Visualization API is loaded.
   google.setOnLoadCallback(drawChart);
   
   // Callback that creates and populates a data table,
   // instantiates the pie chart, passes in the data and
   // draws it.
   function drawChart()
   {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'día');
      data.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data.addRows([
      {loop="$fsc->stats_last_days()"}
         ['{$value['day']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_facturas_day'));
      chart.draw(data);
      
      // Create the data table.
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'mes');
      data2.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data2.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data2.addRows([
      {loop="$fsc->stats_last_months()"}
         ['{$value['month']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      // Instantiate and draw our chart, passing in some options.
      var chart2 = new google.visualization.AreaChart(document.getElementById('chart_facturas_month'));
      chart2.draw(data2);
      
      // Create the data table.
      var data3 = new google.visualization.DataTable();
      data3.addColumn('string', 'año');
      data3.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data3.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      data3.addRows([
      {loop="$fsc->stats_last_years()"}
         ['{$value['year']}', {$value['total_cli']}, {$value['total_pro']}],
      {/loop}
      ]);
      
      // Instantiate and draw our chart, passing in some options.
      var chart3 = new google.visualization.AreaChart(document.getElementById('chart_facturas_year'));
      chart3.draw(data3);
   }
</script>

<table width="100%">
   <tr>
      <td valign="top">
         <div class="rounded">
            <h1>Facturas emitidas de cliente:</h1>
            <form action="{$fsc->url()}" method="post" target="_blank">
               <input type="hidden" name="listado" value="facturascli"/>
               Desde:
               <input class="tcal" type="text" name="dfecha" value="{$fsc->desde}" size="12"/>
               Hasta:
               <input class="tcal" type="text" name="hfecha" value="{$fsc->hasta}" size="12"/>
               <input class="submit" type="submit" value="mostrar" onclick="this.form.submit();"/>
            </form>
         </div>
      </td>
      <td valign="top">
         <div class="rounded">
            <h1>Facturas recibidas de proveedor:</h1>
            <form action="{$fsc->url()}" method="post" target="_blank">
               <input type="hidden" name="listado" value="facturasprov"/>
               Desde:
               <input class="tcal" type="text" name="dfecha" value="{$fsc->desde}" size="12"/>
               Hasta:
               <input class="tcal" type="text" name="hfecha" value="{$fsc->hasta}" size="12"/>
               <input class="submit" type="submit" value="mostrar" onclick="this.form.submit();"/>
            </form>
         </div>
      </td>
   </tr>
</table>

<div class="rounded">
   <h1>Facturación de los últimos días:</h1>
   <div id="chart_facturas_day" style="width: 95%; margin-left: auto; margin-right: auto;"></div>
</div>

<div class="rounded">
   <h1>Facturación de los últimos meses:</h1>
   <div id="chart_facturas_month" style="width: 95%; margin-left: auto; margin-right: auto;"></div>
</div>

<div class="rounded">
   <h1>Facturación de los últimos años:</h1>
   <div id="chart_facturas_year" style="width: 95%; margin-left: auto; margin-right: auto;"></div>
</div>

{include="footer"}