{include="header"}

<div class="rounded">
   <h1>Top ventas (unidades):</h1>
   <ul class="horizontal">
      {loop="$fsc->top_ventas"}
      <li><a href="{$value.0->url()}">{$value.0->referencia}</a> ({$value.1})</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>Top compras (unidades):</h1>
   <ul class="horizontal">
      {loop="$fsc->top_compras"}
      <li><a href="{$value.0->url()}">{$value.0->referencia}</a> ({$value.1})</li>
      {/loop}
   </ul>
</div>

<div class="rounded">
   <h1>Búsquedas de artículos:</h1>
   <ul class="horizontal">
      {loop="$fsc->articulo->get_search_tags()"}
      <li>{$value.tag}</li>
      {else}
      <li>Ninguna búsqueda realizada.</li>
      {/loop}
   </ul>
</div>

{include="footer"}