<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{$fsc->get_empresa_name()}</title>
   <link href="css/{$fsc->css_file}" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="js/jquery.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         $("#login_window").css({
            left: ($(window).width() - $('#login_window').outerWidth())/2,
            top: (($(window).height() - $('#login_window').outerHeight())/2)-50
         });
         document.f_login.password.focus();
      });
   </script>
</head>
<body class="log_in">
   {if condition="$fsc->error_msg"}
      <div class="error">{$fsc->error_msg}</div>
   {/if}
   {if condition="$fsc->message"}
      <div class="message">{$fsc->message}</div>
   {/if}
   {if condition="$fsc->db_history_enabled()"}
      <div class="rounded">
         <h1>Consultas SQL:</h1>
         <ol>
         {loop="$fsc->get_db_history()"}
            <li>{$value}</li>
         {/loop}
         </ol>
      </div>
   {/if}
   <div id="login_window">
      <h1>{$fsc->get_empresa_name()}</h1>
      <form name="f_login" action="index.php?nlogin={$nlogin}" method="post">
      <table>
         <tr>
            <td align="right">Usuario:</td>
            <td>
               <select name="user">
               {loop name="$fsc->user->all()"}
                  {if condition="$value->nick == $nlogin"}
                  <option value="{$value->nick}" selected>{$value->nick}</option>
                  {else}
                  <option value="{$value->nick}">{$value->nick}</option>
                  {/if}
               {/loop}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="password" size="8" maxlength="20"/></td>
         </tr>
         <tr>
            <td colspan="2" align="right">
               <input type="submit" value="entrar"/>
            </td>
         </tr>
      </table>
      </form>
   </div>
   <div class='copyright'>
      <table>
         <tr>
            <td class="left">
               Tiempo de ejecución: {$fsc->duration()} |
               Consultas: {$fsc->selects()} |
               Transacciones: {$fsc->transactions()}
            </td>
            <td class="right">
               <i><a target="_Blank" href='http://code.google.com/p/facturascripts/'>FacturaScripts</a>
               es un software libre bajo licencia <a href='COPYING' target="_Blank">GNU/AGPL</a></i> |
               <a target="_Blank" href="http://www.kelinux.net/community/facturascripts">Foro</a>
            </td>
         </tr>
      </table>
   </div>
</body>
</html>
