<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{$fsc->empresa->nombre}</title>
   <link rel="shortcut icon" href="img/favicon.ico" />
   <link rel="stylesheet" type="text/css" href="css/{$fsc->css_file}" />
   <script type="text/javascript" src="js/jquery.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_login.password.focus();
      });
   </script>
   {if condition="$demo"}
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-417932-8']);
         _gaq.push(['_setDomainName', 'facturascripts.com']);
         _gaq.push(['_trackPageview']);
         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      </script>
   {/if}
</head>
<body>
   <div id="login_header">
      <form name="f_login" action="index.php?nlogin={$nlogin}" method="post">
      <table width="100%">
         <tr>
            <td>
               <a id="fs_logo" href="index.php">
                  {if condition="$demo"}FacturaScripts{else}{$fsc->empresa->nombre}{/if}
               </a>
            </td>
            <td align="right">
               Usuario:
               <select name="user">
               {loop name="$fsc->user->all()"}
                  {if condition="$value->nick == $nlogin"}
                  <option value="{$value->nick}" selected>{$value->nick}</option>
                  {else}
                  <option value="{$value->nick}">{$value->nick}</option>
                  {/if}
               {/loop}
               </select>
               &nbsp; contraseña:
               <input type="password" name="password" size="8" maxlength="20"/>
               &nbsp; <input type="submit" value="entrar"/>
            </td>
         </tr>
      </table>
      </form>
   </div>
   <div class="main_div">
      {if condition="$fsc->get_errors()"}
         <div class="error">
            {loop="$fsc->get_errors()"}
               <li>{$value}</li>
            {/loop}
         </div>
      {/if}
      {if condition="$fsc->get_messages()"}
         <div class="message">
            {loop="$fsc->get_messages()"}
               <li>{$value}</li>
            {/loop}
         </div>
      {/if}
      {if condition="$demo"}
         <div class="advice">Puedes entrar con cualquier usuario y la contraseña <b>demo</b>.</div>
      {/if}
      <div class="rounded">
         <h1>Información importante:</h1>
         <ul>
            <li>
               <a target="_blank" href='http://code.google.com/p/facturascripts/'>FacturaScripts</a>
               es un software libre bajo licencia <a href='COPYING'>GNU/AGPL</a>.
            </li>
            <li>
               Si tienes cualquier problema o sugerencia no dudes en
               <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">reportar un error</a>.
            </li>
            <li>
               Si quieres instalarlo en tu servidor lee este
               <a target="_blank" href="http://neorazorx.blogspot.com/2012/03/primeros-pasos-con-facturascripts-09.html">
               tutorial de instalación</a>.
            </li>
            <li>
               Puedes seguir el desarrollo de FacturaScripts a través de mi
               <a target="_blank" href="http://www.neorazorx.com">mi blog</a>
               o mi twitter <a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a>.
            </li>
         </ul>
      </div>
      <div class="rounded">
         <h1>Novedades:</h1>
         <ul>
            <li>Solucionado el bug que impedía la correcta lectura de las fechas del modelo caja.</li>
            <li>Se han mejorado fs_controller y fs_user para minimizar el número de consultas SQL.</li>
            <li>Los artículos ahora muestran los últimos precios de venta y de compra.</li>
            <li>
               Se han optimizado los siguiente modelos: empresa, linea_albaran_cliente,
               linea_albaran_proveedor, linea_factura_cliente y linea_factura_proveedor.
            </li>
            <li>Añadidas comprobaciones para impedir guardar modelos vacíos.</li>
            <li>
               Eliminadas las faltas ortográficas del formulario de nuevo asiento
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=14">issue #14</a>).
            </li>
            <li>Nueva pantalla de login.</li>
            <li>
               El menú superior ahora se adapta mejor a resoluciones pequeñas.
               Los menús se cierran si vuelves a pulsar el botón.
            </li>
            <li>Añadidos mensajes de ayuda con los popups y la página de inicio
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=13">issue #13</a>).
            </li>
            <li>
               Si al generar una factura a partir de un albarán no se encuentra una subcuenta asociada al
               cliente/proveedor se genera la factura pero no el asiento, y se informa al usuario de ello
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=8">issue #8</a>).
            </li>
            <li>
               Solucionados los problemas de SQL injection
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=11">issue #11</a>).
            </li>
            <li>
               Solucionado el problema de seguridad con el CSS
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=12">issue #12</a>).
            </li>
            <li>Ya se pueden crear tarifas desde general > articulos > tarifas.</li>
            <li>Se pueden personalizar las tarifas para cada artículo.</li>
            <li>Ya se pueden agrupar albaranes de cliente para generar una única factura.</li>
            <li>Importantes mejoras de rencimiendo gracias al uso de Memcache.</li>
         </ul>
      </div>
      {if condition="$db_history"}
      <div id="sql_history">
         <h1>Consultas SQL:</h1>
         <ol>
         {loop="$fsc->get_db_history()"}
            <li>{$value}</li>
         {/loop}
         </ol>
      </div>
      {/if}
   </div>
   <div class="footer">
      <table>
         <tr>
            <td class="left">
               CSS:
               {if condition="$fsc->css_file=='base.css'"}
                  <a class="selected" href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a href="{$fsc->url()}&css_file=touch.css">touch</a>
               {else}
                  <a href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a class="selected" href="{$fsc->url()}&css_file=touch.css">touch</a>
               {/if}
            </td>
            <td class="right">
               Consultas: {$fsc->selects()} |
               Transacciones: {$fsc->transactions()} |
               Tiempo de ejecución: {$fsc->duration()}
            </td>
         </tr>
      </table>
   </div>
</body>
</html>