<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{$fsc->empresa->nombre}</title>
   <link rel="shortcut icon" href="img/favicon.ico" />
   <link rel="stylesheet" type="text/css" href="css/{$fsc->css_file}" />
   <script type="text/javascript" src="js/jquery.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_login.password.focus();
      });
   </script>
   {if condition="$demo"}
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-417932-8']);
         _gaq.push(['_setDomainName', 'facturascripts.com']);
         _gaq.push(['_trackPageview']);
         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      </script>
   {/if}
</head>
<body>
   <div id="login_header">
      <form name="f_login" action="index.php?nlogin={$nlogin}" method="post">
      <table width="100%">
         <tr>
            <td>
               <a id="fs_logo2" href="index.php">
                  {if condition="$demo"}FacturaScripts{else}{$fsc->empresa->nombre}{/if}
               </a>
            </td>
            <td align="right">
               <div id="login_box">
               Usuario:
               <select name="user">
               {loop name="$fsc->user->all()"}
                  {if condition="$value->nick == $nlogin"}
                  <option value="{$value->nick}" selected>{$value->nick}</option>
                  {else}
                  <option value="{$value->nick}">{$value->nick}</option>
                  {/if}
               {/loop}
               </select>
               &nbsp; Contraseña:
               <input type="password" name="password" size="4" maxlength="20"/>
               &nbsp; <input type="submit" value="entrar"/>
               </div>
            </td>
         </tr>
      </table>
      </form>
   </div>
   <div class="main_div">
      {if condition="$fsc->get_errors()"}
         <div class="error">
            <ul>
            {loop="$fsc->get_errors()"}
               <li>{$value}</li>
            {/loop}
            </ul>
         </div>
      {/if}
      {if condition="$fsc->get_messages()"}
         <div class="message">
            <ul>
            {loop="$fsc->get_messages()"}
               <li>{$value}</li>
            {/loop}
            </ul>
         </div>
      {/if}
      {if condition="$demo"}
         <div class="advice">Puedes entrar con cualquier usuario y la contraseña <b>demo</b>.</div>
      {/if}
      <div class="rounded">
         <h1>Información importante:</h1>
         <table width="100%">
            <tr>
               <td>
                  <ul>
                     <li>
                        <a target="_blank" href='http://code.google.com/p/facturascripts/'>FacturaScripts</a>
                        es un software libre bajo licencia <a href='COPYING'>GNU/AGPL</a>.
                     </li>
                     <li>
                        Si tienes cualquier problema o sugerencia no dudes en
                        <a target="_blank" href="http://code.google.com/p/facturascripts/issues/list">reportar un error</a>.
                     </li>
                     <li>
                        Si quieres instalarlo en tu servidor lee este
                        <a target="_blank" href="http://neorazorx.blogspot.com/2012/03/primeros-pasos-con-facturascripts-09.html">
                        tutorial de instalación</a>.
                     </li>
                     <li>
                        Puedes seguir el desarrollo de FacturaScripts a través de mi
                        <a target="_blank" href="http://www.neorazorx.com">mi blog</a>
                        o mi twitter <a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a>.
                     </li>
                  </ul>
               </td>
               {if condition="$demo"}
               <td valign="top" align="right">
                  <div id="fb-root"></div>
                  <div class="fb-like" data-send="true" data-layout="box_count" data-width="90" data-show-faces="false"></div>
                  <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
               </td>
               <td valign="top" align="right">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="vertical" data-related="neorazorx">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
               </td>
               <td valign="top" align="right">
                  <div class="g-plusone" data-size="tall"></div>
                  <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};
                    (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                  </script>
               </td>
               {/if}
            </tr>
         </table>
      </div>
      <div class="rounded">
         <h1>Novedades:</h1>
         <ul>
            <li>Mejorada la hoja de estilos para mayor legibilidad de los textos.</li>
            <li>Nuevas opciones de importación de artículos de una familia.</li>
            <li>Ya se pueden actualizar los precios de los artículos a partir de un albarán de proveedor.</li>
            <li>Mejorado el renidmiento con artículos con imágenes.</li>
            <li>Nueva busqueda de artículos en las líneas de los albaranes.</li>
            <li>Los diálogos de buscar artículos ahora incluyen el filtro de familias.</li>
            <li>Mejorados los tests de integridad de los asientos.</li>
            <li>
               Solucionado el bug que impedía guardar el teléfono, web, etc de los clientes
               (<a target="_blank" href="http://code.google.com/p/facturascripts/issues/detail?id=15">issue #15</a>).
            </li>
            <li>Ya se pueden crear nuevos artículos desde general_nuevo_albaran.</li>
            <li>
               Ahora las cookies que determinan valores por defecto como el cliente predeterminado
               se actualizan en cada elección, en lugar de dejar que caduquen.
            </li>
            <li>Solucionados los problemas de HTML injection.</li>
            <li>Solucionado el bug que impedía la correcta lectura de las fechas del modelo caja.</li>
            <li>Se han mejorado fs_controller y fs_user para minimizar el número de consultas SQL.</li>
            <li>Los artículos ahora muestran los últimos precios de venta y de compra.</li>
            <li>
               Se han optimizado los siguiente modelos: empresa, linea_albaran_cliente,
               linea_albaran_proveedor, linea_factura_cliente y linea_factura_proveedor.
            </li>
            <li>Añadidas comprobaciones para impedir guardar modelos vacíos.</li>
         </ul>
      </div>
      {if condition="$db_history"}
      <div id="sql_history">
         <h1>Consultas SQL:</h1>
         <ol>
         {loop="$fsc->get_db_history()"}
            <li>{$value}</li>
         {/loop}
         </ol>
      </div>
      {/if}
   </div>
   <div class="footer">
      <table>
         <tr>
            <td class="left">
               CSS:
               {if condition="$fsc->css_file=='base.css'"}
                  <a class="selected" href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a href="{$fsc->url()}&css_file=touch.css">touch</a>
               {else}
                  <a href="{$fsc->url()}&css_file=base.css">normal</a> |
                  <a class="selected" href="{$fsc->url()}&css_file=touch.css">touch</a>
               {/if}
            </td>
            <td class="right">
               Consultas: {$fsc->selects()} |
               Transacciones: {$fsc->transactions()} |
               Tiempo de ejecución: {$fsc->duration()}
            </td>
         </tr>
      </table>
   </div>
</body>
</html>