<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>FacturaScripts</title>
      <meta name="description" content="FacturaScripts es un software de facturación y contabilidad para pymes. Es software libre bajo licencia GNU/AGPL." />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="view/img/favicon.ico" />
      <link href="view/css/bootstrap-yeti.min.css" rel="stylesheet" />
      <link href="view/css/custom.css" rel="stylesheet" />
      <script type="text/javascript" src="view/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="view/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="alert alert-danger" role="alert">
         <ul>
            <li>No se encuentra el archivo config.php</li>
            <li>
               Debes instalar FacturaScripts siguiendo el
               <a target="_blank" href="http://www.facturascripts.com/community/item.php?id=5203bda5b38d440a60000001">tutorial oficial</a>.
            </li>
            <li>
               Si tienes cualquier problema o sugerencia no dudes en
               <a target="_blank" href="http://www.facturascripts.com/community/errors.php">reportar un error</a>.
            </li>
         </ul>
      </div>
   </body>
</html>
