<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>FacturaScripts</title>
      <meta name="description" content="FacturaScripts es un software libre bajo licencia GNU/AGPL." />
      <link rel="shortcut icon" href="img/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="css/{$fsc->css_file}" />
      <script type="text/javascript" src="js/jquery.js"></script>
   </head>
   <body onload="document.feedback.feedback_text.focus()">
      {if condition="$fsc->get_errors()"}
         <div class="error">
            <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
         </div>
      {/if}
      {if condition="$fsc->get_messages()"}
         <div class="message">
            <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
         </div>
      {/if}
      
      <div class="main_div">
         <div class="rounded">
            <h1>¿Problemas de instalación?</h1>
            <p>
               La <a href="{$community_url}" target="_blank">comunidad FacturaScripts</a>
               está para ayudarte. Cuéntanos tu problema y te contestaremos lo antes posible ;-)
            </p>
            <br/>
            <form name="feedback" action="{$community_url}/feedback.php" method="post" target="_blank">
               <input type="hidden" name="feedback_info" value="{$fsc->system_info()}"/>
               <div class="etiquetas">
                  <span>Elige una opción:</span>
                  <input id="feedback_question" type="radio" name="feedback_type" value="question">
                  <label for="feedback_question">Preguntar</label>
                  <input id="feedback_problem" type="radio" name="feedback_type" value="error" checked="checked">
                  <label for="feedback_problem">Informar de un error</label>
                  <input id="feedback_idea" type="radio" name="feedback_type" value="idea">
                  <label for="feedback_idea">Aportar una idea</label>
               </div>
               <textarea name="feedback_text" rows="6"></textarea>
               <input type="text" name="feedback_email" placeholder="introduce tu email"/>
               <input type="submit" value="enviar"/>
            </form>
         </div>
      </div>
   </body>
</html>