<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>FacturaScripts</title>
      <meta name="description" content="FacturaScripts es un software de facturación y contabilidad para pymes. Es software libre bajo licencia GNU/AGPL." />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="view/img/favicon.ico" />
      <link href="view/css/bootstrap-yeti.min.css" rel="stylesheet" />
      <link href="view/css/custom.css" rel="stylesheet" />
      <script type="text/javascript" src="view/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="view/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
            $("#b_feedback").click(function(event) {
               event.preventDefault();
               $("#modal_feedback").modal('show');
               document.f_feedback.feedback_text.focus();
            });
         });
      </script>
   </head>
   <body>
      {if condition="$fsc->get_errors()"}
      <div class="alert alert-danger hidden-print">
         <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
      </div>
      {/if}
      
      {if condition="$fsc->get_messages()"}
      <div class="alert alert-success hidden-print">
         <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
      </div>
      {/if}
      
      {if condition="$fsc->get_advices()"}
      <div class="alert alert-info hidden-print">
         <ul>{loop="$fsc->get_advices()"}<li>{$value}</li>{/loop}</ul>
      </div>
      {/if}
      
      {include="feedback"}
      
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <a href="#" id="b_feedback" class="btn btn-sm btn-block btn-primary">
                  <span class="glyphicon glyphicon-question-sign"></span>
                  &nbsp; Preguntar a la comunidad...
               </a>
               
               <a href="{#FS_COMMUNITY_URL#}/questions.php" target="_blank" class="btn btn-sm btn-block btn-info">
                  <span class="glyphicon glyphicon-link"></span>
                  &nbsp; Foro de ayuda
               </a>
            </div>
         </div>
         
         <div class="row" style="margin-top: 50px;">
            <div class="col-lg-12">
               {$fsc->get_community_html()}
            </div>
         </div>
      </div>
   </body>
</html>