{include="header"}

{if condition="$fsc->agente"}
   {if condition="$fsc->caja"}
      {if condition="$fsc->caja->codagente==$fsc->user->codagente"}
         {include="tpv_yamyam2"}
      {/if}
   {else}
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_caja.d_inicial.select();
      });
   </script>
   <div class="rounded">
      <h1>Caja:</h1>
      <form name="f_caja" action="{$fsc->url()}" method="post">
         ¿Cuanto hay en la caja? <input type="text" name="d_inicial" value="0.00" size="7"/> Euros.
         <div class="right"><input type="submit" value="guardar"/></div>
      </form>
   </div>
   {/if}
{/if}

{include="footer"}