{if condition="$fsc->query"}
   <table class="list">
      <tr>
         <th>Referencia</th>
         <th>Descripción</th>
         <th align="right">PVP+IVA</th>
         <th>Actualizado</th>
         <th align="right">Stock</th>
      </tr>
      {loop="$fsc->results"}
      <tr>
         <td><a href="{$value->url()}">{$value->referencia}</a></td>
         <td>{$value->descripcion}</td>
         <td align="right">{$value->show_pvp_iva()} €</td>
         <td align="center">{$value->show_factualizado()}</td>
         <td align="right">{$value->stockfis}</td>
      </tr>
      {/loop}
   </table>
{else}
   {include="header"}
   
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_search_recambios.query.focus();
         $("#f_search_recambios").keyup(function(event) {
            if(document.f_search_recambios.query.value == '')
               $("#search_results").html('');
            else
            {
               $.ajax({
                  type: 'POST',
                  url: '{$fsc->url()}',
                  dataType: 'html',
                  data: 'query='+document.f_search_recambios.query.value,
                  success: function(datos) {
                     $("#search_results").html(datos);
                  }
               });
            }
         });
         $("#f_search_recambios").submit(function(event) {
            event.preventDefault();
         });
      });
   </script>
   
   <form id="f_search_recambios" name="f_search_recambios" action="{$fsc->url()}" method="post">
      <div class="rounded">
         <h1>
            <input type="text" name="query" size="60"/>
            <span>
               <input type="submit" value="buscar"/>
            </span>
         </h1>
         <div id="search_results"></div>
      </div>
   </form>
   
   {include="footer"}
{/if}