   <script type="text/javascript">
      var numlineas = 0;
      function number_format(number, decimals, dec_point, thousands_sep)
      {
         var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
         var d = dec_point == undefined ? "," : dec_point;
         var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
         var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
         return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
      }
      function recalcular()
      {
         var tpv_total = 0;
         var uds = 0;
         var pvp = 0;
         var dto = 0;
         var iva = 0;
         for(var i=1; i<=numlineas; i++)
         {
            if($("#linea_"+i).length > 0)
            {
               uds = parseFloat( $("#cantidad_"+i).val() );
               pvp = parseFloat( $("#pvp_"+i).val() );
               dto = parseFloat( $("#dto_"+i).val() );
               iva = parseFloat( $("#iva_"+i).val() );
               $("#total_"+i).val( uds*pvp*(100-dto)/100 );
               $("#totiva_"+i).val( uds*pvp*(100-dto)/100*(100+iva)/100 );
               tpv_total += uds*pvp*(100-dto)/100*(100+iva)/100;
            }
         }
         $("#tpv_total").html( number_format(tpv_total,2,',',' ') +" €");
      }
      function ajustar_total()
      {
         var total = 0;
         var uds = 0;
         var pvp = 0;
         var dto = 0;
         var iva = 0;
         var tpv_total = 0;
         for(var i=1; i<=numlineas; i++)
         {
            if($("#linea_"+i).length > 0)
            {
               total = parseFloat( $("#total_"+i).val() );
               uds = parseFloat( $("#cantidad_"+i).val() );
               pvp = parseFloat( $("#pvp_"+i).val() );
               dto = 100 - (100*total)/(pvp*uds);
               if( isNaN(dto) )
                  $("#dto_"+i).val(0);
               else
                  $("#dto_"+i).val(dto);
               iva = parseFloat( $("#iva_"+i).val() );
               $("#totiva_"+i).val( uds*pvp*(100-dto)/100*(100+iva)/100 );
               tpv_total += uds*pvp*(100-dto)/100*(100+iva)/100;
            }
         }
         $("#tpv_total").html( number_format(tpv_total,2,',',' ') +" €");
      }
      function ajustar_totiva()
      {
         var totiva = 0;
         var uds = 0;
         var pvp = 0;
         var iva = 0;
         var dto = 0;
         var tpv_total = 0;
         for(var i=1; i<=numlineas; i++)
         {
            if($("#linea_"+i).length > 0)
            {
               totiva = parseFloat( $("#totiva_"+i).val() );
               uds = parseFloat( $("#cantidad_"+i).val() );
               pvp = parseFloat( $("#pvp_"+i).val() );
               iva = parseFloat( $("#iva_"+i).val() );
               dto = 100 - (100*totiva)/(pvp*uds*(100+iva)/100);
               if( isNaN(dto) )
                  $("#dto_"+i).val(0);
               else
                  $("#dto_"+i).val(dto);
               $("#total_"+i).val( uds*pvp*(100-dto)/100 );
               tpv_total += uds*pvp*(100-dto)/100*(100+iva)/100;
            }
         }
         $("#tpv_total").html( number_format(tpv_total,2,',',' ') +" €");
      }
      function linea_sum_ud(num,value)
      {
         var udl = parseFloat($("#cantidad_"+num).val()) + value;
         if(udl < 1)
            $("#linea_"+num).remove();
         else
            $("#cantidad_"+num).val(udl);
         recalcular();
      }
      function add_articulo(ref,desc,pvp,dto,iva)
      {
         numlineas += 1;
         $("#numlineas").val(numlineas);
         $("#tpv_albaran").append("<tr id='linea_"+numlineas+"'>\n\
               <td><input type='hidden' name='referencia_"+numlineas+"' value='"+ref+"'/>\n\
               <a target='_blank' href='index.php?page=general_articulo&ref="+ref+"'>"+ref+"</a> "+desc+"</td>\n\
               <td align='center'><input type='button' value='-' onclick='linea_sum_ud("+numlineas+",-1)'/>\n\
               <input type='text' id='cantidad_"+numlineas+"' name='cantidad_"+numlineas+"' value='1' size='2'/>\n\
               <input type='button' value='+' onclick='linea_sum_ud("+numlineas+",1)'/></td>\n\
               <td align='center'><input type='hidden' id='iva_"+numlineas+"' name='iva_"+numlineas+"' value='"+iva+"'/>\n\
               <input type='text' id='pvp_"+numlineas+"' name='pvp_"+numlineas+"' value='"+pvp+
                  "' size='6' onkeyup='recalcular()' onclick='this.select()' autocomplete='off'/> €</td>\n\
               <td align='center'><input type='text' id='dto_"+numlineas+"' name='dto_"+numlineas+"' value='"+dto+
                  "' size='4' onkeyup='recalcular()' onclick='this.select()' autocomplete='off'/> %</td>\n\
               <td align='center'><input type='text' id='total_"+numlineas+"' name='total_"+numlineas+
                  "' size='6' onkeyup='ajustar_total()' onclick='this.select()' autocomplete='off'/> €</td>\n\
               <td align='center'><input type='text' id='totiva_"+numlineas+"' name='totiva_"+numlineas+
                  "' size='6' onkeyup='ajustar_totiva()' onclick='this.select()' autocomplete='off'/> €</td></tr>");
         $('div.popup').each(function() {
            $(this).hide();
         });
         $("#shadow").hide();
         recalcular();
      }
      $(document).ready(function() {
         $("#b_borrar_ticket").click(function() {
            window.location.href = "{$fsc->url()}&delete="+prompt('Introduce el código del ticket:');
         });
         $("#b_cerrar_caja").click(function() {
            if( confirm("¿Realmente deseas cerrar la caja?") )
               window.location.href = "{$fsc->url()}&cerrar_caja=TRUE";
         });
         $("#b_new_line").click(function(event) {
            event.preventDefault();
            $("#shadow").show();
            $("#popup_new_line").css({
               left: ($(window).width() - $("#popup_new_line").outerWidth())/2,
               top: 40
            });
            $("#popup_new_line").show();
            document.f_search_recambios.query.focus();
            document.f_search_recambios.query.value = '';
            $("#search_results").html('');
         });
         $("#f_search_recambios").keyup(function() {
            if(document.f_search_recambios.query.value == '')
            {
               $("#search_results").html('');
               $("#popup_new_line").css({
                  left: ($(window).width() - $("#popup_new_line").outerWidth())/2,
                  top: 40
               });
            }
            else
            {
               $.ajax({
                  type: 'POST',
                  url: '{$fsc->url()}',
                  dataType: 'html',
                  data: 'query='+document.f_search_recambios.query.value,
                  success: function(datos) {
                     var re = /<!--(.*?)-->/g;
                     var m = re.exec( datos );
                     if( m[1] == document.f_search_recambios.query.value )
                     {
                        $("#search_results").html(datos);
                        $("#popup_new_line").css({
                           left: ($(window).width() - $("#popup_new_line").outerWidth())/2,
                           top: 40
                        });
                     }
                  }
               });
            }
         });
         $("#f_search_recambios").submit(function(event) {
            event.preventDefault();
         });
         $("#b_nuevo_albaran_cliente").click(function() {
            $("#shadow").show();
            $("#popup_tpv_opciones").css({
               left: ($(window).width() - $('#popup_tpv_opciones').outerWidth())/2,
               top: ($(window).height() - $('#popup_tpv_opciones').outerHeight())/2
            });
            $("#popup_tpv_opciones").show();
         });
      });
   </script>
   
   <div class="popup" id="popup_new_line" style="min-width: 60%">
      <form id="f_search_recambios" name="f_search_recambios" action="{$fsc->url()}" method="post">
         <h1>Buscar artículos:</h1>
         <div style="text-align: center;">
            <input type="text" name="query" size="40"/>
            <input type="submit" value="buscar"/>
         </div>
         <div id="search_results"></div>
      </form>
   </div>
   
   <form id="f_new_albaran" name="f_new_albaran" action="{$fsc->url()}" method="post">
      <input type="hidden" id="numlineas" name="numlineas" value="0"/>
      <div class="popup" id="popup_tpv_opciones"/>
         <h1>Opciones:</h1>
         <table>
            <tr>
               <td align="right"><a href="{$fsc->cliente->url()}">Cliente</a>:</td>
               <td>
                  <select name="cliente">
                     {loop="$fsc->cliente->all_full()"}
                        {if condition="$value->is_default()"}
                        <option value="{$value->codcliente}" selected="selected">{$value->nombre}</option>
                        {else}
                        <option value="{$value->codcliente}">{$value->nombre}</option>
                        {/if}
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right"><a href="{$fsc->almacen->url()}">Almacén</a>:</td>
               <td>
                  <select name="almacen">
                     {loop="$fsc->almacen->all()"}
                        <option value="{$value->codalmacen}">{$value->nombre}</option>
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right"><a href="{$fsc->ejercicio->url()}">Ejercicio</a>:</td>
               <td>
                  <select name="ejercicio">
                     {loop="$fsc->ejercicio->all()"}
                        {if condition="$value->is_default()"}
                        <option value="{$value->codejercicio}" selected='selected'>{$value->nombre}</option>
                        {else}
                        <option value="{$value->codejercicio}">{$value->nombre}</option>
                        {/if}
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right"><a href="{$fsc->serie->url()}">Serie</a>:</td>
               <td>
                  <select name="serie">
                     {loop="$fsc->serie->all()"}
                        {if condition="$value->is_default()"}
                        <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codserie}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right">Forma de pago:</td>
               <td>
                  <select name="forma_pago">
                     {loop="$fsc->forma_pago->all()"}
                        {if condition="$value->is_default()"}
                        <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codpago}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right">Divisa:</td>
               <td>
                  <select name="divisa">
                     {loop="$fsc->divisa->all()"}
                        {if condition="$value->is_default()"}
                        <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                        {else}
                        <option value="{$value->coddivisa}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right">Impresora:</td>
               <td><input type="text" name="impresora" value="{$fsc->impresora}" size="4"/></td>
            </tr>
            <tr>
               <td align="right">Observaciones:</td>
               <td><textarea name="observaciones" cols="50"></textarea></td>
            </tr>
            <tr>
               <td colspan="2" align="right"><input type="submit" value="guardar"/></td>
            </tr>
         </table>
      </div>
      <div class="rounded">
         <div class="tpv_total" id="tpv_total">0,00 €</div>
         <div class="bloque">
            Atiende: <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
         </div>
         <br/><br/>
         <table class="list" id="tpv_albaran">
            <tr>
               <th>Artículo</th>
               <th>Cantidad</th>
               <th>PVP</th>
               <th>Dto.</th>
               <th>Total</th>
               <th>Total+IVA</th>
            </tr>
         </table>
         <div class="new_line">
            <a href="#" id="b_new_line">Añadir artículo...</a>
         </div>
         <br/><br/>
         <table width="100%">
            <tr>
               <td align="right"><input type="button" id="b_nuevo_albaran_cliente" value="nuevo albarán de cliente"></td>
            </tr>
         </table>
      </div>
   </form>