<script type="text/javascript" src="view/js/tpv_recambios.js"></script>
<script type="text/javascript">
   fs_nf0 = {#FS_NF0#};
   tpv_url = '{$fsc->url()}';
</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
      <div class="col-md-6">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if condition="$fsc->page->show_on_menu"}
               {if condition="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            {/if}
         </div>
         
         <div class="btn-group">
            <a href="#" id="b_reticket" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-print"></span> &nbsp; Reimprimir ticket
            </a>
            <a href="#" id="b_borrar_ticket" class="btn btn-sm btn-warning">
               <span class="glyphicon glyphicon-trash"></span> &nbsp; Borrar ticket
            </a>
         </div>
      </div>
      <div class="col-md-6 text-right">
         <div class="btn-group">
            <a href="{$fsc->url()}&abrir_caja=TRUE" id="b_abrir_caja" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-inbox"></span> &nbsp; Abrir caja
            </a>
            <a href="#" id="b_cerrar_caja" class="btn btn-sm btn-danger">
               <span class="glyphicon glyphicon-lock"></span> &nbsp; Cerrar caja
            </a>
         </div>
      </div>
   </div>
</div>

<form id="f_new_albaran" name="f_new_albaran" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
               Cliente:
               <select class="form-control" name="cliente">
               {loop="$fsc->cliente->all_full()"}
                  {if condition="$value->is_default()"}
                  <option value="{$value->codcliente}" selected="selected">{$value->nombre}</option>
                  {else}
                  <option value="{$value->codcliente}">{$value->nombre}</option>
                  {/if}
               {else}
                  <option value="">¡¡¡No tienes clientes!!!</option>
               {/loop}
               </select>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->today()}"/>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="form-group">
               Atiende:
               <div class="form-control">
                  <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#tab_lineas" role="tab" data-toggle="tab">Líneas</a></li>
      <li><a href="#tab_opciones" role="tab" data-toggle="tab">Más opciones...</a></li>
      <li>
         <a href="#tab_tickets" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-print"></span> &nbsp; Tickets
         </a>
      </li>
   </ul>
   
   <div class="tab-content">
      <div class="tab-pane active" id="tab_lineas">
         <div class="table-responsive">
            <table class="table table-condensed">
               <thead>
                  <tr>
                     <th class="text-left">Referencia</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right">Cantidad</th>
                     <th></th>
                     <th class="text-right">PVP</th>
                     <th class="text-right">Dto. %</th>
                     <th class="text-right">Neto</th>
                     <th class="text-right">IVA %</th>
                     <th class="text-right">Total</th>
                  </tr>
               </thead>
               <tbody id="lineas_albaran">
                  <tr class="bg-info">
                     <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                     <td colspan="5" class="text-right">Totales:</td>
                     <td>
                        <div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                     </td>
                     <td>
                        <div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                     </td>
                     <td>
                        <div id="atotal" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="tab-pane" id="tab_opciones">
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               <div class="col-md-3">
                  <div class="form-group">
                     <a href="{$fsc->almacen->url()}">Almacén</a>:
                     <select name="almacen" class="form-control">
                        {loop="$fsc->almacen->all()"}
                           {if condition="$value->is_default()"}
                           <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
                           {else}
                           <option value="{$value->codalmacen}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <a href="{$fsc->serie->url()}">Serie</a>:
                     <select name="serie" class="form-control">
                        {loop="$fsc->serie->all()"}
                           {if condition="$value->is_default()"}
                           <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                     <select name="forma_pago" class="form-control">
                        {loop="$fsc->forma_pago->all()"}
                           {if condition="$value->is_default()"}
                           <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codpago}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <a href="{$fsc->divisa->url()}">Divisa</a>:
                     <select name="divisa" class="form-control">
                        {loop="$fsc->divisa->all()"}
                           {if condition="$value->is_default()"}
                           <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->coddivisa}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     Número 2:
                     <input class="form-control" type="text" name="numero2" autocomplete="off"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane" id="tab_tickets">
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               <div class="col-md-2">
                  <div class="form-group">
                     Nº de tickets:
                     <input class="form-control" type="number" name="num_tickets" value="1"/>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_desc" value="TRUE"{if condition="$fsc->imprimir_descripciones"} checked="checked"{/if}/>
                        Imprimir descripciones
                     </label>
                  </div>
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_obs" value="TRUE"{if condition="$fsc->imprimir_observaciones"} checked="checked"{/if}/>
                        Imprimir observaciones
                     </label>
                  </div>
               </div>
               <div class="col-md-6">
                  <p>
                     <b>Recuarda</b> que para poder imprimir tickets necesitas estar ejecutando la aplicación Remote printer.
                  </p>
                  <a target="_blank" href="http://www.facturascripts.com/community/item/imprimir-tickets-desde-windows-llevo-toda-la-tarde-programando-para-poder-618.html" class="btn btn-sm btn-default">
                     <span class="glyphicon glyphicon-download"></span> &nbsp; Remote printer
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row" style="margin-bottom: 30px;">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <button class="btn btn-sm btn-default" type="button" onclick="window.location.href='{$fsc->url()}';">
               <span class="glyphicon glyphicon-refresh"></span> &nbsp; Reiniciar...
            </button>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="4"></textarea>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 950px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar artículos</h4>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codcliente"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Todas las familias</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div id="search_results"></div>
      </div>
   </div>
</div>