<script type="text/javascript">
   var numlineas = 0;
   function number_format(number, decimals, dec_point, thousands_sep)
   {
      var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
      var d = dec_point == undefined ? "," : dec_point;
      var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
      var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
   }
   function close_articulos()
   {
      $("#shadow").hide();
      $("div.popup").hide();
   }
   function mostrar_paquete(paq)
   {
      $("#shadow").show();
      $("#paquete_"+paq).css({
         left: ($(window).width() - $("#paquete_"+paq).outerWidth())/2,
         top: ($(window).height() - $("#paquete_"+paq).outerHeight())/2
      });
      $("#paquete_"+paq).show();
   }
   function recalcular()
   {
      var tpv_total = 0;
      var uds = 0;
      var pvp = 0;
      var iva = 0;
      for(var i=1; i<=numlineas; i++)
      {
         if($("#linea_"+i).length > 0)
         {
            uds = parseFloat( $("#cantidad_"+i).val() );
            pvp = parseFloat( $("#pvp_"+i).val() );
            iva = parseFloat( $("#iva_"+i).val() );
            $("#total_"+i).html( number_format((uds*pvp)+(uds*pvp*iva/100),2,',','.') );
            tpv_total += Math.round( ((uds*pvp)+(uds*pvp*iva/100))*100 )/100;
         }
      }
      $("#tpv_total").html( number_format(tpv_total,2,',','.') +" €");
      $("#tpv_total2").val( number_format(tpv_total,2,'.','') );
   }
   function linea_sum_ud(num,value)
   {
      var paqid = $("#paquete_"+num).val();
      var udl = parseFloat( $("#cantidad_"+num).val() );
      udl += value;
      if(udl < 1)
      {
         if(paqid != '')
         {
            for(var i=1; i<=numlineas; i++)
            {
               if( $("#paquete_"+i).val() == paqid )
                  $("#linea_"+i).remove();
            }
         }
         else
            $("#linea_"+num).remove();
      }
      else
      {
         if(paqid != '')
         {
            for(var i=1; i<=numlineas; i++)
            {
               if( $("#paquete_"+i).val() == paqid )
                  $("#cantidad_"+i).val(udl);
            }
         }
         else
            $("#cantidad_"+num).val(udl);
      }
      recalcular();
   }
   function add_articulo(ref,pvp,iva,paquete)
   {
      numlineas += 1;
      $("#numlineas").val(numlineas);
      $("#tpv_albaran").append("<tr id='linea_"+numlineas+"'><td>"+ref+"</td>\n\
            <td align='center'>\n\
            <input type='hidden' id='paquete_"+numlineas+"' name='paquete_"+numlineas+"' value='"+paquete+"'/>\n\
            <input type='hidden' name='referencia_"+numlineas+"' value='"+ref+"'/>\n\
            <input type='hidden' id='pvp_"+numlineas+"' name='pvp_"+numlineas+"' value='"+pvp+"'/>\n\
            <input type='hidden' id='iva_"+numlineas+"' name='iva_"+numlineas+"' value='"+iva+"'/>\n\
            <input type='button' value='  -  ' onclick='linea_sum_ud("+numlineas+",-1)'/> &nbsp;\n\
            <input type='text' id='cantidad_"+numlineas+"' name='cantidad_"+numlineas+"' value='1' size='1'/> &nbsp;\n\
            <input type='button' value='  +  ' onclick='linea_sum_ud("+numlineas+",1)'/>\n\
            </td><td align='right'>"+number_format(pvp,2,',','.')+" €</td>\n\
            <td align='right'><span id='total_"+numlineas+"'>"+number_format(pvp,2,',','.')+"</span> €</td></tr>");
      recalcular();
      close_articulos();
   }
   function add_paquete(ref)
   {
      var paqid = Math.random()*11;
      var fpaq = document.getElementById('f_p_'+ref);
      var pvp = fpaq.pvp.value;
      var iva = fpaq.iva.value;
      add_articulo(ref,pvp,iva,paqid);
      var grupos = fpaq.grupos.value;
      var radiob;
      var ref2;
      for(var i=1; i<=grupos; i++)
      {
         radiob = fpaq.elements["grupo_"+i];
         for(var j=0; j<radiob.length; j++)
         {
            ref2 = radiob[j].value;
            if( radiob[j].checked )
               break;
         }
         add_articulo(ref2,0,0,paqid);
      }
      close_articulos();
   }
   $(document).ready(function() {
      $("div.popup label").hover(function(event) {
         $('#' + $(this).attr('for')).attr('checked', 'checked');
      });
      $("#paquetes").click(function(event) {
         $("#shadow").show();
         $("#all_paquetes").css({
            left: ($(window).width() - $('#all_paquetes').outerWidth())/2,
            top: ($(window).height() - $('#all_paquetes').outerHeight())/2
         });
         $("#all_paquetes").show();
      });
      {loop="$fsc->familias"}
      $("#fam_{$value->codfamilia}").click(function(event) {
         $("#shadow").show();
         $("#articulos_{$value->codfamilia}").css({
            left: ($(window).width() - $('#articulos_{$value->codfamilia}').outerWidth())/2,
            top: ($(window).height() - $('#articulos_{$value->codfamilia}').outerHeight())/2
         });
         $("#articulos_{$value->codfamilia}").show();
      });
      {/loop}
      $("#b_guardar_ticket").click(function() {
         $("#shadow").show();
         $("#fin_ticket").css({
            left: ($(window).width() - $('#fin_ticket').outerWidth())/2,
            top: ($(window).height() - $('#fin_ticket').outerHeight())/2
         });
         $("#fin_ticket").show();
         document.form_tpv_albaran.efectivo.value = '0.00';
         document.form_tpv_albaran.cambio.value = '0.00';
         document.form_tpv_albaran.efectivo.select();
      });
      $("#tpv_efectivo").keyup(function() {
         $("#tpv_cambio").val( number_format(parseFloat($(this).val()) - parseFloat($("#tpv_total2").val()),2,'.','') );
      });
      $("#b_cancelar_ticket").click(function() {
         window.location.href = "{$fsc->url()}&delete="+prompt('Introduce el código del ticket:');
      });
      $("#b_cerrar_caja").click(function() {
         if( confirm("¿Realmente deseas cerrar la caja?") )
            window.location.href = "{$fsc->url()}&cerrar_caja=TRUE";
      });
   });
</script>

<form name="form_tpv_albaran" action="{$fsc->url()}" method="post">
<input type="hidden" id="numlineas" name="numlineas" value="0"/>
<table width="100%">
   <tr>
      <td valign="top">
         <ul class="tpv_familias">
            <li id="paquetes">PAQUETES</li>
            {loop="$fsc->familias"}
            <li id="fam_{$value->codfamilia}">{$value->descripcion}</li>
            {/loop}
         </ul>
      </td>
      <td valign="top">
         <div class="rounded">
            <div>
               <div class="tpv_total" id="tpv_total">0,00 €</div>
               <div class="bloque">
                  <a href="{$fsc->cliente->url()}">Cliente</a>:
                  <select name="cliente">
                     {loop="$fsc->cliente->all()"}
                     <option value="{$value->codcliente}">{$value->nombre}</option>
                     {/loop}
                  </select>
               </div>
               <div class="bloque">
                  <a href="{$fsc->ejercicio->url()}">Ejercicio</a>:
                  <select name="ejercicio">
                     {loop="$fsc->ejercicio->all()"}
                     <option value="{$value->codejercicio}">{$value->nombre}</option>
                     {/loop}
                  </select>
               </div>
               <div class="bloque">
                  <a href="{$fsc->serie->url()}">Serie</a>:
                  <select name="serie">
                     {loop="$fsc->serie->all()"}
                     <option value="{$value->codserie}">{$value->descripcion}</option>
                     {/loop}
                  </select>
               </div>
               <div class="bloque">
                  Forma de pago:
                  <select name="forma_pago">
                     {loop="$fsc->forma_pago->all()"}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                     {/loop}
                  </select>
               </div>
               <div class="bloque">
                  Divisa:
                  <select name="divisa">
                     {loop="$fsc->divisa->all()"}
                     <option value="{$value->coddivisa}">{$value->descripcion}</option>
                     {/loop}
                  </select>
               </div>
               <div class="bloque">
                  Impresora: <input type="text" name="impresora" value="{$fsc->impresora}" size="4"/>
               </div>
               <div class="bloque">
                  Atiende: <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
               </div>
            </div>
            <table class="list" id="tpv_albaran">
               <tr>
                  <th>Articulo</th>
                  <th>Ud.</th>
                  <th align="right">PVP</th>
                  <th width="150" align="right">Total</th>
               </tr>
            </table>
            <table width="100%">
               <tr>
                  <td><input type="button" value="cancelar ticket" id="b_cancelar_ticket"/></td>
                  <td align="center"><input type="button" value="cerrar caja" id="b_cerrar_caja"/></td>
                  <td align="right"><input type="button" value="guardar ticket" id="b_guardar_ticket"/></td>
               </tr>
            </table>
         </div>
      </td>
   </tr>
</table>
<div class="popup" id="fin_ticket">
   <table>
      <tr>
         <td align="right">Total:</td>
         <td><input type="text" name="total2" value="0.00" size="5" id="tpv_total2" disabled="disabled"/> EUROS</td>
      </tr>
      <tr>
         <td align="right">Efectivo:</td>
         <td><input type="text" name="efectivo" value="0.00" size="5" id="tpv_efectivo" autocomplete="off"/> EUROS</td>
      </tr>
      <tr>
         <td align="right">Cambio:</td>
         <td><input type="text" name="cambio" value="0.00" size="5" id="tpv_cambio" autocomplete="off"/> EUROS</td>
      </tr>
      <tr>
         <td align="right">Observaciones:</td>
         <td><textarea name="observaciones"></textarea></td>
      </tr>
      <tr>
         <td><input type="button" class="cancel" value="cancelar" onclick="close_articulos()"/></td>
         <td align="right"><input type="submit" class="comfirm" value="finalizar"/></td>
      </tr>
   </table>
</div>
</form>

<div class="popup" id="all_paquetes">
   <h1>Paquetes:</h1>
   <ul>
   {loop="$fsc->paquetes"}
      <li onclick="mostrar_paquete('{$value->referencia}')">
         {if condition="$value->articulo->imagen_url()"}
            {$value->articulo->referencia}
            <br/>
            <img src="{$value->articulo->imagen_url()}" alt="{$value->referencia}"/>
            <br/>
            {$value->articulo->show_pvp_iva()} €
         {else}
            {$value->articulo->referencia}<br/>{$value->articulo->show_pvp_iva()} €
         {/if}
      </li>
   {/loop}
   </ul>
</div>

{loop="$fsc->paquetes"}
<div class="popup" id="paquete_{$value1->referencia}">
   <h1>PAQUETE: {$value1->referencia} &nbsp; &nbsp; {$value1->articulo->show_pvp_iva()} €</h1>
   <form id="f_p_{$value1->referencia}">
      <input type="hidden" name="pvp" value="{$value->articulo->pvp}"/>
      <input type="hidden" name="iva" value="{$value->articulo->get_iva()}"/>
      <input type="hidden" name="grupos" value="{$value->grupos}"/>
      {loop="$value1->get_grupos()"}
      <div class="grupo">
         <h2>Grupo {$value2}:</h2>
         {loop="$value1->subpaquetes"}
            {if condition="$value3->grupo==$value2"}
            <input type="radio" name="grupo_{$value2}" value="{$value3->referencia}" id="g_{$value1->referencia}_{$value3->referencia}" style="display:none;"/>
            <label for="g_{$value1->referencia}_{$value3->referencia}">{$value3->referencia}</label>
            {/if}
         {/loop}
         <input type="radio" name="grupo_{$value2}" value="" style="display:none;"/>
      </div>
      {/loop}
      <input type="button" class="cancel" value="cancelar" onclick="close_articulos()"/>
      <div class="right">
         <input type="button" class="comfirm" value="confirmar" onclick="add_paquete('{$value1->referencia}')"/>
      </div>
   </form>
</div>
{/loop}

{loop="$fsc->familias"}
<div class="popup" id="articulos_{$value1->codfamilia}">
   <h1>{$value1->descripcion}</h1>
   <ul>
   {loop="$fsc->articulos"}
      {if condition="$value2->codfamilia==$value1->codfamilia"}
      <li onclick="add_articulo('{$value2->referencia}',{$value2->pvp},{$value2->get_iva()},'')">
         {$value2->referencia}<br/>
         {if condition="$value2->imagen_url()"}
            <img src="{$value2->imagen_url()}" alt="{$value2->referencia}"/>
         {else}
            <img src="img/unknown.png" alt="{$value2->referencia}"/>
         {/if}
         <br/>{$value2->show_pvp_iva()} €
      </li>
      {/if}
   {/loop}
   </ul>
</div>
{/loop}