{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      $("#b_nueva_familia").click(function(event) {
         event.preventDefault();
         $("#modal_nueva_familia").modal('show');
      });
   });
</script>

<div class="modal fade" id="modal_nueva_familia">
   <div class="modal-dialog">
      <div class="modal-content">
         <form class="form" name="f_nueva_familia" action="{$fsc->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nueva familia</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Código:
                  <input class="form-control" type="text" name="ncodfamilia" maxlength="4" autocomplete="off" autofocus />
               </div>
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="ndescripcion" size="60" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary pull-right" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  &nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row">
      {loop="$fsc->resultados"}
      <div class="col-lg-3">
         <a href="{$value->url()}">{$value->codfamilia}</a> {$value->descripcion}
      </div>
      {else}
      <div class="col-lg-12">Ninguna familia encontrada. Pulsa el botón <b>Nueva</b> para crear una.</div>
      {/loop}
   </div>
</div>

{include="footer"}
