<!--
    Generate the code for the sort dropdown in the ListController
-->
{% macro buttonOrderBy(context, view) %}
<div class="col">
    <div class="btn-group float-md-right">
        {% set orderbylist = view.getOrderBy() %}
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuOrder{{ context.indexView }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa {{ orderbylist[view.selectedOrderBy]['icon'] }} fa-fw" aria-hidden="true"></i>
            {{ orderbylist[view.selectedOrderBy]['label'] }}
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOrder{{ context.indexView }}">
            {% for key, orderby in orderbylist %}
            <a class="dropdown-item" href="{{ view.getURL('list') }}&order={{ key }}">
                <i class="fa {{ orderby['icon'] }}" aria-hidden="true"></i>&nbsp; {{ orderby['label'] }} &nbsp;
                {% if view.selectedOrderBy == key %}
                <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

<!--
    Generate the code for the row of footers views (information cards)
-->
{% macro rowFooterForEditView(context, view) %}
{% set footer = view.getRow('footer') %}
{% if footer is not empty %}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}

    <br />
    <div id="footer" class="row">
        {% for panel in footer.panels %}
        <div class="col">
            <div class="card {% if panel.color %}border-{{ panel.color }}{% endif %}">
                {% if panel.title is not empty %}
                <div class="card-header {% if panel.color %}text-{{ panel.color }}{% endif %}">
                    <h3 class="card-title">{{ context.i18n.trans(panel.title) }}</h3>
                </div>
                {% endif %}
                <div class="card-body">
                    {% if panel.label is not empty %}
                    <p><i>{{ context.i18n.trans(panel.label) }}</i></p>
                    {% endif %}
                    {% set buttons = footer.getButtons(panel.name) %}
                    {% if buttons|length > 0 %}
                    {% set formName = panel.name ~ '_form' %}
                    <form action="{{ context.edit_url }}" method="post" name="{{ formName }}">
                        <input type="hidden" name="active" value="{{ context.indexView }}">
                        {% for button in buttons %}
                            {% set label = context.i18n.trans(button.label) %}
                            {% set hint = context.i18n.trans(button.hint) %}
                            {% set hint = popoverTitle(hint, 'bottom') %}
                            {{ button.getHTML(label, formName, hint)|raw }}
                        {% endfor %}
                    </form>
                    {% endif %}
                </div>

                {% if panel.footer is not empty %}
                <div class="card-footer">
                    <b>{{ context.i18n.trans(panel.footer) }}</b>
                </div>
                {% endif %}
            </div>
            {% if not loop.last %}
            <br />
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endmacro %}

<!--
    Generate the code for the row of statistical buttons
-->
{% macro rowHeaderForEditView(context, view) %}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}

<div class="row" style="margin-top: -.5rem">
    <div class="col-12">
        <div class="btn-toolbar pull-right" role="toolbar" style="margin-bottom: 1rem">
            <div class="btn-group btn-group-lg" role="group">
                {% set header = view.getRow('header') %}
                {% if header is not empty %}
                    {% for button in header.buttons %}
                        {% set value = attribute(context.fsc, button.action, [view]) %}
                        {% set label = context.i18n.trans(button.label) %}
                        {% set hint = context.i18n.trans(button.hint) %}
                        {% set hint = popoverTitle(hint, 'bottom') %}
                        {{ button.getHTML(label, value, hint)|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

<!--
    Generate the code for the row of actions buttons
-->
{% macro rowActionsForEditView(context, view, formName) %}

{% set actions = view.getRow('actions') %}
{% if actions is not empty %}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
<div class="col">
    {% for button in actions.buttons %}
        {% set label = context.i18n.trans(button.label) %}
        {% set hint = context.i18n.trans(button.hint) %}
        {% set hint = popoverTitle(hint, 'bottom') %}
        {{ button.getHTML(label, formName, hint, 'btn-sm')|raw }}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}


<!--
    Generate the code for the List view according to the indicated columns
-->
{% macro columnsForListView(context, view) %}
{% set cols = (view.getColumns()|length)+1 %}
<table class="table table-hover">
    <thead>
        <tr>
            {% for column in view.getColumns() %}
            {% if column.display != 'none' %}
            <th class="text-{{ column.display }}">{{ column.getHeaderHTML(column.title)|raw }}</th>
            {% endif %}
            {% endfor %}
            <th class="text-right">
                {% if view.getCursor() is not empty %}
                <label class="custom-checkbox-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input class="custom-control-input listDeleteCB" type="checkbox" />
                    <span class="custom-control-indicator"></span>
                </label>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody class="tab{{ context.indexView }}">
        {% for model in view.getCursor() %}
        {# Set background status #}
        {% set rowClass = 'table-light' %}
        {% set rowStatus = view.getRow('status') %}
        {% if rowStatus is not empty %}
        {% set rowClass = rowStatus.getStatus( attribute(model, rowStatus.fieldName) ) %}
        {% endif %}

        {% set rowDataHref = view.getClickEvent(model) %}
        {% if rowDataHref is not empty %}
        {% set rowClass = rowClass ~ ' clickableRow' %}
        {% endif %}

        <tr class="{{ rowClass }}" data-href="{{ rowDataHref }}">
            {# Print data columns for row #}
            {% for column in view.getColumns() %}
            {% if column.display != 'none' %}
            {% set value = attribute(model, column.widget.fieldName) %}
            <td class="text-{{ column.display }}">{{ column.getListHTML(value)|raw }}</td>
            {% endif %}
            {% endfor %}
            <td class="text-right cancelClickable">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input class="custom-control-input listDelete" type="checkbox" name="code[]" value="{{ model.primaryColumnValue() }}" />
                    <span class="custom-control-indicator"></span>
                </label>
            </td>
        </tr>
        {% else %}
        <tr class="table-warning">
            <td colspan="{{ cols }}"><b>{{ context.i18n.trans('no-data') }}</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


<!--
    Generate the code for the Edit view according to the indicated columns
    (with or without form)
-->
{% macro columnsForEditView(context, view, model, withForm) %}
{% set keyValue = context.fsc.getFieldValue(model, model.primaryColumn()) %}
{% set formName = (withForm == TRUE) ? context.indexView ~ '-' ~ keyValue : 'main_form' %}

{% if withForm == TRUE %}
<form name="{{ formName }}" action="{{ context.edit_url }}" method="post" class="form" role="form">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="active" value="{{ context.indexView }}">
    <div class="row">
{% endif %}

        {% for group in view.getColumns() %}
        <div class="{{ group.numColumns == 0 ? 'col' : 'col-md-' ~ group.numColumns }}">
            <div class="form-row">
                {% if group.title is not empty %}
                <legend>{{ group.getHeaderHTML(group.title)|raw }}</legend>
                {% endif %}
                {% for column in group.columns %}
                    {% set value = column.widget.fieldName is null ? '' : context.fsc.getFieldValue(model, column.widget.fieldName) %}
                    {% if column.display == 'none' %}
                <input type="hidden" name="{{ column.widget.fieldName }}" value="{{ value }}">
                    {% else %}
                        {{ column.getEditHTML(value, TRUE, formName)|raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

{% if withForm == TRUE %}
    {% from 'Macro/BaseController.html' import rowActionsForEditView as rowActionsForEditView %}
    {% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
    {% set save, save_title = context.i18n.trans('save'), context.i18n.trans('save-data') %}
    {% set undo, undo_title = context.i18n.trans('undo'), context.i18n.trans('restore-data') %}
    </div>
    <div class="row">
        <div class="col">
            {% if keyValue is not empty %}
            {% set remove, remove_title = context.i18n.trans('delete'), context.i18n.trans('delete-record') %}
            <a class="btn btn-sm btn-danger" onclick="deleteRecord('{{ formName }}');" href="#" {{ popoverTitle(remove_title, 'bottom') }}>
               <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">&nbsp;{{ remove }}</span>
            </a>
            {% endif %}
        </div>

        {{ rowActionsForEditView(context, view, formName) }}

        <div class="col text-right">
            <button class="btn btn-sm btn btn-secondary" type="reset" {{ popoverTitle(undo_title, 'bottom') }}>
                    <i class="fa fa-undo" aria-hidden="true"></i>&nbsp; {{ undo }}
            </button>
            <button class="btn btn-sm btn-primary" type="submit" {{ popoverTitle(save_title, 'bottom') }}>
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; {{ save }}
            </button>
        </div>
    </div>
</form>
{% endif %}
{% endmacro %}

<!--
    Generate the code for the Basic in Line Edit view according to the indicated columns
-->
{% macro columnsForBasicEditView(context, view, model, needTitle) %}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
{% set remove_title = context.i18n.trans('delete-record') %}
{% set undo_title = context.i18n.trans('restore-data') %}
{% set save_title = context.i18n.trans('save-data') %}
{% set keyValue = context.fsc.getFieldValue(model, model.primaryColumn()) %}
{% set formName = context.indexView ~ '-' ~ keyValue %}

<form name="{{ formName }}" action="{{ context.edit_url }}" method="post" class="form" role="form">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="active" value="{{ context.indexView }}">
    <div class="row">
        {% for group in view.getColumns() %}
        <div class="col">
            <div class="form-row {% if needTitle %}align-items-center{% endif %}">
                {% for column in group.columns %}
                {% set value = context.fsc.getFieldValue(model, column.widget.fieldName) %}
                {% if column.display == 'none' %}
                <input type="hidden" name="{{ column.widget.fieldName }}" value="{{ value }}">
                {% else %}
                {{ column.getEditHTML(value, needTitle)|raw }}
                {% endif %}
                {% endfor %}

                <div class="form-group col">
                    <div class="d-xs-none">
                        <br/>
                    </div>
                    {% if keyValue is not empty %}
                    <a class="btn btn-sm btn-danger" onclick="deleteRecord('{{ formName }}');" href="#" {{ popoverTitle(remove_title, 'bottom') }}>
                       &nbsp;<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                    </a>
                    {% endif %}

                    <button class="btn btn-sm btn btn-secondary" type="reset" {{ popoverTitle(undo_title, 'bottom') }}>
                            &nbsp;<i class="fa fa-undo" aria-hidden="true"></i>&nbsp;
                    </button>
                    <button class="btn btn-sm btn-primary" type="submit" {{ popoverTitle(save_title, 'bottom') }}>
                            &nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</form>
{% endmacro %}


<!--
    Generate the code for the EditList view according to the indicated columns
-->
{% macro columnsForEditListView(context, view) %}
{% from 'Macro/BaseController.html' import columnsForEditView as columnsForEditView %}
{% from 'Macro/BaseController.html' import columnsForBasicEditView as columnsForBasicEditView %}
{% set new_record, new_record_title = context.i18n.trans('new'), context.i18n.trans('create-new-record') %}
{% set isBasic = view.isBasicEditList() %}

{% for model in view.getCursor() %}
    {% if isBasic %}
        {{ columnsForBasicEditView(context, view, model, loop.first) }}
    {% else %}
        {{ columnsForEditView(context, view, model, TRUE) }}
    {% endif %}
    <hr />
{% endfor %}

{% set newModel = view.newEmptyModel() %}
    <a class="btn btn-success btn-block" data-toggle="collapse" href="#new-{{ context.indexView }}" aria-expanded="true" aria-controls="new-{{ context.indexView }}">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; {{ new_record_title }}...
    </a>
    <br/>
    <div id="new-{{ context.indexView }}" class="collapse">
        {{ columnsForEditView(context, view, newModel, TRUE) }}
    </div>
{% endmacro %}


<!--
    Generates the code for a Modal Form
-->
{% macro modalFormFromColumns(context, view) %}
{% from 'Macro/Utils.html' import popoverTitle as popoverTitle %}
{% set accept, accept_title = context.i18n.trans('accept'), context.i18n.trans('accept-data') %}
{% set cancel, cancel_title = context.i18n.trans('cancel'), context.i18n.trans('cancel-data') %}

{% for group in view.getModals() %}
    {% set formName = context.indexView ~ '-' ~ group.name %}
    {% set model = view.getModel() %}

    <div class="modal fade" id="{{ group.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="{{ formName }}" action="#" method="post" class="form" role="form">
                    <input type="hidden" name="action" value="{{ group.name }}">
                    <input type="hidden" name="active" value="{{ context.indexView }}">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ group.getHeaderHTML(group.title)|raw }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        {% for column in group.columns %}
                            {% set value = context.fsc.getFieldValue(model, column.widget.fieldName) %}
                            {% if column.display == 'none' %}
                                <input type="hidden" name="{{ column.widget.fieldName }}" value="{{ value }}">
                            {% else %}
                                {{ column.getEditHTML(value)|raw }}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" {{ popoverTitle(cancel_title, 'bottom') }}>
                            <i class="fa fa-ban" aria-hidden="true"></i>&nbsp; {{ cancel }}
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" {{ popoverTitle(accept_title, 'bottom') }}>
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; {{ accept }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endmacro %}


<!--
    Generates the code for a Select filter in a ListController
-->
{% macro filterForSelectInput(context, key, filter) %}
{% set any = context.i18n.trans('any') %}

<div class="col-md-2">
    <select name="{{ key }}" class="form-control" onchange="this.form.submit()">
        <option value="">{{ any }} {{ key }}</option>
        <option value="">------</option>
        {% for key2, data in context.fsc.optionlist(key, filter.options) %}
        {% if (context.indexView == context.fsc.active) and (filter.options.value != '') and (key2 == filter.options.value) %}
        <option value="{{ key2 }}" selected="">{{ data }}</option>
        {% else %}
        <option value="{{ key2 }}">{{ data }}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}


<!--
    Generates the code for a Checkbox filter in a ListController
-->
{% macro filterForCheckBoxInput(context, key, filter) %}
<div class="col-md-2">
    <div class="form-check mb-2 mb-sm-0">
        <label class="form-check-label custom-checkbox-control custom-checkbox">
            {% if (context.indexView == context.fsc.active) and filter.options.value %}
            <input class="form-check-input custom-control-input" type="checkbox" name="{{ key }}" value="TRUE" checked="" onchange="this.form.submit()"/>
            {% else %}
            <input class="form-check-input custom-control-input" type="checkbox" name="{{ key }}" value="TRUE" onchange="this.form.submit()"/>
            {% endif %}
            <span class="custom-control-indicator"></span>
            {{ filter.options.label }}
        </label>
    </div>
</div>
{% endmacro %}


<!--
    Generate the code for a Text filter in a ListController
-->
{% macro filterForTextInput(context, key, filter) %}
<div class="col-md-2">
    <div class="input-group">
        <div class="input-group-btn">
            <input name="{{ key }}-from-btn" id="{{ key }}-from-btn" type="button" value="{{ filter.options.operatorFrom }}"
                   class="btn btn-outline-secondary dropdown-toggle"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <div class="dropdown-menu">
                <h6 class="dropdown-header">{{ context.i18n.trans('filter-method') }}</h6>
                {% for keyOperator, valueOperator in filter.getFilterOperators() %}
                <a class="dropdown-item" href="#" onclick="setOperator('{{ key }}-from', '{{ valueOperator }}')">{{ context.i18n.trans(keyOperator) }} {{ filter.options.label }}</a>
                {% endfor %}
            </div>
        </div>
        <input type="hidden" name="{{ key }}-from-operator" id="{{ key }}-from-operator" value="{{ filter.options.operatorFrom }}" />
        <input type="text" name="{{ key }}-from" value="{% if indexView == fsc.active %}{{ filter.options.valueFrom }}{% endif %}"
               class="form-control {{ filter.getSpecialClass() }}" placeholder="{{ filter.options.label }}"
               autocomplete="off" onchange="this.form.submit()" {{ filter.getKeyboardFilter()|raw }}/>
    </div>
</div>
<div class="col-md-2">
    <div class="input-group">
        <div class="input-group-btn">
            <input name="{{ key }}-to-btn" id="{{ key }}-to-btn" type="button" value="{{ filter.options.operatorTo }}"
                   class="btn btn-outline-secondary dropdown-toggle"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <div class="dropdown-menu">
                <h6 class="dropdown-header">{{ context.i18n.trans('filter-method') }}</h6>
                {% for keyOperator, valueOperator in filter.getFilterOperators() %}
                <a class="dropdown-item" href="#" onclick="setOperator('{{ key }}-to', '{{ valueOperator }}')">{{ context.i18n.trans(keyOperator) }} {{ filter.options.label }}</a>
                {% endfor %}
            </div>
        </div>
        <input type="hidden" name="{{ key }}-to-operator" id="{{ key }}-to-operator" value="{{ filter.options.operatorTo }}" />
        <input type="text" name="{{ key }}-to" value="{% if indexView == fsc.active %}{{ filter.options.valueTo }}{% endif %}"
               class="form-control {{ filter.getSpecialClass() }}" placeholder="{{ filter.options.label }}"
               autocomplete="off" onchange="this.form.submit()" {{ filter.getKeyboardFilter()|raw }}/>
    </div>
</div>
{% endmacro %}
