<!--
    Loads and displays a list of messages from the given types
-->
{% macro message(log, types, style) %}
{% set messages = log.read(types) %}
{% if messages|length > 0 %}
<div class="alert alert-{{ style }}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% for msg in messages %}
    {{ msg.message|raw }}
    {% if not loop.last %}<br />{% endif %}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

<!--
    Returns the CSS code to display the user help
-->
{% macro popoverTitle(msg, position = 'auto') %}
{% if msg|length > 0 %}data-toggle="popover" data-placement="{{ position }}" data-trigger="hover" data-content="{{ msg }}"{% endif %}
{% endmacro %}
